@import 'variables';

.results-navigation-button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.rnbc-prev, .rnbc-next {
	width: 170px;
	height: 80px;
	font-size: 36px;
	text-transform: none;
}

.rnbc-prev {
	margin-right: 5px;
}

.rnbc-next {
	margin-left: 5px;
}

@media screen and (max-width: 1365px) {
	.rnbc-prev, .rnbc-next {
		width: 116px;
		height: 60px;
		font-size: 24px;
	}
}

@media screen and (max-width: 1139px) {
	.rnbc-prev, .rnbc-next {
		width: 110px;
		height: 44px;
	}
}

@media screen and (max-width: 853px) {
	.results-navigation-button-container {
		justify-content: center;
	}
	.rnbc-prev, .rnbc-next {
		width: 220px;
		height: 60px;
		margin: 0 12px;
		text-transform: uppercase;
	}
}






@media screen and (max-width: 639px) {
	.rnbc-prev, .rnbc-next {
		width: 180px;
		text-transform: uppercase;
		font-size: 18px;
		height: 44px;
	}
	.results-navigation-button-container {
		justify-content: space-between;
	}
}

@media screen and (max-width: 479px) {
	.rnbc-prev, .rnbc-next {
		width: 150px;
	}
}
