<div class="lottery-container"
	 data-cy="lottery-container"
>

	<app-msl-game-logo
		class="logo-in-lottery"
		data-cy="logo-in-lottery"
		[gameCode]="LotteryGameCode.MegaLot"
	></app-msl-game-logo>

	<div class="lott-grid"
		 data-cy="lott-grid"
	>
		<div class="left-cell"
			 data-cy="left-cell"
		>
			<div class="top-panel"
				 data-cy="top-panel"
			>
				<button type="button"
						class="button button_theme_gold goto-results goto-results_second"
						routerLink="../results"
						data-cy="goto-results"
				>
					{{ 'lottery.results' | translate }} "{{ 'lottery.megalot.megalot_name' | translate }}"
				</button>
				<div class="mega-items"
					 data-cy="mega-items"
				>
					<div class="mega-item"
						 *ngIf="jackpot"
						 data-cy="mega-item"
					>
						<span class="mega-item__lbl"
							  data-cy="mega-item-lbl"
						>{{ 'lottery.megalot.mega_jackpot' | translate }}: </span>
						<span class="mega-item__val"
							  data-cy="mega-item-val"
						>{{ jackpot }} {{ 'lottery.uah' | translate }}</span>
					</div>
					<div class="mega-item"
						 *ngIf="megaPrize"
						 data-cy="mega-item"
					>
						<span class="mega-item__lbl"
							  data-cy="mega-item-lbl"
						>{{ 'lottery.megalot.mega_prize' | translate }}: </span>
						<span class="mega-item__val"
							  data-cy="mega-item-val"
						>{{ megaPrize }} {{ 'lottery.uah' | translate }}</span>
					</div>
				</div>
			</div>
			<div class="draws-info"
				 data-cy="draws-info"
			>
				<div class="common-title"
					 data-cy="common-title"
				>{{ 'lottery.megalot.nearest_draw' | translate }}</div>
				<app-draws-buttons
					class="draws-buttons"
					[remainingString]="'draws-buttons.register_end'"
					[drawsToShow]="1"
					[dontHideDraws]="true"
					[alwaysShowTimeLeft]="true"
					[draws]="megalotLotteryService?.activeDraws"
				>
				</app-draws-buttons>
			</div>
			<div class="draws-count"
				 data-cy="draws-count"
			>
				<!-- КОЛИЧЕСТВО ТИРАЖЕЙ -->
				<app-buttons-group
					#drawsComponent
					class="mc-bg-draws"
					data-cy="mc-bg-draws"
					[workMode]="ButtonGroupMode.range_deselect_2"
					[buttonGroupLabel]="'lottery.megalot.draws_count' | translate | uppercase"
					[buttonsCount]="megalotLotteryService.DRAWS_COUNT"
					[enabledButtonsCount]="countEnabledDraws"
					[buttonGroupStyle]="ButtonGroupStyle.button_gold"
					[buttonTextStyle]="ButtonTextStyle.button_text_lottery"
					(clickButton)="onSelectedDrawsHandler($event)"
					[titleBlinking]="!megalotLotteryService.betData.drawCount"
				>
				</app-buttons-group>
			</div>
		</div>


		<div class="rt-cell"
			 data-cy="rt-cell"
		>
			<button type="button"
				class="button button_theme_gold goto-results goto-results_first"
				data-cy="goto-results"
				routerLink="../results"
			>
				{{ 'lottery.results' | translate }} "{{ 'lottery.megalot.megalot_name' | translate }}"
			</button>

			<!-- ДОБАВИТЬ КОМБИНАЦИЮ -->
			<button type="button"
				class="button button_theme_light-green mc-control-add"
				data-cy="mc-control-add"
				(click)="onManualClickHandler($event, -1)"
			>
				{{ 'lottery.megalot.manual_bet' | translate | uppercase }}
			</button>

			<!-- АВТО -->
			<button type="button"
				class="button button_theme_light-green mc-control-auto"
				data-cy="mc-control-auto"
				(click)="onAutoButtonClickHandler()"
			>
				{{ 'lottery.megalot.auto_bet' | translate | uppercase }}
				<div *ngIf="megalotLotteryService.betData?.bets.length > 0"
					 class="mc-plus-auto"
					 data-cy="mc-plus-auto"
				></div>
			</button>
		</div>

		<div class="rm-cell"
			 data-cy="rm-cell"
		>
			<!-- СООБЩЕНИЕ О ВЫБОРЕ СТАВОК -->
			<div
				class="mc-register-msg"
				[class.mc-register-msg_hidden]="megalotLotteryService.betData?.bets.length > 0"
				data-cy="mc-register-msg"
				[innerHTML]="'lottery.megalot.to_register' | translate"
			>
			</div>

			<!-- ОТОБРАЖЕНИЕ СТАВОК (КОРЗИНА) -->
			<div class="mc-bets"
				 *ngIf="megalotLotteryService.betData && megalotLotteryService.betData.bets.length > 0"
				 data-cy="mc-bets"
			>
				<div class="bets-header"
					 data-cy="bets-header"
				>
					{{ 'lottery.megalot.bets_added' | translate }}:
					<span class="mc-bets-header__q"
						  data-cy="mc-bets-header-q"
					>{{ megalotLotteryService.betData.bets.length }}</span>
				</div>
				<div class="mc-bets-scroll"
					 data-cy="mc-bets-scroll"
				>
					<!--suppress AngularUndefinedBinding -->
					<div class="mc-bet"
						*ngFor="let bet of megalotLotteryService.betData.bets; trackBy: trackByBets; let i = index"
						 data-cy="mc-bet"
					>
						<!-- НОМЕР СТАВКИ -->
						<div
							class="mc-bet__inner"
							data-cy="mc-bet-inner"
							(click)="onManualClickHandler($event, i)"
						>
							<!-- ШАРИКИ -->
							<div class="mc-bet-balls"
								 data-cy="mc-bet-balls"
							>
								<div *ngFor="let ball of bet.balls; trackBy: trackByBalls"
									 class="mc-bet-ball"
									 data-cy="mc-bet-ball"
								>
									{{ ball }}
								</div>
							</div>
							<div class="mc-bet-plus" data-cy="mc-bet-plus">+</div>
							<!-- МЕГАШАРИКИ -->
							<div class="mc-bet-megaballs" data-cy="mc-bet-megaballs">
								<div *ngFor="let megaball of bet.megaballs; trackBy: trackByMegaballs"
									class="mc-bet-megaball"
									data-cy="mc-bet-megaball"
								>
									{{ megaball }}
								</div>
							</div>
						</div>
						<div class="mc-bet-close"
							 data-cy="mc-bet-close"
							 (click)="onRemoveBetClickHandler(i)"
						>&times;</div>
					</div>
				</div>
			</div>
		</div>

		<div class="rb-cell" data-cy="rb-cell">
			<!-- КНОПКА РЕГИСТРАЦИИ СТАВКИ -->
			<app-register-bet-button
				class="register-bet-button"
				data-cy="register-bet-button"
				[amount]="megalotLotteryService.amount"
				[isDisabled]="megalotLotteryService.betData.bets.length === 0 || megalotLotteryService.betData.drawCount === 0"
				(action)="megalotLotteryService.goToRegistryPage({source: BetDataSource.Manual})"
			>
			</app-register-bet-button>
		</div>

	</div>
</div>

<app-one-button-custom
	#manualInput
	class="mc-manual-dialog"
	data-cy="mc-manual-dialog"
	[showButtons]="false"
	(cancel)="onClearInputHandler()"
>
	<div class="dialog-grid-wrapper"
		 data-cy="dialog-grid-wrapper"
	>
		<div class="dialog-grid"
			 data-cy="dialog-grid"
		>
			<div class="balls"
				 data-cy="balls"
			>
				<!-- НОМЕРА ШАРИКОВ -->
				<app-buttons-group
					#numbersComponent
					class="mc-bg-numbers"
					data-cy="mc-bg-numbers"
					[workMode]="ButtonGroupMode.custom"
					[buttonsCount]="megalotLotteryService.BALLS_COUNT"
					[buttonGroupStyle]="ButtonGroupStyle.outline_circle"
					[countSelectedButtons]="megalotLotteryService.MAX_BALLS_IN_BET"
					(maximumButtonsSelected)="onMaximumNumbersHandler($event)"
					(clickButton)="onSelectedNumberHandler($event)"
				>
				</app-buttons-group>
			</div>
			<div class="selection"
				 data-cy="selection"
			>
				<div class="mc-dlg-bordered"
					 data-cy="mc-dlg-bordered"
				>
					<div class="mc-dlg-bordered__selected"
						 [ngClass]="{'mc-dlg-bordered__selected_err': !isValidInput}"
						 data-cy="mc-dlg-bordered-selected"
					>
						{{ 'lottery.megalot.selected_nums' | translate }}:
						<span class="mc-dlg-bordered__emph"
							  data-cy="mc-dlg-bordered-emph"
						>
								{{ balls }}
							{{ megaballs > 0 ? '+' : '' }}
							{{ megaballs > 0 ? megaballs : '' }}
							{{ megaballs > 0 ? (strMegaballs | translate) : '' }}
						</span>
					</div>
					<div
						*ngIf="isValidInput"
						class="mc-dlg-bordered__sel-info"
						data-cy="mc-dlg-bordered-sel-info"
					>
						<div class="label-style"
							 [ngClass]="{'label-style_active': (balls === 6)}"
							 data-cy="label-style"
						>
							6 {{ 'lottery.megalot.numbers' | translate }} - 1 {{ 'lottery.megalot.combination' | translate }}:
							{{ betsSums[0] }} {{ 'lottery.uah' | translate | lowercase }}
						</div>
						<div class="label-style"
							 [ngClass]="{'label-style_active': (balls === 7)}"
							 data-cy="label-style"
						>
							7 {{ 'lottery.megalot.numbers' | translate }} ({{ 'lottery.megalot.system' | translate }})
							- 7 {{ 'lottery.megalot.combinations' | translate }}:
							{{ betsSums[1] }} {{ 'lottery.uah' | translate | lowercase }}
						</div>
						<div class="label-style"
							 [ngClass]="{'label-style_active': (balls === 8)}"
							 data-cy="label-style"
						>
							8 {{ 'lottery.megalot.numbers' | translate }} ({{ 'lottery.megalot.system' | translate }})
							- 28 {{ 'lottery.megalot.combinations' | translate }}:
							{{ betsSums[2] }} {{ 'lottery.uah' | translate | lowercase }}
						</div>
						<div class="label-style"
							 [ngClass]="{'label-style_active': (balls === 9)}"
							 data-cy="label-style"
						>
							9 {{ 'lottery.megalot.numbers' | translate }} ({{ 'lottery.megalot.system' | translate }})
							- 84 {{ 'lottery.megalot.combinations2' | translate }}:
							{{ betsSums[3] }} {{ 'lottery.uah' | translate | lowercase }}
						</div>
						<div class="label-style"
							 [ngClass]="{'label-style_active': (balls === 10)}"
							 data-cy="label-style"
						>
							10 {{ 'lottery.megalot.numbers' | translate }} ({{ 'lottery.megalot.system' | translate }})
							- 210 {{ 'lottery.megalot.combinations' | translate }}:
							{{ betsSums[4] }} {{ 'lottery.uah' | translate | lowercase }}
						</div>
					</div>

					<div
						*ngIf="!isValidInput"
						class="mc-dlg-bordered__to-select"
						data-cy="mc-dlg-bordered-to-select"
					>
						{{ 'lottery.megalot.to_select' | translate }}
					</div>
				</div>
			</div>
			<div class="clear-button"
				 data-cy="clear-button"
			>
				<!-- КНОПКА ОЧИСТКИ ВВОДА -->
				<button type="button"
						class="button button_theme_light-green mc-input-clear-button"
						data-cy="mc-input-clear-button"
						(click)="onClearInputHandler()"
						[attr.disabled]="((balls === 0) && (megaballs === 0)) || null"
				>
					{{ 'lottery.megalot.clear' | translate | uppercase }}
				</button>
			</div>
			<div class="megaballs"
				 data-cy="megaballs"
			>
				<!-- МЕГАКУЛЬКИ -->
				<app-buttons-group
					#megaballsComponent
					class="mc-bg-megaballs"
					data-cy="mc-bg-megaballs"
					[workMode]="ButtonGroupMode.custom"
					[buttonGroupLabel]="'lottery.megalot.megaballs' | translate | uppercase"
					[buttonsCount]="megalotLotteryService.MEGA_BALLS_COUNT"
					[buttonGroupStyle]="ButtonGroupStyle.outline_circle"
					[labelsArray]="['0','1','2','3','4','5','6','7','8','9']"
					(clickButton)="onSelectedMegaballHandler($event)"
				>
				</app-buttons-group>
			</div>
			<div class="all-megaballs"
				 data-cy="all-megaballs"
			>
				<label class="mc-all-megaballs" data-cy="mc-all-megaballs">
					<input class="mc-all-megaballs__chk"
						   type="checkbox"
						   [(ngModel)]="allMegaBallsSelected"
						   (ngModelChange)="onClickAllMegaballsHandler()"
					>
					<span class="mc-all-megaballs__text"
						  data-cy="mc-all-megaballs-text"
					>
						{{ 'lottery.megalot.all_megaballs' | translate | uppercase }}
					</span>
				</label>
			</div>
			<div class="bottom-buttons"
				 data-cy="bottom-buttons"
			>
				<button type="button"
						class="button button_theme_dark-green mc-confirm"
						[attr.disabled]="!isValidInput || null"
						data-cy="mc-confirm"
						(click)="onAddEditBetClickHandler()"
				>
					{{ 'lottery.megalot.confirm' | translate | uppercase }}
				</button>
			</div>
		</div>
	</div>
</app-one-button-custom>
