<label class="masked-input-wrapper">
	<span class="masked-input-title"
		  [class.masked-input-title_error]="errorState"
		  [class.masked-input-title_disabled]="isDisabled"
	>{{ label }}</span>

	<span class="masked-input-inner">
		<input
			#txtInput
			type="text"
			inputmode="numeric"
			pattern="\d*"
			class="masked-input"
			[class.masked-input_pin]="isPinCode"
			[value]="value"
			[class.masked-input_valid]="isValid"
			[class.masked-input_error]="errorState"
			[class.masked-input_disabled]="isDisabled"
			[textMask]="{mask: mask, guide: true, showMask: true, placeholderChar: isPinCode ? ' ' : '_'}"
			(focus)="onFocusHandler($event)"
			(blur)="onBlurHandler($event)"
			(click)="onClickHandler($event)"
			(input)="onInputHandler($event)"
		>
		<button *ngIf="errorState" class="masked-input-clear" type="button">
			<i class="material-icons icon-clear">cancel</i>
		</button>
		<span *ngIf="isValid && showValidMark && !errorState" class="masked-input-valid"></span>
	</span>
</label>
