@import "../../../../../sass/variables";

.masked-input-title {
	display: block;
	text-align: center;
	font-size: var(--masked-title-size, 24px);
	white-space: var(--masked-ws, normal);
	font-family: $roboto_regular;
	margin-bottom: 8px;

	color: $msl_main_text_color;

	&_error {
		color: $msl_error;
	}
	&_disabled {
		color: $msl_placeholder_text_color;
	}
}

.masked-input-inner {
	position: relative;
	display: block;
}

.masked-input {
	width: var(--masked-width, 380px);
	height: var(--masked-height, 54px);
	display: block;

	border: 1px solid $msl_inactive_color;
	border-radius: 6px;

	color: $msl_inactive_color;

	padding: var(--masked-padding, 0 16px);
	margin: 0 auto;

	font-size: var(--masked-font-size, 30px);
	font-family: $roboto_medium;

	letter-spacing: var(--masked-spacing, 3px);

	text-align: var(--masked-align, left);

	&_valid {
		color: $msl_main_text_color;
	}

	&_pin, &_pin.masked-input_valid {
		color: #009788;
		font-size: 30px;
		text-align: center;
		letter-spacing: 5px;
	}


	&_error {
		padding: 0 32px 0 16px;
		color: $msl_error;
		border: 1px solid $msl_error;
	}
	&_disabled {
		color: $msl_placeholder_text_color;
		border: 1px solid $msl_placeholder_text_color;
		pointer-events: none;
	}
}

.masked-input-clear {
	position: absolute;
	background: none;
	width: 24px;
	height: 24px;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.icon-clear {
	color: $msl_red;
}

.masked-input-valid {
	background: url('/assets/img/svg/confirm.svg') no-repeat center center / 100% 100%;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: var(--checkmark-margin, -32px);
}

:host {
	&_disabled {
		.masked-input-title {
			color: $msl_placeholder_text_color;
		}
		.masked-input {
			pointer-events: none;
			color: $msl_placeholder_text_color;
			border: 1px solid $msl_placeholder_text_color;
		}
	}
}
