@import 'variables';
@import 'mixins';

.calendar-date-input-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.select-date, .clear-date {
	position: absolute;
	right: 15px;
	top: 11px;
	font-size: 42px;
}

.select-date {
	pointer-events: none;
	color: $msl_base_green;
}

.clear-date {
	color: $msl_error;
}


.cdi-input {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 100%;
	height: 100%;

	border-radius: 8px;
	@include radial_bg($color: #D8F4F4);
	border: 2px solid $msl_base_green;

	&_date-selected {
		background: #fff;
	}
}

.cdi-input-title, .prompt-title {
	width: 100%;
	margin-right: 55px;

	pointer-events: none;

	text-overflow: ellipsis;
	overflow: hidden;

	text-align: center;
	color: $msl_main_text_color;
	font-family: $roboto_medium;
	font-weight: 500;
	font-size: 36px;
}

@media screen and (max-width: 854px) {
	.cdi-input-title, .prompt-title {
		font-family: $roboto_regular;
	}
}
