@import 'variables';
@import 'mixins';

@mixin common1() {
	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
	font-family: $roboto_bold;
	color: $msl_main_text_color;

	border: 2px solid $msl_base_green;
	border-radius: 8px;

	font-size: 46px;
	font-variant: lining-nums;
	cursor: pointer;
}

.buttons-group {
	&__title {
		font-family: $roboto_medium;
		color: $msl_main_text_color;
		font-size: 36px;
		text-align: center;
		width: 100%;
		margin-bottom: 25px;
	}

	&__items {
		display: flex;
		flex-flow: wrap;
		&_theme {
			&_square-radial {
				display: grid;
				grid-template-columns: auto auto auto auto auto;
				grid-row-gap: 30px;
				row-gap: 30px;
				justify-items: center;
				justify-content: space-between;
				width: 100%;
			}
			&_circle {
				justify-content: center;
			}
			&_hexagonal {
				justify-content: space-between;
			}
			&_gold {
				display: grid;
				grid-template-columns: auto auto auto auto auto;
				grid-row-gap: 15px;
				row-gap: 15px;
				justify-items: center;
				justify-content: space-between;
				width: 100%;
			}
		}
	}

	&__item {
		&_theme {
			&_square {
				width: 66px;
				height: 56px;

				@include common1();

				&.buttons-group__item_selected {
					color: white;
					background: $msl_base_green;
				}

				&.buttons-group__item_disabled {
					color: #666;
					background: #888;
					border-color: #777;
				}
			}
			&_square-radial {
				width: 96px;
				height: 80px;
				@include common1();
				@include radial_bg($color: #d8f4f4);

				&.buttons-group__item_selected {
					color: #FFFFFF;
					background: $msl_base_green;
				}
			}
			&_gray {
				height: 36px;
				padding-left: 10px;
				padding-right: 10px;

				color: #666;
				font-size: 24px;

				background-color: #ddd;
				border-radius: 4px;
				border: 1px solid #ccc;

				cursor: pointer;

				&.buttons-group__item_selected {
					font-weight: bold;
					background-color: #bbb;
				}
			}

			&_circle {
				@include common1();
				@include radial_bg($color: #D8F4F4);
				border-radius: 50%;
				color: $msl_main_text_color;
				margin: 0 5px 5px 5px;
				width: 66px;
				height: 66px;
				border: 2px solid $msl_base_green;
				font-family: $roboto_medium;
				font-size: 30px;
				font-weight: normal;
				text-shadow: none;

				&.buttons-group__item_selected {
					color: #FFFFFF;
					background: $msl_base_green;
				}
			}
			&_hexagonal {
				width: 98px;
				height: 110px;

				font-size: 46px;
				font-family: $roboto_bold;
				font-weight: normal;
				color: $msl_main_text_color;

				border: none;
				background-image: url("/assets/img/svg/pair_btn_lotozabava_normal.svg");
				background-repeat:  no-repeat;
				background-size: contain;
				background-position: center;
				background-color: transparent;

				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;

				&:active, &:focus, &:hover, &:visited {
					background-color: transparent;
				}

				&.buttons-group__item_selected {
					background-image: url("/assets/img/svg/pair_btn_lotozabava_active.svg");
					background-color: transparent;
					color: #FFFFFF;

					&:active,&:focus,&:hover {
						background-image: url("/assets/img/svg/pair_btn_lotozabava_active.svg");
						background-repeat:  no-repeat;
						background-size: contain;
						background-position: center;
						background-color: transparent;
					}

				}
			}

			&_gold {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;

				width: 96px;
				height: 80px;

				border-radius: 8px;
				border: 2px solid $msl_base_yellow;
				@include radial_bg($color: #FAEFC4);
				text-transform: uppercase;
				font-size: 46px;
				font-family: $roboto_medium;
				color: $msl_main_text_color;

				margin-bottom: 0;

				&.buttons-group__item_selected {
					background: $msl_base_yellow;
					color: #FFFFFF;
				}
			}
		}
		&_disabled {
			color: $msl_placeholder_text_color;
			background: $msl_inactive_color;
			border: none;
			pointer-events: none;
			cursor: default;
		}
	}
}

.blinking {
	animation: blinker 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;
}
.blinking-inv {
	animation: blinker-inv 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;
}

@media screen and (max-width: 1919px) {
	.buttons-group {
		&__title {
			font-size: 30px;
			margin-bottom: 20px;
		}
		&__items {
			grid-row-gap: 20px;
			row-gap: 20px;
		}
		&__item {
			&_theme {
				&_square-radial {
					font-size: 42px;
					border-radius: 8px;
					width: 90px;
					height: 70px;
				}
				&_hexagonal {
					height: 100px;
					width: 90px;
					font-size: 42px;
				}
				&_gold {
					width: 90px;
					height: 75px;
				}
			}
		}
	}
}

@media screen and (max-width: 1599px) {
	.buttons-group {
		&__title {
			font-size: 24px;
			margin-bottom: 10px;
		}
		&__items {
			grid-row-gap: 10px;
			row-gap: 10px;
		}
		&__item {
			&_theme {
				&_square-radial {
					font-family: $roboto_medium;
					font-size: 36px;
					border-radius: 8px;
					width: 84px;
					height: 70px;
				}
				&_hexagonal {
					font-family: $roboto_medium;
					height: 94px;
					width: 80px;
					font-size: 36px;
				}
				&_gold {
					width: 84px;
					height: 70px;
					font-size: 36px;
					font-family: $roboto_medium;
				}
			}
		}
	}
	.mc-bet {
		&__inner {
			max-width: 340px;
		}
	}
}

@media screen and (max-width: 1365px) {
	.buttons-group {
		&__item {
			&_theme {
				&_circle {
					@include common1();
					@include radial_bg($color: #D8F4F4);
					border-radius: 50%;
					color: $msl_main_text_color;
					margin: 0 5px 5px 5px;
					width: 60px;
					height: 60px;
					border: 2px solid $msl_base_green;
					font-family: $roboto_medium;
					font-size: 30px;
					font-weight: normal;
					text-shadow: none;
				}
			}
			&_disabled {
				color: $msl_placeholder_text_color;
				background: $msl_inactive_color;
				border: none;
				pointer-events: none;
				cursor: default;
			}
		}
	}
}

@media screen and (max-width: 1299px) {
	.buttons-group {
		&__items {
			&_theme {
				&_circle {
					grid-template-columns: 650px minmax(auto, 600px);
				}
			}
		}
		&__item {
			&_theme {
				&_circle {
					@include common1();
					@include radial_bg($color: #D8F4F4);
					border-radius: 50%;
					color: $msl_main_text_color;
					margin: 0 5px 5px 5px;
					width: 55px;
					height: 55px;
					border: 2px solid $msl_base_green;
					font-family: $roboto_medium;
					font-size: 24px;
					font-weight: normal;
					text-shadow: none;
				}
			}
			&_disabled {
				color: $msl_placeholder_text_color;
				background: $msl_inactive_color;
				border: none;
				pointer-events: none;
				cursor: default;
			}
		}
	}
}

@media screen and (max-width: 1279px) {
	.buttons-group {
		&__title {
			margin-bottom: 10px;
			&_theme {
				&_circle {
					display: none;
				}
			}
		}

		&__items {
			&_theme {
				&_square-radial {
					grid-row-gap: 15px;
					row-gap: 15px;
				}
			}
		}
		&__item {
			&_theme {
				&_square-radial {
					width: 67px;
					height: 55px;
				}
				&_hexagonal {
					width: 67px;
					height: 75px;
					font-size: 36px;
				}
				&_circle {
					width: 66px;
					height: 66px;
					margin-bottom: 9px;
					font-size: 30px;
				}
			}
		}
	}
}

@media screen and (max-width: 1139px) {
	.buttons-group {
		&_theme {
			&_square-radial {
				margin-bottom: -20px;
			}
		}
		&__title {
			font-size: 18px;
			margin-bottom: 10px;
		}
		&__items {
			grid-row-gap: 8px;
			row-gap: 8px;
			&_theme {
				&_square-radial {
					grid-template-columns: repeat(10, 1fr);
					grid-column-gap: 8px;
					column-gap: 8px;
					width: 100%;
					overflow-x: auto;
					padding-bottom: 20px;
				}
			}
		}
		&__item {
			&:active {
				background: $msl_base_green;
				transition: background .4s linear;
			}

			&_theme {
				&_square-radial {
					font-size: 24px;
					width: 52px;
					height: 44px;
				}
				&_hexagonal {
					height: 50px;
					width: 45px;
					font-size: 24px;
					margin-left: 2px;
					margin-right: 2px;
					&:active {
						background-image: url("/assets/img/svg/pair_btn_lotozabava_active.svg");
						background-repeat:  no-repeat;
						background-size: contain;
						background-position: center;
						background-color: transparent;
						color: #FFFFFF;
					}
				}
				&_gold {
					width: 66px;
					height: 55px;
					font-size: 30px;
					&:active {
						background: $msl_base_yellow;
						color: #FFFFFF;
					}
				}
				&_circle {
					width: 44px;
					height: 44px;
					font-size: 20px;
					margin-left: 4px;
					margin-right: 4px;
				}
			}
		}
	}
}

@media screen and (max-width: 853px) {
	.buttons-group {
		&_theme {
			&_gold {
				margin-bottom: -20px;
			}
		}
		&__title {
			font-size: 24px;
			margin-bottom: 8px;
			font-family: $roboto_medium;
			&_theme {
				&_gold {
					margin-bottom: 12px;
				}
			}
		}
		&__items {
			&_theme {
				&_square-radial {
					justify-content: center;
					grid-template-columns: repeat(5, auto);
					grid-gap: 12px;
					gap: 12px;
				}
				&_hexagonal {
					justify-content: center;
				}
				&_gold {
					grid-template-columns: none;
					grid-auto-columns: auto;
					grid-auto-flow: column;
					grid-column-gap: 11px;
					column-gap: 11px;
					width: 100%;
					overflow-x: auto;
					padding-bottom: 20px;
				}
				&_circle {
					max-width: 520px;
				}
			}
		}
		&__item {
			font-size: 36px;
			&_theme {
				&_square-radial {
					width: 84px;
					height: 70px;
					border-radius: 8px;
					border-width: 2px;
				}
				&_hexagonal {
					height: 94px;
					width: 88px;
					margin-left: 4px;
					margin-right: 4px;
				}
				&_gold {
					width: 84px;
					height: 70px;
					border-radius: 8px;
					border-width: 2px;
				}
				&_circle {
					width: 44px;
					height: 44px;
					font-size: 20px;
					font-family: $roboto_regular;
					border-width: 2px;
					margin: 4px;
				}
			}
		}
	}
}

@media screen and (max-width: 839px) {
	.buttons-group {
		&_theme {
			&_gold {
				margin-bottom: -20px;
			}
		}
		&__title {
			font-size: 20px;
			margin-bottom: 12px;
			font-family: $roboto_medium;
			&_theme {
				&_gold {
					margin-bottom: 12px;
				}
			}
		}
		&__items {
			&_theme {
				&_square-radial {
					justify-content: center;
					grid-template-columns: repeat(5, auto);
					grid-gap: 12px;
					gap: 12px;
				}
				&_hexagonal {
					justify-content: center;
				}
				&_gold {
					grid-template-columns: none;
					grid-auto-columns: auto;
					grid-auto-flow: column;
					grid-column-gap: 11px;
					column-gap: 11px;
					width: 100%;
					overflow-x: auto;
					padding-bottom: 20px;
				}
				&_circle {
					max-width: 520px;
				}
			}
		}
		&__item {
			&_theme {
				&_square-radial {
					width: 68px;
					height: 56px;
					border-radius: 8px;
					border-width: 2px;
				}
				&_hexagonal {
					height: 80px;
					width: 71px;
					margin-left: 4px;
					margin-right: 4px;
				}
				&_gold {
					width: 68px;
					height: 56px;
					border-radius: 8px;
					border-width: 2px;
				}
				&_circle {
					width: 44px;
					height: 44px;
					font-size: 20px;
					font-family: $roboto_regular;
					border-width: 2px;
					margin: 4px;
				}
			}
		}
	}
}

@media screen and (max-width: 639px) {
	.buttons-group {
		&_theme {
			&_gold {
				margin-bottom: -20px;
			}
		}
		&__title {
			font-size: 16px;
			margin-bottom: 8px;
			font-family: $roboto_regular;
			&_theme {
				&_gold {
					margin-bottom: 4px;
				}
			}
		}
		&__items {
			&_theme {
				&_square-radial {
					justify-content: center;
					grid-template-columns: repeat(5, auto);
					grid-gap: 12px;
					gap: 12px;
				}
				&_hexagonal {
					justify-content: center;
				}
				&_gold {
					grid-template-columns: none;
					grid-auto-columns: auto;
					grid-auto-flow: column;
					grid-column-gap: 8px;
					column-gap: 8px;
					width: 100%;
					overflow-x: auto;
					padding-bottom: 20px;
				}
				&_circle {
					max-width: 400px;
				}
			}
		}
		&__item {
			font-size: 24px;
			&_theme {
				&_square-radial {
					width: 56px;
					height: 46px;
					border-radius: 8px;
					border-width: 2px;
				}
				&_hexagonal {
					height: 60px;
					width: 58px;
					margin-left: 4px;
					margin-right: 4px;
				}
				&_gold {
					width: 52px;
					height: 46px;
					border-radius: 8px;
					border-width: 2px;
					font-size: 24px;
				}
				&_circle {
					width: 32px;
					height: 32px;
					font-size: 18px;
					font-family: $roboto_regular;
					border-width: 1px;
					margin: 4px;
				}
			}
		}
	}
}


@media screen and (max-width: 479px) {
	.buttons-group {
		&_theme {
			&_gold {
				margin-bottom: -20px;
			}
		}
		&__title {
			font-size: 15px;
			margin-bottom: 8px;
			font-family: $roboto_regular;
			&_theme {
				&_gold {
					margin-bottom: 4px;
				}
			}
		}
		&__items {
			grid-gap: 8px;
			gap: 8px;
			&_theme {
				&_square-radial {
					justify-content: center;
					grid-template-columns: repeat(5, auto);
				}
				&_hexagonal {
					justify-content: center;
				}
				&_gold {
					grid-template-columns: repeat(10, 1fr);
					grid-column-gap: 8px;
					column-gap: 8px;
					width: 100%;
					overflow-x: auto;
					padding-bottom: 20px;
				}
			}
		}
		&__item {
			&_theme {
				&_square-radial {
					width: 48px;
					height: 42px;
					border-radius: 4px;
					border-width: 1px;
					font-size: 24px;
				}
				&_hexagonal {
					height: 56px;
					width: 48px;
					margin-left: 4px;
					margin-right: 4px;
					&:active {
						background-image: url("/assets/img/svg/pair_btn_lotozabava_active.svg");
						background-repeat:  no-repeat;
						background-size: contain;
						background-position: center;
						background-color: transparent;
						color: #FFFFFF;
					}
				}
				&_gold {
					width: 48px;
					height: 42px;
					border-radius: 4px;
					border-width: 1px;
					font-size: 24px;
				}
				&_circle {
					width: 24px;
					height: 24px;
					font-size: 14px;
					font-family: $roboto_regular;
					border-width: 1px;
					margin: 4px;
				}
			}
		}
	}
}
