@import "../../../../../sass/variables";

button {
	min-height: 42px;
	max-height: 42px;
	padding: 0 10px 0 10px;
	width: 100%;

	border-radius: 8px;
	border: 2px solid #a0a0a0;
	box-shadow: -2px 3px 10px 2px #d4d8db;
	box-sizing: border-box;

	font-size: 28px;
	color: $msl_main_text_color;

	background-color: #fff;

	cursor: pointer;

	&:disabled {
		color: $msl_placeholder_text_color;
		background-color: $msl_inactive_color;
		cursor: default;
	}

	&.selected {
		background-color: $msl_base_green;
		color: #fff;
	}
}
