@import 'variables';
@import 'mixins';


.game-logo {
	::ng-deep {
		.game-logo {
			&__image {
				width: 116px;
				height: auto;
			}
		}
	}
}

.columns {
	display: grid;
	grid-template: minmax(0, 1fr) / 1fr 600px;
	height: 100%;
	grid-column-gap: 45px;
	column-gap: 45px;
}

.left-column {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	grid-row-gap: 40px;
	row-gap: 40px;
	height: 100%;
	&__top {
		display: flex;
		align-items: center;
		flex-flow: row wrap;
		overflow: hidden;
		width: 100%;
	}
}

.right-column {
	padding-top: 42px;
	position: relative;
	display: grid;
	align-content: space-between;
	grid-template-rows: auto minmax(0, 1fr) auto;
}

.il-logo-group {
	display: flex;
	align-items: center;
}

.il-title-text {
	font-size: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid $msl_placeholder_text_color;
	border-radius: 8px;
	padding: 14px 12px;
	color: $msl_main_text_color;
	margin-bottom: 17px;
	&_scrolled {
		padding-right: 50px;
	}
}

.il-title-serie {
	text-align: center;
	width: 370px;
}

.il-title-price {
	text-align: center;
	color: $msl_main_text_color;
	border-left: 1px solid $msl_placeholder_text_color;
	text-transform: uppercase;
	flex-grow: 1;
}

// -----------------------------------------
//  Шапка
// -----------------------------------------

.il-header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&_1 {
		min-height: 70px;
		margin-bottom: 30px;
		width: 100%;
		margin-right: 33px;
		align-items: flex-end;
	}

	&_2 {
		min-height: 47px;
	}
}

.igc-title-text {
	font-size: 36px;
	color: $msl_main_text_color;
	margin-top: 0;

	&_bold {
		font-family: $roboto_medium;
	}
}

// -----------------------------------------
//  Фильтры
// -----------------------------------------
.il-bg-filters {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 33px;

	::ng-deep {

		.buttons-group {
			&__title {
				text-align: center;
				text-transform: uppercase;
				font-size: 24px;
				margin-bottom: 10px;
				font-family: $roboto_medium;
				color: $msl_main_text_color;
				margin-right: 10px;
				white-space: nowrap;
			}
			&__items {
				display: flex;
				flex-flow: row nowrap;
				width: 100%;
				justify-content: flex-start;
				flex-flow: row nowrap;
			}
			&__item {
				&_theme {
					&_square-radial {
						border-radius: 8px;
						width: 110px;
						height: 80px;
						font-size: 46px;
						// margin-bottom: 10px;
						 margin-left: 16px;
					}
				}
				&_first {
					width: 300px;
					// padding-bottom: 5px;
					margin-left: 0;
					font-family: $roboto_regular;
				}
			}
		}
	}
}

.il-draws-column {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	margin-bottom: 10px;

	&__sel-game {
		text-align: center;
		color: $msl_base_green;
		font-size: 36px;
		font-family: $roboto_regular;
		margin-top: 80px;
		margin-bottom: 180px;
		padding: 0 10px;
		-webkit-animation: blinker-inv 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;
		animation: blinker-inv 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;
		opacity: 0;
	}
}

.draws-item {
	padding: 10px 12px;
	color: $msl_main_text_color;
	border: 2px solid $msl_base_green;
	border-radius: 8px;
	@include radial_bg($color: #d8f4f4);
	cursor: pointer;

	& + .draws-item {
		margin-top: 16px;
	}

	&__serie {
		display: flex;
		flex-direction: row;
		align-items: center;
		pointer-events: none;
		margin-bottom: 10px;
	}

	&__serie_num {
		width: 370px;
		font-family: $roboto_medium;
		font-size: 30px;
	}

	&__serie_sum {
		position: relative;
		width: auto;
		flex-grow: 1;
		font-family: $roboto_medium;
		font-size: 36px;
		text-align: center;
		text-transform: lowercase;

		&:before {
			border-left: 1px solid #a1a1a1;
			content: '';
			height: 28px;
			width: 0;
			top: 50%;
			position: absolute;
			left: 1px;
			transform: translateY(-50%);
		}
	}

	&_selected {
		color: white;
		background: $msl_base_green;
		.draws-item__serie_sum {
			&:before {
				border-left: 1px solid #FFFFFF;
			}
		}
	}
}

.max-win {
	text-align: center;
	margin: 5px 0;
	font-size: 24px;
	&__lbl {
		font-family: $roboto_regular;
	}
	&__val {
		font-family: $roboto_medium;
	}
}

.instant-lotteries-container {
	position: absolute;
	left: 30px;
	right: 30px;
	bottom: 20px;
	top: 100px;
}

// -----------------------------------------
//  Список тиражей
// -----------------------------------------
.bets-scroll {
	overflow-y: scroll;
	padding-right: 10px;
	&::-webkit-scrollbar {
		width: 18px;
	}
	&::-webkit-scrollbar-track {
		margin: 0;
	}
}

.il-bg-tickets {
	margin-bottom: 80px;
	::ng-deep {
		.buttons-group {
			&__items {
				&_theme {
					&_square-radial {
						grid-gap: 30px;
						gap: 30px;
					}
				}
			}
		}
	}
}

.register-bet-button {
	width: 100%;
	height: 80px;
	font-size: 36px;
	display: block;
}

.current-lottery {
	display: none;
}

.filters-panel {
	width: 100%;
}

@media screen and (max-width: 1919px) {
	.game-logo {
		margin-bottom: 0;
		::ng-deep {
			.game-logo {
				&__image {
					width: 100px;
					height: auto;
				}
			}
		}
	}
	.il-header-wrapper_1 {
		min-height: 0;
		margin-bottom: 10px;
	}

	.instant-lotteries-container {
		left: 10px;
		top: 62px;
		right: 10px;
		bottom: 10px;
	}

	.columns {
		grid-template-columns: 1fr 468px;
		grid-column-gap: 16px;
		column-gap: 16px;
	}

	.left-column {
		grid-row-gap: 10px;
		row-gap: 10px;
	}

	.right-column {
		padding-top: 30px;
	}

	.il-bg-filters {
		::ng-deep {
			.buttons-group {
				&__item {
					&_theme {
						&_square-radial {
							width: 80px;
							height: 54px;
							font-size: 36px;
							margin-left: 10px;
						}
					}
					&_first {
						width: 200px;
						padding: 0 10px;
					}
				}
			}
		}
	}
	.igc-title-text {
		font-size: 24px;
		margin-bottom: 5px;
	}

	.il-bg-tickets {
		margin-bottom: 24px;
		::ng-deep {
			.buttons-group {
				&__items {
					&_theme {
						&_square-radial {
							grid-gap: 10px;
							gap: 10px;
							justify-content: center;
						}
					}
				}
				&__item {
					&_theme {
						&_square-radial {
							width: 84px;
							height: 70px;
							font-size: 36px;
						}
					}
				}
			}
		}
	}

	.il-title-text {
		font-size: 24px;
		margin-bottom: 10px;
		padding: 10px 12px;
	}
	.il-title-serie {
		width: 250px;
	}

	.draws-item {
		padding: 5px 12px;
		color: $msl_main_text_color;
		border: 2px solid $msl_base_green;
		border-radius: 8px;
		@include radial_bg($color: #d8f4f4);
		cursor: pointer;

		& + .draws-item {
			margin-top: 10px;
		}

		&__serie {
			display: flex;
			flex-direction: row;
			align-items: center;
			pointer-events: none;
			margin-bottom: 5px;
		}

		&__serie_num {
			width: 250px;
			font-family: $roboto_medium;
			font-size: 24px;
		}

		&__serie_sum {
			position: relative;
			width: auto;
			flex-grow: 1;
			font-family: $roboto_medium;
			font-size: 36px;
			text-align: center;
			text-transform: lowercase;

			&:before {
				border-left: 1px solid #a1a1a1;
				content: '';
				height: 28px;
				width: 0;
				top: 50%;
				position: absolute;
				left: 1px;
				transform: translateY(-50%);
			}
		}

		&_selected {
			color: white;
			background: $msl_base_green;
			.draws-item__serie_sum {
				&:before {
					border-left: 1px solid #FFFFFF;
				}
			}
		}
	}
	.max-win {
		font-size: 18px;
	}
	.bets-scroll {
		&::-webkit-scrollbar {
			width: 18px;
		}
		&::-webkit-scrollbar-track {
			margin: 0;
		}
	}
}

@media screen and (max-width: 1365px) {
	.il-bg-filters {
		margin-right: 20px;
		::ng-deep {
			.buttons-group {
				&__item {
					&_theme {
						&_square-radial {
							width: 66px;
							height: 48px;
							font-size: 30px;
							margin-left: 8px;
						}
					}
					&_first {
						width: 160px;
						padding: 0 8px;
					}
				}
			}
		}
	}
	.columns {
		grid-template-columns: 1fr 400px;
	}
	.right-column {
		padding-top: 20px;
	}
	.il-bg-tickets {
		margin-bottom: 30px;
		::ng-deep {
			.buttons-group {
				&__items {
					&_theme {
						&_square-radial {
							grid-gap: 15px;
							gap: 15px;
						}
					}
				}
				&__item {
					&_theme {
						&_square-radial {
							width: 68px;
							height: 56px;
							font-size: 36px;
						}
					}
				}
			}
		}
	}
	.il-title-text {
		margin-bottom: 8px;
		padding: 8px 12px;
	}

	.il-title-serie {
		width: 230px;
	}

	.draws-item {
		padding: 5px 12px;
		color: $msl_main_text_color;
		border: 2px solid $msl_base_green;
		border-radius: 8px;
		@include radial_bg($color: #d8f4f4);
		cursor: pointer;

		& + .draws-item {
			margin-top: 8px;
		}

		&__serie {
			display: flex;
			flex-direction: row;
			align-items: center;
			pointer-events: none;
			margin-bottom: 10px;
		}

		&__serie_num {
			width: 230px;
			font-family: $roboto_medium;
			font-size: 18px;
		}

		&__serie_sum {
			position: relative;
			width: auto;
			flex-grow: 1;
			font-family: $roboto_medium;
			font-size: 24px;
			text-align: center;
			text-transform: lowercase;

			&:before {
				border-left: 1px solid #a1a1a1;
				content: '';
				height: 28px;
				width: 0;
				top: 50%;
				position: absolute;
				left: 1px;
				transform: translateY(-50%);
			}
		}

		&_selected {
			color: white;
			background: $msl_base_green;
			.draws-item__serie_sum {
				&:before {
					border-left: 1px solid #FFFFFF;
				}
			}
		}
	}
	.max-win {
		font-size: 14px;
	}
	.bets-scroll {
		padding-right: 8px;
		&::-webkit-scrollbar {
			margin: 0;
			width: 10px;
		}
	}
	.il-draws-column {
		margin-bottom: 30px;
		&__sel-game {
			font-size: 30px;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.register-bet-button {
		height: 60px;
	}
	.game-logo {
		margin-bottom: 0;
	}
	.il-header-wrapper {
		&_1 {
			margin-bottom: 10px;
		}
	}
	.igc-title-text {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 1139px) {
	.il-bg-filters {
		::ng-deep {
			.buttons-group {
				margin-bottom: 0;

				&__items {
					margin-bottom: 0;
					padding: 0;
					&_theme {
						&_square-radial {
							display: flex;
							grid-column-gap: 0;
							column-gap: 0;
						}
					}
				}

				&__item {
					&_theme {
						&_square-radial {
							width: 50px;
							height: 40px;
							font-size: 18px;
							border-radius: 4px;
							margin-left: 4px;
							margin-bottom: 0;
						}
					}

					&_first {
						width: 130px;
						margin-left: 0;
					}
				}
			}
		}
	}

	.left-column__top {
		flex-flow: row wrap;
	}

	.il-header-wrapper {
		margin-bottom: 12px;
		flex-flow: row wrap;
		&_1 {
			min-height: auto;
			flex-flow: row nowrap;
			margin-right: 20px;
		}

		&_2 {
			min-height: auto;
		}
	}

	.game-logo {
		margin-right: 50px;
		::ng-deep {
			.game-logo {
				&__image {
					width: 60px;
					height: auto;
				}
			}
		}
	}

	.igc-title-text {
		font-size: 18px;
		margin-top: 15px;
		margin-bottom: 0;
	}

	.instant-lotteries-container {
		top: 62px;
	}

	.columns {
		grid-template-columns: 1fr 300px;
	}

	.il-bg-tickets {
		overflow: hidden;
		margin-right: -10px;
		margin-bottom: 12px;
		::ng-deep {
			.buttons-group {
				&__items {
					&_theme {
						&_square-radial {
							grid-gap: 8px;
							gap: 8px;
							justify-content: start;
						}
					}
				}
				&__item {
					&_theme {
						&_square-radial {
							width: 52px;
							height: 44px;
							font-size: 24px;
						}
					}
				}
			}
		}
	}

	.register-bet-button {
		height: 44px;
		font-size: 18px;
	}


	.il-draws-column {
		margin-bottom: 12px;
		&__sel-game {
			font-size: 24px;
			margin: 30px 0;
			padding: 0;
		}
	}

	.right-column {
		padding-top: 18px;
	}

	.il-title-text {
		font-size: 18px;
		font-family: $roboto_regular;
		font-weight: normal;
		width: 100%;
		margin-top: 0;
		margin-bottom: 8px;
		text-align: right;
		padding: 6px 8px;

	}

	.il-title-serie {
		width: 160px;
	}

	.il-title-price {
		flex-grow: 1;
	}

	.draws-item {
		padding: 4px 8px;
		& + .draws-item {
			margin-top: 8px;
		}
		&__serie {
			&_num {
				width: 160px;
				font-size: 14px;
			}
			&_sum {
				flex-grow: 1;
				font-size: 18px;
				font-family: $roboto_regular;
				&:before {
					height: 20px;
				}
			}
		}
	}

	.max-win {
		font-size: 14px;
	}

	.bets-scroll {
		::ng-deep {
			.custom-scrollbar {
				&::-webkit-scrollbar {
					width: 8px;
				}
				&::-webkit-scrollbar-track {
					margin: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 853px) {
	.columns {
		grid-template: minmax(0, 1fr) auto / minmax(0, 1fr);
	}

	.left-column {
		grid-template: auto minmax(0, 1fr) / 1fr;
	}

	.right-column {
		padding-top: 0;
		display: flex;
		flex-direction: column;
	}

	.instant-game-list {
		grid-column-start: 1;
		grid-column-end: 3;
		border-top: 1px solid $msl_base_green;
		border-bottom: 1px solid $msl_base_green;
		margin-left: -10px;
		margin-right: -10px;
		padding-left: 0;
		padding-top: 18px;
		overflow: hidden;
		position: relative;
		&:before, &:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 1px;
			box-shadow: 0 0 3px 2px #DDDDDD;
		}
		&:before {
			top: -1px;
		}
		&:after {
			bottom: -1px;
		}
	}

	.il-draws-column {
		order: 2;
		margin-bottom: 10px;
		&__sel-game {
			display: none;
		}
	}

	.igc-title-text {
		display: none;
	}

	.il-bg-filters {
		overflow: hidden;
		margin-bottom: -30px;
		margin-right: 0;
		::ng-deep {

			.buttons-group {
				overflow-x: auto;
				&__title {
					display: none;
				}
				&__items {
					width: fit-content;
					padding-bottom: 30px;
				}
				&__item {
					&_theme {
						&_square-radial {
							border-radius: 4px;
							width: 54px;
							height: 54px;
							font-size: 24px;
							margin-left: 12px;
							border-width: 2px;
						}
					}
					&_first {
						width: 120px;
						padding: 0;
						margin-left: 0;
					}
				}
			}
		}
	}
	.filters-panel {
		overflow: hidden;
		flex-grow: 1;
		width: auto;
	}
	.il-bg-tickets {
		order: 3;
		display: none;
		margin-bottom: 24px;
		margin-top: 12px;
		&_mobile-visible {
			display: block;
		}
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 24px;
					margin-bottom: 10px;
					text-align: left;
				}
				&__items {
					grid-template-columns: repeat(10, 1fr);
					&_theme {
						&_square-radial {
							grid-column-gap: 11px;
							column-gap: 11px;
							justify-content: left;
						}
					}
				}
				&__item {
					&_theme {
						&_square-radial {
							width: 84px;
							height: 70px;
							font-size: 36px;
							border-width: 2px;
						}
					}
				}
			}
		}
	}
	.instant-lotteries-container {
		top: 62px;
	}
	.register-bet-button {
		order: 4;
		max-width: 640px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		height: 60px;
	}
	.il-title-text {
		display: none;
	}
	.max-win {
		display: none;
	}
	.draws-item {
		border-width: 2px;
		border-radius: 8px;
		padding: 0;
		height: 70px;
		&__serie {
			height: 100%;
			&_num, &_sum {
				width: auto;
				padding: 0 10px;
				white-space: nowrap;
			}

			&_num {
				font-size: 24px;
			}
			&_sum {
				font-size: 30px;
			}
		}
	}
	.draws-item + .draws-item {
		margin-top: 0;
		margin-left: 26px;
	}

	.draws-items {
		display: flex;
	}

	.bets-scroll {
		height: 70px;
		margin-right: -10px;
		overflow: hidden;
		&__inner {
			overflow-x: auto;
			padding-bottom: 50px;
		}
	}
	.current-lottery {
		order: 1;
		display: block;
		font-size: 24px;
		font-family: $roboto_regular;
		text-transform: uppercase;
		margin-top: 24px;
		margin-bottom: 10px;
		color: $msl_main_text_color;
		&_bold {
			font-family: $roboto_medium;
		}
	}

	.left-column__top {
		flex-flow: row nowrap;
	}

	.il-header-wrapper {
		padding-right: 0;
		margin: 0;
		flex-flow: row nowrap;
		&_1 {
			width: auto;
			margin-right: 60px;
		}
	}

	.game-logo {
		margin-right: 0;
	}

	.igc-title-text {
		width: auto;
		margin-top: 0;
	}
}

@media screen and (max-width: 839px) {
	.draws-item {
		border-width: 2px;
		border-radius: 8px;
		padding: 0;
		height: 60px;
		&__serie {
			height: 100%;
			&_num, &_sum {
				width: auto;
				padding: 0 10px;
				white-space: nowrap;
			}

			&_num {
				font-size: 18px;
			}
			&_sum {
				font-size: 24px;
			}
		}
	}
	.draws-item + .draws-item {
		margin-top: 0;
		margin-left: 13px;
	}

	.draws-items {
		display: flex;
	}

	.il-bg-tickets {
		margin-top: 0;
		::ng-deep {
			.buttons-group__item_theme_square-radial {
				width: 68px;
				height: 56px;
				font-size: 36px;
				border-width: 2px;
			}
			.buttons-group__title {
				font-size: 20px;
				font-family: $roboto_regular;
			}
		}
	}

	.current-lottery {
		font-size: 20px;
		margin-top: 16px;
	}

	.il-bg-filters {
		::ng-deep {
			.buttons-group {
				&__item {
					&_theme_square-radial {
						width: 44px;
						height: 44px;
						font-size: 18px;
					}
					&_first {
						width: 88px;
					}
				}
			}
		}
	}

	.il-header-wrapper_1 {
		margin-right: 40px;
	}
	.register-bet-button {
		max-width: 464px;
	}
}

@media screen and (max-width: 639px) {
	.il-header-wrapper {
		margin-right: 0;
		&_1 {
			margin-right: 30px;
		}
	}
	.game-logo {
		::ng-deep {
			.game-logo {
				&__image {
					max-height: 36px;
				}
				&__title {
					font-size: 18px;
				}
			}
		}
	}
	.columns {
		grid-template: minmax(0, 1fr) auto / minmax(0, 1fr);
	}

	.left-column {
		grid-template: auto minmax(0, 1fr) / auto 1fr;
		&__top {
			padding-top: 0;
		}
	}

	.right-column {
		padding-top: 0;
		display: flex;
		flex-direction: column;
	}

	.instant-game-list {
		grid-column-start: 1;
		grid-column-end: 3;
		border-top: 1px solid $msl_base_green;
		border-bottom: 1px solid $msl_base_green;
		margin-left: -10px;
		margin-right: -10px;
		padding-left: 0;
		overflow: hidden;
		position: relative;
		&:before, &:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 1px;
			box-shadow: 0 0 3px 2px #DDDDDD;
		}
		&:before {
			top: -1px;
		}
		&:after {
			bottom: -1px;
		}
	}

	.il-draws-column {
		order: 2;
		margin-bottom: 6px;
		&__sel-game {
			display: none;
		}
	}

	.igc-title-text {
		display: none;
	}

	.il-bg-filters {
		overflow: hidden;
		margin-bottom: -30px;
		::ng-deep {

			.buttons-group {
				overflow-x: auto;
				&__title {
					display: none;
				}
				&__items {
					width: fit-content;
					padding-bottom: 30px;
					grid-column-gap: 6px;
					column-gap: 6px;
				}
				&__item {
					&_theme {
						&_square-radial {
							border-radius: 4px;
							width: 32px;
							height: 32px;
							font-size: 14px;
							margin-left: 0;
							border-width: 1px;
						}
					}
					&_first {
						width: 68px;
						padding: 0;
						margin-left: 0;
					}
				}
			}
		}
	}
	.filters-panel {
		overflow: hidden;
	}
	.il-bg-tickets {
		order: 3;
		display: none;
		margin-bottom: 12px;
		margin-top: 12px;
		&_mobile-visible {
			display: block;
		}
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 15px;
					margin-bottom: 4px;
					text-align: left;
				}
				&__items {
					grid-template-columns: repeat(10, 1fr);
					&_theme {
						&_square-radial {
							grid-column-gap: 8px;
							column-gap: 8px;
							justify-content: left;
						}
					}
				}
				&__item {
					&_theme {
						&_square-radial {
							width: 48px;
							height: 42px;
							font-size: 24px;
							border-width: 1px;
						}
					}
				}
			}
		}
	}
	//.instant-lotteries-container {
	//	top: 60px;
	//}
	.register-bet-button {
		order: 4;
		height: 44px;
		::ng-deep {
			.button {
				font-size: 18px;
			}
		}
	}
	.il-title-text {
		display: none;
	}
	.max-win {
		display: none;
	}
	.draws-item {
		border-width: 1px;
		border-radius: 4px;
		padding: 0;
		height: 44px;
		&__serie {
			height: 100%;
			&_num, &_sum {
				width: auto;
				padding: 0 10px;
				white-space: nowrap;
			}

			&_num {
				font-size: 14px;
			}
			&_sum {
				font-size: 16px;
			}
		}
	}
	.draws-item + .draws-item {
		margin-top: 0;
		margin-left: 8px;
	}

	.draws-items {
		display: flex;
	}

	.bets-scroll {
		overflow: hidden;
		height: 44px;
		margin-right: -10px;
		::ng-deep {
			.custom-scrollbar {
				overflow-y: hidden;
				overflow-x: auto;
				padding-bottom: 50px;
			}
		}
	}
	.current-lottery {
		order: 1;
		display: block;
		font-size: 15px;
		font-family: $roboto_regular;
		text-transform: uppercase;
		margin-top: 15px;
		margin-bottom: 4px;
		&_bold {
			font-family: $roboto_medium;
		}
	}
}

@media screen and (max-width: 479px) {
	.game-logo {
		::ng-deep {
			.game-logo {
				&__left {
					margin-right: 8px;
				}
				&__image {
					width: 38px;
				}
				&__title {
					font-size: 12px;
				}
			}
		}
	}
	.columns {
		grid-template: minmax(0, 1fr) auto / minmax(0, 1fr);
	}

	.left-column {
		grid-template: auto minmax(0, 1fr) / auto 1fr;
	}

	.right-column {
		padding-top: 0;
		display: flex;
		flex-direction: column;
	}

	.instant-game-list {
		grid-column-start: 1;
		grid-column-end: 3;
		border-top: 1px solid $msl_base_green;
		border-bottom: 1px solid $msl_base_green;
		margin-left: -10px;
		margin-right: -10px;
		padding-left: 0;
		overflow: hidden;
		position: relative;
		&:before, &:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 1px;
			box-shadow: 0 0 3px 2px #DDDDDD;
		}
		&:before {
			top: -1px;
		}
		&:after {
			bottom: -1px;
		}
	}

	.il-header-wrapper {
		&_1 {
			margin-right: 24px;
		}
	}

	.il-draws-column {
		order: 2;
		margin-bottom: 0;
		&__sel-game {
			display: none;
		}
	}

	.igc-title-text {
		display: none;
	}

	.il-bg-filters {
		overflow: hidden;
		margin-bottom: -30px;
		::ng-deep {

			.buttons-group {
				overflow-x: auto;
				&__title {
					display: none;
				}
				&__items {
					width: fit-content;
					padding-bottom: 30px;
				}
				&__item {
					&_theme {
						&_square-radial {
							border-radius: 4px;
							width: 32px;
							height: 32px;
							font-size: 14px;
							margin-left: 0;
						}
					}
					&_first {
						width: 68px;
						padding: 0;
						margin-left: 0;
					}
				}
			}
		}
	}
	.filters-panel {
		overflow: hidden;
	}
	.il-bg-tickets {
		order: 3;
		display: none;
		margin-bottom: 8px;
		&_mobile-visible {
			display: block;
		}
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 12px;
					margin-bottom: 4px;
					text-align: left;
				}
				&__items {
					grid-template-columns: repeat(10, 1fr);
					&_theme {
						&_square-radial {
							font-size: 12px;
							grid-column-gap: 8px;
							column-gap: 8px;
							justify-content: left;
						}
					}
				}
				&__item {
					&_theme {
						&_square-radial {
							width: 32px;
							height: 32px;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
	.instant-lotteries-container {
		top: 52px;
	}
	.register-bet-button {
		order: 4;
		margin-top: 10px;
	}
	.il-title-text {
		display: none;
	}
	.max-win {
		display: none;
	}
	.draws-item {
		border-width: 1px;
		border-radius: 4px;
		padding: 0;
		height: 32px;
		&__serie {
			height: 100%;
			&_num, &_sum {
				width: auto;
				padding: 0 10px;
				white-space: nowrap;
				font-size: 12px;
			}
		}
	}
	.draws-item + .draws-item {
		margin-top: 0;
		margin-left: 8px;
	}

	.draws-items {
		display: flex;
	}

	.bets-scroll {
		overflow: hidden;
		height: 32px;
		margin-right: -10px;
		::ng-deep {
			.custom-scrollbar {
				overflow-y: hidden;
				overflow-x: auto;
				padding-bottom: 50px;
			}
		}
	}
	.current-lottery {
		order: 1;
		display: block;
		font-size: 12px;
		font-family: $roboto_regular;
		text-transform: uppercase;
		margin-top: 12px;
		margin-bottom: 4px;
		&_bold {
			font-family: $roboto_medium;
		}
	}
	.il-bg-tickets {
		margin-bottom: 0;
	}
}
