<div class="instant-lotteries-container"
	 data-cy="instant-lotteries-container"
>
	<div class="columns"
		 data-cy="columns"
	>
		<div class="left-column"
			 data-cy="left-column"
		>
			<!-- ШАПКА -->
			<div class="left-column__top"
				 data-cy="left-column-top"
			>
				<div class="il-header-wrapper"
					 [ngClass]="'il-header-wrapper_' + instantLotteryService.groupId"
					 data-cy="il-header-wrapper"
				>
					<app-msl-game-logo
						class="game-logo"
						data-cy="game-logo"
						[gameCode]="0"
						[groupCode]="instantLotteryService.groupId"
					>
					</app-msl-game-logo>

					<div
						class="igc-title-text"
						*ngIf="instantLotteryService.gameName"
						data-cy="igc-title-text"
					>
						{{ 'lottery.lottery' | translate }}:
						<span class="igc-title-text_bold">{{ instantLotteryService.gameName | uppercase }}</span>
					</div>
				</div>

				<!-- ФИЛЬТРЫ -->
				<div class="filters-panel"
					 data-cy="filters-panel"
				>
					<app-buttons-group
						#filtersComponent
						class="il-bg-filters"
						[workMode]="ButtonGroupMode.radio"
						[buttonsCount]="this.instantLotteryService.filtersValues.length"
						[labelsArray]="this.instantLotteryService.filtersLabels"
						[valuesArray]="this.instantLotteryService.filtersValues"
						[isNeededTranslation]="true"
						[buttonGroupStyle]="ButtonGroupStyle.outline_square_radial_fill"
						data-cy="il-bg-filters"
						(clickButton)="onSelectedFilterHandler($event)"
					>
					</app-buttons-group>
				</div>
			</div>

			<!-- СПИСОК ИГР -->
			<app-instant-game-list class="instant-game-list"
								   data-cy="instant-game-list"
				[filter]="instantLotteryService?.betData?.priceFilter"
				(gameCodeChanged)="onGameCodeChangedHandler($event)"
				>
			</app-instant-game-list>
		</div>

		<div class="right-column"
			 data-cy="right-column"
		>
			<div class="current-lottery"
				 *ngIf="instantLotteryService.gameName"
				 data-cy="current-lottery"
			>
				{{ 'lottery.lottery' | translate }}:
				<span class="current-lottery_bold">{{ instantLotteryService.gameName }}</span>
			</div>

			<!-- БИЛЕТЫ -->
			<app-buttons-group
				#ticketsComponent
				class="il-bg-tickets"
				[class.il-bg-tickets_mobile-visible]="instantLotteryService.gameDraws && instantLotteryService.gameDraws.length > 0"
				data-cy="il-bg-tickets"
				[workMode]="ButtonGroupMode.range_deselect_2"
				[buttonGroupLabel]="'lottery.instant.tickets_count' | translate | uppercase"
				[buttonsCount]="instantLotteryService.TICKETS_COUNT"
				[buttonGroupStyle]="ButtonGroupStyle.outline_square_radial_fill"
				[titleBlinking]="!instantLotteryService.betData.group[instantLotteryService.groupId].betsCount"
				(clickButton)="onSelectedTicketHandler($event)"
				>
			</app-buttons-group>

			<!-- СПИСОК ТИРАЖЕЙ -->
			<div class="il-draws-column"
				 data-cy="il-draws-column"
			>
				<div *ngIf="instantLotteryService.gameDraws && instantLotteryService.gameDraws.length > 0"
					class="il-title-text"
					data-cy="il-title-text"
				>
					<div class="il-title-serie"
						 data-cy="il-title-serie"
					>{{ 'lottery.instant.series' | translate | uppercase }}</div>
					<div class="il-title-price"
						 data-cy="il-title-price"
					>{{ 'lottery.instant.price' | translate }}</div>
				</div>

				<div *ngIf="instantLotteryService.gameDraws && instantLotteryService.gameDraws.length > 0"
					class="webalt-scroll bets-scroll"
					data-cy="webalt-scroll"
				>
					<div class="bets-scroll__inner"
						 data-cy="bets-scroll-inner"
					>
						<ul class="draws-items"
							data-cy="draws-items"
							(click)="onClickDrawHandler($event)"
						>
							<ng-container *ngFor="let draw of instantLotteryService.gameDraws; trackBy: trackByDraws; let i = index">
								<li class="draws-item"
									[class.draws-item_selected]="instantLotteryService.betData.group[instantLotteryService.groupId].drawIndex === i"
									[value]="i"
									data-cy="draws-item"
								>
									<div class="draws-item__serie"
										 data-cy="draws-item-serie"
									>
										<div class="draws-item__serie_num"
											 data-cy="draws-item-serie-num"
										>
											{{ draw.draw.serie_num }}
										</div>
										<div class="draws-item__serie_sum"
											 data-cy="draws-item-serie-sum"
										>
											{{ draw.draw.bet_sum | mslCurrency:0 }} {{ 'lottery.uah' | translate }}
										</div>
									</div>
									<div class="max-win"
										 *ngIf="draw.draw.data.max_win_sum"
										 data-cy="max-win"
									>
										<span class="max-win__lbl"
											  data-cy="max-win-lbl"
										>{{ 'lottery.max_win' | translate }}:</span>
										<span class="max-win__val"
											  data-cy="max-win-val"
										>
										{{ draw.draw.data.max_win_sum | mslCurrency:0 }} {{ 'lottery.uah' | translate }}
									</span>
									</div>
								</li>
							</ng-container>
						</ul>
					</div>
				</div>

				<div
					class="il-draws-column__sel-game"
					*ngIf="instantLotteryService.gameDraws && instantLotteryService.gameDraws.length === 0"
					data-cy="il-draws-column-sel-game"
					>
					{{ 'lottery.instant.select_game' | translate }}
				</div>
			</div>

			<!-- КНОПКА РЕГИСТРАЦИИ СТАВКИ -->
			<app-register-bet-button
				class="register-bet-button"
				data-cy="register-bet-button"
				[amount]="instantLotteryService.amount"
				(action)="instantLotteryService.goToRegistryPage({source: BetDataSource.Manual})"
				[isDisabled]="!instantLotteryService.amount"
				>
			</app-register-bet-button>
		</div>
	</div>
</div>
