<div *ngIf="userLoyaltyAuthService.isLoading" class="preloader-wrapper">
	<div class="preloader"></div>
</div>

<div class="wrapper"
	 [class.wrapper_result]="step === 3"
	 [class.hidden]="userLoyaltyAuthService.isLoading"
>
	<div class="loauth-wrapper" [class.hidden]="step === 3">
		<app-user-loyalty-auth class="user-loyalty-auth"
							   [showScanVariant]="true"
							   [showPhoneVariant]="true"
							   [showValidMark]="false"
							   (authResult)="onAuthResult($event)"
		></app-user-loyalty-auth>
	</div>

	<ng-container *ngIf="bonusInfoResult && step === 3">
		<h2 class="title">{{ 'other.info_about_lc' | translate }}</h2>

			<div class="receipt">
				<div class="line tt-u ta-c">КВИТАНЦІЯ</div>
				<div class="line ta-c">{{ currentDate }}</div>
      			<div class="line">Термінал: {{ appStoreService.Settings.termCode }}</div>
				<div class="line col2">
					<div class="col-1">Доступні Фортуналі:</div>
					<div class="col-2">{{ bonusInfoResult.total_bonus_sum / 100 | number:'1.2-2' }}</div>
				</div>

				<div class="line">Використано фортуналів за поточний (календарний) місяць:
					{{ bonusInfoResult.card_limits.max_bonus_use_limit.current_value / 100 | number:'1.2-2' }}
				</div>

				<div class="line">Ліміт фортуналів, що можуть бути використані за поточний (календарний) місяць:
					{{ bonusInfoResult.card_limits.max_bonus_use_limit.limit_value / 100 | number:'1.2-2' }}
				</div>


				<div class="sep"></div>
				<ng-container *ngIf="bonusInfoResult.challenges[0]">
					<div class="line ta-c">«{{ bonusInfoResult.challenges[0].name }}»</div>
					<div class="line">З {{ startDate }} до {{ endDate }}</div>
					<div class="line">Умови участі:</div>
					<div class="line">{{ bonusInfoResult.challenges[0].action_condition }}</div>
					<div class="line col2">
						<div class="col-1">Придбано білетів на:</div>
						<div class="col-2">{{ bonusInfoResult.challenges[0].amount_total }} грн</div>
					</div>
					<div class="line col2">
						<div class="col-1">Залишилось до виконання умов:</div>
						<div class="col-2-100">{{ bonusInfoResult.challenges[0].amount_total }} грн</div>
					</div>
				</ng-container>
				<div class="line ta-c">Удача чекає на вас!</div>
			</div>

		<div class="buttons">
			<button type="button"
					class="button button_theme_white"
					data-cy="bottom-button-to-start"
					(click)="onGoToStart()"
			>
				{{ 'common.to-start' | translate }}
			</button>

			<button type="button"
					class="button button_theme_green"
					data-cy="bottom-button-print"
					(click)="onPrint()"
			>
				{{ 'reports.print' | translate }}
			</button>
		</div>

	</ng-container>
</div>
