@import "variables";
@import "mixins";

:host {
	padding: 10px;
	display: block;
	height: 100%;
	overflow: auto;
	width: 100%;
}

.preloader-wrapper {
	overflow: hidden;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&.hidden {
		display: none;
	}
}

.error {
	color: $msl_error;
	text-align: center;
	margin-block: 10px;
}

.preloader {
	@include circle_arc(150px, 10px);
}


.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;

	&_result {
		height: auto;
	}
}

.loauth-wrapper {
	width: 100%;
}

.hidden {
	display: none;
}

.title {
	margin-top: 0;
	text-align: center;
	font-size: 24px;
	margin-block: 10px;
	font-family: $roboto_bold;
}

b {
	font-family: $roboto_bold;
}

.card-outer {
	display: flex;
	padding: 10px;
	box-sizing: border-box;
	justify-content: center;
}

.card {
	border-radius: 10px;
	width: clamp(0px, 100%, 350px);
	background: #FFFFFF;
	box-shadow: 0 0 15px 0 #DDDDDD;
	overflow: hidden;
	&__header {
		display: flex;
		padding: 15px 15px 0 15px;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
	}
	&__logo {
		max-width: 100px;
		height: auto;
	}
	&__number {
		color: #000000;
		padding: 15px;
		font-size: 20px;
		text-align: center;
	}
	&__status {
		background: #000000;
		padding: 15px;
		font-size: 14px;
		text-align: right;
		color: #FFFFFF;
		font-family: monospace;
	}
	&__bonuses {
		color: #000000;
		padding: 15px;
		font-size: 20px;
		text-align: center;
		margin-bottom: 15px;
	}
}

.receipt {
	width: 260px;
	background: #F0F0F0;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	margin-inline: auto;

	* {
		font-size: 14px;
	}
}

.sep {
	border-top: 1px dashed #000000;
	border-bottom: 1px dashed #000000;
	height: 5px;
}

.line, .col-1, .col-2, .col-2-100 {
	font-family: monospace;
	font-weight: bold;
}

.line {
	margin-block: 16px;
}

.col-2-100 {
	width: 100%;
	text-align: right;
}

.col2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.tt-u {
	text-transform: uppercase;
}

.ta-c {
	text-align: center;
}

.buttons {
	display: flex;
	width: 100%;
	justify-content: center;
}

.button {
	max-width: 250px;
	width: 100%;
	font-size: 24px;
	min-height: 50px;
	display: block;
	padding: 0 15px;
	margin-block: 10px;
	& + & {
		margin-inline-start: 10px;
	}
}

@media screen and (max-width: 1139px) {
	.title {
		font-size: 18px;
	}
	.user-loyalty-auth {
		display: block;
		--masked-width: 100%;
	}
}

@media screen and (max-width: 479px) {
	.card {
		&__logo {
			max-width: 70px;
		}
		&__header {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__user {
			margin-top: 15px;
			width: 100%;
			text-align: center;
		}
	}

	.button {
		font-size: 20px;
	}
}
