@import "variables";

.hamburger-menu-container {
	position: absolute;
	top: 70px;
	width: 380px;
	z-index: 90; // $layer_hamburger;
	color: #898989;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.hamburger-menu-main {
	background-color: white;
	overflow: hidden;
}

.hamburger-menu {
	margin: 15px 10px;
	list-style: disc;
	padding-left: 25px;
	&__item {
		display: list-item;
		color: $msl_placeholder_text_color;
		font-size: 24px;
		margin-bottom: 10px;

		&_disabled {
			background: $msl_inactive_color;
			color: $msl_placeholder_text_color;
			box-shadow: none;
			pointer-events: none;
		}
	}

	&__text {
		color: $msl_main_text_color;
		font-family: $roboto_regular;
		font-size: 24px;
		&_active {
			font-family: $roboto_medium;
		}
	}
}

.cancel-last {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	width: calc(100% - 20px);
	min-height: 42px;
	margin: 15px auto;

	color: $msl_base_green;
	background: radial-gradient(white, white, rgba($msl_base_green, 0.2));
	border: 2px solid $msl_base_green;
	border-radius: 6px;
	font-size: 24px;

	&_disabled {
		background: $msl_inactive_color;
		color: $msl_placeholder_text_color;
		pointer-events: none;
		border: none;
	}
}

.lang-switcher {
	padding: 5px;
	margin-bottom: 15px;
	border-top: 1px solid $msl_border_1;
	border-bottom: 1px solid $msl_border_1;
	&__lang {
		display: flex;
		align-items: center;
		margin: 10px 5px;
	}
	&__input {
		display: none;
	}
	&__radio {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 2px solid $msl_main_text_color;
		position: relative;
		margin-right: 10px;
	}
	&__title {
		font-size: 24px;
		font-family: $roboto_regular;
		color: $msl_main_text_color;
	}
	&__input:checked + &__radio {
		border: 2px solid $msl_base_green;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 70%;
			height: 70%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background: $msl_base_green;
			border-radius: 50%;
		}
	}
	&__input:checked + &__radio + &__title {
		font-family: $roboto_medium;
	}
}

.change-password {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	position: relative;
	border: 1px solid $msl_border_2;

	width: calc(100% - 20px);
	min-height: 42px;

	padding-right: 22px;
	margin-left: 10px;
	margin-bottom: 15px;

	font-family: $roboto_regular;
	font-size: 24px;
	color: $msl_main_text_color;

	border-radius: 8px;
	background: #FFFFFF;

	&__icon-1 {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		position: absolute;
		right: 11px;

		width: 32px;
		height: 32px;
		top: 5px;

		background-color: #E5F8F8;
		border-radius: 100%;
		border: 1px solid $msl_base_green;
		&_disabled {
			border: 1px solid $msl_placeholder_text_color;
			background: $msl_inactive_color;
			pointer-events: none;
		}
	}

	&__icon-2 {
		color: $msl_base_green;
		&_disabled {
			color: $msl_placeholder_text_color;
			pointer-events: none;
		}
	}

	&_disabled {
		pointer-events: none;
		color: $msl_placeholder_text_color;
		background: $msl_inactive_color;
		cursor: default;
	}
}

.sys-info {
	background-color: white;
}

.hm-help, .hm-system-info {
	position: relative;
	text-align: center;
	color: $msl_main_text_color;
	font-size: 18px;
	font-family: $roboto_regular;
	border-top: 1px solid $msl_placeholder_text_color;
}

.hm-help {
	padding: 12px 5px;
	&__q {
		width: 26px;
		height: 26px;
		top: 50%;
		right: 28px;
		color: #FFFFFF;
		font-size: 22px;
		font-family: sans-serif;
		font-weight: bold;
		display: block;
		position: absolute;
		transform: translateY(-50%);
		background: $msl_base_green;
		border-radius: 5px;
	}
}

.hm-system-info {
	padding: 16px 5px;

	label {
		font-family: $roboto_regular;
		font-size: 18px;
		color: $msl_main_text_color;
	}

	.material-icons {
		margin: 3px 0;
		top: 8px;
		right: 26px;
		position: absolute;
		color: #009788;
		font-size: 30px;
	}
}

.hamburger-close {
	display: none;
	width: 100%;
	height: 44px;
	background: #FFFFFF;
	box-shadow: inset 0 -8px 8px -4px rgba(0,0,0,0.1);
	position: relative;
	&__button {
		position: absolute;
		width: 16px;
		height: 16px;
		left: 24px;
		top: 50%;
		transform: translateY(-50%);
		::ng-deep {
			.cross-path {
				fill: $msl_base_green;
			}
		}
	}
}

@media screen and (max-width: 1366px) {
	.hamburger-menu-container {
		top: 53px;
	}
}

@media screen and (max-width: 1140px) {
	.hamburger-menu-container {
		width: 300px;
	}
	.hamburger-menu {
		&__item {
			margin-bottom: 5px;
		}
	}
	.lang-switcher {
		&__radio {
			width: 14px;
			height: 14px;
		}
		&__title {
			font-size: 18px;
		}
	}

	.change-password, .cancel-last {
		font-size: 18px;
	}
}

@media screen and (max-width: 854px) {
	.lang-switcher {
		padding: 0 5px;
	}
	.hamburger-menu {
		margin: 5px 10px;
		&__item, &__text {
			font-size: 18px;
		}
	}
	.lang-switcher__lang {
		margin: 5px;
	}
}

@media screen and (max-width: 480px) {
	.hamburger-menu-container {
		top: 0;
		left: -12px;
	}
	.hamburger-close {
		display: block;
	}
	.hamburger-menu-container {
		max-width: 380px;
		width: 100%;
	}

	.hamburger-menu {
		&__item {
			font-size: 24px;
			margin-bottom: 15px;
		}
		&__text {
			font-size: 24px;
		}
	}
	.lang-switcher {
		&__lang {
			margin: 15px 5px;
		}
		&__radio {
			width: 20px;
			height: 20px;
		}
		&__title {
			font-size: 24px;
		}
	}

	.change-password {
		font-size: 24px;
	}
}

@media screen and (max-width: 360px) {
	.hamburger-menu-container {
		top: 0;
		left: -12px;
	}
	.hamburger-close {
		display: block;
	}

	.hamburger-menu-container {
		max-width: 300px;
	}

	.hamburger-menu {
		&__item {
			font-size: 18px;
			margin-bottom: 8px;
		}
		&__text {
			font-size: 18px;
		}
	}
	.lang-switcher {
		&__lang {
			margin: 5px;
		}
		&__radio {
			width: 14px;
			height: 14px;
		}
		&__title {
			font-size: 18px;
		}
	}

	.change-password {
		font-size: 18px;
	}
}
