@import 'variables';

.alert-icon-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	position: relative;

	width: 46px;
	height: 46px;

	border-radius: 100%;

	&.alert {
		.aic-content {
			::ng-deep {
				svg {
					path {
						fill: $msl_placeholder_text_color;
					}
				}
			}
		}
	}
}

.aic-normal {
	width: 12px;
	height: 12px;

	position: absolute;
	top: 2px;
	right: 4px;

	pointer-events: none;
	border-radius: 100%;
	box-shadow: 0 0 0 1px #fff;
	background-color: $msl_base_green;
}

.aic-alert, .aic-warning {
	position: absolute;
	top: 0;
	right: 0;

	pointer-events: none;
	animation: blinker 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;
}

.aic-content {
	padding-top: 5px;

	::ng-deep {
		svg {
			path {
				fill: $msl_main_text_color;
			}
		}
	}
}

.aic-status-panel {
	position: absolute;
	top: 2px;
	left: 50px;

	display: flex;
	flex-direction: row;
	align-items: center;

	height: 40px;
	width: max-content;
	padding: 0 20px;

	border-radius: 8px;
	background: #fff;

	z-index: 60;

	label {
		font-family: $roboto_regular;
		font-size: 18px;
		color: $msl_main_text_color;
	}
}
