<div class="bets-list" data-cy="bets-list">
	<!-- СООБЩЕНИЕ О ВЫБОРЕ СТАВОК -->
	<div
		class="kc-register-msg blinking-inv"
		[class.kc-register-msg_hidden]="kareBetsData?.bets.length > 0"
		data-cy="kc-register-msg"
		[innerHTML]="'lottery.kare.to_register' | translate"
		>
	</div>

	<!-- СЧЕТЧИК СТАВОК -->
	<div *ngIf="kareBetsData?.bets.length > 0"
		 class="bets-header"
		 data-cy="bets-header"
	>
		{{ 'lottery.kare.bets_added' | translate }}:
		<span class="kc-bets-header__q" data-cy="kc-bets-header-q">{{ kareBetsData?.bets.length }}</span>
	</div>

	<!-- ОТОБРАЖЕНИЕ СТАВОК -->
	<div *ngIf="kareBetsData?.bets.length > 0" class="kc-bets webalt-scroll" data-cy="kc-bets">
		<!-- СПИСОК СТАВОК -->
		<div class="kc-bet"
			 data-cy="kc-bet"
			 *ngFor="let bet of kareBetsData?.bets; trackBy: trackByBets; let i = index"
		>
			<div class="kc-bet-button"
				 data-cy="kc-bet-button"
				 (click)="onBetClickHandler(i)"
			>
				<ng-container [ngSwitch]="bet.t">
					<app-kare-bet-list-item-one
						class="bet-list-item bet-list-item_one"
						data-cy="bet-list-item"
						[bet]="bet"
						*ngSwitchCase="KareGameType.Table1_Cards"
						>
					</app-kare-bet-list-item-one>

					<app-kare-bet-list-item-two
						class="bet-list-item bet-list-item_two"
						data-cy="bet-list-item"
						[bet]="bet"
						*ngSwitchCase="KareGameType.Table2_Poker"
						>
					</app-kare-bet-list-item-two>
				</ng-container>
			</div>

			<!-- КНОПКА УДАЛИТЬ -->
			<div
				class="kc-bet-delete"
				data-cy="kc-bet-delete"
				(click)="onRemoveBetClickHandler(i)"
				>
			</div>
		</div>
	</div>
</div>
