@import 'variables';
@import 'mixins';

.kc-register-msg {
	height: 348px;
	padding-top: 50px;
	padding-left: 3px;
	padding-right: 3px;

	color: $msl_base_green;
	font-size: 36px;
	font-family: $roboto_regular;
	text-align: center;

	opacity: 0;
	-webkit-animation: blinker-inv 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;
	animation: blinker-inv 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;

	&_hidden {
		visibility: hidden;
		height: 0;
		overflow: hidden;
		padding: 0;
	}
}

.kc-bets {
	display: block;
	height: 100%;
	overflow-y: scroll;
	&::-webkit-scrollbar-track {
		margin: 0;
	}
}

.kc-bet {
	display: flex;
	flex-flow: row;
	align-items: center;
	& + & {
		margin-top: 10px;
	}
}

.kc-bet-button {

	width: calc(100% - 40px);
	min-height: 60px;

	margin-right: 8px;
	padding: 5px;

	border: 2px solid $msl_base_green;
	border-radius: 8px;

	@include radial_bg($color: #D8F4F4);
}

.kc-bet-delete {
	width: 24px;
	height: 24px;

	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	font-size: 30px;
	color: white;

	background-color: #df5050;
	border-radius: 50%;
	cursor: pointer;

	@include cross_mark();
}

.bets-list {
	display: grid;
	grid-template-rows: auto auto minmax(0, 1fr);
	height: 100%;
}

.bets-header {
	padding-bottom: 15px;
}

@media screen and (max-width: 1919px) {
	.kc-bets {
		&::-webkit-scrollbar {
			width: 10px;
		}
	}
	.bets-header {
		padding-bottom: 5px;
	}
}

@media screen and (max-width: 1365px) {
	.kc-register-msg {
		font-size: 30px;
	}
	.bet-list-item {
		display: block;
		width: 100%;
	}
	.kc-bet-button {
		display: flex;
		align-items: center;
	}
	.kc-bet-delete {
		width: 16px;
		height: 16px;
		&:before {
			width: 12px;
		}
		&:after {
			height: 12px;
		}
	}
}

//@media screen and (max-width: 1024px) {
//	.kc-register-msg {
//		font-size: 30px;
//		padding-left: 7px;
//		padding-right: 7px;
//		height: 100%;
//		&_hidden {
//			height: 0;
//		}
//	}
//}

@media screen and (max-width: 1139px) {
	.kc-register-msg {
		height: auto;
		padding-top: 0;
		font-size: 18px;
		&_hidden {
			height: 0;
		}
	}
}

@media screen and (max-width: 853px) {
	.kc-register-msg {
		max-width: 464px;
		margin: 0 auto;
		font-size: 24px;
		padding-top: 0;
		&_hidden {
			height: 0;
		}
	}
	.kc-bet {
		justify-content: center;
	}
	.kc-bet-button {
		max-width: 464px;
		width: 100%;
		margin-left: 32px;
	}
	.kc-bets {
		::ng-deep {
			.custom-scrollbar_scroll {
				overflow-y: hidden;
			}
		}
	}
	.kc-bet-delete {
		width: 24px;
		height: 24px;
	}
}

@media screen and (max-width: 839px) {
	.kc-register-msg {
		font-size: 20px;
		max-width: 400px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.kc-bet-button {
		max-width: 400px;
	}
}

@media screen and (max-width: 639px) {
	.kc-register-msg {
		max-width: 328px;
		margin: 0 auto;
		font-size: 18px;
		height: auto;
		padding: 0;

		&_hidden {
			height: 0;
		}
	}

	.kc-bet-button {
		border-radius: 4px;
		width: 100%;
		max-width: 328px;
		min-height: 44px;
		border-width: 1px;
	}
	.kc-bet-delete {
		width: 16px;
		height: 16px;
	}
	.kc-bets {
		&::-webkit-scrollbar {
			width: 10px;
		}
	}
	.kc-bet {
		padding-left: 3px;
		padding-right: 10px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 479px) {
	.kc-register-msg {
		max-width: 272px;
		font-size: 12px;
		padding: 0 35px;
	}
	.kc-bet {
		padding: 0 0 0 30px;

	}
	.bets-header {
		font-size: 16px;
	}
	.kc-bet-button {
		margin: 0 4px 0 0;
		max-width: 272px;
	}
}
