@import 'variables';

:host {
	border-radius: 8px;
}

.input-tmlbml-container {
	display: grid;
	grid-template-rows: minmax(0, 1fr) auto;
	height: 100%;
	position: relative;
}


@media screen and (max-width: 1365px) {
	.bml-list {
		max-width: 816px;
		width: 100%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1139px) {
	.bml-list {
		overflow-y: auto;
		height: 100%;
	}
}

@media screen and (max-width: 479px) {
	.bml-list {
		margin-top: -5px;
	}
}
