<div class="input-tmlbml-container"
	 data-cy="input-tmlbml-container"
>
	<!-- СПИСОК -->
	<app-tml-bml-list class="bml-list"
					  data-cy="bml-list"
					  #tmlBmlList
	></app-tml-bml-list>

	<!-- ПАНЕЛЬ ВВОДА -->
	<app-two-step-panel class="two-step-panel"
						data-cy="two-step-panel"
		(barcodeEntered)="onEnteredBarcodeHandler($event)"
		(changedCameraState)="onChangeCameraState($event)"
		>
	</app-two-step-panel>
</div>
