<div class="check-info-header">
	<!-- ЛОГОТИП ИГРЫ -->
	<app-msl-game-logo
		[gameCode]="gameCode"
		[groupCode]="groupId"
		>
	</app-msl-game-logo>
</div>

<div class="check-info-content"
	 [class.check-info-content_alt]="noSMSCheck"
	 [ngClass]="'group-' + groupId"
>
	<div class="ci-summary">
		<div class="check-info-grid" [class.check-info-grid_no-sms]="noSMSCheck"
			 [ngClass]="'check-info-grid_game-code_' + gameCode">

			<!-- КОНТЕЙНЕР С ДАННЫМИ О РЕГИСТРАЦИИ -->
			<div class="ci-data-container">
				<div class="ci-data-rows-list">
					<ng-container *ngFor="let row of checkInfoRowList; trackBy: trackByFn">
						<div class="ci-data-name"
							 [class.ci-data-name_other]="row.langKeyName && row.langKeyName !== 'lottery.lottery'"
							 [class.transparent]="!row.langKeyName"
							 data-cy="ci-data-name"
						>
							{{ row.langKeyName | translate }}:
						</div>
						<div class="ci-data-value"
							 [class.ci-data-value_other]="row.langKeyName && row.langKeyName !== 'lottery.lottery'"
							 [class.ci-text-red]="row.redColor"
							 [class.ci-striked]="(row.langKeyName === 'lottery.sum') && useFortunals"
							 data-cy="ci-data-value"
						>
							{{ row.valueIsCurrency ? (row.value | mslCurrency) : (row.value | translate) }}
							{{ row.valueSuffixLangKey ? ' (' + (row.valueSuffixLangKey | translate) + ')' : '' }}
							{{ row.valueIsCurrency ? ('lottery.uah' | translate | lowercase) : '' }}
						</div>
					</ng-container>
				</div>
			</div>

			<form class="ci-data-verification"
				  *ngIf="!noSMSCheck"
				  action="" [formGroup]="form"
				  (ngSubmit)="onClickActionButtonHandler()"
			>
				<!-- Номер телефона -->
				<app-masked-input
					#userTel
					id="phone_number"
					class="ci-phone-number"
					formControlName="playerPhone"
					[label]="'lottery.enter_player_phone' | translate"
					[mask]="phoneMask"
					[isDisabled]="regStep !== RegStep.Step1"
					[showValidMark]="false"
					(focused)="onUserTelFocused()"
				></app-masked-input>

				<!-- КНОПКА ОТПРАВКИ СМС -->
				<button *ngIf="!noSMSCheck && telFocused"
						type="button"
						class="button ci-button ci-button_sms ci-button_under"
						[attr.disabled]="form.controls['playerPhone'].invalid || null"
						[ngClass]="regStep === RegStep.Step1 ? GreenButtonStyle.green_fill : GreenButtonStyle.light_green_fill"
						(click)="onSendSMSHandler()"
				>{{ regStep === RegStep.Step1 ? ('lottery.send_sms' | translate) : ('lottery.repeat_sms' | translate) }}
				</button>

				<ng-container *ngIf="regStep === RegStep.Step2">
					<!-- СМС-код -->
					<div class="pin-title" [class.pin-title_error]="appStoreService.smsCodeError">
						{{ appStoreService.smsCodeError ? ('common.sms_code_error' | translate) : ('common.sms_code' | translate)  }}
					</div>
					<app-msl-input-pin
						#smsControl
						class="sms-code"
						formControlName="smsCode"
						[errorState]="appStoreService.smsCodeError"
						[showClearBtn]="true"
						[alwaysShowClearBtn]="true"
						(charsInput)="onPinCodeChange()"
					>
					</app-msl-input-pin>
				</ng-container>
			</form>

			<div class="user-loyalty-block" *ngIf="lotteryWithLoyaltyCard">
				<div class="user-loyalty-title">{{ 'other.loyalty_card' | translate }}</div>
				<div class="user-loyalty-frame user-loyalty-frame_{{ step }}"
					 [class.user-loyalty-frame_expanded]="spoilerExpanded"
				>
					<div class="preloader-wrapper" [class.hidden]="!isLoading">
						<div class="preloader"></div>
					</div>

					<div [class.hidden]="isLoading">
						<div *ngIf="errorText"
							 class="error"
							 [class.hidden]="!spoilerExpanded"
						>{{ errorText }}</div>
						<app-user-loyalty-auth #loyaltyAuth class="user-loyalty-auth"
											   [class.user-loyalty-auth_hidden]="step > 2"
											   [showScanVariant]="true"
											   [scannerActive]="false"
											   [showValidMark]="false"
											   [showSubmitButtons]="false"
											   [outerSpoilerExpanded]="spoilerExpanded"
											   (authResult)="onAuthResult($event)"
						></app-user-loyalty-auth>

						<div *ngIf="step > 2"
							 class="user-info"
							 [class.user-info_expanded]="spoilerExpanded"
						>
							<ng-container *ngIf="step === 3">
								<div *ngIf="canWithdraw === 0" class="bonus-info">
									{{ 'lottery.no-bonuses' | translate }}
								</div>

								<ng-container *ngIf="canWithdraw > 0">
									<div class="bonus-info">
										<b>{{ 'lottery.total-bonuses' | translate }}:</b>
										{{ totalBonuses | number:'1.2-2'}}
									</div>
									<div class="bonus-info">
										<b>{{ 'lottery.can-withdraw' | translate }}:</b>
										{{ canWithdraw | number:'1.2-2' }} ({{ canWithdrawMoney | number:'1.2-2' }} {{ 'lottery.uah' | translate | lowercase }})<ng-container *ngIf="canWithdraw >= verificationThreshold">&nbsp;<span class="bonus-verify">*</span></ng-container>
									</div>

									<div class="options-block-wrapper">
										<div class="options-block">
											<label class="bonus-option">
												<input type="radio"
													   name="fortunals"
													   class="radio-button radio-button-2 mr-10"
													   [value]="false"
													   [(ngModel)]="useFortunals"
													   (ngModelChange)="onApplyDiscount()"
												>
												<span class="bonus-option">
													{{ 'lottery.cancel-discount' | translate }}
												</span>
											</label>
											<label class="bonus-option">
												<input type="radio"
													   name="fortunals"
													   class="radio-button radio-button-2 mr-10"
													   [value]="true"
													   [(ngModel)]="useFortunals"
													   (ngModelChange)="onApplyDiscount()"
												>
												<span class="bonus-option__title">
													{{ 'lottery.apply-discount' | translate }}
												</span>
											</label>
										</div>
										<div *ngIf="canWithdraw >= verificationThreshold" class="bonus-warning">* {{ 'lottery.sms-ver-needed' | translate }} </div>
									</div>

									<div *ngIf="useFortunals" class="bonus-info sum-to-pay">
										<b>{{ 'lottery.sum-to-pay' | translate }}:</b> <span class="total-sum">{{ totalSum }} {{ 'lottery.uah' | translate | lowercase }}</span>
									</div>

									<div class="bonus-info bonus-info_bottom">
										{{ 'lottery.will-add' | translate:{X: willAddBonuses | number:'1.2-2'} }}
									</div>
								</ng-container>
							</ng-container>

							<div [class.hidden]="step < 4">
								<div class="error" *ngIf="errorText">{{ errorText | translate }}</div>
								<app-user-loyalty-auth #loyaltyAuth2 class="user-loyalty-auth"
													   [showScanVariant]="false"
													   [showValidMark]="false"
													   [showSubmitButtons]="false"
													   [outerSpoilerExpanded]="spoilerExpanded"
													   (authResult)="onAuthResult2($event)"
								></app-user-loyalty-auth>
							</div>
						</div>
					</div>



				</div>
<!--				<button type="button"
						class="more-less-btn"
						[class.more-less-btn_expanded]="spoilerExpanded"
						(click)="onMoreLessClick()"
				></button>-->
			</div>
		</div>

		<!-- КОНТЕЙНЕР С КНОПКАМИ -->
		<div *ngIf="showButtons && !isLoading" class="ci-buttons">

			<ng-container *ngIf="!appStoreService.showBrowserPrint">
				<!-- ВТОРИЧНАЯ КНОПКА (НАЗАД) -->
				<button type="button"
						class="button button_theme_white ci-button ci-button_back"
						(click)="onClickBackButtonHandler()"
				>
					{{ 'header.back' | translate }}
				</button>

				<button *ngIf="!userInfo" type="button"
						class="button ci-button ci-button_reg-1"
						[ngClass]="lotteryWithLoyaltyCard ? 'button_theme_light-green' : 'button_theme_green'"
						(click)="onClickRegWithoutCard()"
				>
					{{  lotteryWithLoyaltyCard ? ('lottery.continue-without-card' | translate) : ('lottery.continue' | translate) }}
				</button>

				<!-- КНОПКА ОТПРАВКИ СМС -->
				<button *ngIf="!(noSMSCheck || this.telFocused)"
						type="button"
						class="button ci-button ci-button_sms"
						[ngClass]="regStep === RegStep.Step1 ? GreenButtonStyle.green_fill : GreenButtonStyle.light_green_fill"
						[attr.disabled]="form.controls['playerPhone'].invalid || null"
						(click)="onSendSMSHandler()"
				>{{ regStep === RegStep.Step1 ? ('lottery.send_sms' | translate) : ('lottery.repeat_sms' | translate) }}
				</button>

				<!-- КНОПКА РЕГИСТРАЦИИ -->
				<button *ngIf="(noSMSCheck || (regStep !== RegStep.Step1)) && lotteryWithLoyaltyCard"
						type="button"
						class="button button_theme_green ci-button ci-button_reg-2"
						[class.ci-button_reg]="isRegButtonEnabled()"
						[attr.disabled]="!isRegButtonEnabled() || null"
						data-cy="ci-button"
						(click)="onClickRegWithCard()"
				>
					{{ 'lottery.continue' | translate }}
				</button>
			</ng-container>

			<ng-container *ngIf="appStoreService.showBrowserPrint">
				<button type="button"
						class="button button_theme_light-green ci-button ci-button_main"
						(click)="onGoToMain()"
				>
					{{ 'lottery.to-main' | translate }}
				</button>

				<button type="button"
						class="button button_theme_green ci-button ci-button_print"
						data-cy="ci-button"
						(click)="onBrowserPrintHandler()"
				>
					{{ 'lottery.print-tickets' | translate }}
				</button>

			</ng-container>

		</div>

		<div *ngIf="latency > maxLatency" class="ping-warning">{{ 'communication.ping-warning' | translate:{X: latency} }}</div>

	</div>

</div>
