@import 'variables';
@import "mixins";

@keyframes blinking {
	0% {
		color: #FFFFFF;

	}

	50% {
		color: #009788;
	}

	100% {
		color: #FFFFFF;
	}
}

:host {
	display: block;
	height: 100%;
}

.preloader-wrapper {
	overflow: hidden;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&.hidden {
		display: none;
	}
}

.preloader {
	@include circle_arc(150px, 10px);
	margin-block: 20px;
}

.mr-10 {
	margin-inline-end: 10px;
}

.check-info-header {
	display: flex;
	align-items: center;
	padding: 5px;
	min-height: 90px;
	margin-left: 35px;
	top: 0;
	left: 0;

	&__logo {
		margin: 5px;
	}

	&__img {
		display: block;

		&_2 {
			height: 50px;
		}

		&_111 {
			height: 70px;
		}
	}

	&__title {
		margin: 5px;
		font-size: 24px;
		font-family: $roboto_medium;
		color: $msl_main_text_color;
	}
}

.check-info-content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.hidden {
	display: none;
}

.pin-title {
	font-size: 24px;
	color: $msl_main_text_color;
	text-align: center;
	margin-bottom: 10px;
	&_error {
		color: $msl_error;
	}
}
.sms-code {
	width: 380px;
	height: 56px;
	display: block;
	letter-spacing: 58px;
	margin: 0 auto;
}

.ci-striked {
	text-decoration: line-through;
}

.ci-phone-number {
	margin-block-end: 20px;
	display: block;
	margin-inline: auto;
	--masked-title-size: 16px;
	--masked-height: 50px;
	--masked-font-size: 24px;
	--masked-padding: 0 10px;
	--masked-align: center;
	--masked-width: 320px;
	width: max-content;
}

.ci-data-verification {
	justify-self: end;
	align-self: start;
}

.ci-data-label {
	margin-bottom: 8px;
	display: block;

	font-size: 24px;
	font-family: $roboto_regular;

	color: $msl_main_text_color;
}

.ci-data-container {
	display: flex;
	justify-content: flex-end;
	margin-block-end: 20px;
}

.ci-data-rows-list {
	display: grid;
	grid-template-columns: auto 400px;
	align-items: center;
	width: fit-content;
	grid-column-gap: 20px;
	column-gap: 20px;
}

.ci-data-name, .ci-data-value {
	font-size: 36px;
	color: $msl_main_text_color;
	padding-bottom: 5px;

	&.ci-text-red {
		color: $msl_error;
	}
}

.ci-data-name {
	font-family: $roboto_regular;
	&.transparent {
		color: transparent;
	}
}

.ci-data-value {
	font-family: $roboto_medium;
}

.ci-player-phone {
	position: relative;
}

.ci-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}
.check-info-grid {
	display: grid;
	grid-template-columns: auto auto;

	width: 100%;
	max-width: 820px;

	margin: 0 auto 20px auto;
	&_game-code_100 {
		grid-template-columns: 1fr;
	}
	&_no-sms {
		grid-template-columns: auto;
		//align-items: center;
		//grid-column-gap: 20px;
		//column-gap: 20px;
	}
}

.ci-button {
	height: 80px;
	font-size: 36px;
	margin: 0 10px;
	display: block;
	min-width: 300px;
	width: auto;
	padding: 0 20px;
	&_under {
		margin: 10px auto;
	}
	&_reg {
		animation: blinking 1s linear infinite;
	}
}

.ci-data-row {
	grid-column-start: 1;
	grid-column-end: 3;
	display: grid;
	grid-column-gap: 10px;
	column-gap: 10px;
	grid-template-columns: auto 1fr;
	&_other {
		margin-top: 5px;
	}
}

.user-loyalty-block {
	position: relative;
}

.user-loyalty-title {
	background: #FFFFFF;
	display: inline-block;
	position: absolute;
	top: -15px;
	left: 15px;
	padding: 0 5px;
	font-family: $roboto_medium;
	color: $msl_main_text_color;
	font-size: 24px;
}

.user-loyalty-frame {
	border: 1px solid $msl_base_green;
	border-radius: 10px;
	display: block;
	padding: 15px 10px;
	max-height: 15px;
	overflow: hidden;
	--inner-visibility: hidden;
	transition: max-height 0.3s ease 0s;
	&_expanded {
		max-height: 500px;
		--inner-visibility: visible;
	}
}

.user-loyalty-auth {
	display: block;
	--masked-width: auto;
	&_hidden {
		display: none;
	}
}

.user-info {
	visibility: hidden;
	text-align: center;
	padding: 10px;
	&_expanded {
		visibility: visible;
	}
}

.bonus-info {
	color: $msl_main_text_color;
	font-size: 20px;
	margin-block-end: 20px;
	text-wrap: balance;
	&_bottom {
		margin-block-end: 0;
	}
}

.apply-discount {
	font-size: 24px;
	padding: 5px;
	display: block;
	margin-inline: auto;
	width: auto;
	margin-block-end: 10px;
}

.bonus-warning {
	color: #df5050;
	font-size: 14px;
	text-align: left;
	padding-block-start: 5px;
}

.more-less-btn {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid $msl_base_green;
	background: #FFFFFF;
	margin-inline: auto;
	display: block;
	margin-block-start: -15px;
	cursor: pointer;
	position: relative;
	&:before, &:after {
		display: block;
		content: '';
		width: 10px;
		height: 10px;
		border-left: 1px solid $msl_base_green;
		border-bottom: 1px solid $msl_base_green;
		transform: translate(-50%) rotate(-45deg);
		position: absolute;
		left: 50%;
	}
	&:before {
		top: 4px;
	}
	&:after {
		top: 11px;
	}
	&_expanded {
		transform: rotate(180deg);
	}
}

.msl-input-pin {
	max-width: 280px;
	width: 100%;
	margin-inline: auto;
	height: auto;
	margin-block-end: 20px;
	letter-spacing: 36px;
	font-size: 24px;
	--title-font-size: 18px;
	--pin-input-height: 40px;
}

.v-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.b-cancel, .b-apply {
	max-width: 200px;
	font-size: 24px;
	height: 40px;
	margin-inline: 10px;
}

.error {
	text-align: center;
	color: $msl_error;
	margin-bottom: 10px;
}

.options-block-wrapper {
	margin-block-end: 20px;
}

.options-block {
	border-top: 1px solid #A9A9A9;
	border-bottom: 1px solid #A9A9A9;
	display: grid;
	justify-content: center;
	grid-row-gap: 10px;
	row-gap: 10px;
	padding-block: 10px;
}

.radio-button-2 {
	flex-shrink: 0;
}

.bonus-option {
	display: flex;
	align-items: center;
	text-align: left;
	font-size: 20px;
	color: $msl_main_text_color;
	cursor: pointer;
	margin-block: 5px;
	flex-grow: 0;

	&__title {
		flex-grow: 1;
	}
}

.total-sum {
	font-size: 36px;
	margin-inline-start: 5px;
	color: #df5050;
	font-family: $roboto_medium;
}

.ci-summary {
	width: 100%;
}

.tickets-print-container {
	display: none;
}

.ping-warning {
	text-align: center;
	margin-block: 15px;
	color: #cfa700;
}

@media screen and (max-width: 1365px) {
	.ci-button {
		font-size: 24px;
		height: 60px;
	}
}

@media screen and (max-width: 1139px) {
	.check-info-header {
		min-height: auto;
		margin-bottom: 0;
		margin-left: 0;
	}
	.check-info-grid {
		margin: 0 auto 10px auto;
		max-width: 470px;
	}
	.ci-data-name, .ci-data-value {
		font-size: 18px;
	}
	//.ci-data-rows-list {
	//	grid-template: auto / 2fr 1fr;
	//}

	.pin-title {
		font-size: 16px;
		margin-bottom: 5px;
		&_error {
			margin-left: -30px;
			margin-right: -30px;
		}
	}

	.sms-code {
		width: 240px;
		letter-spacing: 30px;
		font-size: 18px;
		height: 44px;
		margin-top: 10px;
	}

	.ci-button {
		min-width: 200px;
		width: auto;
		max-width: 300px;
		height: 60px;
		font-size: 18px;
		margin: 0 5px;
		//&_under {
		//	display: block;
		//	max-width: 240px;
		//	margin: 0 auto;
		//}
	}
	.ci-data-verification {
		margin-top: -25px;
	}
	.ci-data-row {
		grid-column-start: 1;
		grid-column-end: 3;
		display: grid;
		grid-column-gap: 10px;
		column-gap: 10px;
		grid-template-columns: auto 1fr;
	}
	.ci-data-rows-list {
		grid-template-columns: auto 220px;
		grid-column-gap: 30px;
		column-gap: 30px;
	}

	.user-loyalty-title {
		font-size: 18px;
		top: -10px;
	}

	.bonus-info, .bonus-option {
		font-size: 16px;
	}

	.total-sum {
		font-size: 18px;
	}
}

@media screen and (max-width: 960px) {
	.ci-button {
		min-width: 130px;
		height: 44px;
	}
}

@media screen and (max-width: 639px) {
	.ci-buttons {
		flex-wrap: wrap;
		width: 100%;
	}
	.ci-button {
		min-width: auto;
		width: 100%;
		max-width: none;
		&_reg-2 {
			order: 1;
			margin-block-end: 10px;
		}
		&_reg-1 {
			order: 2;
			margin-block-end: 10px;
		}
		&_back {
			order: 3;
		}
	}

	.ci-phone-number {
		width: 100%;
		margin-block-end: 10px;
		margin-inline: auto;
		--masked-title-size: 16px;
		--masked-height: 50px;
		--masked-font-size: 18px;
		--masked-padding: 0 10px;
		--masked-align: center;
		--masked-width: 100%;
	}

	.user-loyalty-frame {
		&_1 {
			padding: 10px 15px 15px 15px;
		}
	}

	.preloader {
		@include circle_arc(100px, 8px);
		margin-block: 10px;
	}

	.msl-input-pin {
		margin-block-end: 10px;
	}
}

@media screen and (max-width: 479px) {
	.check-info-content {
		padding: 10px 0;
	}
	.check-info-grid {
		display: block;
		padding: 0 8px;
	}
	.ci-data-verification {
		margin-top: 25px;
	}


	.sms-code {
		margin-bottom: 8px;
	}
	.ci-data-row {
		grid-column-start: 1;
		grid-column-end: 3;
		display: grid;
		grid-column-gap: 10px;
		column-gap: 10px;
		grid-template-columns: auto 1fr;
	}
	.ci-data-rows-list {
		margin: 0 auto;
		grid-template-columns: auto 1fr;
	}

	.bonus-info {
		font-size: 16px;
		margin-block-end: 10px;
	}

	.apply-discount {
		font-size: 20px;
	}



}

@media screen and (max-width: 360px) {
	.check-info-content {
		align-items: flex-start;
	}
	.options-block-wrapper {
		margin-block-end: 10px;
	}
	.bonus-info_bottom {
		margin-block-end: 0;
	}

	.options-block {
		grid-row-gap: 5px;
		row-gap: 5px;
	}

	.check-info-grid {
		// Когда будет карта лояльности - убрать
		margin-top: 40px;
	}
}
