<h2 class="title">{{ 'other.active-challenge' | translate }}</h2>

<div class="challenge">
	Придбати білети ЕМЛ на суму не менше ніж 500 грн до 15.12.2023 і отримати фіксований бонус N Фортуналів
</div>

<div class="challenge-item">
	<b>Дата початку:</b> 01.04.2024
</div>

<div class="challenge-item">
	<b>Дата закінчення:</b> 05.04.2024
</div>

<div class="challenge-item">
	<b>Дата закінчення:</b> 05.04.2024
</div>

<div class="challenge-item">
	<b>Загальна сума реалізації для завершення челенджу:</b> 1000 грн
</div>

<div class="challenge-item">
	<b>Кількість Фортуналів, що нараховується при виконанні челенджу:</b> 100
</div>

<div class="challenge-item">
	<b>Сума реалізації, що залишилась учаснику до виконання умов:</b> 500
</div>

<div class="challenge-item">
	<b>Побажання:</b> желаем побольше играть, чтоб побольше выиграть!
</div>

<div class="challenge-item">
	<h3 class="title-2">Распространяется на лотереи</h3>
	<table class="lotteries">
		<tr>
			<th>Лотерея</th>
			<th>Тип лотереи</th>
		</tr>
		<tr>
			<td>Лото-забава</td>
			<td>Обычная</td>
		</tr>
		<tr>
			<td>Мегалот</td>
			<td>Обычная</td>
		</tr>
		<tr>
			<td>Швидкограй</td>
			<td>ЭМЛ</td>
		</tr>
		<tr>
			<td>Гонка на деньги</td>
			<td>Обычная</td>
		</tr>
		<tr>
			<td>Стирачки</td>
			<td>БМЛ</td>
		</tr>
		<tr>
			<td>Спортпрогноз</td>
			<td>Обычная</td>
		</tr>
		<tr>
			<td>Каре</td>
			<td>Обычная</td>
		</tr>
	</table>
</div>
