@import "variables";

:host {
	padding: 10px;
	display: block;
}

.title {
	text-align: center;
	color: $msl_main_text_color;
	font-size: 24px;
	margin-block: 10px;
	font-family: $roboto_bold;
	margin-top: 0;
}

.title-2 {
	text-align: center;
	color: $msl_main_text_color;
	font-size: 18px;
	margin-block: 10px;
	font-family: $roboto_bold;
	margin-top: 0;
}

.challenge {
	background: #d8edfd;
	font-style: italic;
	font-size: 16px;
	color: #000000;
	padding: 15px;
	font-family: $roboto_light;
	margin-block-end: 10px;
}

.challenge-item {
	margin-block: 10px;
	color: $msl_main_text_color;
}

b {
	color: $msl_main_text_color;
}

.lotteries, tr, th, td {
	color: $msl_main_text_color;
}

.lotteries {
	width: 100%;
	tr {
		text-align: left;
	}
	tr:nth-of-type(even) {
		background: #ffffe8;
	}
	th, td {
		padding: 10px;
	}
}

@media screen and (max-width: 1139px) {
	.title {
		font-size: 18px;
	}
	.challenge, .challenge-item {
		font-size: 14px;
	}
}
