@import "variables";

.modal-dialog-container {

	// TODO: инфо кнопка пока используется только для выключения
	// переделать, если потребуется красить в стандартный зеленый цвет
	&.info {
		.modal-alt-title {
			color: $msl_turn_off_terminal_color;
		}
	}

	.modal-buttons-container {
		flex-direction: row;

		:nth-child(odd) {
			margin-right: 10px;
		}

		:nth-child(even) {
			margin-left: 10px;
		}


		&.buttons-vertical {
			flex-direction: column-reverse;
			:nth-child(odd) {
				margin-right: 0;
			}

			:nth-child(even) {
				margin-left: 0;
				margin-bottom: 20px;
			}

		}
	}
}

.button {
	font-size: 36px;
}

@media screen and (max-width: 1365px) {
	.button {
		font-size: 24px;
	}

	.modal-alt-message, .modal-alt-extra-message, .modal-alt-extra, .modal-alt-code {
		font-size: 18px;
	}
}

@media screen and (max-width: 639px) {
	.modal-alt-title {
		font-size: 18px;
		font-family: $roboto_bold;
	}

	.modal-alt-message, .modal-alt-extra-message, .modal-alt-extra, .modal-alt-code {
		font-size: 14px;
		font-family: $roboto_regular;
	}

	.button {
		font-size: 16px;
	}
}
