@import 'variables';

.print-button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}

.rnc-print-button {
	width: 300px;
	height: 80px;
	font-size: var(--button-size, 36px);
}

.rnc-icon-and-text {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	i {
		font-size: 44px;
		margin-right: 10px;
	}

	label {
		font-family: $roboto_medium;
	}
}

.pbc-page-count {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding-right: 30px;

	&__btn {
		height: 78px;
		width: 80px;
		font-family: $roboto_regular;
		font-size: 50px;
		font-weight: bold;
		color: #009788;
		text-align: center;
		background: radial-gradient(white, white, rgba(0, 151, 136, 0.2));
		border: 2px solid $msl_base_green;
		border-radius: 6px;

		i {
			font-size: 72px;
		}

		&[disabled] {
			background: $color_of_disabled_button;
			border: 2px solid $color_of_disabled_button;

			i {
				color: $msl_placeholder_text_color;
			}
		}
	}
}

.pbc-page-count-lbl {
	margin-right: 16px;

	color: $msl_main_text_color;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.pbc-page-label {
	margin: 0 24px;

	font-family: $roboto_regular;
	font-size: 46px;
	font-weight: bold;
	color: $msl_base_green;

	&.disabled {
		color: $msl_placeholder_text_color;
	}
}

@media screen and (max-width: 1365px) {
	.rnc-print-button {
		width: 220px;
		height: 60px;
		font-size: var(--button-size, 24px);
	}
	.pbc-page-count {
		&__btn {
			height: 60px;
			width: 63px;
			i {
				font-size: 50px;
			}
		}
	}
	.pbc-page-label {
		font-size: 36px;
	}
}

@media screen and (max-width: 1139px) {
	.rnc-print-button {
		width: 180px;
		height: 44px;
		font-size: var(--button-size, 18px);
	}
	.pbc-page-count {
		&__btn {
			height: 44px;
			width: 44px;
			line-height: 44px;
			i {
				font-size: 40px;
			}
		}
	}
	.pbc-page-label {
		font-size: 24px;
	}
	.pbc-page-count-lbl {
		font-size: 14px;
	}
}

@media screen and (max-width: 839px) {
	.pbc-page-count {
		padding-right: 10px;
	}
	.pbc-page-label {
		margin: 0 10px;
	}
	.rnc-print-button {
		width: 100px;
	}
	.pbc-page-count-lbl {
		margin-right: 10px;
	}
}

@media screen and (max-width: 479px) {
	.pbc-page-count {
		padding-right: 5px;
	}
	.pbc-page-label {
		margin: 0 5px;
	}

	.pbc-page-count-lbl {
		margin-right: 5px;
	}
}
