@import "variables";

.common-title {
	font-family: $roboto_medium;
	font-size: 36px;
	color: $msl_main_text_color;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 25px;
}

.lottery-container {
	height: 100%;
	padding: 20px 0 30px 0;
	position: relative;
	&.registry {
		position: static;
	}
}

.lott-grid {
	display: grid;
	grid-template: auto auto / 540px 600px;
	grid-gap: 30px 10px;
	gap: 30px 10px;
	justify-content: space-between;
	margin-left: 20%;
	height: 100%;
}

.rb-cell {
	display: grid;
	grid-template-rows: auto auto;
	align-content: space-between;
	grid-row-gap: 30px;
	row-gap: 30px;
}

.logo-in-lottery {
	display: block;
	position: absolute;
	left: 0;
	top: 20px;
}

.bet-settings {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-row-gap: 30px;
	row-gap: 30px;
}

.mega-items {
	text-align: right;
	font-size: 24px;
}

.mega-item {
	margin: 20px 0;

	&__lbl, &__val {
		font-family: $roboto_medium;
		font-size: 36px;
	}

	&__lbl {
		color: $msl_main_text_color;
		text-transform: uppercase;
	}

	&__val {
		color: $msl_base_green;

	}
}

.goto-results {
	display: block;
	height: 80px;
	font-size: 30px;
}

.register-bet-button {
	height: 80px;
	display: block;
}

@media screen and (max-width: 1919px) {
	.lott-grid {
		grid-template: auto auto / 500px 560px;
		margin-left: 16%;
	}
	.mega-item {
		&__lbl, &__val {
			font-size: 30px;
		}
	}
	.common-title {
		font-size: 30px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 1599px) {
	.lottery-container {
		padding: 12px 0;
	}
	.logo-in-lottery {
		top: 12px;
	}
	.lott-grid {
		grid-template: auto auto / 468px 468px;
		margin-left: 150px;
	}

	.mega-item {
		margin: 20px 0;

		&__lbl, &__val {
			font-size: 24px;
		}
	}
	.common-title {
		font-size: 24px;
		margin-bottom: 10px;
	}
	.goto-results {
		height: 66px;
		font-family: $roboto_bold;
		font-size: 24px;
	}
}

@media screen and (max-width: 1365px) {
	.lott-grid {
		grid-template: auto auto / 468px 400px;
		margin-left: 10%;
	}
	.goto-results {
		height: 60px;
		font-family: $roboto_regular;
	}
	.register-bet-button {
		height: 60px;
	}
}

@media screen and (max-width: 1139px) {
	.lott-grid {
		margin-left: 5%;
	}

	.mega-item {
		margin: 18px 0;
	}
}

@media screen and (max-width: 1023px) {
	.lott-grid {
		margin-left: 0;
		grid-template: auto auto / 440px 370px;
	}

	.mega-item {
		margin: 16px 0;
		&__lbl, &__val {
			font-size: 20px;
		}
	}
}

@media screen and (max-width: 959px) {
	.logo-in-lottery {
		left: 0;
		top: 10px;
	}
	.lottery-container {
		padding: 10px 0;
	}
	.lott-grid {
		grid-template: auto auto / 320px 320px;
		margin-right: 0;
		margin-left: 130px;
		grid-gap: 10px;
		gap: 10px;
	}
	.mega-item {
		margin: 5px 0;

		&__lbl, &__val {
			font-size: 18px;
		}
	}

	.common-title {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.goto-results {
		height: 44px;
		font-size: 18px;
		font-weight: normal;
		font-family: $roboto_medium;
	}
	.register-bet-button {
		height: 44px;
	}

	.bet-settings {
		grid-row-gap: 20px;
		row-gap: 20px;
	}
}

@media screen and (max-width: 853px) {
	.common-title {
		font-size: 24px;
	}
	.register-bet-button {
		max-width: 640px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		height: 60px;
	}
	.logo-in-lottery {
		left: 10px;
	}
	.lottery-container {
		padding: 10px;
	}
	.goto-results {
		width: 464px;
		height: 60px;
		font-size: 24px;
	}
	.mega-item {
		&__lbl, &__val {
			font-size: 24px;
		}
	}
	.draws-buttons {
		margin-left: -8px;
		margin-right: -8px;
		overflow: hidden;
		height: 70px;
	}
	.register-bet-button {
		max-width: 464px;
	}
}

@media screen and (max-width: 839px) {
	.common-title {
		font-size: 20px;
	}
	.goto-results {
		width: 300px;
		height: 44px;
		font-size: 18px;
	}
	.mega-item {
		margin: 0;
		&__lbl, &__val {
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 639px) {
	.register-bet-button {
		height: 44px;
	}
	.goto-results {
		width: 240px;
		font-size: 16px;
		height: 44px;
		margin-bottom: 6px;
	}
	.lottery-container {
		padding: 8px;
	}

	.common-title {
		font-size: 16px;
		margin-bottom: 8px;
		font-family: $roboto_regular;
	}
	.draws-buttons {
		margin-left: -8px;
		margin-right: -8px;
		overflow: hidden;
		height: 60px;
	}
	.logo-in-lottery {
		left: 8px;
		top: 8px;
	}
	.mega-items {
		font-size: 11px;
		margin-bottom: 12px;
	}
	.mega-item {
		&__lbl, &__val {
			font-size: 14px;
		}
	}
}


//@media screen and (max-width: 420px) {
//	.goto-results {
//		width: 200px;
//		font-size: 13px;
//	}
//}

@media screen and (max-width: 479px) {
	.goto-results {
		width: 200px;
		font-size: 11px;
		height: 32px;
		border-radius: 4px;
		border-width: 1px;
		margin-bottom: 0;
	}
	.lottery-container {
		padding: 8px;
	}

	.common-title {
		font-size: 15px;
		margin-bottom: 8px;
		font-family: $roboto_regular;
	}
	.draws-buttons {
		margin-left: -8px;
		margin-right: -8px;
		overflow: hidden;
		height: 44px;
	}
	.logo-in-lottery {
		left: 8px;
		top: 8px;
	}
}
