@import 'variables';

:host {
	position: relative;
}

.actions-container {
	position: absolute;
	top: 0;
	left: 40px;
	right: 40px;
	bottom: 30px;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-row-gap: 10px;
	row-gap: 10px;
}

.ac-banners {
	display: flex;
	flex-direction: column;
}

.ac-actions {
	display: grid;
	grid-template-rows: auto 1fr;
	padding-bottom: 10px;
}

.ac-actions-title {
	font-size: 30px;
	font-family: $roboto_medium;

	color: $msl_main_text_color;
	text-align: center;

	padding: 10px 0 10px 28%;
}

.ac-actions-items {
	display: grid;
	grid-template-columns: auto;
	align-content: space-between;
	grid-row-gap: 5px;
	row-gap: 5px;
	font-size: 30px;
}

@media screen and (max-width: 1600px) {
	.actions-container {
		left: 10px;
		right: 10px;
		bottom: 0;
	}

	.ac-actions {
		font-family: $roboto_bold;
		font-size: 24px;
	}
}
