<div class="actions-container">

	<!-- БАНЕРЫ -->
	<div class="ac-banners">
		<ng-container *ngFor="let banner of (actionsService.actionsSettings$$ | async)?.bannersList; trackBy: trackByFn">
			<app-action-banner-row
				[actionBanners]="banner"
				>
			</app-action-banner-row>
		</ng-container>
	</div>

	<!-- СПИСОК АКЦИЙ -->
	<div class="ac-actions">
		<div class="ac-actions-title">
			{{ 'actions.recommended' | translate }}
		</div>

		<div class="ac-actions-items">
			<ng-container *ngFor="let action of (actionsService.actionsSettings$$ | async)?.actionsList; trackBy: trackByFn">
				<app-action-item
					class="ac-item"
					[action]="action"
					>
				</app-action-item>
			</ng-container>
		</div>
	</div>

</div>

