@import 'variables';

.game-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	&__left {
		display: flex;
		align-items: center;
		margin-right: 12px;
	}
	&__image {
		width: auto;
		max-height: 32px;
		&_game-code {
			&_3 {
				width: 32px;
				max-height: 40px;
			}
			&_13 {
				max-height: 40px;
				margin-right: 8px;
			}
			&_100 {
				max-height: 24px;
				margin-right: 0;
			}
			&_52 {
				max-height: 31px;
			}
		}
	}
	&__title {
		font-family: $roboto_medium;
		color: $msl_main_text_color;
		font-size: 12px;
	}

	&.demo-list {
		display: block;
		.mgl-left {
			display: flex;
			align-items: center;
			height: 140px;
			margin-bottom: 10px;
		}
		.demo-logo {
			max-width: 100%;
			display: block;
			margin: 0 auto;
			max-height: 100%;

			&.game-code-52 {
				height: 120px;
			}
		}
	}
}

@media screen and (min-width: 480px) {
	.game-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		&__left {
			display: flex;
			align-items: center;
			margin-right: 12px;
		}
		&__image {
			width: auto;
			max-height: 32px;
			&_game-code {
				&_3 {
					width: 32px;
					max-height: 40px;
				}
				&_13 {
					max-height: 40px;
					margin-right: 8px;
				}
				&_100 {
					max-height: 32px;
					margin-right: 0;
				}
			}
		}
		&__title {
			font-family: $roboto_medium;
			color: $msl_main_text_color;
			font-size: 18px;
		}
	}
}

@media screen and (min-width: 640px) {
	.game-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		&__left {
			display: flex;
			align-items: center;
			margin-right: 8px;
		}
		&__image {
			width: auto;
			max-height: 66px;
			&_game-code {
				&_3 {
					width: 40px;
					max-height: 40px;
				}
				&_13 {
					max-height: 40px;
					margin-right: 8px;
				}
				&_0 {
					max-height: 36px;
				}
				&_100 {
					max-height: 55px;
					margin-right: 12px;
				}
				&_52 {
					max-height: 44px;
				}
			}
		}
		&__title {
			font-family: $roboto_medium;
			color: $msl_main_text_color;
			font-size: 18px;
		}

		&.demo-list {
			display: block;
			.mgl-left {
				display: flex;
				align-items: center;
				height: 140px;
				margin-bottom: 10px;
			}
			.demo-logo {
				max-width: 100%;
				display: block;
				margin: 0 auto;
				max-height: 100%;

				&.game-code-52 {
					height: 120px;
				}
			}
		}
	}
}

@media screen and (min-width: 840px) {
	.game-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		&__left {
			display: flex;
			align-items: center;
			margin-right: 8px;
		}
		&__image {
			width: auto;
			max-height: 66px;
			&_game-code {
				&_3 {
					width: 66px;
				}
				&_13 {
					max-height: 40px;
					margin-right: 8px;
				}
				&_100 {
					max-height: 55px;
					margin-right: 12px;
				}
				&_52 {
					max-height: 55px;
				}
			}
		}
		&__title {
			font-family: $roboto_medium;
			color: $msl_main_text_color;
			font-size: 24px;
		}
	}
}

@media screen and (min-width: 854px) {
	.game-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		&__left {
			display: flex;
			align-items: center;
			margin-right: 8px;
		}
		&__image {
			width: auto;
			max-height: 40px;
			&_game-code {
				&_3 {
					width: 40px;
				}
			}
		}
		&__title {
			font-family: $roboto_medium;
			color: $msl_main_text_color;
			font-size: 18px;
		}
	}
}

@media screen and (min-width: 960px) {
	.game-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		&__left {
			display: flex;
			align-items: center;
			margin-right: 10px;
		}
		&__image {
			width: auto;
			max-height: 60px;
			&_game-code {
				&_3 {
					width: 60px;
				}
			}
		}
		&__title {
			font-family: $roboto_medium;
			color: $msl_main_text_color;
			font-size: 20px;
		}
	}
}


@media screen and (min-width: 1140px) {
	.game-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		&__left {
			display: flex;
			align-items: center;
			margin-right: 10px;
		}
		&__image {
			width: auto;
			max-height: 60px;
			&_game-code {
				&_3 {
					width: 60px;
				}
			}
		}
		&__title {
			font-family: $roboto_medium;
			color: $msl_main_text_color;
			font-size: 18px;
		}
	}
}

@media screen and (min-width: 1366px) {
	.game-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		&__left {
			display: flex;
			align-items: center;
			margin-right: 15px;
		}
		&__image {
			width: auto;
			max-height: 65px;
			&_game-code {
				&_3 {
					width: 65px;
				}
			}
		}
		&__title {
			font-family: $roboto_medium;
			color: $msl_main_text_color;
			font-size: 24px;
		}
	}
}


@media screen and (min-width: 1600px) {
	.game-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		&__left {
			display: flex;
			align-items: center;
			margin-right: 15px;
		}
		&__image {
			width: auto;
			max-height: 75px;
			&_game-code {
				&_3 {
					width: 75px;
				}
			}
		}
		&__title {
			font-family: $roboto_medium;
			color: $msl_main_text_color;
			font-size: 30px;
		}
	}
}



@media screen and (min-width: 1920px) {
	.game-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		&__left {
			display: flex;
			align-items: center;
			margin-right: 20px;
		}
		&__image {
			width: auto;
			max-height: 80px;
			&_game-code {
				&_3 {
					width: 80px;
				}
			}
		}
		&__title {
			font-family: $roboto_medium;
			color: $msl_main_text_color;
			font-size: 36px;
		}
	}
}
