@import 'variables';

:host {
	height: 100%;
	display: block;
}

.gonka-results-container {
	height: 100%;
}

.grc-comb {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $msl_base_green;
	font-family: $roboto_medium;

	width: 58px;
	height: 58px;
	margin: 6px;

	font-size: 24px;
	background: #fff;
	border-radius: 50%;
	border: 3px solid $msl_base_green;
}

.grc-win-comb {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 1919px) {
	.grc-comb {
		width: 40px;
		height: 40px;
		font-size: 18px;
		border: 2px solid $msl_base_green;
	}
}

@media screen and (max-width: 853px) {
	.grc-comb {
		font-size: 18px;
		width: 42px;
		height: 42px;
		border-width: 2px;
	}
}

@media screen and (max-width: 839px) {
	.grc-comb {
		font-size: 14px;
		width: 30px;
		height: 30px;
		border-width: 1px;
	}
}

@media screen and (max-width: 639px) {
	.grc-comb {
		width: 34px;
		height: 34px;
		border: 2px solid $msl_base_green;
	}
}

@media screen and (max-width: 479px) {
	.grc-comb {
		font-size: 12px;
		width: 24px;
		height: 24px;
		border: 1px solid $msl_base_green;
	}
}



