<div class="gonka-results-container" data-cy="gonka-results-container">

	<!-- НАВИГАТОР ПО РЕЗУЛЬТАТАМ -->
	<app-results-navigator
		data-cy="results-navigator"
		[service]="gameResultsService"
		[gameCode]="LotteryGameCode.Gonka"
		[gameName]="'lottery.race_for_money.loto_gonka'"
		[printData]="printData"
		[viewResults]="viewData"
		[showSeconds]="true"
		(resultSelected)="onSelectedResultsHandler($event)"
		>
		<!-- КОНТЕНТ РЕЗУЛЬТАТОВ ПО ГОНКА НА ГРОШИ -->
		<div class="grc-drawing" data-cy="grc-drawing">
			<div class="grc-win-comb" data-cy="grc-win-comb">
				<ng-container *ngFor="let ball of viewData?.winComb; trackBy: trackByWinCombFn">
					<div class="grc-comb" data-cy="grc-comb">{{ ball }}</div>
				</ng-container>
			</div>
		</div>

		<!-- ДЖЕКПОТ -->
		<div class="extra-info" data-cy="extra-info" *ngIf="viewData?.extraInfo">{{ viewData.extraInfo }}</div>

	</app-results-navigator>

</div>
