<div class="game-list-container"
	 data-cy="game-list-container"
>
	<ul
		class="game-list"
		[class.game-list_one]="enabledLotteries === 1"
		data-cy="game-list"
		(click)="onClickGameHandler($event)"
	>
		<ng-container *ngFor="let lottery of gameList; trackBy: trackByGame; let i = index">
			<li
				class="game-list__item"
				[class.game-list__item_one]="enabledLotteries === 1"
				@scaleAnimation
				*ngIf="lottery.enabled && !lottery.hideResults"
				[value]="i"
				data-cy="game-list-item"
			>
				<div class="game-list__inner"
					 [class.game-list__inner_one]="enabledLotteries === 1"
					 [class.game-list__inner_page_lotteries]="isLottery"
					 [class.game-list__inner_page_results]="!isLottery"
					 data-cy="game-list-inner"
				>
					<div class="game-list__bg"
						 [ngClass]="'game-list__bg_icon_' + lottery.styleClass"
						 data-cy="game-list-bg"
					></div>
				</div>
				<div class="game-list__title"
					 [class.game-list__title_one]="enabledLotteries === 1"
					 data-cy="game-list-title"
				>
					{{ lottery.name | translate }}
				</div>
			</li>
		</ng-container>
	</ul>
</div>
