@import 'variables';

.game-list {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;

	&__item {
		max-width: 240px;
		width: 100%;
		margin: 0 16px 30px 16px;
		cursor: pointer;
	}

	&__inner {
		background: #FFFFFF;
		border-radius: 10px;
		height: 150px;
		position: relative;
		padding: 10px 20px;
		margin-bottom: 10px;
		z-index: -1;
		&_page {
			&_lotteries {
				border: 2px solid $msl_base_green;
				/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,dbf0ee+100 */
				background: #ffffff; /* Old browsers */
				background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 50%, #dbf0ee 100%); /* FF3.6-15 */
				background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 50%,#dbf0ee 100%); /* Chrome10-25,Safari5.1-6 */
				background: radial-gradient(ellipse at center,  #ffffff 0%,#ffffff 50%,#dbf0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbf0ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			}
			&_results {
				border: 2px solid $msl_base_yellow;
				/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,fbf5dc+100 */
				background: #ffffff; /* Old browsers */
				background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 50%, #fbf5dc 100%); /* FF3.6-15 */
				background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 50%,#fbf5dc 100%); /* Chrome10-25,Safari5.1-6 */
				background: radial-gradient(ellipse at center,  #ffffff 0%,#ffffff 50%,#fbf5dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbf5dc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

			}
		}
	}

	&__bg {
		left: 20px;
		top: 10px;
		right: 20px;
		bottom: 10px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		&_icon {
			&_zabava {
				background-image: url("/assets/img/pic/logo_zabava.svg");
			}
			&_megalot {
				background-image: url("/assets/img/pic/logo_megalot.png");
			}

			&_instant-1 {
				background-image: url("/assets/img/pic/logo_instant.png");
			}

			&_instant-2 {
				background-image: url("/assets/img/pic/golden-triumph_logo.png");
			}

			&_tiptop {
				background-image: url("/assets/img/pic/logo_tiptop.png");
			}

			&_gonka {
				background-image: url("/assets/img/pic/logo_gg.png");
			}

			&_sportliga {
				background-image: url("/assets/img/pic/logo_sportliga.png");
			}

			&_sportprognoz {
				background-image: url("/assets/img/pic/logo_sportprognoz.png");
			}

			&_tmlbml {
				background-image: url("/assets/img/pic/logo_styrachka.png");
			}

			&_kare {
				background: url("/assets/img/pic/logo_kare.png") no-repeat center;
				background-size: contain;
			}
		}
	}

	&__title {
		font-size: 24px;
		font-family: $roboto_medium;
		color: $msl_main_text_color;
		text-align: center;
	}
}

@media screen and (max-width: 1919px) {
	.game-list {
		&__item {
			max-width: 160px;
			width: 100%;
			margin: 0 10px 10px 10px;
		}

		&__inner {
			max-height: 100px;
		}

		&__title {
			font-size: 18px;
		}
	}
}

@media screen and (max-width: 1365px) {
	.game-list {
		&__title {
			font-size: 18px;
		}
	}
}

@media screen and (max-width: 1139px) {
	.game-list {
		&__title {
			font-size: 18px;
		}
		&__item {
			max-width: 140px;
			width: 100%;
			min-width: auto;
			margin: 0 10px 10px 10px;
		}
		&__inner {
			height: 86px;
			min-height: auto;
			margin-bottom: 5px;
		}
		&__bg {
			top: 5px;
			bottom: 5px;
		}
	}
}

@media screen and (max-width: 853px) {
	.game-list-container {
		height: 100%;
		overflow-y: auto;
		padding-top: 0;
		padding-bottom: 0;
	}
	.game-list {
		display: flex;
		justify-content: center;
		align-content: flex-start;
		padding: 0 6px;

		&__item {
			width: 33.3333%;
			margin: 12px 0;
			max-width: none;
		}
		&__inner {
			width: 240px;
			height: 150px;
			min-height: auto;
			max-height: none;
			margin-bottom: 5px;
			margin-left: auto;
			margin-right: auto;
		}
		&__title {
			font-size: 24px;
			line-height: 115%;
		}
	}
}

@media screen and (max-width: 839px) {
	.game-list {
		&__item {
			width: 33.33333%;
		}
		&__inner {
			width: 240px;
			height: 150px;
			border-radius: 8px;
		}
		&__title {
			font-size: 24px;
		}
	}
}

@media screen and (max-width: 780px) {
	.game-list {
		&__item {
			width: 33.33333%;
		}
		&__inner {
			width: 160px;
			height: 100px;
		}
		&__title {
			font-size: 18px;
		}
	}
}


@media screen and (max-width: 639px) {
	.game-list {
		padding: 6px;
		&__item {
			margin-top: 6px;
			margin-bottom: 6px;
		}
		&__inner {
			width: 160px;
			height: 100px;
		}
	}
	.win-payment {
		font-size: 18px;
		height: 44px;
	}
}

@media screen and (max-width: 540px) {
	.game-list {
		&__inner {
			width: 140px;
			height: 86px;
		}
	}
}

@media screen and (max-width: 479px) {
	.game-list {
		&__item {
			width: 50%;
		}
		&__inner {
			&_one {
				width: 160px;
				height: 100px;
			}
		}
		&__title {
			&_one {
				font-size: 16px;
			}
		}
	}
}
