@import 'variables';

.button {
	width: 100%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;

	border-radius: 8px;
	background: $msl_base_green_conversion_color;

	font-family: $roboto_medium;
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	cursor: pointer;

	&[disabled] {
		color: $msl_placeholder_text_color;
		background-color: $msl_inactive_color;
	}

	&_long-sum {
		font-size: 24px;
	}
}

@media screen and (max-width: 1365px) {
	.button {
		font-size: 24px;
		&_long-sum {
			font-size: 18px;
		}
	}
}

@media screen and (max-width: 1139px) {
	.button {
		font-size: 18px;
		&_long-sum {
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 853px) {
	.button {
		font-size: 24px;
		&_long-sum {
			font-size: 18px;
		}
	}
}

@media screen and (max-width: 639px) {
	.button {
		font-size: 18px;
		&_long-sum {
			font-size: 14px;
		}
	}
}
