@import 'variables';

:host {
	height: 100%;
	display: block;
}

.tip-top-results-container {
	height: 100%;
	display: block;
}

// -----------------------------------------
//  Контент результатов по "Тип" или "Топ"
// -----------------------------------------

.ttrc-drawing-item {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.ttrc-drawing-name {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}

.ttrc-win-comb {
	margin-top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.ttrc-win-comb-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 66px;
	height: 66px;
	margin: 6px;
	color: $msl_base_green;

	font-family: $roboto_medium;
	font-size: 30px;
	background: #fff;
	border-radius: 50%;
	border: 4px solid $msl_base_green;
}

@media screen and (max-width: 1919px) {
	.ttrc-win-comb-item {
		width: 40px;
		height: 40px;
		font-size: 18px;
		border: 2px solid $msl_base_green;
	}
}

@media screen and (max-width: 1365px) {
	.ttrc-win-comb-item {
		width: 36px;
		height: 36px;
		border: 2px solid $msl_base_green;
	}
}

@media screen and (max-width: 1139px) {
	.ttrc-win-comb-item {
		font-size: 12px;
		width: 24px;
		height: 24px;
		border-width: 1px;
	}
}

@media screen and (max-width: 853px) {
	.ttrc-win-comb-item {
		font-size: 18px;
		width: 42px;
		height: 42px;
		border-width: 2px;
	}
}

@media screen and (max-width: 839px) {
	.ttrc-win-comb-item {
		font-size: 14px;
		width: 30px;
		height: 30px;
		border-width: 1px;
	}
}

@media screen and (max-width: 639px) {
	.ttrc-drawing-item {
		margin-top: 0;
	}
	.ttrc-win-comb-item {
		width: 34px;
		height: 34px;
		border: 2px solid $msl_base_green;
		font-size: 26px;
	}
}


@media screen and (max-width: 479px) {
	.ttrc-win-comb-item {
		width: 24px;
		height: 24px;
		border: 1px solid $msl_base_green;
		font-size: 12px;
	}
}
