<div class="tip-top-results-container">

	<!-- НАВИГАТОР ПО РЕЗУЛЬТАТАМ -->
	<app-results-navigator
		[service]="gameResultsService"
		[gameCode]="currentGame"
		[gameName]="'lottery.tiptop.game_name'"
		[printData]="printData"
		[viewResults]="viewData"
		(resultSelected)="onSelectedResultsHandler($event)"
		(lotteryChanged)="onSelectedLotteryTypeHandler($event)"
		>
		<!-- КОНТЕНТ РЕЗУЛЬТАТОВ ПО ТИП/ТОП -->
		<ng-container *ngFor="let drawing of viewData?.drawing; trackBy: trackByWinDrawingFn">
			<div class="ttrc-drawing-item" *ngIf="drawing?.win_cat">

				<!-- ВЫИГРЫШНАЯ КОМБИНАЦИЯ (ШАРЫ) -->
				<div class="ttrc-win-comb">
					<ng-container *ngFor="let win of drawing?.winComb; trackBy: trackByWinCombFn">
						<div class="ttrc-win-comb-item">{{ win }}</div>
					</ng-container>
				</div>

				<!-- СПИСОК ВЫИГРЫШНЫХ КАТЕГОРИЙ -->
				<app-win-category-table [winCategoryList]="drawing?.win_cat"></app-win-category-table>

			</div>
		</ng-container>

		<!-- ДЖЕКПОТ -->
		<div class="extra-info" *ngIf="viewData?.extraInfo">{{ viewData.extraInfo }}</div>

	</app-results-navigator>
</div>
