@import "../../../../../sass/variables";

:host {
	position: relative;
}

.custom-scrollbar {
	position: relative;
	overflow-y: auto;
	height: 100%;

	&::-webkit-scrollbar {
		width: 20px;
	}
	&::-webkit-scrollbar-track {
		display: block;

		width: 20px;
		margin: 5px 0;

		background: #e5e5e5;
		border-radius: 20px;
	}
	&::-webkit-scrollbar-thumb {
		width: 18px;

		background: #a1a1a1;
		border: 2px solid #e5e5e5;
		border-radius: 18px;
	}

	&_scroll {
		overflow-y: scroll;
	}

	&_small {
		margin-right: 0;

		&::-webkit-scrollbar {
			width: 14px;
		}
		&::-webkit-scrollbar-track {
			width: 14px;
			margin: 5px 0;
		}
		&::-webkit-scrollbar-thumb {
			width: 14px;
			border: none;
		}
	}
	&_buttons {
		&::-webkit-scrollbar-track {
			margin: 35px 0;
		}
	}

	&_buttons.custom-scrollbar_small {
		&::-webkit-scrollbar-track {
			width: 14px;
			margin: 26px 0;
		}
	}
}

.btn-wrapper {
	width: 31px;
	position: absolute;
	right: 0;

	&_up {
		top: 0;
		height: 35px;
	}

	&_down {
		bottom: 0;
		height: 31px;
	}

	&_small.btn-wrapper, &_small.btn-wrapper {
		width: 24px;
		height: 24px;
	}
}

.scroll-btn {
	width: 31px;
	height: 31px;
	position: relative;
	border-radius: 4px;

	&_up {

		&:before {
			width: 12px;
			height: 12px;
			content: '';
			border-top: 3px solid $msl_placeholder_text_color;
			border-left: 3px solid $msl_placeholder_text_color;
			display: block;
			left: 50%;
			top: 60%;
			transform: translate(-50%, -50%) rotate(45deg);
			position: absolute;
		}
	}

	&_down {

		&:before {
			width: 12px;
			height: 12px;
			content: '';
			border-top: 3px solid $msl_placeholder_text_color;
			border-left: 3px solid $msl_placeholder_text_color;
			display: block;
			left: 50%;
			top: 40%;
			transform: translate(-50%, -50%) rotate(-135deg);
			position: absolute;
		}
	}

	border: 1px solid $msl_inactive_color;
	background: $msl_inactive_color;
	color: $msl_placeholder_text_color;

	&_active {
		border: solid 1px #009788;
		background: radial-gradient(circle at 0 0, #fff, #fff 0%, #d8f4f4);
	}

	&_small {
		width: 24px;
		height: 24px;

		&.custom-scrollbar__btn {
			&:before {
				width: 9px;
				height: 9px;
			}
		}
	}
}
