@import 'variables';

.igc-title-text {
	font-size: 24px;
	font-weight: bold;
}

.igc-games-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	gap: 20px;
	width: 100%;
	border-radius: 8px;
}

.igc-game-price {
	display: flex;
	flex-direction: column;

	position: absolute;
	left: -60px;
	bottom: -60px;

	width: 108px;
	height: 108px;
	padding-top: 0;
	font-size: 9px;

	color: #fff;
	line-height: 1;

	background: red;
	transform: rotate(45deg);

	pointer-events: none;

	span {
		font-size: 22px;
		filter: drop-shadow(1px 0px 1px #000);
		transform: scale(1.1, 1);

		pointer-events: none;
	}
}

.ovr {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.36);
	content: '';
	z-index: 10;
	visibility: hidden;
}

.game-list-scroll {
	overflow-y: scroll;
	padding-right: 15px;
	height: 100%;
	&::-webkit-scrollbar {
		width: 18px;
	}
	&::-webkit-scrollbar-track {
		margin: 0;
	}
}

.igc-game-item-content {
	width: 100%;
	height: 190px;
	position: relative;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;

	&__title {
		position: absolute;
		left: 0;
		bottom: calc(50% - 13px);
		width: 100%;
		font-size: 26px;
		color: $msl_base_green;
		text-align: center;
		pointer-events: none;
	}

	&__icon {
		position: absolute;
		top: calc(50% - 34px);
		left: calc(50% - 34px);

		width: 68px;
		height: 68px;
		background: #fff;
		border-radius: 50%;

		color: $msl_base_green;
		font-size: 60px;

		animation: blinker-inv 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;
		font-weight: bold;
		line-height: 68px;
		z-index: 15;
		opacity: 0;
		visibility: hidden;
	}

	&.game-selected {
		.ovr {
			visibility: visible;
		}

		.igc-game-item-content__icon {
			visibility: visible;
		}
	}

	background-size: cover;
	text-align: center;

	border-radius: 8px;
	border: 1px  solid $msl_base_green;
	background: radial-gradient(white, white, rgba($msl_base_green, 0.2)) no-repeat;

	&.game-code-106, &.game-code-107, &.game-code-109, &.game-code-121, &.game-code-122, &.game-code-123,
	&.game-code-124, &.game-code-126, &.game-code-127, &.game-code-132, &.game-code-133, &.game-code-134,
	&.game-code-139, &.game-code-140, &.game-code-141, &.game-code-142, &.game-code-143, &.game-code-144,
	&.game-code-145, &.game-code-146, &.game-code-147, &.game-code-149, &.game-code-151, &.game-code-152,
	&.game-code-153, &.game-code-154, &.game-code-155, &.game-code-157, &.game-code-160, &.game-code-161,
	&.game-code-162, &.game-code-163, &.game-code-156
	{
		background-size: cover;

		label {
			color: transparent;
		}
	}

	&.game-code-106 {
		background-image: url("/assets/img/instant/shvydkogroshi.png");
	}
	&.game-code-107 {
		background-image: url("/assets/img/instant/morskiy_biy.png");
	}
	&.game-code-109 {
		background-image: url("/assets/img/instant/hto_tam.png");
	}
	&.game-code-121 {
		background-image: url("/assets/img/instant/grosheniata.png");
	}
	&.game-code-122 {
		background-image: url("/assets/img/instant/do_sviata.png");
	}
	&.game-code-123 {
		background-image: url("/assets/img/instant/shaslyvyj_kvytok.png");
	}
	&.game-code-124 {
		background-image: url("/assets/img/instant/gamanec.png");
	}
	&.game-code-126 {
		background-image: url("/assets/img/instant/shalena_piatirka.png");
	}
	&.game-code-127 {
		background-image: url("/assets/img/instant/hrestyky_noliky.png");
	}
	&.game-code-132 {
		background-image: url("/assets/img/instant/shvydki_7.png");
	}
	&.game-code-133 {
		background-image: url("/assets/img/instant/volodar_gry.png");
	}
	&.game-code-134 {
		background-image: url("/assets/img/instant/maxi_lotto.png");
	}
	&.game-code-139 {
		background-image: url("/assets/img/instant/jak_kozaky.png");
	}
	&.game-code-140 {
		background-image: url("/assets/img/instant/vesela_skarbnychka.png");
	}
	&.game-code-141 {
		background-image: url("/assets/img/instant/goroskop.png");
	}
	&.game-code-142 {
		background-image: url("/assets/img/instant/charivna_para.png");
	}
	&.game-code-143 {
		background-image: url("/assets/img/instant/vygrashni_linii.png");
	}
	&.game-code-144 {
		background-image: url("/assets/img/instant/garacha_shtuchka.png");
	}
	&.game-code-145 {
		background-image: url("/assets/img/instant/veselyk.png");
	}
	&.game-code-146 {
		background-image: url("/assets/img/instant/sviatkova_graylyve_lito.png");
	}
	&.game-code-147 {
		background-image: url("/assets/img/instant/korolivka_velych.png");
	}
	&.game-code-149 {
		background-image: url("/assets/img/instant/zyvi_groshi.png");
	}
	&.game-code-151 {
		background-image: url("/assets/img/instant/poluvannia_za_skarbamy.png");
	}
	&.game-code-152 {
		background-image: url("/assets/img/instant/kupa_groshey.png");
	}
	&.game-code-153 {
		background-image: url("/assets/img/instant/las-vegas.png");
	}
	&.game-code-154 {
		background-image: url("/assets/img/instant/zolota_kopalnia.png");
	}
	&.game-code-155 {
		background-image: url("/assets/img/instant/gol.png");
	}
	&.game-code-157 {
		background-image: url("/assets/img/instant/labyrinth.png");
	}
	&.game-code-160 {
		background-image: url("/assets/img/instant/myttevyj_biljard.png");
	}
	&.game-code-161 {
		background-image: url("/assets/img/instant/gran_pri.png");
	}
	&.game-code-162 {
		background-image: url("/assets/img/instant/autoloto.jpg");
	}
	&.game-code-163 {
		background-image: url("/assets/img/instant/lucky_numbers_400х434.png");
		background-position: center center;
	}
	&.game-code-156 {
		background-image: url("/assets/img/instant/dar.png");
		background-size: contain;
	}
}

@media screen and (max-width: 1919px) {
	.instant-games-container {
		left: 12px;
		right: 12px;
		bottom: 12px;
	}

	.igc-game-item-content {
		height: 170px;
	}
	.igc-games-content {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 10px;
		gap: 10px;
	}
}

//@media screen and (max-width: 1599px) {
//	.igc-games-content {
//		grid-template-columns: 1fr 1fr 1fr 1fr;
//	}
//	.igc-game-item-content {
//		height: 100px;
//	}
//	.il-header-wrapper {
//		padding-right: 15px;
//	}
//	.game-list-scroll {
//		::ng-deep {
//			.custom-scrollbar {
//				&::-webkit-scrollbar {
//					width: 8px;
//				}
//				&::-webkit-scrollbar-track {
//					margin: 0;
//				}
//			}
//		}
//	}
//
//	.igc-game-price {
//		left: -62px;
//		bottom: -62px;
//		span {
//			margin-top: 5px;
//			font-size: 14px;
//		}
//	}
//
//	.igc-game-item-content__icon {
//		top: calc(50% - 25px);
//		left: calc(50% - 25px);
//		width: 50px;
//		height: 50px;
//		font-size: 44px;
//		line-height: 52px;
//	}
//}

@media screen and (max-width: 1365px) {
	.igc-game-item-content {
		height: 130px;
	}
	.game-list-scroll {
		padding-right: 10px;
		&::-webkit-scrollbar {
			width: 10px;
		}
	}
}

@media screen and (max-width: 1139px) {
	.igc-games-content {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.igc-game-item-content {
		height: 100px;
	}
	.il-header-wrapper {
		padding-right: 15px;
	}
	.game-list-scroll {
		::ng-deep {
			.custom-scrollbar {
				&::-webkit-scrollbar {
					width: 8px;
				}
				&::-webkit-scrollbar-track {
					margin: 0;
				}
			}
		}
	}

	.igc-game-price {
		left: -62px;
		bottom: -62px;
		span {
			margin-top: 5px;
			font-size: 14px;
		}
	}

	.igc-game-item-content__icon {
		top: calc(50% - 25px);
		left: calc(50% - 25px);
		width: 50px;
		height: 50px;
		font-size: 44px;
		line-height: 52px;
	}
}

@media screen and (max-width: 853px) {
	.igc-games-content {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 20px 20px;
		gap: 20px 20px;
	}

	.igc-game-item-content {
		height: 146px;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		background-position: center;
		&__title {
			position: static;
			font-size: 16px;
		}
		&__icon {
			top: calc(50% - 25px);
			left: calc(50% - 25px);
			width: 50px;
			height: 50px;
			font-size: 44px;
			line-height: 50px;
		}
	}

	.instant-games-container {
		margin-right: 0;
		overflow: hidden;
	}

	.game-list-scroll {
		margin-right: -10px;
		padding-left: 10px;
	}
}

@media screen and (max-width: 839px) {
	.igc-games-content {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 10px 10px;
		gap: 10px 10px;
	}

	.igc-game-item-content {
		height: 160px;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		&__title {
			position: static;
			font-size: 16px;
		}
		&__icon {
			top: calc(50% - 25px);
			left: calc(50% - 25px);
			width: 50px;
			height: 50px;
			font-size: 44px;
			line-height: 50px;
		}
	}

	.instant-games-container {
		margin-right: -8px;
		overflow: hidden;
	}

	.game-list-scroll {
		margin-right: -10px;
	}
}

@media screen and (max-width: 639px) {
	.igc-games-content {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 10px 10px;
		gap: 10px 10px;
	}
	.igc-game-item-content {
		height: 120px;
	}
}

@media screen and (max-width: 479px) {
	.igc-games-content {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 8px 8px;
		gap: 8px 8px;
		margin-bottom: 8px;
	}

	.igc-game-item-content {
		height: 90px;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		&__title {
			position: static;
			font-size: 16px;
		}
		&__icon {
			top: calc(50% - 18px);
			left: calc(50% - 18px);
			width: 36px;
			height: 36px;
			font-size: 34px;
			line-height: 36px;
		}
	}

	.instant-games-container {
		margin-right: -8px;
		overflow: hidden;
	}

	.game-list-scroll {
		margin-right: -10px;
	}

	.instant-game-list {
		padding-top: 16px;
	}
}
