<div class="game-list-scroll webalt-scroll"
	 data-cy="game-list-scroll"
>
	<div class="igc-games-content"
		 data-cy="igc-games-content"
	>
		<div *ngFor="let game of filteredGames; trackBy: trackByGames; let i = index"
			appMslComponent
			id="game_index_{{ game.gameListIndex }}"
			class="igc-game-item-content"
			[class.game-selected]="instantLotteryService.betData.group[instantLotteryService.groupId].gameIndex === game.gameListIndex"
			data-cy="igc-game-item-content"
			[scrollTo]="instantLotteryService.betData.group[instantLotteryService.groupId].gameIndex === game.gameListIndex"
			[ngClass]="'game-code-' + game.code"
			[attr.game-index]="game.gameListIndex"
			(click)="onClickLotteryHandler(game.gameListIndex)"
			>
			<label class="igc-game-item-content__title"
				   data-cy="igc-game-item-content-title"
			>{{ game.name }}</label>
			<div class="ovr" data-cy="ovr"></div>
			<i class="igc-game-item-content__icon material-icons">done</i>
			<div class="igc-game-price"
				 data-cy="igc-game-price"
			>
				<span>{{ game.price }}</span>
				{{ 'lottery.uah' | translate }}
			</div>
		</div>
	</div>
</div>
