<div class="action-button-container">
	<button type="button"
			class="button button_theme_light-green action-button"
			[attr.disabled]="button?.disabled || null"
			(click)="onActionClickHandler()"
		>
		<div class="abc-button-row">
			<label class="abc-button-text">{{ button?.labelKey | translate:button?.data }}</label>
			<span class="abc-button-divider"></span>
			<label class="abc-button-sum">{{ button?.data?.summ }} {{ 'lottery.uah' | translate | lowercase }}</label>
		</div>
	</button>
</div>
