@import 'variables';

.action-button {
	color: $msl_main_text_color;
	font-size: 24px;
	text-transform: none;
	&[disabled] {
		color: $msl_placeholder_text_color;
	}
}

.abc-button-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	pointer-events: none;
	padding: 10px 0;
}

.abc-button-text {
	width: calc(100% - 8vw);
	text-align: center;
	padding: 0 10px;
}

.abc-button-divider {
	border-left: 1px solid $msl_placeholder_text_color;
	height: 24px;
}

.abc-button-sum {
	width: 8vw;
	font-family: $roboto_medium;
	padding: 0 10px;
}

@media screen and (max-width: 1280px) {
	.action-button {
		font-size: 18px;
	}
}
