@import 'variables';
@import 'mixins';
@import 'lotteries-common';


.lott-grid {
	grid-template: auto auto auto auto auto / 640px 600px;
	grid-gap: 10px 10px;
	gap: 10px 10px;
	margin-left: 320px;
}

.logo-in-lottery {
	top: 35px;
}

.draws-like {
	margin-bottom: 0;
}

.draws-info {
	background: $msl_base_yellow;
	border-radius: 8px;
	padding: 5px 20px;
	&__message {
		color: #FFFFFF;
		margin: 10px;
		font-family: $roboto_medium;
		&_1 {
			font-size: 24px;
		}
		&_2 {
			font-size: 18px;
		}
	}
}

.gg-bg-draws {
	grid-row-start: 3;
	grid-row-end: 6;
	padding-top: 70px;
	::ng-deep {
		.buttons-group__items_theme_gold {
			justify-content: center;
			grid-gap: 15px;
			gap: 15px;
		}
	}
}

.gg-bg-game-type {
	display: block;
	margin-bottom: 20px;
}

// -----------------------------------------
//  Забеги
// -----------------------------------------

.touched-mark {
	background: url('/assets/img/svg/confirm.svg') no-repeat center center / 100% 100%;
	width: 24px;
	height: 24px;
	display: none;
}

.gg-race-button-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
	padding: 0 25px;

	&__touched {
		app-buttons-group.gg-bg-race {
			display: block;

			::ng-deep {
				.buttons-group-container {
					label {
						font-family: $roboto_medium;
					}
				}
			}
		}
		.touched-mark {
			display: block;
		}
	}
}

.selected-buttons-count {
	font-size: 18px;
	font-family: $roboto_regular;
	color: $msl_main_text_color;

	&_disabled {
		display: none;
	}

	&_full {
		color: $msl_base_green;
	}
}
// -----------------------------------------
//  Подтип игры
// -----------------------------------------

.gg-bg-game-subtype {
	::ng-deep {
		.buttons-group {
			&__items {
				grid-template-columns: 96px 1fr;
				grid-column-gap: 30px;
				column-gap: 30px;
			}
			&__item {
				&_theme {
					&_square-radial {
						width: 100%;
						font-family: $roboto_bold;
						text-transform: uppercase;
						font-size: 30px;
					}
				}
				&_selected {
					background: $msl_base_green;
					color: #FFFFFF;
				}
			}
		}
	}
}

app-one-button-custom {
	::ng-deep {

		.mb-8 {
			margin-bottom: 8px;
		}

		.modal-dialog-container {
			width: 100%;
			max-width: 890px;
		}

		&.game-type {
			&__title {
				color: $msl_main_text_color;
				font-size: 24px;
				font-family: $roboto_medium;
				text-align: center;
				font-weight: normal;
				margin-bottom: 10px;
			}

			&__text {
				color: $msl_main_text_color;
				font-size: 18px;

				b {
					font-family: $roboto_medium;
					font-weight: normal;
				}
				&_center {
					text-align: center;
				}
			}

			&__cond {
				list-style: none;
				padding-left: 30px;
				padding-right: 60px;

				li {
					margin: 8px 0;
					&:before {
						content: "-";
						position: relative;
						left: -5px;
					}
				}
			}
		}
		.modal-button {
			width: 240px;
			height: 54px;
			margin: 0 auto;
			font-size: 24px;
		}
	}
}

.lottery-container {
	padding: 20px 0;
}

.rc-5 {
	display: grid;
	align-items: end;
}

.register-bet-button {
	height: 88px;
	font-family: $roboto_medium;
	font-size: 36px;
}

.gg-bg-bet-sum {
	::ng-deep {
		.buttons-group {
			&__items {
				grid-template-columns: repeat(4, 96px);
				justify-content: center;
				grid-column-gap: 30px;
				column-gap: 30px;
			}
		}
	}
}

.goto-results {
	font-weight: normal;
}

@media screen and (max-width: 1919px) {
	.lott-grid {
		grid-template-columns: 468px 468px;
		margin-left: 180px;
	}

	app-msl-game-logo.logo-in-lottery {
		top: 12px;
		left: -6px;
		::ng-deep {
			.game-logo {
				&__title {
					font-family: $roboto_medium;
					color: $msl_main_text_color;
					font-size: 24px;
				}
				&__left {
					margin-right: 6px;
				}
				&__image {
					max-height: 54px;
				}
			}
		}
	}

	app-buttons-group.gg-bg-draws,
	app-buttons-group.gg-bg-bet-count,
	app-buttons-group.gg-bg-game-type,
	app-buttons-group.gg-bg-bet-sum {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 24px;
					margin-bottom: 10px;
				}
				&__items {
					&_theme {
						&_square-radial, &_gold {
							grid-gap: 10px;
							gap: 10px;
							grid-auto-columns: 84px;
							grid-template-columns: repeat(5, auto);
						}
					}
				}
				&__item {
					&_theme {
						&_square-radial, &_gold {
							width: 84px;
							height: 70px;
							font-size: 36px;
							font-family: $roboto_medium;
						}
					}
				}
			}
		}
	}

	app-buttons-group.gg-bg-draws {
		padding-top: 40px;
	}

	app-buttons-group.gg-bg-game-type {
		margin-bottom: 10px;
	}

	app-buttons-group.gg-bg-game-subtype {
		::ng-deep {
			.buttons-group {
				&__items {
					grid-template-columns: 84px 1fr;
					grid-column-gap: 10px;
					column-gap: 10px;
				}
				&__item {
					&_theme {
						&_square-radial {
							width: 100%;
							font-size: 24px;
							font-family: $roboto_medium;
						}
					}
					&_selected {
						background: $msl_base_green;
						color: #FFFFFF;
					}
				}
			}
		}
	}

	.draws-info__message {
		margin: 3px;
	}

	.register-bet-button {
		height: 80px;
	}

	.lottery-container {
		padding: 10px 0;
	}

	.rc-3 {
		padding-top: 20px;
	}

	.goto-results {
		height: 66px;
		font-family: $roboto_bold;
		font-size: 24px;
	}

	.common-title {
		font-size: 24px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 1365px) {
	.lott-grid {
		grid-template-columns: 520px 400px;
		margin-left: 108px;
	}

	.goto-results {
		height: 60px;
		font-family: $roboto_medium;
	}

	app-msl-game-logo.logo-in-lottery {
		top: 12px;
		left: -6px;
		::ng-deep {
			.game-logo {
				&__title {
					font-family: $roboto_medium;
					color: $msl_main_text_color;
					font-size: 24px;
				}
				&__left {
					margin-right: 6px;
				}
				&__image {
					max-height: 54px;
				}
			}
		}
	}

	app-buttons-group.gg-bg-draws,
	app-buttons-group.gg-bg-bet-count,
	app-buttons-group.gg-bg-game-type,
	app-buttons-group.gg-bg-bet-sum {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 24px;
					margin-bottom: 8px;
				}
				&__items {
					&_theme {
						&_square-radial, &_gold {
							grid-gap: 15px;
							gap: 15px;
							grid-auto-columns: 68px;
							grid-template-columns: repeat(5, auto);
						}
					}
				}
				&__item {
					&_theme {
						&_square-radial, &_gold {
							width: 68px;
							height: 56px;
							font-size: 36px;
							font-family: $roboto_medium;
						}
					}
				}
			}
		}
	}

	app-buttons-group.gg-bg-draws {
		::ng-deep {
			.buttons-group {
				&__items {
					&_theme {
						&_gold {
							grid-gap: 12px;
							gap: 12px;
							grid-auto-columns: 84px;
						}
					}
				}
				&__item {
					&_theme {
						&_gold {
							width: 84px;
							height: 70px;
							font-size: 36px;
							font-family: $roboto_medium;
						}
					}
				}
			}
		}
	}

	.register-bet-button {
		height: 60px;
	}

	app-buttons-group.gg-bg-game-subtype {
		::ng-deep {
			.buttons-group__items {
				grid-column-gap: 15px;
				column-gap: 15px;
				grid-template-columns: 68px 1fr;
			}
			.buttons-group__item_theme_square-radial {
				font-size: 20px;
				height: 56px;
			}
		}
	}
	.gg-bg-draws {
		padding-top: 30px;
	}

	.gg-bg-game-type {
		margin-bottom: 10px;
	}
	app-one-button-custom {
		::ng-deep {
			.modal-dialog-container {
				max-width: 838px;
				width: 100%;
				padding: 10px 25px;
			}
			.modal-buttons-container {
				margin-top: 10px;
			}
			&.game-type {
				&__text {
					font-size: 16px;
				}
			}
			app-races-buttons {
				margin-top: 5px;
				display: block;
			}
			.modal-button {
				width: 350px;
				height: 44px;
				font-size: 18px;
			}
			.modal-dialog-close {
				width: 16px;
				height: 16px;
			}
		}
	}
}

@media screen and (max-width: 1139px) {
	.lott-grid {
		grid-template-columns: 470px 400px;
		align-content: space-between;
		margin-left: 40px;
	}
	.draws-info {
		&__message {
			margin: 3px;
		}
	}
	.goto-results {
		font-size: 20px;
	}

	app-buttons-group.gg-bg-draws,
	app-buttons-group.gg-bg-bet-count,
	app-buttons-group.gg-bg-game-type,
	app-buttons-group.gg-bg-bet-sum {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 24px;
					margin-bottom: 8px;
				}
				&__items {
					&_theme {
						&_square-radial, &_gold {
							grid-gap: 15px;
							gap: 15px;
							grid-auto-columns: 68px;
							grid-template-columns: repeat(5, auto);
						}
					}
				}
				&__item {
					&_theme {
						&_square-radial, &_gold {
							width: 68px;
							height: 56px;
							font-size: 36px;
							font-family: $roboto_medium;
						}
					}
				}
			}
		}
	}

	app-buttons-group.gg-bg-draws {
		::ng-deep {
			.buttons-group {
				&__items {
					&_theme {
						&_gold {
							grid-gap: 12px;
							gap: 12px;
							grid-auto-columns: 84px;
						}
					}
				}
				&__item {
					&_theme {
						&_gold {
							width: 84px;
							height: 70px;
							font-size: 36px;
							font-family: $roboto_medium;
						}
					}
				}
			}
		}
	}

	app-races-buttons {
		margin-top: 15px;
	}
}

@media screen and (max-width: 1023px) {
	.lottery-container {
		padding: 8px 0;
	}
	.lott-grid {
		grid-template-columns: 360px 300px;
		margin-left: 60px;
		grid-gap: 8px 8px;
		gap: 8px 8px;
	}
	.draws-info {
		padding: 6px 20px;
		&__message {
			margin: 3px;
			&_1 {
				font-size: 18px;
			}
			&_2 {
				font-size: 14px;
			}
		}
	}
	.goto-results {
		font-size: 16px;
		height: 44px;
	}

	app-buttons-group.gg-bg-draws,
	app-buttons-group.gg-bg-bet-count,
	app-buttons-group.gg-bg-game-type,
	app-buttons-group.gg-bg-bet-sum {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 14px;
					margin-bottom: 6px;
				}
				&__items {
					&_theme {
						&_square-radial, &_gold {
							grid-gap: 10px;
							gap: 10px;
							grid-auto-columns: 52px;
							grid-template-columns: repeat(5, auto);
						}
					}
				}
				&__item {
					&_theme {
						&_square-radial, &_gold {
							width: 52px;
							height: 36px;
							font-size: 18px;
							font-family: $roboto_medium;
							border-width: 1px;
							border-radius: 4px;
						}
					}
				}
			}
		}
	}

	.draws-like {
		grid-row-start: 2;
		grid-row-end: 4;
	}

	app-buttons-group.gg-bg-game-type {
		::ng-deep {
			.buttons-group__items {
				padding-bottom: 14px;
			}
		}
	}

	app-buttons-group.gg-bg-draws {
		padding-top: 0;
		grid-row-start: 4;
		grid-row-end: 8;
		margin-top: -75px;
		::ng-deep {
			.buttons-group {
				&__items {
					&_theme {
						&_gold {
							grid-gap: 8px;
							gap: 8px;
							grid-auto-columns: 44px;
						}
					}
				}
				&__item {
					&_theme {
						&_gold {
							width: 44px;
							height: 36px;
							font-size: 18px;
							font-family: $roboto_medium;
						}
					}
				}
			}
		}
	}

	app-buttons-group.gg-bg-game-subtype {
		::ng-deep {
			.buttons-group__items {
				grid-column-gap: 10px;
				column-gap: 10px;
				grid-template-columns: 52px 1fr;
			}
			.buttons-group__item_theme_square-radial {
				font-size: 14px;
				height: 36px;
			}
		}
	}
	.rc-3 {
		padding-top: 0;
		& + .fake-block {
			display: none;
		}
	}
	.rc-4 {
		padding-bottom: 4px;
	}

	app-buttons-group.gg-bg-bet-sum {
		::ng-deep {
			.buttons-group__items {
				padding-bottom: 0;
			}
		}
	}
	.register-bet-button {
		height: 44px;
	}
	.common-title {
		font-size: 14px;
		margin-bottom: 8px;
	}

	app-msl-game-logo.logo-in-lottery {
		::ng-deep {
			.game-logo {
				&__image {
					max-height: 40px;
				}
				&__title {
					font-size: 18px;
				}
			}
		}
	}
}

@media screen and (max-width: 853px) {
	.common-title {
		font-size: 24px;
	}
	.fake-block {
		display: none;
	}
	.lott-grid {
		grid-template: repeat(7, auto) / 1fr;
		grid-gap: 10px 10px;
		gap: 10px 10px;
		margin-left: 0;
	}

	.rc-1 {
		justify-self: end;
		order: 1;
	}
	.draws-like {
		order: 2;
	}
	app-msl-game-logo.logo-in-lottery {
		top: 20px;
		left: 10px;
		::ng-deep {
			.game-logo {
				&__title {
					font-size: 24px;
				}
			}
		}
	}
	.goto-results {
		font-size: 24px;
		height: 60px;
	}
	.draws-info {
		max-width: 540px;
		margin: 0 auto;
		width: 100%;
		padding: 4px 20px;
		&__message {
			margin: 4px;
			&_1 {
				font-size: 24px;
			}
			&_2 {
				font-size: 18px;
			}
		}
	}

	app-buttons-group.gg-bg-draws,
	app-buttons-group.gg-bg-bet-count,
	app-buttons-group.gg-bg-game-type,
	app-buttons-group.gg-bg-bet-sum {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 24px;
					margin-bottom: 12px;
				}
				&__items {
					&_theme {
						&_square-radial, &_gold {
							grid-gap: 11px;
							gap: 11px;
							grid-auto-columns: 84px;
							grid-template-columns: repeat(5, auto);
						}
					}
				}
				&__item {
					&_theme {
						&_square-radial, &_gold {
							width: 84px;
							height: 70px;
							font-size: 36px;
							font-family: $roboto_medium;
							border-width: 2px;
							border-radius: 8px;
						}
					}
				}
			}
		}
	}

	.draws-like {
		grid-row-start: auto;
		grid-row-end: auto;
	}

	app-buttons-group.gg-bg-game-type {
		::ng-deep {
			.buttons-group__items {
				padding-bottom: 20px;
			}
		}
	}

	app-buttons-group.gg-bg-draws {
		padding-top: 0;
		overflow: hidden;
		grid-row-start: auto;
		grid-row-end: auto;
		margin-right: -10px;
		order: 3;
		margin-top: 0;
		::ng-deep {
			.buttons-group {
				&__items {
					&_theme {
						&_gold {
							justify-content: start;
							grid-gap: 11px;
							gap: 11px;
							grid-auto-columns: 84px;
						}
					}
				}
				&__item {
					&_theme {
						&_gold {
							width: 84px;
							height: 70px;
							font-size: 36px;
							font-family: $roboto_medium;
						}
					}
				}
			}
		}
	}

	app-buttons-group.gg-bg-game-subtype {
		display: block;
		max-width: 464px;
		margin: 0 auto;
		::ng-deep {
			.buttons-group {
				&__items {
					grid-column-gap: 11px;
					column-gap: 11px;
					grid-template-columns: 84px 1fr;
				}
				&__item {
					&_theme_square-radial {
						font-size: 24px;
						text-transform: uppercase;
						height: 70px;
					}
				}
			}
		}
	}
	.rc-2 {
		order: 4;
	}
	.rc-3 {
		order: 5;
	}
	.rc-4 {
		order: 6;
		padding-bottom: 20px;
	}
	.rc-5 {
		order: 7;
	}
	app-one-button-custom {
		::ng-deep {

			.modal-dialog-container {
				max-width: 624px;
				width: 100%;
				padding: 10px 15px;
			}
			.modal-buttons-container {
				margin-top: 0;
			}
			.button {
				font-size: 18px;
				height: 44px;
				margin: 0 auto;
				max-width: 350px;
			}
			&.game-type {

				&__text {
					font-size: 16px;
					&_special {
						padding: 0 50px;
					}
				}

				&__cond {
					li {
						margin: 0;
					}
				}
			}
			app-close-button {
				::ng-deep {
					.close-button {
						width: 16px;
						height: 16px;
						right: 15px;
						top: 10px;
					}
				}
			}
		}
		&.game-type_a {
			app-races-buttons {
				margin: 30px 0;
			}
		}
		&.game-type_b {
			app-races-buttons {
				margin: 0;
			}
		}
		&.game-type_b {
			app-races-buttons {
				margin: 20px 0;
			}
		}
		&.game-type_g {
			app-races-buttons {
				margin: 20px 0;
			}
		}
		&.game-type_d {
			app-races-buttons {
				margin: 40px 0 0 0;
			}
		}
	}

	app-register-bet-button.register-bet-button {
		height: 60px;
		max-width: 640px;
	}
	.lottery-container {
		padding: 10px;
	}
}

@media screen and (max-width: 839px) {
	.common-title {
		font-size: 20px;
	}
	.fake-block {
		display: none;
	}
	.lott-grid {
		grid-template: repeat(7, auto) / 1fr;
		grid-gap: 10px 10px;
		gap: 10px 10px;
		margin-left: 0;
	}

	.rc-1 {
		justify-self: end;
		order: 1;
	}
	.draws-like {
		order: 2;
	}
	app-msl-game-logo.logo-in-lottery {
		top: 12px;
		left: 10px;
		::ng-deep {
			.game-logo {
				&__title {
					font-size: 16px;
				}
			}
		}
	}
	.goto-results {
		font-size: 16px;
		height: 44px;
	}
	.draws-info {
		max-width: 400px;
		margin: 0 auto;
		width: 100%;
		padding: 4px 20px;
		&__message {
			margin: 4px;
			&_1 {
				font-size: 18px;
			}
			&_2 {
				font-size: 14px;
			}
		}
	}

	app-buttons-group.gg-bg-draws,
	app-buttons-group.gg-bg-bet-count,
	app-buttons-group.gg-bg-game-type,
	app-buttons-group.gg-bg-bet-sum {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 20px;
				}
				&__items {
					&_theme {
						&_square-radial, &_gold {
							grid-gap: 15px;
							gap: 15px;
							grid-auto-columns: 68px;
							grid-template-columns: repeat(5, auto);
						}
					}
				}
				&__item {
					&_theme {
						&_square-radial, &_gold {
							width: 68px;
							height: 56px;
							font-size: 36px;
							font-family: $roboto_medium;
							border-width: 2px;
							border-radius: 8px;
						}
					}
				}
			}
		}
	}

	.draws-like {
		grid-row-start: auto;
		grid-row-end: auto;
	}

	app-buttons-group.gg-bg-game-type {
		::ng-deep {
			.buttons-group__items {
				padding-bottom: 20px;
			}
		}
	}

	app-buttons-group.gg-bg-draws {
		padding-top: 0;
		overflow: hidden;
		grid-row-start: auto;
		grid-row-end: auto;
		margin-right: -10px;
		order: 3;
		margin-top: 0;
		::ng-deep {
			.buttons-group {
				&__items {
					&_theme {
						&_gold {
							justify-content: start;
							grid-gap: 15px;
							gap: 15px;
							grid-auto-columns: 68px;
						}
					}
				}
				&__item {
					&_theme {
						&_gold {
							width: 68px;
							height: 56px;
							font-size: 36px;
							font-family: $roboto_medium;
						}
					}
				}
			}
		}
	}

	app-buttons-group.gg-bg-game-subtype {
		display: block;
		max-width: 400px;
		margin: 0 auto;
		::ng-deep {
			.buttons-group {
				&__items {
					grid-column-gap: 15px;
					column-gap: 15px;
					grid-template-columns: 68px 1fr;
				}
				&__item {
					&_theme_square-radial {
						font-size: 20px;
						text-transform: uppercase;
						height: 56px;
					}
				}
			}
		}
	}
	.rc-2 {
		order: 4;
	}
	.rc-3 {
		order: 5;
	}
	.rc-4 {
		order: 6;
		padding-bottom: 20px;
	}
	.rc-5 {
		order: 7;
	}
	app-one-button-custom {
		::ng-deep {

			.modal-dialog-container {
				max-width: 624px;
				width: 100%;
				padding: 10px 15px;
			}
			.modal-buttons-container {
				margin-top: 0;
			}
			.button {
				font-size: 18px;
				height: 44px;
				margin: 0 auto;
				max-width: 350px;
			}
			&.game-type {

				&__text {
					font-size: 16px;
					&_special {
						padding: 0 50px;
					}
				}

				&__cond {
					li {
						margin: 0;
					}
				}
			}
			app-close-button {
				::ng-deep {
					.close-button {
						width: 16px;
						height: 16px;
						right: 15px;
						top: 10px;
					}
				}
			}
		}
		&.game-type_a {
			app-races-buttons {
				margin: 30px 0;
			}
		}
		&.game-type_b {
			app-races-buttons {
				margin: 0;
			}
		}
		&.game-type_b {
			app-races-buttons {
				margin: 20px 0;
			}
		}
		&.game-type_g {
			app-races-buttons {
				margin: 20px 0;
			}
		}
		&.game-type_d {
			app-races-buttons {
				margin: 40px 0 0 0;
			}
		}
	}

	app-register-bet-button.register-bet-button {
		max-width: 464px;
	}
	.lottery-container {
		padding: 10px;
	}
}

@media screen and (max-width: 639px) {
	.common-title {
		font-size: 16px;
	}
	.fake-block {
		display: none;
	}
	.lott-grid {
		grid-template: repeat(7, auto) / 1fr;
		grid-gap: 10px 10px;
		gap: 10px 10px;
		margin-left: 0;
	}

	.rc-1 {
		justify-self: end;
		order: 1;
	}
	.draws-like {
		order: 2;
	}
	app-msl-game-logo.logo-in-lottery {
		top: 20px;
		left: 10px;
		::ng-deep {
			.game-logo {
				&__title {
					font-size: 16px;
				}
				&__left {
					margin-right: 0;
				}
				&__image {
					max-height: 24px;
				}
			}
		}
	}
	.goto-results {
		font-size: 14px;
		height: 44px;
	}
	.draws-info {
		max-width: 360px;
		margin: 0 auto;
		width: 100%;
		padding: 4px 20px;
		&__message {
			margin: 4px;
			&_1 {
				font-size: 18px;
			}
			&_2 {
				font-size: 14px;
			}
		}
	}

	app-buttons-group.gg-bg-draws,
	app-buttons-group.gg-bg-bet-count,
	app-buttons-group.gg-bg-game-type,
	app-buttons-group.gg-bg-bet-sum {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 16px;
				}
				&__items {
					&_theme {
						&_square-radial, &_gold {
							grid-gap: 8px;
							gap: 8px;
							grid-auto-columns: 56px;
							grid-template-columns: repeat(5, auto);
						}
					}
				}
				&__item {
					&_theme {
						&_square-radial, &_gold {
							width: 56px;
							height: 46px;
							font-size: 24px;
							font-family: $roboto_medium;
							border-width: 2px;
							border-radius: 8px;
						}
					}
				}
			}
		}
	}

	.draws-like {
		grid-row-start: auto;
		grid-row-end: auto;
	}

	app-buttons-group.gg-bg-game-type {
		::ng-deep {
			.buttons-group__items {
				padding-bottom: 18px;
			}
		}
	}

	app-buttons-group.gg-bg-draws {
		padding-top: 0;
		overflow: hidden;
		grid-row-start: auto;
		grid-row-end: auto;
		margin-right: -10px;
		order: 3;
		margin-top: 0;
		::ng-deep {
			.buttons-group {
				&__items {
					&_theme {
						&_gold {
							justify-content: start;
							grid-gap: 8px;
							gap: 8px;
							grid-auto-columns: 56px;
						}
					}
				}
				&__item {
					&_theme {
						&_gold {
							width: 56px;
							height: 46px;
							font-size: 24px;
							font-family: $roboto_medium;
						}
					}
				}
			}
		}
	}

	app-buttons-group.gg-bg-game-subtype {
		display: block;
		max-width: 312px;
		margin: 0 auto;
		::ng-deep {
			.buttons-group {
				&__items {
					grid-column-gap: 8px;
					column-gap: 8px;
					grid-template-columns: 56px 1fr;
				}
				&__item {
					&_theme_square-radial {
						font-size: 16px;
						text-transform: uppercase;
						height: 46px;
					}
				}
			}
		}
	}
	.rc-2 {
		order: 4;
	}
	.rc-3 {
		order: 5;
	}
	.rc-4 {
		order: 6;
		padding-bottom: 20px;
	}
	.rc-5 {
		order: 7;
	}
	app-one-button-custom {
		::ng-deep {

			.modal-dialog-container {
				display: flex;
				flex-direction: column;
				max-width: 368px;
				width: 100%;
				padding: 10px 12px;
				height: 100%;
				margin: 56px 0 56px -15px;
			}
			.modal-main {
				height: 100%;
			}
			.modal-button {
				font-size: 18px;
				height: 44px;
				margin: 0 auto;
				width: 100%;
				max-width: 350px;
			}
			&.game-type {

				&__title {
					font-size: 18px;
				}

				&__text {
					font-size: 12px;
					&_special {
						padding: 0 50px;
					}
				}

				&__cond {
					li {
						margin: 0;
					}
				}
			}
			app-close-button {
				::ng-deep {
					.close-button {
						width: 16px;
						height: 16px;
						right: 15px;
						top: 10px;
					}
				}
			}
		}
		&.game-type_a {
			app-races-buttons {
				margin: 30px -12px 30px 0;
			}
		}
		&.game-type_b {
			app-races-buttons {
				margin: 0;
			}
		}
		&.game-type_b {
			app-races-buttons {
				margin: 20px 0;
			}
		}
		&.game-type_g {
			app-races-buttons {
				margin: 20px 0;
			}
		}
		&.game-type_d {
			app-races-buttons {
				margin: 40px 0 0 0;
			}
		}
	}

	app-register-bet-button.register-bet-button {
		max-width: 464px;
		height: 44px;
		display: flex;
	}
	.lottery-container {
		padding: 10px;
	}
}

@media screen and (max-width: 479px) {
	.common-title {
		font-size: 12px;
		margin-bottom: 4px;
	}
	.fake-block {
		display: none;
	}
	.lott-grid {
		grid-template: repeat(7, auto) / 1fr;
		grid-gap: 8px 10px;
		gap: 8px 10px;
		margin-left: 0;
	}

	.rc-1 {
		justify-self: end;
		order: 1;
	}
	.draws-like {
		order: 2;
	}
	app-msl-game-logo.logo-in-lottery {
		top: 16px;
		left: 10px;
		::ng-deep {
			.game-logo {
				&__title {
					font-size: 11px;
				}
				&__left {
					margin-right: 0;
				}
				&__image {
					max-height: 20px;
				}
			}
		}
	}
	.goto-results {
		font-size: 11px;
		height: 32px;
	}
	.draws-info {
		max-width: 360px;
		margin: 0 auto;
		width: 100%;
		padding: 2px 10px;
		&__message {
			margin: 2px;
			&_1 {
				font-size: 14px;
			}
			&_2 {
				font-size: 12px;
			}
		}
	}

	app-buttons-group.gg-bg-draws,
	app-buttons-group.gg-bg-bet-count,
	app-buttons-group.gg-bg-game-type,
	app-buttons-group.gg-bg-bet-sum {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 12px;
					margin-bottom: 4px;
				}
				&__items {
					&_theme {
						&_square-radial, &_gold {
							grid-gap: 8px;
							gap: 8px;
							grid-auto-columns: 48px;
							grid-template-columns: repeat(5, auto);
						}
					}
				}
				&__item {
					&_theme {
						&_square-radial, &_gold {
							width: 48px;
							height: 42px;
							font-size: 24px;
							font-family: $roboto_medium;
							border-width: 1px;
							border-radius: 4px;
						}
					}
				}
			}
		}
	}

	.draws-like {
		grid-row-start: auto;
		grid-row-end: auto;
	}

	app-buttons-group.gg-bg-game-type {
		::ng-deep {
			.buttons-group__items {
				padding-bottom: 18px;
			}
		}
	}

	app-buttons-group.gg-bg-draws {
		padding-top: 0;
		overflow: hidden;
		grid-row-start: auto;
		grid-row-end: auto;
		margin-right: -10px;
		order: 3;
		margin-top: 0;
		::ng-deep {
			.buttons-group {
				&__items {
					&_theme {
						&_gold {
							justify-content: start;
							grid-gap: 8px;
							gap: 8px;
							grid-auto-columns: 48px;
						}
					}
				}
				&__item {
					&_theme {
						&_gold {
							width: 48px;
							height: 42px;
							font-size: 24px;
							font-family: $roboto_medium;
						}
					}
				}
			}
		}
	}

	app-buttons-group.gg-bg-game-subtype {
		display: block;
		max-width: 272px;
		margin: 0 auto;
		::ng-deep {
			.buttons-group {
				&__items {
					grid-column-gap: 8px;
					column-gap: 8px;
					grid-template-columns: 48px 1fr;
				}
				&__item {
					&_theme_square-radial {
						font-size: 14px;
						text-transform: uppercase;
						height: 32px;
					}
				}
			}
		}
	}
	.rc-2 {
		order: 4;
	}
	.rc-3 {
		order: 5;
	}
	.rc-4 {
		order: 6;
		padding-bottom: 20px;
	}
	.rc-5 {
		order: 7;
	}
	app-one-button-custom {
		::ng-deep {
			.modal-dialog-container {
				display: flex;
				flex-direction: column;
				max-width: none;
				width: calc(100% - 8px);
				height: calc(100% - 16px);
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: 0;
				padding: 10px 0;
				overflow: hidden;
			}
			.modal-main {
				height: 100%;
				padding-left: 4px;
				padding-right: 4px;
			}
			.modal-buttons-container {
				padding-top: 10px;
				border-top: 1px solid $msl_base_green;
				box-shadow: 0 -1px 5px 0px #CCCCCC;
				margin-bottom: -10px;
				padding-bottom: 10px;
			}
			.modal-button {
				font-size: 18px;
				height: 44px;
				margin: 0 auto;
				width: 100%;
				max-width: 350px;
			}
			&.game-type {

				&__title {
					font-size: 18px;
				}

				&__text {
					font-size: 12px;
					&_special {
						padding: 0 50px;
					}
				}

				&__cond {
					li {
						margin: 0;
					}
				}
			}
			app-close-button {
				::ng-deep {
					.close-button {
						width: 16px;
						height: 16px;
						right: 15px;
						top: 10px;
					}
				}
			}
		}
		&.game-type_a {
			app-races-buttons {
				margin: 10px -4px 10px 0;
			}
		}
		&.game-type_b {
			app-races-buttons {
				margin: 10px -4px 10px 0;
			}
		}
		&.game-type_b {
			app-races-buttons {
				margin: 10px -4px 10px 0;
			}
		}
		&.game-type_g {
			app-races-buttons {
				margin: 10px -4px 10px 0;
			}
		}
		&.game-type_d {
			app-races-buttons {
				margin: 10px -4px 10px 0;
			}
		}
	}

	app-register-bet-button.register-bet-button {
		max-width: 464px;
		height: 44px;
		display: flex;
	}
	.lottery-container {
		padding: 10px;
	}
}
