<div class="lottery-container"
	 data-cy="lottery-container"
>

	<app-msl-game-logo class="logo-in-lottery"
					   data-cy="logo-in-lottery"
					   [gameCode]="LotteryGameCode.Gonka"
	></app-msl-game-logo>

	<div class="lott-grid"
		 data-cy="lott-grid"
	>

		<div class="fake-block"
			 data-cy="fake-block"
		></div>

		<div class="rc-1"
			 data-cy="rc-1"
		>
			<button type="button"
					class="button button_theme_gold goto-results"
					[routerLink]="gonkaLotteryService.resultsUrl"
					data-cy="goto-results"
			>
				{{ 'lottery.results' | translate }} "{{ 'lottery.race_for_money.loto_gonka' | translate }}"
			</button>
		</div>

		<div class="draws-like"
			 data-cy="draws-like"
		>
			<!-- БЛИЖАЙШИЙ ТИРАЖ -->
			<div class="common-title"
				 data-cy="common-title"
			>
				{{ 'lottery.race_for_money.nearest_draw' | translate }}
			</div>

			<div class="draws-info"
				 data-cy="draws-info"
			>
				<div class="draws-info__message draws-info__message_1"
					 data-cy="draws-info__message"
				>{{ 'lottery.race_for_money.draws_message_1' | translate }}</div>
				<div class="draws-info__message draws-info__message_2"
					 data-cy="draws-info__message"
				>{{ 'lottery.race_for_money.draws_message_2' | translate }}</div>
			</div>
		</div>

		<div class="rc-2"
			 data-cy="rc-2"
		>
			<!-- КОЛИЧЕСТВО СТАВОК -->
			<app-buttons-group
				#betsCountButtons
				class="gg-bg-bet-count"
				[workMode]="buttonGroupMode.range_deselect_2"
				[buttonGroupLabel]="'lottery.race_for_money.bets_count' | translate | uppercase"
				[buttonsCount]="5"
				[buttonGroupStyle]="buttonGroupStyle.outline_square_radial_fill"
				(clickButton)="onSelectedBetCountHandler($event)"
				[selectedButtons]="gonkaLotteryService.betCount - 1"
				[titleBlinking]="!gonkaLotteryService.betCount"
				data-cy="gg-bg-bet-count"
			>
			</app-buttons-group>
		</div>

		<!-- ТИРАЖИ -->
		<app-buttons-group
			#drawsComponent
			class="gg-bg-draws"
			data-cy="gg-bg-draws"
			[workMode]="buttonGroupMode.range_deselect_2"
			[buttonGroupLabel]="'lottery.race_for_money.draws_count' | translate | uppercase"
			[buttonsCount]="15"
			[labelsArray]="DRAWS_LABELS"
			[buttonGroupStyle]="buttonGroupStyle.button_gold"
			(clickButton)="onSelectedDrawsHandler($event)"
			[titleBlinking]="!gonkaLotteryService.drawsCount"
		>
		</app-buttons-group>

		<div class="rc-3"
			 data-cy="rc-3"
		>
			<!-- ТИП ИГРЫ -->
			<app-buttons-group
				#gameTypeComponent
				class="gg-bg-game-type"
				[workMode]="buttonGroupMode.radio_deselect"
				[buttonGroupLabel]="'lottery.race_for_money.game_type' | translate | uppercase"
				[buttonsCount]="GAME_TYPES.length"
				[labelsArray]="GAME_TYPES"
				[countSelectedButtons]="1"
				[valuesArray]="GAME_TYPE_VALUES"
				[buttonGroupStyle]="buttonGroupStyle.outline_square_radial_fill"
				[selectedButtons]="gtIndex ? [gtIndex] : gtIndex"
				data-cy="gg-bg-game-type"
				(clickButton)="onSelectedGameTypeHandler($event)"
				[titleBlinking]="!gonkaLotteryService.gameType"
			>
			</app-buttons-group>

			<!-- ПОДТИП ИГРЫ -->
			<app-buttons-group
				#gameSubTypeComponent
				class="gg-bg-game-subtype"
				[workMode]="buttonGroupMode.radio"
				[isDisabled]="!(gonkaLotteryService.gameType > 0)"
				[buttonsCount]="2"
				[labelsArray]="['lottery.race_for_money.auto', 'lottery.race_for_money.winners_select']"
				[valuesArray]="[false, true]"
				[isNeededTranslation]="true"
				[selectedButtons]="gonkaLotteryService.isManualInput ? [1] : [0]"
				[buttonGroupStyle]="buttonGroupStyle.outline_square_radial_fill"
				data-cy="gg-bg-game-subtype"
				(clickButton)="onSelectedGameSubTypeHandler($event)"
			>
			</app-buttons-group>
		</div>

		<div class="fake-block"
			 data-cy="fake-block"
		></div>

		<div class="rc-4"
			 data-cy="rc-4"
		>
			<!-- СУММА СТАВКИ -->
			<app-buttons-group
				#betSumComponent
				class="gg-bg-bet-sum"
				data-cy="gg-bg-bet-sum"
				[workMode]="buttonGroupMode.radio_deselect"
				[buttonGroupLabel]="('lottery.bet_sum' | translate | uppercase) + ' (' + ('lottery.uah' | translate) + ')'"
				[buttonsCount]="4"
				[countSelectedButtons]="1"
				[selectedButtons]="summIndex >= 0 ? [summIndex] : []"
				[labelsArray]="BET_SUMMA_LIST"
				[buttonGroupStyle]="buttonGroupStyle.outline_square_radial_fill"
				(clickButton)="onSelectedBetSummaHandler($event)"
				[titleBlinking]="!gonkaLotteryService.betSumma"
			>
			</app-buttons-group>
		</div>

		<div class="fake-block"
			 data-cy="fake-block"
		></div>

		<div class="rc-5"
			 data-cy="rc-5"
		>
			<!-- КНОПКА РЕГИСТРАЦИИ СТАВКИ -->
			<app-register-bet-button
				class="register-bet-button"
				data-cy="register-bet-button"
				[amount]="gonkaLotteryService.buyEnabled ? gonkaLotteryService.amount : 0"
				(action)="gonkaLotteryService.goToRegistryPage()"
				[isDisabled]="!gonkaLotteryService.buyEnabled"
			></app-register-bet-button>
		</div>
	</div>



	<app-one-button-custom
		#gameTypeA
		class="game-type game-type_a"
		data-cy="game-type"
		[buttonText]="'lottery.race_for_money.select'"
		[buttonDisabled]="!gonkaLotteryService.racesA?.isValid"
		(confirm)="onDialogSelectHandler()"
		(cancel)="onDialogCancelHandler()"
		>
		<div class="modal-main"
			 data-cy="modal-main"
		>
			<h3 class="game-type__title"
				data-cy="game-type-title"
			>{{ 'lottery.race_for_money.game_type' | translate }} А</h3>
			<div class="game-type__text game-type__text_center"
				 [innerHTML]="'lottery.race_for_money.guess_exact' | translate"
				 data-cy="game-type-text"
			></div>
			<div class="game-type__text game-type__text_center"
				 data-cy="game-type-text"
			>{{ 'lottery.race_for_money.you_can_win' | translate }}</div>
			<app-races-buttons #racesButtonsA
							   [(races)]="gonkaLotteryService.racesA"
							   data-cy="races-buttons"
			></app-races-buttons>
		</div>
	</app-one-button-custom>

	<app-one-button-custom
		#gameTypeB
		class="game-type game-type_b"
		data-cy="game-type"
		[buttonText]="'lottery.race_for_money.select'"
		[buttonDisabled]="!gonkaLotteryService.racesB?.isValid"
		(confirm)="onDialogSelectHandler()"
		(cancel)="onDialogCancelHandler()"
		>
		<div class="modal-main"
			 data-cy="modal-main"
		>
			<h3 class="game-type__title"
				data-cy="game-type-title"
			>{{ 'lottery.race_for_money.game_type' | translate }} Б</h3>
			<div class="game-type__text game-type__text_center"
				 data-cy="game-type-text"
				 [innerHTML]="'lottery.race_for_money.guess_any' | translate"
			></div>
			<ul class="game-type__cond"
				data-cy="game-type__cond"
			>
				<li class="game-type__text"
					data-cy="game-type-text"
				>{{ 'lottery.race_for_money.guess_any_1' | translate }};</li>
				<li class="game-type__text"
					data-cy="game-type-text"
				>{{ 'lottery.race_for_money.guess_any_2' | translate }};</li>
				<li class="game-type__text"
					data-cy="game-type-text"
				>{{ 'lottery.race_for_money.guess_any_3' | translate }};</li>
				<li class="game-type__text"
					data-cy="game-type-text"
				>{{ 'lottery.race_for_money.guess_any_4' | translate }}.</li>
			</ul>

			<!-- КНОПКИ - ЗАЕЗДЫ -->
			<app-races-buttons #racesButtonsB
							   [(races)]="gonkaLotteryService.racesB"
							   data-cy="races-buttons"
			></app-races-buttons>
		</div>
	</app-one-button-custom>

	<app-one-button-custom
		#gameTypeV
		class="game-type game-type_v"
		[buttonText]="'lottery.race_for_money.select'"
		[buttonDisabled]="!gonkaLotteryService.racesV?.isValid"
		data-cy="game-type"
		(confirm)="onDialogSelectHandler()"
		(cancel)="onDialogCancelHandler()"
		>
		<div class="modal-main"
			 data-cy="modal-main"
		>
			<h3 class="game-type__title"
				data-cy="game-type-title"
			>{{ 'lottery.race_for_money.game_type' | translate }} В</h3>
			<div class="game-type__text game-type__text_center"
				 data-cy="game-type-text"
				 [innerHTML]="'lottery.race_for_money.guess_exact_2' | translate"
			></div>
			<ul class="game-type__cond"
				data-cy="game-type-cond"
			>
				<li class="game-type__text"
					data-cy="game-type-text"
				>{{ 'lottery.race_for_money.guess_v_1' | translate }};</li>
				<li class="game-type__text"
					data-cy="game-type-text"
				>{{ 'lottery.race_for_money.guess_v_2' | translate }}.</li>
			</ul>

			<!-- КНОПКИ - ЗАЕЗДЫ -->
			<app-races-buttons #racesButtonsV
							   [(races)]="gonkaLotteryService.racesV"
							   data-cy="races-buttons"
			></app-races-buttons>
		</div>
	</app-one-button-custom>

	<app-one-button-custom
		#gameTypeG
		class="game-type game-type_g"
		[buttonText]="'lottery.race_for_money.select'"
		[buttonDisabled]="!gonkaLotteryService.racesG?.isValid"
		data-cy="game-type"
		(confirm)="onDialogSelectHandler()"
		(cancel)="onDialogCancelHandler()"
		>
		<div class="modal-main"
			 data-cy="modal-main"
		>
			<h3 class="game-type__title"
				data-cy="game-type-title"
			>{{ 'lottery.race_for_money.game_type' | translate }} Г</h3>
			<div class="game-type__text game-type__text_center"
				 [innerHTML]="'lottery.race_for_money.guess_exact_3' | translate"
				 data-cy="game-type-text"
			></div>
			<ul class="game-type__cond"
				data-cy="game-type-cond"
			>
				<li class="game-type__text"
					data-cy="game-type-text"
				>{{ 'lottery.race_for_money.guess_g_1' | translate }};</li>
				<li class="game-type__text"
					data-cy="game-type-text"
				>{{ 'lottery.race_for_money.guess_g_2' | translate }}.</li>
			</ul>

			<!-- КНОПКИ - ЗАЕЗДЫ -->
			<app-races-buttons #racesButtonsG
							   [(races)]="gonkaLotteryService.racesG"
							   data-cy="races-buttons"
			></app-races-buttons>
		</div>
	</app-one-button-custom>

	<app-one-button-custom
		#gameTypeD
		class="game-type game-type_d"
		data-cy="game-type"
		[buttonText]="'lottery.race_for_money.select'"
		[buttonDisabled]="!gonkaLotteryService.racesD?.isValid"
		(confirm)="onDialogSelectHandler()"
		(cancel)="onDialogCancelHandler()"
		>
		<div class="modal-main"
			 data-cy="modal-main"
		>
			<h3 class="game-type__title"
				data-cy="game-type-title"
			>{{ 'lottery.race_for_money.game_type' | translate }} Д</h3>
			<div class="game-type__text game-type__text_center mb-8"
				 [innerHTML]="'lottery.race_for_money.guess_any_d' | translate"
				 data-cy="game-type-text"
			></div>
			<div class="game-type__text game-type__text_center game-type__text_special"
				 data-cy="game-type-text"
			>{{ 'lottery.race_for_money.guess_any_d_2' | translate }}</div>

			<!-- КНОПКИ - ЗАЕЗДЫ -->
			<app-races-buttons
				#racesButtonsD
				[(races)]="gonkaLotteryService.racesD"
				[racesSelection]="true"
				[rowsCounters]="true"
				data-cy="races-buttons"
				>
			</app-races-buttons>
		</div>
	</app-one-button-custom>
</div>
