@import 'variables';

:host {
	height: 100%;
	display: block;
	position: relative;
}
.results-navigator-container {
	display: grid;
	grid-template: auto minmax(0, 1fr) auto / 350px 1fr;
	grid-gap: 45px 40px;
	gap: 45px 40px;
	position: absolute;
	padding-bottom: 5px;
	top: 20px;
	right: 0;
	bottom: 15px;
	left: 0;
}

app-msl-game-logo.rnc-logo {
	display: grid;
	align-items: center;
	width: 100%;
	::ng-deep {
		.game-logo__left_game-code_13 + .game-logo__right .game-logo__title {
			font-size: 24px;
		}
	}
}

.rt-cell {
	display: grid;
	align-items: center;
}

.rnc-sell-btn {
	padding: 0 20px;
	width: auto;
	min-height: 80px;

	text-transform: uppercase;
	font-size: 30px;
	color: $msl_main_text_color;
	justify-self: end;
	font-family: $roboto_medium;
	display: inline-block;
}

.no-results {
	text-align: center;
	font-size: 24px;
	color: $msl_main_text_color;
}

.no-results-nearest {
	font-size: 24px;
	color: $msl_main_text_color;
	text-align: center;
	font-family: $roboto_medium;
}

.no-content-results {
	position: absolute;
	left: 30px;
	top: 30px;
	right: 30px;
	bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $msl_non_active_block;
	text-transform: uppercase;
	font-size: 36px;
	font-family: $roboto_medium;
}

.rnc-left {
	width: 350px;

	display: grid;
	grid-template: auto minmax(0, 1fr) / auto;
	row-gap: 12px;
	grid-row-gap: 12px;

	&__date-input {
		display: block;
		height: 66px;
	}

	&__switcher {
		margin-top: 8px;
		height: 66px;
	}
}

app-draws-buttons.rnc-draws {
	height: 100%;
	::ng-deep {
		.dbc-draw {
			height: 66px;
			& + .dbc-draw {
				margin-top: 16px;
			}
		}
	}
}

.rb-cell {
	display: grid;
	align-items: center;
}

.rnc-print-results {
	justify-self: end;
}

.switcher-input {
	display: none;
}


// -----------------------------------------
//  Контент
// -----------------------------------------

.rnc-content-container {
	border: 2px solid $msl_base_yellow;
	border-radius: 10px;
	padding-right: 5px;
	&_inactive {
		border: 2px solid $msl_placeholder_text_color;
		position: relative;
	}
}

.rnc-content-scroll {
	height: 100%;
	padding-top: 30px;
}

.rnc-header-date {
	width: 100%;
	font-family: $roboto_medium;
	font-size: 50px;
	text-align: center;
	color: $msl_darken_yellow;
	display: block;
	padding: 10px;
}

.dbc-draw {
	height: 66px;
}

.rnc-draws {
	&_game-code {
		&_71, &_72 {
			.dbc-number {
				font-size: 30px;
			}
			.dbc-data {
				width: auto;
			}
		}
	}
}

.switchers {
	display: none;
}

.draws-buttons-wrapper {
	overflow-y: auto;
}

@media screen and (max-width: 1919px) {
	.results-navigator-container {
		top: 15px;
		grid-gap: 12px 20px;
		gap: 12px 20px;
	}
	.rnc-sell-btn {
		padding: 0 10px;
		min-height: 66px;
		font-size: 24px;
	}

	.rnc-left {
		row-gap: 8px;
		grid-row-gap: 8px;
	}

	app-draws-buttons.rnc-draws {
		::ng-deep {
			.dbc-draw {
				& + .dbc-draw {
					margin-top: 8px;
				}
			}
		}
	}

	.rnc-header-date {
		font-size: 36px;
		padding: 8px 10px;
	}

	.rnc-content-scroll {
		padding-top: 10px;
	}
}

@media screen and (max-width: 1365px) {
	.rnc-content-container {
		padding-right: 3px;
		::ng-deep {
			.custom-scrollbar {
				&::-webkit-scrollbar {
					width: 10px;
				}
				&::-webkit-scrollbar-track {
					margin: 5px 0;
				}
			}
		}
	}
	.rnc-left {
		width: 240px;
		&__date-input {
			height: 44px;
		}
		app-calendar-date-input {
			::ng-deep {
				.calendar-date-input-container {
					.cdi-input label {
						font-size: 24px;
					}
					i {
						font-size: 24px;
					}
				}
			}
		}
		&__switcher {
			font-size: 24px;
			height: 44px;
		}
	}

	app-draws-buttons.rnc-draws {
		::ng-deep {
			.dbc-draw {
				height: 44px;
			}

			.dbc-number {
				font-size: 16px;
			}

			.dbc-time-left {
				font-size: 16px;
			}

			.dbc-date {
				font-size: 16px;
				text-align: right;
				padding-right: 10px;
			}


			.dbc-draw + .dbc-draw {
				margin-top: 8px;
			}
			&_game-code {
				&_71, &_72 {
					.dbc-number {
						font-size: 18px;
					}
				}
			}
		}
	}

	.rnc-sell-btn {
		min-height: 60px;
		font-size: 24px;
	}

	.results-navigator-container {
		padding-bottom: 0;
		grid-gap: 22px 18px;
		gap: 22px 18px;
		grid-template-columns: 240px 1fr;
	}

	.rnc-header-date {
		font-size: 32px;
	}

	.no-results, .no-results-nearest {
		font-size: 18px;
		margin: 5px 0;
	}

	.draws-buttons-wrapper {
		::ng-deep {
			.custom-scrollbar {
				&::-webkit-scrollbar {
					width: 10px;
				}
			}
		}
	}
	.rnc-content-scroll {
		padding-top: 25px;
	}
	app-msl-game-logo.rnc-logo {
		::ng-deep {
			.game-logo__left_game-code_13 + .game-logo__right .game-logo__title {
				font-size: 18px;
			}
			.game-logo__image_game-code-13 {
				max-width: 50px;
			}
		}
	}
}

@media screen and (max-width: 1139px) {
	.rnc-content-container {
		padding-right: 3px;
		overflow: hidden;
	}
	.rnc-left {
		width: 240px;
		&__date-input {
			height: 44px;
		}
		app-calendar-date-input {
			::ng-deep {
				.calendar-date-input-container {
					.cdi-input label {
						font-size: 24px;
					}
					i {
						font-size: 24px;
					}
				}
			}
		}
		&__switcher {
			font-size: 24px;
			height: 44px;
		}
	}

	app-draws-buttons.rnc-draws {
		::ng-deep {
			.dbc-date {
				font-size: 15px;
			}
			.dbc-draw {
				height: 44px;
			}
			.dbc-draw + .dbc-draw {
				margin-top: 8px;
			}
			&_game-code {
				&_71, &_72 {
					.dbc-number {
						font-size: 18px;
					}
				}
			}
		}
	}

	.rnc-sell-btn {
		min-height: 44px;
		font-size: 18px;
	}

	.results-navigator-container {
		padding-bottom: 0;
		grid-gap: 20px 12px;
		gap: 20px 12px;
		top: 10px;
	}

	.rnc-header-date {
		font-size: 20px;
		padding: 10px 10px 5px 10px;
	}

	.no-results, .no-results-nearest {
		font-size: 18px;
		margin: 5px 0;
	}

	.draws-buttons-wrapper {
		::ng-deep {
			.custom-scrollbar {
				&::-webkit-scrollbar {
					width: 10px;
				}
			}
		}
	}
	.rnc-content-scroll {
		padding-top: 0;
		&::-webkit-scrollbar {
			width: 8px;
		}
		&::-webkit-scrollbar-thumb {
			border: none;
		}
	}
}

@media screen and (max-width: 853px) {
	.results-navigator-container {
		grid-template: auto auto minmax(0, 1fr) auto / auto 1fr;
		grid-template-areas: "logo lott-button" "switcher switcher" "content content" "bottom-cell bottom-cell";
		grid-gap: 0 16px;
		gap: 0 16px;
		bottom: 10px;
		overflow-x: hidden;
	}

	.rnc-logo {
		grid-area: logo;
		margin: 10px 12px;
		::ng-deep {
			.game-logo__left {
				margin-right: 16px;
			}
		}
	}

	.rt-cell {
		grid-area: lott-button;
		margin-right: 12px;
	}

	.rnc-left, .rnc-content-container {
		grid-area: content;
		display: none;
		width: 100%;
	}

	.rnc-left {
		padding-top: 54px;
		&__date-input {
			max-width: 350px;
			height: 66px;
			margin: 0 auto;
			::ng-deep {
				.cdi-input {
					border-radius: 4px;
					border-width: 2px;
				}
			}
		}
		app-calendar-date-input {
			::ng-deep {
				.calendar-date-input-container {
					.cdi-input label {
						font-size: 36px;
					}
					i {
						font-size: 36px;
						top: 16px;
					}
				}
			}
		}
		&__switcher {
			max-width: 240px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.rnc-content-container {
		border-width: 2px;
		overflow: hidden;
		max-width: 640px;
		margin: 55px auto 50px auto;
		&_game-code_2 {
			margin: 55px 15px 50px 15px;
			max-width: none;
			width: calc(100% - 30px);
		}
	}

	.rnc-content-scroll {
		&_game-code_2 {
			&::-webkit-scrollbar {
				height: 8px;
			}
			&::-webkit-scrollbar-thumb {
				height: 8px;
			}
			&::-webkit-scrollbar-track {
				height: 8px;
			}
		}
	}

	.lb-cell, .rb-cell {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-area: bottom-cell;
		padding: 10px 8px 0 8px;
		border-top: 1px solid $msl_base_green;
		margin: 0 -10px;
		display: none;
	}

	.rb-cell {
		min-height: 55px;
	}

	.switchers {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-area: switcher;
		grid-column-start: 1;
		grid-column-end: 3;
		justify-items: stretch;
		margin: 0 -10px;
		padding-top: 15px;
		&_draws ~ .rnc-left {
			display: grid;
		}
		&_results ~ .rnc-content-container {
			display: block;
		}

		&_draws ~ .lb-cell {
			display: grid;
		}
		&_results ~ .rb-cell {
			display: grid;
			border-top: none;
		}
	}

	app-draws-buttons.rnc-draws {
		::ng-deep {
			.dbc-draws {
				display: block;
				width: auto;
			}
			.dbc-draw {
				max-width: 350px;
				width: 100%;
				height: 66px;
				margin-left: auto;
				margin-right: auto;
				border-radius: 8px;
			}
			.dbc-number {
				font-size: 36px;
			}
			.dbc-date {
				font-size: 24px;
				margin-bottom: 0;
			}
		}

		&_game-code_13, &_game-code_52 {
			::ng-deep {
				.dbc-number {
					font-size: 30px;
				}
			}
		}
	}

	.rnc-sell-btn {
		font-size: 24px;
		border-width: 2px;
		border-radius: 8px;
		padding: 0 8px;
		min-height: 60px;
	}

	.switcher-item {
		font-family: $roboto_regular;
		font-size: 36px;
		text-align: center;
		border-bottom: 1px solid $msl_main_text_color;
		color: $msl_main_text_color;
		padding: 10px 0;
	}

	.switcher-input:checked + .switcher-item {
		font-family: $roboto_medium;
		border-bottom: 2px solid $msl_main_text_color;
	}

	.rnc-header-date {
		font-size: 24px;
		padding: 5px;
		margin-top: 15px;
		margin-bottom: 10px;
		text-align: center;
		&_game-code_2 {
			width: 130%;
		}
	}

	.no-results, .no-results-nearest {
		font-size: 18px;
	}

	.no-content-results {
		text-align: center;
	}

	.no-results-nearest {
		margin-bottom: 0;
	}

	.draws-buttons-wrapper {
		::ng-deep {
			.custom-scrollbar {
				padding-right: 8px;
				margin-right: -8px;
				padding-left: 9px;
				overflow-y: scroll;
				&::-webkit-scrollbar-track {
					margin: 8px 0;
					visibility: hidden;
				}
				&_overflow {
					&::-webkit-scrollbar-track {
						visibility: visible;
					}
				}
			}
		}
	}
	.rnc-print-results {
		justify-self: center;
	}
}

@media screen and (max-width: 839px) {
	.results-navigator-container {
		grid-template: auto auto minmax(0, 1fr) auto / auto 1fr;
		grid-template-areas: "logo lott-button" "switcher switcher" "content content" "bottom-cell bottom-cell";
		grid-gap: 0 16px;
		gap: 0 16px;
		top: 5px;
		min-height: 470px;
	}

	.rnc-logo {
		grid-area: logo;
		::ng-deep {
			.game-logo__left {
				margin-right: 8px;
			}
		}
	}

	.rt-cell {
		grid-area: lott-button;
	}

	.rnc-left, .rnc-content-container {
		grid-area: content;
		display: none;
		width: 100%;
	}

	.rnc-left {
		padding-top: 30px;
		&__date-input {
			max-width: 350px;
			margin: 0 auto;
			::ng-deep {
				.cdi-input {
					border-radius: 4px;
					border-width: 2px;
				}
			}
		}
		&__switcher {
			max-width: 240px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.rnc-content-container {
		border-width: 1px;
		margin: 30px auto 16px auto;
		overflow: hidden;
		max-width: 464px;
		// max-height: 500px;
		&_game-code_2 {
			margin: 30px 15px 16px 15px;
			max-width: none;
			width: calc(100% - 30px);
		}
		&_game-code_52 {
			max-width: none;
			width: calc(100% - 30px);
		}
	}

	.rnc-content-scroll {
		padding-left: 12px;
		padding-right: 12px;
	}

	.lb-cell, .rb-cell {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-area: bottom-cell;
		padding: 10px 8px 0 8px;
		border-top: 1px solid $msl_base_green;
		margin: 0 -10px;
		display: none;
	}

	.rb-cell {
		min-height: 55px;
	}

	.switchers {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-area: switcher;
		grid-column-start: 1;
		grid-column-end: 3;
		justify-items: stretch;
		margin: 0 -10px;
		padding-top: 15px;
		&_draws ~ .rnc-left {
			display: grid;
		}
		&_results ~ .rnc-content-container {
			display: block;
		}

		&_draws ~ .lb-cell {
			display: grid;
		}
		&_results ~ .rb-cell {
			display: grid;
		}
	}


	.rnc-draws {
		::ng-deep {
			.dbc-draws {
				display: block;
				width: auto;
			}
			.dbc-draw {
				max-width: 240px;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				border-radius: 4px;
			}
		}
	}

	.rnc-sell-btn {
		font-size: 20px;
		border-width: 2px;
		border-radius: 8px;
		padding: 0 8px;
		min-height: 44px;
	}

	.switcher-item {
		font-family: $roboto_regular;
		font-size: 24px;
		text-align: center;
		border-bottom: 1px solid $msl_main_text_color;
		color: $msl_main_text_color;
		padding: 10px 0;
	}

	.switcher-input:checked + .switcher-item {
		font-family: $roboto_medium;
		border-bottom: 2px solid $msl_main_text_color;
	}

	.rnc-header-date {
		font-size: 18px;
		padding: 5px;
		margin-top: 10px;
		margin-bottom: 0;
		&_game-code_2 {
			width: 150%;
		}
	}

	.no-results, .no-results-nearest {
		font-size: 18px;
	}

	.no-content-results {
		text-align: center;
	}

	.no-results-nearest {
		margin-bottom: 0;
	}

	.draws-buttons-wrapper {
		::ng-deep {
			.custom-scrollbar {
				padding-right: 8px;
				margin-right: -8px;
				padding-left: 9px;
				overflow-y: scroll;
				&::-webkit-scrollbar-track {
					margin: 8px 0;
					visibility: hidden;
				}
				&_overflow {
					&::-webkit-scrollbar-track {
						visibility: visible;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 639px) {
	.results-navigator-container {
		grid-template: auto auto minmax(0, 1fr) auto / auto 1fr;
		grid-template-areas: "logo lott-button" "switcher switcher" "content content" "bottom-cell bottom-cell";
		grid-gap: 0 16px;
		gap: 0 16px;
		top: 10px;
		min-height: auto;
	}

	.rnc-logo {
		grid-area: logo;
		margin: 5px 8px;
		::ng-deep {
			.game-logo__image {
				max-height: 40px;
			}
			.game-logo__right {
				display: none;
			}
		}
	}

	.rt-cell {
		grid-area: lott-button;
		margin-right: 8px;
	}

	.rnc-left, .rnc-content-container {
		grid-area: content;
		display: none;
		width: 100%;
	}

	.rnc-left {
		padding-top: 22px;
		app-calendar-date-input.rnc-left__date-input {
			max-width: 240px;
			height: 44px;
			margin: 0 auto;
			::ng-deep {
				.calendar-date-input-container {
					.cdi-input {
						border-radius: 4px;
						border-width: 2px;
						label {
							font-size: 24px;
						}
					}
					i {
						font-size: 26px;
						top: 10px;
					}
				}
			}
		}
		&__switcher {
			max-width: 240px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.rnc-content-container {
		border-width: 1px;
		margin: 22px auto;
		overflow: hidden;
		// max-height: 400px;
		width: calc(100% - 30px);
	}

	.lb-cell, .rb-cell {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-area: bottom-cell;
		padding: 10px 8px 0 8px;
		border-top: 1px solid $msl_base_green;
		margin: 0 -10px;
		display: none;
	}

	.rb-cell {
		min-height: 55px;
	}

	.switchers {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-area: switcher;
		grid-column-start: 1;
		grid-column-end: 3;
		justify-items: stretch;
		margin: 0 -10px;
		padding-top: 20px;
		&_draws ~ .rnc-left {
			display: grid;
		}
		&_results ~ .rnc-content-container {
			display: block;
		}

		&_draws ~ .lb-cell {
			display: grid;
		}
		&_results ~ .rb-cell {
			display: grid;
		}
	}


	app-draws-buttons.rnc-draws {
		::ng-deep {
			.dbc-draws {
				display: block;
				width: auto;
			}
			.dbc-draw {
				max-width: 240px;
				width: 100%;
				height: 44px;
				margin-left: auto;
				margin-right: auto;
				border-radius: 4px;
			}
			.dbc-number {
				font-size: 18px;
			}
			.dbc-date {
				font-size: 14px;
				text-align: left;
			}
		}
	}

	.rnc-sell-btn {
		font-size: 15px;
		border-width: 2px;
		border-radius: 8px;
		padding: 0 8px;
		min-height: 44px;
	}

	.switcher-item {
		font-family: $roboto_regular;
		font-size: 18px;
		text-align: center;
		border-bottom: 1px solid $msl_main_text_color;
		color: $msl_main_text_color;
		padding: 10px 0;
	}

	.switcher-input:checked + .switcher-item {
		font-family: $roboto_medium;
		border-bottom: 2px solid $msl_main_text_color;
	}

	.rnc-header-date {
		font-size: 18px;
		padding: 5px;
		margin-top: 10px;
	}

	.no-results, .no-results-nearest {
		font-size: 18px;
	}

	.no-content-results {
		text-align: center;
	}

	.no-results-nearest {
		margin-bottom: 0;
	}

	.draws-buttons-wrapper {
		::ng-deep {
			.custom-scrollbar {
				padding-right: 8px;
				margin-right: -8px;
				padding-left: 9px;
				overflow-y: scroll;
				&::-webkit-scrollbar-track {
					margin: 8px 0;
					visibility: hidden;
				}
				&_overflow {
					&::-webkit-scrollbar-track {
						visibility: visible;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 479px) {
	.results-navigator-container {
		grid-template: auto auto minmax(0, 1fr) auto / auto 1fr;
		grid-template-areas: "logo lott-button" "switcher switcher" "content content" "bottom-cell bottom-cell";
		grid-gap: 0 16px;
		gap: 0 16px;
		top: 13px;
	}

	.rnc-logo {
		grid-area: logo;
		::ng-deep {
			.game-logo {
				&__image {
					max-height: 32px;
				}
				&__right {
					display: none;
				}
			}
		}
	}

	.rt-cell {
		grid-area: lott-button;
	}

	.rnc-left, .rnc-content-container {
		grid-area: content;
		display: none;
		width: 100%;
	}

	.rnc-left {
		padding-top: 16px;
		&__date-input {
			max-width: 240px;
			margin: 0 auto;
			::ng-deep {
				.cdi-input {
					border-radius: 4px;
					border-width: 1px;
				}
			}
		}
	}

	.rnc-content-container {
		border-width: 1px;
		margin: 16px auto;
		overflow: hidden;
		max-width: 344px;
	}

	.lb-cell, .rb-cell {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-area: bottom-cell;
		padding: 10px 8px 0 8px;
		border-top: 1px solid $msl_base_green;
		margin: 0 -10px;
		display: none;
	}

	.rb-cell {
		min-height: 55px;
	}

	.switchers {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-area: switcher;
		grid-column-start: 1;
		grid-column-end: 3;
		justify-items: stretch;
		margin: 0 -10px;
		padding-top: 15px;
		&_draws ~ .rnc-left {
			display: grid;
		}
		&_results ~ .rnc-content-container {
			display: block;
		}

		&_draws ~ .lb-cell {
			display: grid;
		}
		&_results ~ .rb-cell {
			display: grid;
		}
	}


	.rnc-draws {
		::ng-deep {
			.dbc-draws {
				display: block;
				width: auto;
			}
			.dbc-draw {
				max-width: 240px;
				width: 100%;
				margin-left: auto;
				margin-right: auto;
			}
			.button {
				&_theme {
					&_gold {
						border-radius: 4px;
					}
				}
			}
		}
	}

	.rnc-sell-btn {
		font-size: 15px;
		border-width: 1px;
		border-radius: 4px;
		padding: 0 8px;
		&_game {
			&_71, &_72 {
				font-size: 11px;
			}
		}
	}

	.switcher-item {
		font-family: $roboto_regular;
		font-size: 15px;
		text-align: center;
		border-bottom: 1px solid $msl_main_text_color;
		color: $msl_main_text_color;
		padding: 10px 0;
	}

	.switcher-input:checked + .switcher-item {
		font-family: $roboto_medium;
		border-bottom: 2px solid $msl_main_text_color;
	}

	.rnc-header-date {
		font-size: 14px;
		padding: 5px;
		margin-top: 5px;
	}

	.no-results, .no-results-nearest {
		font-size: 15px;
	}

	.no-content-results {
		text-align: center;
	}

	.no-results-nearest {
		margin-bottom: 0;
	}

	.draws-buttons-wrapper {
		::ng-deep {
			.custom-scrollbar {
				padding-right: 8px;
				margin-right: -8px;
				padding-left: 9px;
				overflow-y: scroll;
				&::-webkit-scrollbar-track {
					margin: 8px 0;
					visibility: hidden;
				}
				&_overflow {
					&::-webkit-scrollbar-track {
						visibility: visible;
					}
				}
			}
		}
	}
}
