@import 'variables';
@import 'lotteries-common';

.tmlbml-container {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr) auto;
	height: 100%;
	row-gap: 25px;
	grid-row-gap: 25px;
	padding: 30px 0 20px 0;
	position: absolute;
	left: 30px;
	right: 30px;
	top: 0;
	bottom: 0;
}

.input-tmlbml {
	height: 100%;
	display: block;
	border: 2px solid $msl_base_green;
}

.bottom-panel {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.register-bet-button {
	max-width: 600px;
	width: 100%;
	height: 88px;
	display: block;
}

.bml-game-logo {
	margin-left: -5px;
	::ng-deep {
		.game-logo {
			&__left {
				margin-right: 5px;
			}
			&__image {
				height: 76px;
				width: auto;
			}
			&__right {
				margin-top: -10px;
			}
		}
	}
}

@media screen and (max-width: 1919px) {
	.tmlbml-container {
		left: 10px;
		right: 10px;
		padding: 10px 0;
		row-gap: 14px;
		grid-row-gap: 14px;
	}
	.bml-game-logo {
		margin-left: -5px;
		::ng-deep {
			.game-logo {
				&__left {
					margin-right: 3px;
				}
				&__image {
					height: 55px;
					width: auto;
				}
				&__right {
					margin-top: 0;
				}
			}
		}
	}
	.register-bet-button {
		height: 80px;
		max-width: 468px;
	}
}

@media screen and (max-width: 1365px) {
	.tmlbml-container {
		left: 12px;
		right: 12px;
		padding: 10px 0;
		row-gap: 10px;
		grid-row-gap: 10px;
	}
	.bml-game-logo {
		margin-left: -2px;
		margin-top: 3px;
		::ng-deep {
			.game-logo {
				&__left {
					margin-right: 2px;
				}
				&__title {
					font-size: 24px;
				}
				&__image {
					height: 55px;
					width: auto;
				}
				&__right {
					margin-top: 0;
				}
			}
		}
	}
	.register-bet-button {
		height: 60px;
		max-width: 400px;
	}
}

@media screen and (max-width: 1139px) {
	.input-tmlbml {
		border-width: 1px;
	}
	.tmlbml-container {
		left: 12px;
		right: 12px;
		padding: 10px 0;
		row-gap: 10px;
		grid-row-gap: 10px;
	}
	.bml-game-logo {
		margin-left: -2px;
		margin-top: 0;
		::ng-deep {
			.game-logo {
				&__left {
					margin-right: -2px;
				}
				&__title {
					font-size: 18px;
				}
				&__image {
					height: 37px;
					width: auto;
				}
				&__right {
					margin-top: -5px;
				}
			}
		}
	}
	.register-bet-button {
		height: 44px;
		max-width: 300px;
	}
}

@media screen and (max-width: 853px) {
	.register-bet-button {
		max-width: none;
		height: 60px;
	}

	.bml-game-logo {
		margin-left: -2px;
		margin-top: 0;
		::ng-deep {
			.game-logo {
				&__left {
					margin-right: 3px;
				}
				&__title {
					font-size: 24px;
				}
				&__image {
					height: 55px;
					width: auto;
				}
				&__right {
					margin-top: -5px;
				}
			}
		}
	}
	.tmlbml-container {
		left: 12px;
		right: 12px;
		padding-top: 25px;
		padding-bottom: 10px;
		grid-row-gap: 10px;
		row-gap: 10px;
	}
	.input-tmlbml {
		border: none;
	}
}

@media screen and (max-width: 839px) {
	.register-bet-button {
		max-width: none;
		height: 60px;
	}

	.bml-game-logo {
		margin-left: -1px;
		margin-top: 0;
		::ng-deep {
			.game-logo {
				&__left {
					margin-right: 0;
				}
				&__title {
					font-size: 18px;
				}
				&__image {
					height: 33px;
					width: auto;
				}
				&__right {
					margin-top: -3px;
				}
			}
		}
	}
	.tmlbml-container {
		left: 12px;
		right: 12px;
		padding-top: 17px;
		padding-bottom: 10px;
		grid-row-gap: 10px;
		row-gap: 10px;
	}
	.input-tmlbml {
		border: none;
	}
}

@media screen and (max-width: 639px) {
	.register-bet-button {
		max-width: none;
		height: 44px;
	}

	.bml-game-logo {
		margin-left: 0;
		margin-top: 0;
		::ng-deep {
			.game-logo {
				&__left {
					margin-right: 12px;
				}
				&__title {
					font-size: 18px;
				}
				&__image {
					height: 33px;
					width: auto;
				}
				&__right {
					margin-top: -3px;
				}
			}
		}
	}
	.tmlbml-container {
		left: 8px;
		right: 8px;
		padding-top: 20px;
		padding-bottom: 10px;
		grid-row-gap: 10px;
		row-gap: 10px;
	}
	.input-tmlbml {
		border: none;
	}
}

@media screen and (max-width: 479px) {
	.register-bet-button {
		max-width: none;
		height: 44px;
	}

	.bml-game-logo {
		margin-left: 0;
		margin-top: 0;
		::ng-deep {
			.game-logo {
				&__left {
					margin-right: 12px;
				}
				&__title {
					font-size: 12px;
				}
				&__image {
					height: 24px;
					width: auto;
				}
				&__right {
					margin-top: -3px;
				}
			}
		}
	}
	.tmlbml-container {
		left: 8px;
		right: 8px;
		padding-top: 20px;
		padding-bottom: 10px;
		grid-row-gap: 10px;
		row-gap: 10px;
	}
	.input-tmlbml {
		border: none;
	}
}



