<div class="tmlbml-container"
	 data-cy="tmlbml-container"
>
	<!-- ВЕРХНЯЯ ЧАСТЬ -->
	<app-msl-game-logo class="bml-game-logo"
					   [gameCode]="LotteryGameCode.TML_BML"
					   data-cy="bml-game-logo"
	></app-msl-game-logo>

	<!-- КОМПОНЕНТ ВВОДА БАРКОДОВ -->
	<app-input-tmlbml
		class="input-tmlbml"
		data-cy="input-tmlbml"
		[draws]="tmlBmlLotteryService.draws"
		(inputListChanged)="onBCListChangedHandler($event)"
		>
	</app-input-tmlbml>

	<div class="bottom-panel"
		 data-cy="bottom-panel"
	>
		<!-- КНОПКА РЕГИСТРАЦИИ СТАВКИ -->
		<app-register-bet-button
			class="register-bet-button"
			data-cy="register-bet-button"
			[amount]="tmlBmlLotteryService.amount"
			(action)="tmlBmlLotteryService.goToRegistryPage()"
		>
		</app-register-bet-button>
	</div>
</div>
