@import 'variables';
@import 'mixins';

:host {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
}

.input-label {
	width: 100%;
}

.input-title {
	display: block;
	padding: 5px;
	font-family: $roboto_regular;
	font-size: 24px;
	color: $msl_placeholder_text_color;
	position: absolute;
	top: 10px;
	left: 0;
	z-index: -1;
	-webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
	transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.input-field {
	width: 100%;
	height: var(--input-height, 54px);
	padding: 4px;

	color: #666;
	font-size: var(--input-font-size, 30px);

	background: transparent;
	border: 1px solid #999;
	border-radius: 5px;

	text-align: var(--input-align, left);

	&::placeholder {
		font-size: 18px;
		color: $msl_inactive_color;
	}

	&_fix-placeholder {
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			@include msl_placeholder();
			text-align: left;
			padding-left: 5px;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			@include msl_placeholder();
			text-align: left;
			padding-left: 5px;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			@include msl_placeholder();
			text-align: left;
			padding-left: 5px;
		}
		&:-moz-placeholder { /* Firefox 18- */
			@include msl_placeholder();
			text-align: left;
			padding-left: 5px;
		}
		&::placeholder {
			@include msl_placeholder();
			text-align: left;
			padding-left: 5px;
		}
	}
	&_error {
		color: $msl_error;
		border-color: $msl_error;
	}

	&:not(:placeholder-shown) + .input-title, &:focus + .input-title {
		top: -15px;
		color: $msl_base_green;
		font-size: 14px;
	}
}

.keyboard-icon {
	background: url('/assets/img/svg/numbers_icon.svg') no-repeat;
	background-size: contain;
}
