@import "variables";

.change-log-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	z-index: $layer_system_info;

	&_only-latest {
		display: grid;
		grid-template: auto minmax(0, 1fr) auto/1fr;
		justify-items: center;
		align-content: space-between;
		background: #FFFFFF;
		padding: 80px 40px 40px 40px;
		height: 100%;
	}
}

.close-button {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 32px;
	height: 32px;
}

.changes-scroll {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	margin-top: 35px;
	&_only-latest {
		margin-top: 0;
	}
}

.webalt-scroll::-webkit-scrollbar {
	width: 16px;
}


.cl-items {
	font-family: $roboto_regular;
	font-size: 24px;
	color: $msl_main_text_color;
	padding-left: 15px;
	padding-right: 15px;
	::ng-deep {
		* {
			font-family: $roboto_medium;
			font-size: 24px;
			color: $msl_main_text_color;
		}
		.cl-version {
			font-size: 44px;
			text-align: center;
			margin-top: 30px;
			margin-bottom: 30px;

			span {
				color: $msl_base_green;
				font-size: 44px;
			}

			&:first-child {
				margin-top: 0;
			}
		}
		.cl-item {
			font-family: $roboto_regular;
			font-size: 24px;
			color: $msl_main_text_color;
			display: block;
			position: relative;
			padding-left: 15px;

			&::before {
				padding-right: 10px;

				position: absolute;
				top: -2px;
				left: 0;

				font-size: 32px;
				content: "\2022";
				color: $msl_placeholder_text_color;
			}
		}
		.cl-header {
			margin: 20px 0 10px 0;
			font-size: 30px;
			display: block;
		}
	}

	&_only-latest {
		::ng-deep {
			.cl-header {
				margin-top: 0;
			}
			.cl-header ~ .cl-header {
				margin: 20px 0 10px 0;
			}
		}
	}

}



// -----------------------------------------
//  Полупрозрачный фон
// -----------------------------------------

.clc-overlay {
	&_only-latest {
		background: #fff;
	}
}

// -----------------------------------------
//  Заголовок для первого показа
// -----------------------------------------

.clc-header-only-last {
	font-family: $roboto_regular;
	font-size: 44px;
	color: $msl_main_text_color;
	margin-bottom: 30px;
	text-align: center;

	span {
		font-size: 44px;
		color: $msl_base_green;
		font-family: $roboto_medium;
	}
}

// -----------------------------------------
//  Диалог
// -----------------------------------------

.clc-content-wrp {
	&_only-latest {
		height: 100%;
		width: 100%;
		padding: 0 16px 60px 16px;
	}
}

.clc-content {
	position: absolute;
	max-width: 1200px;
	width: calc(100% - 32px);
	max-height: 848px;
	height: calc(100% - 32px);
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	padding: 12px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	&_only-latest {
		box-shadow: none;
		position: static;
		transform: none;
		width: 100%;
		height: 100%;
		max-width: 1200px;
		max-height: none;
		margin: 0 auto;
	}
}


// -----------------------------------------
//  Кнопка закрытия для первого показа
// -----------------------------------------

.modal-button {
	&_close-changelog {
		max-width: 800px;
		flex-shrink: 0;
	}
}

.ticket-mode {
	margin: 10px;
	&__item {
		margin: 0 10px;
	}
	&__option {
		margin-right: 5px;
	}
}

.settings {
	margin-block-start: 15px;
	&__title {
		font-size: 24px;
		font-family: $roboto_medium;
		color: $msl_main_text_color;
		text-align: center;
	}
}

.camera-settings {
	margin: 10px;
	&__checkbox {
		margin-right: 5px;
		cursor: pointer;
		& + label {
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 1919px) {
	.clc-header-only-last {
		font-size: 36px;
		margin-bottom: 20px;
		span {
			font-size: 36px;
		}
	}
	.clc-content {
		max-width: 972px;
		max-height: 544px;
	}

	.cl-items {
		font-family: $roboto_regular;
		font-size: 18px;

		::ng-deep {
			* {
				font-family: $roboto_regular;
				font-size: 18px;
				color: $msl_main_text_color;
			}
			.cl-version {
				font-size: 36px;
				font-family: $roboto_regular;

				span {
					font-size: 36px;
					font-family: $roboto_medium;
				}
			}
			.cl-item {
				font-family: $roboto_regular;
				font-size: 18px;
				color: $msl_main_text_color;
				display: block;
				position: relative;
				padding-left: 15px;
				&:before {
					top: -7px;
				}
			}
			.cl-header {
				font-size: 24px;
				font-family: $roboto_medium;
			}
			.cl-version {
				margin-bottom: 20px;
			}
		}

	}

	.close-button {
		top: 15px;
		right: 13px;
		width: 24px;
		height: 24px;
	}

	.changes-scroll {
		margin-top: 25px;
		&_only-latest {
			margin-top: 0;
		}
	}

	.clc-content-wrp_only-latest {
		padding: 0 16px 55px 16px;
	}

	.change-log-container_only-latest {
		padding: 80px 40px 30px 40px;
	}

	.modal-button_close-changelog {
		max-width: 640px;
	}
}

@media screen and (max-width: 1365px) {
	.change-log-container_only-latest {
		padding: 60px 40px 20px 40px;
	}
	.clc-content-wrp_only-latest {
		padding: 0 16px 35px 16px;
	}
	.modal-button_close-changelog {
		max-width: 440px;
		font-size: 24px;
	}
}

@media screen and (max-width: 1139px) {
	.cl-items {
		padding-left: 10px;
		padding-right: 10px;
		::ng-deep {
			.cl-version {
				font-size: 24px;
				span {
					font-size: 24px;
				}
			}
			.cl-header {
				font-size: 18px;
			}
			.cl-item {
				font-size: 16px;
			}
		}
	}
	.clc-content {
		max-width: 644px;
		max-height: 312px;
		padding: 12px 5px;
		&_only-latest {
			max-height: 560px;
		}
	}
	.close-button {
		width: 18px;
		height: 18px;
		top: 8px;
		right: 8px;
	}
	.changes-scroll {
		margin-top: 15px;
	}

	.webalt-scroll::-webkit-scrollbar {
		width: 14px;
	}

	.clc-header-only-last {
		font-size: 24px;
		span {
			font-size: 24px;
		}
	}

	.modal-button_close-changelog {
		max-width: 640px;
	}

	.changes-scroll {
		&_only-latest {
			margin-top: 0;
			&.webalt-scroll::-webkit-scrollbar {
				width: 10px;
			}
		}
	}
	.change-log-container_only-latest {
		grid-template: auto minmax(0, 600px) auto / 1fr;
		align-content: start;
		padding: 80px 40px 20px 40px;
	}
}

@media screen and (max-width: 853px) {
	.clc-content {
		max-width: 644px;
		max-height: 629px;
		padding: 12px 5px;
		&_only-latest {
			max-height: 560px;
		}
	}
	.modal-button_close-changelog {
		max-width: 464px;
	}
}

@media screen and (max-width: 839px) {
	.clc-content {
		max-width: 580px;
		max-height: 624px;
	}
	.changes-scroll {
		margin-top: 25px;
		&_only-latest {
			margin-top: 0;
		}
	}
	.clc-header-only-last {
		font-size: 20px;
		margin-bottom: 25px;
		span {
			font-size: 20px;
		}
	}
	.change-log-container_only-latest {
		padding: 75px 15px 20px 15px;
	}
}

@media screen and (max-width: 639px) {
	.clc-content {
		max-width: 344px;
		max-height: 562px;
	}
	.webalt-scroll::-webkit-scrollbar {
		width: 12px;
	}
	.cl-items {
		padding-left: 5px;
		padding-right: 5px;
		::ng-deep {
			.cl-version {
				font-size: 18px;
				span {
					font-size: 18px;
				}
			}
			.cl-header {
				font-size: 18px;
			}
			.cl-item {
				font-size: 16px;
				&:before {
					top: -8px;
				}
			}
		}
	}
	.clc-header-only-last {
		font-size: 18px;
		display: block;
		max-width: 344px;
		width: 100%;
		margin-bottom: 10px;
		span {
			font-size: 18px;
		}
	}
	.change-log-container_only-latest {
		padding: 55px 10px 10px 10px;
	}
	.clc-content-wrp_only-latest {
		padding: 0 16px 50px 16px;
	}
}

@media screen and (max-width: 479px) {
	.settings {
		&__title {
			font-size: 18px;
		}
	}
	.clc-content {
		max-width: 344px;
		max-height: 433px;
		width: calc(100% - 16px);
		height: calc(100% - 16px);
		&_only-latest {
			width: 100%;
			height: 100%;
			max-width: none;
			max-height: none;
		}
	}
	.cl-item:before {
		top: -8px;
	}
	.change-log-container_only-latest {
		padding: 30px 10px 10px 10px;
	}
	.clc-content-wrp_only-latest {
		padding: 0 0 20px 0;
	}
	.modal-button_close-changelog {
		font-size: 18px;
		font-family: $roboto_regular;
	}
}
