@import "variables";


// -----------------------------------------
//  Забеги
// -----------------------------------------

.gg-bg-race {
	display: block;

	::ng-deep {
		.buttons-group {
			display: flex;
			align-items: center;
			&__title {
				font-size: 18px;
				color: $msl_main_text_color;
				font-weight: normal;
				font-family: $roboto_regular;
				margin-bottom: 0;
				margin-right: 20px;
				width: 65px;
				white-space: nowrap;
			}

			&__items {
				grid-template-columns: repeat(10, 1fr);
				justify-content: start;
			}

			&__item {
				width: 54px;
				height: 45px;
				font-size: 24px;
				border-radius: 8px;
				border-width: 2px;
				font-family: $roboto_medium;
				font-weight: normal;
				margin: 5px;
			}
		}
	}
}

.touched-mark {
	background: url('/assets/img/svg/confirm.svg') no-repeat center center / 100% 100%;
	width: 24px;
	height: 24px;
	display: none;
}

.selected-buttons-count {
	font-size: 18px;
	font-family: $roboto_regular;
	color: $msl_main_text_color;

	&_disabled {
		display: none;
	}

	&_full {
		color: $msl_base_green;
	}
}

.gg-race-button-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;
	padding: 0 25px;

	&__touched {
		.gg-bg-race {
			::ng-deep {
				.buttons-group {
					&__title {
						font-family: $roboto_medium;
					}
				}
			}
		}
		.touched-mark {
			display: block;
		}
	}
}

.gg-race-numbers {
	::ng-deep {
		.buttons-group {
			display: flex;
			align-items: center;
			margin-top: 25px;
			margin-bottom: 25px;
			padding-left: 25px;
			padding-right: 75px;

			&__title {
				font-family: $roboto_regular;
				font-size: 24px;
				font-weight: normal;
				color: $msl_main_text_color;
				margin-bottom: 0;
				text-align: left;
			}

			&__items {
				grid-template-columns: auto auto auto auto;
				justify-content: end;
				grid-column-gap: 10px;
				column-gap: 10px;
			}
			&__item {
				&_theme {
					&_square-radial {
						border-radius: 50%;
						width: 66px;
						height: 66px;
						font-size: 30px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1365px) {
	.gg-bg-race {
		display: block;

		::ng-deep {
			.buttons-group {
				display: flex;
				align-items: center;
				&__title {
					font-size: 16px;
					color: $msl_main_text_color;
					font-weight: normal;
					font-family: $roboto_regular;
					margin-bottom: 0;
					margin-right: 20px;
					width: 60px;
					white-space: nowrap;
				}

				&__items {
					grid-template-columns: repeat(10, 1fr);
					justify-content: start;
				}

				&__item {
					width: 44px;
					height: 36px;
					font-size: 18px;
					border-radius: 4px;
					border-width: 1px;
					font-family: $roboto_medium;
					font-weight: normal;
					margin: 6px 4px;
				}
			}
		}
	}

	.touched-mark {
		background: url('/assets/img/svg/confirm.svg') no-repeat center center / 100% 100%;
		width: 24px;
		height: 24px;
		display: none;
	}

	.selected-buttons-count {
		font-size: 18px;
		font-family: $roboto_regular;
		color: $msl_main_text_color;

		&_disabled {
			display: none;
		}

		&_full {
			color: $msl_base_green;
		}
	}

	.gg-race-button-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		padding: 0;

		&__touched {
			.gg-bg-race {
				::ng-deep {
					.buttons-group {
						&__title {
							font-family: $roboto_medium;
						}
					}
				}
			}
			.touched-mark {
				display: block;
			}
		}
	}

	.gg-race-numbers {
		::ng-deep {
			.buttons-group {
				display: flex;
				align-items: center;
				margin-top: 25px;
				margin-bottom: 25px;
				padding-left: 0;
				padding-right: 0;
				max-width: 596px;

				&__title {
					font-family: $roboto_medium;
					font-size: 18px;
					font-weight: normal;
					color: $msl_main_text_color;
					margin-bottom: 0;
					text-align: right;
					margin-right: 20px;
				}

				&__items {
					grid-template-columns: auto auto auto auto;
					justify-content: end;
					grid-column-gap: 10px;
					column-gap: 10px;
					width: auto;
				}
				&__item {
					&_theme {
						&_square-radial {
							border-radius: 50%;
							width: 36px;
							height: 36px;
							font-size: 18px;
						}
					}
				}
			}
		}
	}

}

@media screen and (max-width: 1139px) {
	.gg-bg-race {
		::ng-deep {
			.buttons-group {
				&__items {
					grid-column-gap: 0;
					column-gap: 0;
					&_theme_square-radial {
						padding-bottom: 0;
					}
				}
				&_theme_square-radial {
					margin-bottom: 0;
					padding-bottom: 0;

				}
			}
		}
	}

	.gg-race-numbers {
		::ng-deep {
			.buttons-group {
				margin-top: 0;
				margin-bottom: 0;
				&__items {
					overflow: visible;
					padding-bottom: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 853px) {
	.selected-buttons-count {
		display: none;
	}
	.gg-bg-race {
		overflow: hidden;
		::ng-deep {
			.buttons-group {
				margin-top: 0;
				margin-bottom: 0;
				&__title {
					font-size: 16px;
					text-align: left;
				}

				&__items {
					grid-template-columns: repeat(10, 1fr);
					grid-gap: 8px;
					gap: 8px;
					padding-bottom: 0;
				}

				&__item {
					width: 44px;
					height: 36px;
					font-size: 18px;
					border-radius: 4px;
					border-width: 1px;
					margin: 0;
				}
			}
		}
	}
	.gg-race-button-item {
		padding: 0;
		margin: 10px 0;
		&__touched {
			.touched-mark {
				display: none;
			}
		}
	}
	:host {
		margin: 30px 0;
		display: block;
	}
	.gg-race-numbers {
		::ng-deep {
			.buttons-group {
				margin-bottom: 0;
				padding-right: 0;
				justify-content: flex-end;

				&__title {
					font-family: $roboto_medium;
					font-size: 18px;
					width: auto;
					margin-right: 30px;
				}

				&__items {
					grid-column-gap: 16px;
					column-gap: 16px;
					padding-bottom: 0;
					width: auto;
				}
				&__item {
					&_theme {
						&_square-radial {
							width: 36px;
							height: 36px;
							font-size: 18px;
							border-width: 1px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 639px) {
	.gg-bg-race {
		overflow: hidden;
		::ng-deep {
			.buttons-group {
				margin-top: 0;
				margin-bottom: 0;
				display: block;
				height: 60px;
				overflow-y: hidden;
				&__title {
					font-size: 12px;
					text-align: left;
					margin-bottom: 3px;
					font-family: $roboto_bold;
				}

				&__items {
					grid-template-columns: repeat(10, 1fr);
					grid-gap: 8px;
					gap: 8px;
					padding-bottom: 20px;
				}

				&__item {
					width: 48px;
					height: 42px;
					font-size: 24px;
					border-radius: 4px;
					border-width: 1px;
					margin: 0;
				}
			}
		}
	}


	.gg-race-numbers {
			::ng-deep {
			.buttons-group {
				justify-content: space-between;
				&__title {
					font-size: 12px;
					margin-right: 5px;
				}
				&__items {
					grid-column-gap: 8px;
					column-gap: 8px;
					margin-right: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 479px) {
	.gg-race-numbers {
		::ng-deep {
			.buttons-group {

				&__item {
					&_square-radial {

					}
				}
			}
		}
	}
}
