<app-buttons-group
	#selectRacesNumbers
	class="gg-race-numbers"
	data-cy="gg-race-numbers"
	*ngIf="racesSelection"
	[buttonsCount]="racesCount"
	[buttonGroupLabel]="'lottery.race_for_money.select_races_numbers' | translate"
	[buttonGroupStyle]="buttonGroupStyle.outline_square_radial_fill"
	[workMode]="buttonGroupMode.custom"
	[countSelectedButtons]="racesCount"
	(clickButton)="onSelectRaceNumbers($event)"
	>
</app-buttons-group>

<!-- КНОПКИ - ЗАЕЗДЫ -->
<div class="gg-race-button-row"
	 data-cy="gg-race-button-row"
>
	<div
		class="gg-race-button-item"
		[ngClass]="{'gg-race-button-item__touched': race.selection.length>0}"
		data-cy="gg-race-button-item"
		*ngFor="let race of racesInfo.races; let r = index; trackBy: trackByFn"
		>
		<app-buttons-group
			#raceButtons
			class="gg-bg-race"
			data-cy="gg-bg-race"
			[isDisabled]="!racesInfo.enabledRaces[r]"
			[workMode]="racesSelection ? buttonGroupMode.custom : buttonGroupMode.radio"
			[buttonGroupLabel]="'lottery.race_for_money.race' | translate:{value: r+1}"
			[buttonsCount]="racesInfo.participCount"
			[countSelectedButtons]="race.winnersToSelect"
			[buttonGroupStyle]="buttonGroupStyle.outline_square_radial_fill"
			(clickButton)="onSelectedParticipantHandler($event, r)"
			>
		</app-buttons-group>

		<div
			class="selected-buttons-count"
			data-cy="selected-buttons-count"
			*ngIf="rowsCounters"
			[ngClass]="{
				'selected-buttons-count_disabled': !racesInfo.enabledRaces[r],
				'selected-buttons-count_full': race.selection.length === race.winnersToSelect
			}"
			>
			{{ race.selection.length }}/{{ race.winnersToSelect }}
		</div>

		<div class="touched-mark"
			 data-cy="touched-mark"
			 *ngIf="!rowsCounters"
		></div>
	</div>
</div>
