@import 'variables';

:host {
	display: block;
}

.top-bar {
	width: 100%;
	height: 100%;

	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;

	border-bottom: 1px solid $msl_base_green;
	background: linear-gradient(to bottom, #B4E1DC 0%, white 100%);

	padding: 0 30px;

	&__left {
		display: flex;
		align-items: center;
	}

	&__status-item {
		margin: 0 10px;
		&_active {
			background: #fff;
			border-radius: 100%;
			z-index: $layer_status_header_icon;

			::ng-deep {
				.alert-icon-container {
					path {
						fill: $msl_base_green;
					}

					&.alert {
						path {
							fill: $msl_error;
						}
					}

					.aic-alert, .aic-normal {
						display: none;
					}
				}
			}
		}
	}

	&__button {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		width: 42px;
		height: 42px;

		border-radius: 100%;

		// -----------------------------------------
		//  Домой
		// -----------------------------------------
		&_home {
			background: $msl_inactive_color;
			margin: 0 15px;
		}

		// -----------------------------------------
		//  Демо
		// -----------------------------------------
		&_demo {
			border: 2px solid $msl_base_green;
			background: radial-gradient(white, white, rgba($msl_base_green, 0.2));
			overflow: hidden;
		}
	}

	&__hamburger {
		display: flex;
		flex-direction: row;
		align-items: center;

		width: 220px;
		height: 42px;

		border-radius: 8px;
		border: 2px solid $msl_placeholder_text_color;
		background-color: #fff;

		&_active {
			background: $msl_base_green;
			box-shadow: none;
			border: 2px solid transparent;
		}
	}

	// -----------------------------------------
	//  Дата и время
	// -----------------------------------------
	&__date {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	// -----------------------------------------
	//  Кнопки выключения, перезагрузки
	// -----------------------------------------

	&__right {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	&__splitter {
		width: 1px;
		height: 30px;
		background-color: $msl_inactive_color;
		margin: 0 24px;
	}
}

.tbp-hamburger {
	&__icon {
		padding-left: 20px;
		color: $msl_base_green;
		font-size: 30px;
		pointer-events: none;
		&_active {
			color: #FFFFFF;
		}
	}
	&__title {
		padding-left: 30px;
		font-family: $roboto_regular;
		font-size: 24px;
		font-weight: bold;
		color: $msl_main_text_color;
		pointer-events: none;
		&_active {
			color: #FFFFFF;
		}
	}
}

.button-home {
	&_level {
		&_second {
			border: 2px solid $msl_base_green;
			background: radial-gradient(white, white, rgba($msl_base_green, 0.2));
		}
	}

	&__icon {
		color: $msl_placeholder_text_color;
		font-size: 30px;

		&_level {
			&_second {
				color: $msl_base_green;
			}
		}
	}
}

.button-demo {
	display: flex;
	align-items: center;
	justify-content: center;

	&__icon {
		color: $msl_base_green;
		font-size: 30px;
	}
}


// -----------------------------------------
//  Дата и время
// -----------------------------------------

.tbp-date {
	&__date, &__time {
		font-family: $roboto_medium;
		font-size: 30px;
	}

	&__date {
		color: $msl_placeholder_text_color;
		margin-right: 10px;
	}

	&__time {
		color: $msl_main_text_color;
	}
}

// -----------------------------------------
//  Иконки со статусами сервисов
// -----------------------------------------

.tbp-statuses {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	&__item {
		margin: 0 10px;
		&_modem {
			z-index: $layer_communication_header_icon;
		}
		&_active {
			background: #fff;
			border-radius: 100%;
			z-index: $layer_status_header_icon;

			::ng-deep {
				.alert-icon-container {
					path {
						fill: $msl_base_green;
					}

					&.alert {
						path {
							fill: $msl_error;
						}
					}

					.aic-alert, .aic-normal {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1919px) {
	.top-bar {
		padding: 0 12px;
	}
	.tbp-date {
		&__date, &__time {
			font-size: 30px;
		}
	}
}

@media screen and (max-width: 1365px) {
	.tbp-date {
		&__date, &__time {
			font-size: 24px;
		}
	}

	.button-home, .button-demo {
		&__icon {
			font-size: 30px;
		}
	}
}

@media screen and (max-width: 1139px) {
	.top-bar {
		height: 53px;
		&__hamburger {
			width: 160px;
			height: 32px;
		}
		&__button {
			width: 32px;
			height: 32px;
		}
	}
	.tbp-hamburger {
		&__title {
			font-size: 18px;
			&_active {
				font-weight: normal;
			}
		}
	}
	.button-home, .button-demo {
		&__icon {
			font-size: 24px;
		}
	}

	.tbp-date {
		&__date, &__time {
			font-size: 18px;
		}
	}
}

@media screen and (max-width: 853px) {
	.tbp-date {
		&__date, &__time {
			font-size: 18px;
		}
	}

}

@media screen and (max-width: 839px) {

}


@media screen and (max-width: 639px) {
	.top-bar {
		height: 44px;
		padding: 0 8px;
		&__hamburger {
			background: none;
			width: auto;
			border: none;
		}
		&__button {
			width: 32px;
			height: 32px;
			&_home {
				margin: 0 10px;
			}
		}
		&__status-item {
			transform: scale(0.7);
		}
	}
	.tbp-hamburger {
		&__title {
			display: none;
		}
		&__icon {
			font-size: 40px;
			padding-left: 0;
		}
	}
	.tbp-date {
		&__date, &__time {
			font-size: 18px;
		}
		&__date {
			margin-right: 5px;
		}
	}
	.button-home {
		&__icon {
			font-size: 24px;
		}
		&_level {
			&_second {
				border-width: 1px;
			}
		}
	}
	.button-demo {
		&__icon {
			font-size: 16px;
		}
	}
}


@media screen and (max-width: 479px) {
	.tbp-date {
		&__date, &__time {
			font-size: 14px;
		}
	}
}

//@media screen and (max-width: 479px) {
//	.top-bar {
//		height: 44px;
//		&__hamburger {
//			background: none;
//			width: auto;
//			border: none;
//			height: 32px;
//		}
//		&__button {
//			width: 24px;
//			height: 24px;
//			&_home {
//				margin: 0 10px;
//			}
//		}
//	}
//	.tbp-hamburger {
//		&__title {
//			display: none;
//		}
//		&__icon {
//			padding-left: 0;
//			font-size: 30px;
//		}
//	}
//	.tbp-date {
//		&__date, &__time {
//			font-size: 14px;
//		}
//		&__date {
//			margin-right: 5px;
//		}
//	}
//	.button-home {
//		&__icon {
//			font-size: 18px;
//		}
//		&_level {
//			&_second {
//				border-width: 1px;
//			}
//		}
//	}
//	.button-demo {
//		&__icon {
//			font-size: 16px;
//		}
//	}
//}
