@import "variables";

.modal-dialog-container {
	max-width: 890px;
	width: 100%;
}

.modal-alt-title {
	color: $msl_main_text_color;
	font-size: 46px;
}

.modal-alt-extra, .modal-alt-code, .modal-alt-message {
	font-family: $roboto_bold;
	font-size: 24px;
	margin-top: 0;
}

.modal-alt-message {
	color: $msl_base_green;
}

.modal-alt-code {
	color: $msl_main_text_color;
}

.modal-buttons-container {
	flex-direction: row;
}

.modal-button {
	height: 80px;
}

.modal-button + .modal-button {
	margin-left: 20px;
}

@media screen and (max-width: 1139px) {
	.modal-dialog-container {
		max-width: 540px;
		padding: 16px 40px;
	}
	.modal-alt-title {
		font-size: 30px;
		margin-bottom: 16px;
	}
	.modal-alt-extra, .modal-alt-code, .modal-alt-message {
		font-size: 18px;
	}
	.modal-alt-message {
		font-family: $roboto_regular;
	}
	.modal-alt-extra {
		font-family: $roboto_regular;
	}
	.modal-buttons-container {
		justify-content: space-between;
	}
	.modal-button {
		width: 180px;
		height: 44px;
		font-size: 18px;
	}
	.modal-button + .modal-button {
		margin-left: 0;
	}
}

@media screen and (max-width: 639px) {
	.modal-dialog-container {
		max-width: 376px;
		padding: 12px 16px;
	}
	.modal-alt-title {
		font-size: 24px;
		margin-bottom: 12px;
		font-family: $roboto_bold;
	}
	.modal-alt-extra, .modal-alt-code, .modal-alt-message {
		font-size: 14px;
		margin-top: 0;
	}
	.modal-alt-extra {
		max-width: 260px;
		margin: 0 auto;
	}
	.modal-alt-message {
		margin-bottom: 0;
	}
	.modal-buttons-container {
		margin-top: 10px;
	}
	.modal-button {
		width: 150px;
		height: 44px;
		font-size: 16px;
	}
}

@media screen and (max-width: 479px) {
	.modal-dialog-container {
		max-width: 352px;
		padding: 12px 4px;
	}
}
