<div class="kare-edit-bet-dialog-container" data-cy="kare-edit-bet-dialog-container">

	<!-- ФОН -->
	<div
		class="msl-dialog-overlay"
		data-cy="msl-dialog-overlay"
		(click)="onClickCloseHandler(true)"
		>
	</div>

	<!-- ДИАЛОГ -->
	<div class="keb-dialog msl-dialog-container"
		 data-cy="keb-dialog"
	>

		<!-- КНОПКА "ЗАКРЫТЬ ОКНО" -->
		<app-close-button
			class="close-button"
			data-cy="close-button"
			(action)="onClickCloseHandler(true)"
		></app-close-button>

		<div class="keb-dialog__wrp"
			 data-cy="keb-dialog-wrp"
		>
			<!-- ЛЕВАЯ ЧАСТЬ -->
			<div class="keb-dialog__left webalt-scroll"
				 [ngSwitch]="kareEditItem.gameType"
				 data-cy="keb-dialog-left"
				>
				<!-- БЛОК ВВОДА ДЛЯ ТИПА 1 -->
				<ng-template [ngSwitchCase]="KareGameType.Table1_Cards">
					<app-kare-bet-type-one
						class="keb-dialog__bet-type keb-dialog__bet-type_one"
						[entities]="kareEditItem.cards"
						data-cy="keb-dialog-bet-type"
						(entitiesListChanged)="onKareBetTypeChangedHandler($event)"
						>
					</app-kare-bet-type-one>
				</ng-template>

				<!-- БЛОК ВВОДА ДЛЯ ТИПА 2 -->
				<ng-template [ngSwitchCase]="KareGameType.Table2_Poker">
					<app-kare-bet-type-two
						class="keb-dialog__bet-type keb-dialog__bet-type_two"
						[entities]="kareEditItem.cards"
						data-cy="keb-dialog-bet-type"
						(entitiesListChanged)="onKareBetTypeChangedHandler($event)"
						>
					</app-kare-bet-type-two>
				</ng-template>
			</div>

			<!-- ИНФОРМАЦИЯ О НАПОЛНЕНИИ ТЕКУЩЕЙ СТАВКИ -->
			<div class="keb-dialog__center"
				 [ngSwitch]="kareEditItem.gameType"
				 data-cy="keb-dialog-center"
			>
				<ng-template [ngSwitchCase]="KareGameType.Table1_Cards">
					<app-kare-selected-cards-one
						[showTitle]="false"
						class="keb-dialog__selected-cards"
						[cards]="kareEditItem.cards"
						data-cy="keb-dialog-selected-cards"
					>
					</app-kare-selected-cards-one>
				</ng-template>

				<ng-template [ngSwitchCase]="KareGameType.Table2_Poker">
					<app-kare-selected-cards-two
						[showTitle]="false"
						class="keb-dialog__selected-cards"
						[cards]="kareEditItem.cards"
						data-cy="keb-dialog-selected-cards"
					>
					</app-kare-selected-cards-two>
				</ng-template>
			</div>

			<!-- ПРАВАЯ ЧАСТЬ -->
			<div class="keb-dialog__right" data-cy="keb-dialog-right">
				<div *ngIf="kareEditItem.gameType === KareGameType.Table1_Cards"
					 class="table-header"
					 data-cy="table-header"
				>{{ 'lottery.kare.table_1' | translate }}</div>
				<div *ngIf="kareEditItem.gameType === KareGameType.Table2_Poker"
					 class="table-header"
					 data-cy="table-header"
				>{{ 'lottery.kare.table_2' | translate }}</div>
				<!-- СУММА СТАВКИ -->
				<div class="bet-sum-header" data-cy="bet-sum-header">
					{{ 'lottery.kare.bet_amount' | translate }}
					(<span *ngIf="inputState === InputState.Empty" class="bet-amount" data-cy="bet-amount"
					>{{ 'lottery.kare.bets_interval' | translate }}</span>
					<span *ngIf="inputState !== InputState.Empty"
						 class="bet-amount"
						 [class.bet-amount_right]="inputState === InputState.Valid"
						 [class.bet-amount_wrong]="inputState === InputState.Invalid"
						 data-cy="bet-amount"
						>{{ kareEditItem.betSumLabel }} {{ 'lottery.uah' | translate | lowercase }}</span>)
				</div>

				<div class="bets-sums" data-cy="bets-sums">
					<app-buttons-group
						class="kc-bets-buttons"
						[buttonGroupStyle]="ButtonGroupStyle.button_gold"
						[class.bet-amount-green]="kareEditItem.betSum"
						(clickButton)="onSelectBetHandler($event)"
						[buttonsCount]="8"
						[valuesArray]="KARE_BET_SUMM_VALUES"
						[labelsArray]="KARE_BET_SUMM_VALUES"
						[workMode]="ButtonGroupMode.radio_deselect"
						data-cy="kc-bets-buttons"
					>
					</app-buttons-group>

					<!-- ВВОД СУММЫ ВРУЧНУЮ -->
					<app-msl-input-with-keyboard
						class="custom-bet"
						[inputWidthOnFocus]="appStoreService.Settings?.appType === AppType.ALTTerminal ? 201 : null"
						(valueChanged)="onInputBetSumChangedHandler($event)"
						[placeholder]="'lottery.kare.enter_bet_summ' | translate"
						[fixPlaceholder]="true"
						[errorState]="inputState === InputState.Invalid"
						data-cy="custom-bet"
						(realEnterPressed)="onClickCloseHandler(false)"
					>
					</app-msl-input-with-keyboard>
					<ng-container *ngIf="inputState !== InputState.Empty">
						<div *ngIf="kareEditItem.betSum < KARE_MIN_BET_SUM"
							 class="kc-input-error"
							 data-cy="kc-input-error"
						>
							{{ 'lottery.kare.too_small' | translate }}
						</div>
						<div *ngIf="kareEditItem.betSum > KARE_MAX_BET_SUM"
							 class="kc-input-error"
							 data-cy="kc-input-error"
						>
							{{ 'lottery.kare.too_big' | translate }}
						</div>
					</ng-container>

				</div>

				<!-- ИНФОРМАЦИЯ О НАПОЛНЕНИИ ТЕКУЩЕЙ СТАВКИ -->
				<div [ngSwitch]="kareEditItem.gameType">
					<ng-template [ngSwitchCase]="KareGameType.Table1_Cards">
						<app-kare-selected-cards-one
							[showTitle]="false"
							class="keb-dialog__selected-cards"
							data-cy="keb-dialog-selected-cards"
							[cards]="kareEditItem.cards"
						>
						</app-kare-selected-cards-one>
					</ng-template>

					<ng-template [ngSwitchCase]="KareGameType.Table2_Poker">
						<app-kare-selected-cards-two
							class="keb-dialog__selected-cards"
							data-cy="keb-dialog-selected-cards"
							[cards]="kareEditItem.cards"
						>
						</app-kare-selected-cards-two>
					</ng-template>
				</div>

				<!-- КНОПКА ОЧИСТКИ СТАВКИ -->
				<button type="button"
						class="button button_theme_green kc-clear-button kc-clear-button_first"
						data-cy="kc-clear-button"
						(click)="onClearCardsHandler()"
				>
					{{ 'lottery.kare.clear' | translate }}
				</button>

				<button type="button"
						class="button button_theme_green kc-confirm-button"
						[attr.disabled]="!(inputState === InputState.Valid && kareEditItem.cards.length) || null"
						data-cy="kc-confirm-button"
						(click)="onClickCloseHandler(false)"
				>{{ 'dialog.dialog_button_continue' | translate }}</button>

			</div>

		</div>

		<div class="bottom-buttons" data-cy="bottom-buttons">
			<!-- КНОПКА ОЧИСТКИ СТАВКИ 2 -->
			<button type="button"
					class="button button_theme_green kc-clear-button kc-clear-button_second"
					data-cy="kc-clear-button"
					(click)="onClearCardsHandler()"
			>
				{{ 'lottery.kare.clear' | translate }}
			</button>

			<!-- КНОПКА "ПРОДОЛЖИТЬ" -->
			<button type="button"
					class="button button_theme_green dialog-continue"
					data-cy="dialog-continue"
					[attr.disabled]="!(inputState === InputState.Valid && kareEditItem.cards.length) || null"
					(click)="onClickCloseHandler(false)"
			>
				{{ 'dialog.dialog_button_continue' | translate }}
			</button>
		</div>
	</div>

</div>

