@import 'variables';
@import 'mixins';

::ng-deep {
	.table-block {
		&__title {
			margin-top: 5px;
			margin-bottom: 10px;

			color: $msl_main_text_color;
			font-size: 24px;
			font-family: $roboto_medium;
			text-transform: uppercase;
			text-align: center;
		}

		&__kind {
			display: none;
			color: $msl_main_text_color;
			font-size: 24px;
			font-family: $roboto_medium;
			text-transform: uppercase;
		}

		&__content {
			position: relative;

			padding: 15px;
			min-height: 150px;
			max-height: 150px;

			border-radius: 8px;
			box-shadow: inset 0 0 0 1px $msl_inactive_color;

			color: $msl_main_text_color;
			text-align: center;
			font-family: $roboto_regular;
			font-size: 24px;
		}
	}

	.no-cards-msg {
		position: absolute;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;
		padding: 0 70px;

		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;

		color: $msl_base_green;
		font-size: 24px;
		font-family: $roboto_regular;

		-webkit-animation: blinker 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;
		animation: blinker 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;
	}

	.table-block__subtitle {
		margin-bottom: 20px;
	}

	.ksco-cards {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		padding: 0 15px;
	}

	.close-button {
		position: absolute;
		right: 40px;
		top: 40px;
		width: 32px;
		height: 32px;
	}
}

.kc-confirm-button {
	display: none;
}

.kare-edit-bet-dialog-container {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: $layer_kare_dialog;
}

.table-header {
	text-transform: uppercase;
	font-size: 30px;
	font-family: $roboto_regular;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 37px;
}

.keb-dialog {
	position: absolute;
	top: 24px;
	left: 24px;
	right: 24px;
	bottom: 24px;

	display: grid;
	grid-template-rows: minmax(0, 1fr) auto;
	padding: 40px;

	grid-row-gap: 10px;
	row-gap: 10px;

	&__bet-type {
		display: block;
		&_one {
			width: 100%;
		}
	}

	&__wrp {
		display: flex;
		justify-content: space-between;
	}

	&__left {
		width: 600px;
		margin-left: 100px;
	}

	&__center {
		display: none;
	}

	&__right {
		max-width: 580px;
		width: 100%;
		margin: 0 auto;
	}

	&__selected-cards {
		margin-bottom: 20px;
		display: block;
	}
}

.bets-sums {
	margin-bottom: 60px;
}

.bet-sum-header {
	text-align: center;
	font-size: 24px;
	color: $msl_main_text_color;
	font-weight: normal;
	font-family: $roboto_medium;
	width: 100%;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.bet-amount {
	font-family: $roboto_medium;
	&_right {
		color: $msl_base_green;
	}
	&_wrong {
		color: $msl_error;
	}
}

.kc-input-error {
	text-align: center;
	margin: 5px 0;
	font-size: 18px;
	color: $msl_error;
}

.dialog-continue {
	width: 100%;
	max-width: 820px;
	margin: 0 auto;
	display: block;
	height: 80px;
	font-size: 36px;
}

.kc-clear-button {
	display: block;
	margin-bottom: 40px;

	width: 100%;
	height: 70px;

	font-size: 36px;
	font-family: $roboto_medium;
	color: $msl_main_text_color;
	text-transform: uppercase;
	text-align: center;

	@include radial_bg($color: #D8F4F4);
	border: 2px solid $msl_base_green;
	border-radius: 8px;

	&[disabled] {
		background: $msl_inactive_color;
		color: $msl_placeholder_text_color;
		border: 2px solid $msl_inactive_color;
	}

	&_second {
		display: none;
	}

}

.kc-bb-wrapper {
	overflow-x: hidden;
}

.kc-bets-buttons {
	display: block;
	margin-bottom: 30px;

	::ng-deep {
		.buttons-group {
			&__items {
				display: flex;
				justify-content: center;
			}
			&__item {
				&_theme {
					&_gold {
						width: 110px;
						height: 54px;
						@include radial_bg($color: #FAEFC4);
						border: 2px solid $msl_base_yellow;
						font-family: $roboto_medium;
						font-size: 36px;
						font-weight: normal;
						color: $msl_main_text_color;
						margin: 0 16px;
					}
				}
				&_selected {
					background: $msl_base_yellow;
					color: #fff;
				}

				&_disabled {
					color: #666;
					background: #888;
					text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 -1px 0px rgba(60, 60, 60, 0.8);
					border-color: #777;
				}

			}

		}

	}

	&.bet-amount-green {
		::ng-deep {
			.bet-amount {
				color: $msl_base_green;
			}
		}
	}
}

.custom-bet {
	::ng-deep {
		.input-field {
			text-align: center;
		}
	}
}

@media screen and (max-width: 1919px) {
	.keb-dialog {
		padding: 20px;
		&__left {
			margin-left: 0;
		}
		&__right {
			max-width: 474px;
		}
	}

	.kc-bets-buttons {
		display: block;
		margin-bottom: 20px;

		::ng-deep {
			.buttons-group {
				&__items {
					display: flex;
					justify-content: center;
					grid-row-gap: 8px;
					row-gap: 8px;
				}
				&__item {
					&_theme {
						&_gold {
							width: 110px;
							height: 54px;
							@include radial_bg($color: #FAEFC4);
							border: 2px solid $msl_base_yellow;
							font-family: $roboto_medium;
							font-size: 36px;
							font-weight: normal;
							color: $msl_main_text_color;
							margin: 0 4px;
						}
					}
					&_selected {
						background: $msl_base_yellow;
						color: #fff;
					}

					&_disabled {
						color: #666;
						background: #888;
						text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 -1px 0px rgba(60, 60, 60, 0.8);
						border-color: #777;
					}

				}

			}

		}

		&.bet-amount-green {
			::ng-deep {
				.bet-amount {
					color: $msl_base_green;
				}
			}
		}
	}

	.bets-sums {
		margin-bottom: 40px;
	}
	.table-header {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 24px;
	}
	.kc-clear-button {
		margin-bottom: 30px;
	}
	::ng-deep {
		.close-button {
			position: absolute;
			right: 24px;
			top: 24px;
			width: 24px;
			height: 24px;
		}
	}
}

@media screen and (max-width: 1365px) {
	.keb-dialog {
		top: 12px;
		left: 12px;
		right: 12px;
		bottom: 12px;
		&__left, &__right {
			width: 50%;
		}
		&__right {
			margin: 10px 25px;
		}
	}
	.bottom-buttons {
		display: flex;
		justify-content: space-around;
	}
	.dialog-continue {
		height: 60px;
		font-size: 24px;
		max-width: 320px;
		margin: 0;
	}

	.kc-clear-button {
		font-size: 24px;
		height: 60px;
		&_first {
			display: none;
		}
		&_second {
			display: block;
			max-width: 320px;
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 1139px) {
	::ng-deep {
		.close-button {
			width: 16px;
			height: 16px;
			right: 16px;
			top: 16px;
		}
		.no-cards-msg {
			font-size: 18px;
		}
		.table-block {
			&__subtitle {
				margin-bottom: 5px;
			}
			&__content {
				min-height: 90px;
				max-height: 130px;
				height: 100%;
				font-size: 18px;
			}
		}
	}
	.keb-dialog {
		top: 8px;
		left: 8px;
		right: 8px;
		bottom: 8px;
		padding: 10px;
		&__left, &__right {
			margin: 10px;
		}
		&__left {
			margin: 0 10px;
		}
		&__right {
			max-width: 350px;
		}
		&__selected-cards {
			display: none;
		}
	}

	.kc-bets-buttons {
		display: block;
		margin: 0 -8px 15px -8px;

		::ng-deep {
			.buttons-group {
				&__items {
					display: flex;
					justify-content: center;
					grid-row-gap: 8px;
					row-gap: 8px;
				}
				&__item {
					&_theme {
						&_gold {
							width: 76px;
							height: 44px;
							@include radial_bg($color: #FAEFC4);
							border: 2px solid $msl_base_yellow;
							font-family: $roboto_medium;
							font-size: 24px;
							font-weight: normal;
							color: $msl_main_text_color;
							margin: 2px 7px;
						}
					}
					&_selected {
						background: $msl_base_yellow;
						color: #fff;
					}

					&_disabled {
						color: #666;
						background: #888;
						text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 -1px 0px rgba(60, 60, 60, 0.8);
						border-color: #777;
					}

				}

			}

		}

		&.bet-amount-green {
			::ng-deep {
				.bet-amount {
					color: $msl_base_green;
				}
			}
		}
	}

	.table-header {
		font-size: 16px;
	}

	.bet-sum-header {
		margin-bottom: 5px;
		font-size: 18px;
	}

	.bets-sums {
		margin-bottom: 29px;
	}

	.kc-clear-button {
		margin-bottom: 10px;
		&_first {
			display: block;
			height: 44px;
			font-size: 18px;
		}
	}

	.kc-confirm-button {
		display: block;
		font-size: 18px;
		height: 44px;
	}

	.bottom-buttons {
		display: none;
	}
	.custom-bet {
		::ng-deep {
			.input-field {
				height: 44px;
				font-size: 24px;
			}
		}
	}
}

@media screen and (max-width: 853px) {
	.keb-dialog {
		top: 8px;
		left: 8px;
		right: 8px;
		bottom: 8px;
		grid-template-rows: auto auto;
		align-content: space-between;
		&__wrp {
			display: grid;
			grid-template: auto minmax(0, 1fr) auto / 1fr;
			align-content: start;
			overflow: hidden;
			grid-row-gap: 20px;
		}
		&__left, &__right {
			width: 100%;
		}
		&__left {
			order: 2;
			margin: 0 auto;
			max-width: 350px;
			width: 100%;
			//max-height: 380px;
			//height: 100%;
			::ng-deep {
				.custom-scrollbar {
					&_scroll {
						padding-right: 10px;
					}
					&::-webkit-scrollbar {
						width: 10px;
					}
				}
			}
		}
		&__center {
			order: 3;
			max-width: 350px;
			margin: 0 auto;
			width: 100%;
			display: block;
			::ng-deep {
				.table-block {
					&__content {
						display: block;
					}
				}
			}
		}
		&__right {
			order: 1;
			margin: 0;
			overflow: hidden;
			max-width: none;
		}
		&__selected-cards {
			display: block;
		}
	}

	.dialog-continue {
		height: 60px;
		width: 100%;
		max-width: 220px;
		font-size: 24px;
		margin: 0 8px;
	}

	.kc-clear-button {
		font-size: 24px;
		height: 60px;
		margin-bottom: 0;
		&_first {
			display: none;
		}
		&_second {
			display: block;
			height: 60px;
			width: 100%;
			max-width: 220px;
			font-size: 24px;
			margin: 0 8px;
		}
	}

	.bet-sum-header {
		font-size: 18px;
	}

	::ng-deep {
		.table-block {
			&__title {
				font-size: 18px;
				margin-top: 6px;
				font-family: $roboto_regular;
			}
			&__kind {
				font-size: 18px;
				font-family: $roboto_regular;
				display: inline;
			}
			&__content {
				display: none;
			}
		}
	}
	.kc-bets-buttons {
		margin-bottom: 0;
		width: 100%;
		order: 2;
		::ng-deep {
			.buttons-group {
				&__items {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr 1fr;
					grid-auto-flow: row;
					grid-gap: 15px;
					gap: 15px;
					margin: 0;
				}
				&__item {
					&_theme {
						&_gold {
							width: 100%;
							margin: 0;
							font-size: 24px;
							height: 44px;
						}
					}
				}

			}
		}
	}

	.custom-bet {
		order: 1;
		margin-bottom: 15px;
		::ng-deep {
			.input-field {
				height: 44px;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					@include msl_placeholder($font-size: 14px);
					color: $msl_placeholder_text_color;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					@include msl_placeholder($font-size: 14px);
					color: $msl_placeholder_text_color;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					@include msl_placeholder($font-size: 14px);
					color: $msl_placeholder_text_color;
				}
				&:-moz-placeholder { /* Firefox 18- */
					@include msl_placeholder($font-size: 14px);
					color: $msl_placeholder_text_color;
				}
				&::placeholder {
					@include msl_placeholder($font-size: 14px);
					color: $msl_placeholder_text_color;
				}
			}
		}
	}
	.bottom-buttons {
		display: flex;
		justify-content: space-around;
		padding-top: 8px;
	}

	.close-button {
		position: absolute;
		top: 10px;
		right: 10px;
		::ng-deep {
			.close-button {
				width: 16px;
				height: 16px;
			}
		}
	}
	.kc-input-error {
		width: 100%;
	}

	.bets-sums {
		display: flex;
		flex-flow: row wrap;
		max-width: 350px;
		width: 100%;
		margin: 0 auto;
	}

	.kc-confirm-button {
		display: none;
	}

	.table-header {
		font-size: 18px;
	}
	.webalt-scroll::-webkit-scrollbar {
		width: 10px;
	}
}

@media screen and (max-width: 839px) {
	.keb-dialog {
		top: 8px;
		left: 8px;
		right: 8px;
		bottom: 8px;
		grid-template-rows: 1fr auto;
		&__wrp {
			display: grid;
			grid-template: auto minmax(0, auto) auto / 1fr;
			align-content: start;
			overflow: hidden;
			grid-row-gap: 20px;
			row-gap: 20px;
		}
		&__left, &__right {
			width: 100%;
		}
		&__left {
			order: 2;
			margin: 0 auto;
			width: auto;
			height: 100%;
			padding-right: 10px;
			::ng-deep {
				.custom-scrollbar {
					&_scroll {
						padding-right: 10px;
					}
					&::-webkit-scrollbar {
						width: 10px;
					}
				}
			}
		}
		&__right {
			order: 1;
			margin: 0;
			overflow: hidden;
			padding-bottom: 10px;
		}
	}

	.dialog-continue {
		height: 44px;
		width: 100%;
		max-width: 180px;
		font-size: 18px;
		margin: 0 8px;
	}

	.kc-clear-button {
		font-size: 24px;
		height: 60px;
		&_first {
			display: none;
		}
		&_second {
			display: block;
			height: 44px;
			width: 100%;
			max-width: 180px;
			font-size: 18px;
			margin: 0 8px;
		}
	}

	.bet-sum-header {
		font-size: 16px;
	}

	.bets-sums {
		max-width: none;
	}

	::ng-deep {
		.table-block {
			&__title {
				font-size: 16px;
				margin-top: 6px;
				font-family: $roboto_regular;
			}
			&__kind {
				font-size: 16px;
				font-family: $roboto_regular;
				display: inline;
			}
			&__content {
				display: none;
			}
		}
	}
	.kc-bets-buttons {
		order: 1;
		overflow: hidden;
		width: 100%;
		display: block;
		margin: 0 0 20px 0;
		::ng-deep {
			.buttons-group {
				overflow-x: auto;
				&__items {
					display: flex;
					flex-flow: row nowrap;
					width: fit-content;
					grid-gap: 0;
					gap: 0;
				}
				&__item {
					&_theme {
						&_gold {
							margin: 0 8px 0 0;
							width: 66px;
							height: 42px;
							border-radius: 4px;

							border: 1px solid $msl_base_yellow;
							font-family: $roboto_regular;
							font-size: 24px;

							&:nth-child(4n) {
								margin-right: 8px;
							}
						}
					}
					&_selected {
						background: $msl_base_yellow;
						color: #fff;
					}
				}

			}
		}
	}

	.custom-bet {
		order: 2;
		::ng-deep {
			.input-field {
				border: none;
				border-bottom: 1px solid $msl_placeholder_text_color;
				border-radius: 0;
				height: 35px;
				padding: 8px;
				text-align: left;
				font-size: 24px;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					@include msl_placeholder($font-size: 16px);
					color: $msl_placeholder_text_color;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					@include msl_placeholder($font-size: 16px);
					color: $msl_placeholder_text_color;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					@include msl_placeholder($font-size: 16px);
					color: $msl_placeholder_text_color;
				}
				&:-moz-placeholder { /* Firefox 18- */
					@include msl_placeholder($font-size: 16px);
					color: $msl_placeholder_text_color;
				}
				&::placeholder {
					@include msl_placeholder($font-size: 16px);
					color: $msl_placeholder_text_color;
				}
			}
		}
	}
	.bottom-buttons {
		display: flex;
		justify-content: space-around;
		padding-top: 8px;
	}

	.close-button {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 24px;
		height: 24px;
		::ng-deep {
			.close-button {
				width: 16px;
				height: 16px;
			}
		}
	}
	.kc-input-error {
		width: 100%;
	}
}

@media screen and (max-width: 639px) {
	.keb-dialog {
		top: 8px;
		left: 8px;
		right: 8px;
		bottom: 8px;
		grid-template-rows: 1fr auto;
		&__wrp {
			display: grid;
			grid-template: auto minmax(0, 1fr) / 1fr;
			align-items: center;
			overflow: hidden;
			grid-row-gap: 0;
			row-gap: 0;
		}
		&__left, &__right {
			width: 100%;
		}
		&__left {
			order: 2;
			margin: 0 auto;
			width: auto;
			max-height: 380px;
			height: 100%;
			::ng-deep {
				.custom-scrollbar {
					&_scroll {
						padding-right: 10px;
					}
					&::-webkit-scrollbar {
						width: 10px;
					}
				}
			}
		}
		&__center {
			display: none;
		}
		&__right {
			order: 1;
			margin: 0;
			overflow: hidden;
			padding-bottom: 0;
		}
		&__selected-cards {
			display: none;
		}
	}

	.dialog-continue {
		height: 44px;
		width: 100%;
		max-width: 180px;
		font-size: 18px;
		margin: 0 8px;
	}

	.kc-clear-button {
		font-size: 24px;
		height: 60px;
		margin-bottom: 0;
		&_first {
			display: none;
		}
		&_second {
			display: block;
			height: 44px;
			width: 100%;
			max-width: 180px;
			font-size: 18px;
			margin: 0 8px;
		}
	}

	.bet-sum-header {
		font-size: 16px;
	}

	.bets-sums {
		margin-bottom: 10px;
	}

	::ng-deep {
		.table-block {
			&__title {
				font-size: 16px;
				margin-top: 6px;
				font-family: $roboto_regular;
			}
			&__kind {
				font-size: 16px;
				font-family: $roboto_regular;
				display: inline;
			}
			&__content {
				display: none;
			}
		}
	}
	.close-button {
		width: 16px;
		height: 16px;
	}
	.kc-bets-buttons {
		overflow-x: hidden;
		width: 100%;
		display: block;
		::ng-deep {
			.buttons-group {
				overflow-x: auto;
				&__items {
					display: flex;
					flex-flow: row nowrap;
					width: fit-content;
				}
				&__item {
					&_theme {
						&_gold {
							margin: 0 8px 0 0;
							width: 66px;
							height: 42px;
							border-radius: 4px;

							border: 1px solid $msl_base_yellow;
							font-family: $roboto_regular;
							font-size: 24px;

							&:nth-child(4n) {
								margin-right: 8px;
							}
						}
					}
					&_selected {
						background: $msl_base_yellow;
						color: #fff;
					}
				}

			}
		}
	}

	.custom-bet {
		margin-bottom: 0;
		::ng-deep {
			.input-field {
				border: none;
				border-bottom: 1px solid $msl_placeholder_text_color;
				border-radius: 0;
				height: 35px;
				padding: 8px;
				text-align: left;
				font-size: 24px;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					@include msl_placeholder($font-size: 16px);
					color: $msl_placeholder_text_color;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					@include msl_placeholder($font-size: 16px);
					color: $msl_placeholder_text_color;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					@include msl_placeholder($font-size: 16px);
					color: $msl_placeholder_text_color;
				}
				&:-moz-placeholder { /* Firefox 18- */
					@include msl_placeholder($font-size: 16px);
					color: $msl_placeholder_text_color;
				}
				&::placeholder {
					@include msl_placeholder($font-size: 16px);
					color: $msl_placeholder_text_color;
				}
			}
		}
	}
	.bottom-buttons {
		display: flex;
		justify-content: space-around;
		padding-top: 8px;
	}

	.close-button {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.kc-input-error {
		width: 100%;
	}
}

//@media screen and (max-width: 380px) {
//	.keb-dialog {
//		&__left {
//			::ng-deep {
//				.custom-scrollbar {
//					&_scroll {
//						padding-right: 5px;
//					}
//				}
//			}
//		}
//	}
//}

@media screen and (max-width: 479px) {
	.kc-clear-button_second, .dialog-continue {
		border-radius: 4px;
		border-width: 1px;
		max-width: 150px;
		height: 32px;
		margin: 0 6px;
		font-size: 16px;
	}
	.kc-bets-buttons {
		::ng-deep {
			.buttons-group {
				&__item {
					&_theme {
						&_gold {
							margin: 0 4px 0 0;
						}
					}
				}
			}
		}
	}

	.custom-bet {
		::ng-deep {
			.input-field {
				height: 30px;
				padding: 0 8px;
				font-size: 18px;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					@include msl_placeholder($font-size: 14px);
				}
				&::-moz-placeholder { /* Firefox 19+ */
					@include msl_placeholder($font-size: 14px);
				}
				&:-ms-input-placeholder { /* IE 10+ */
					@include msl_placeholder($font-size: 14px);
				}
				&:-moz-placeholder { /* Firefox 18- */
					@include msl_placeholder($font-size: 14px);
				}
				&::placeholder {
					@include msl_placeholder($font-size: 14px);
				}
			}
		}
	}
	.bottom-buttons {
		padding: 8px;
		margin-left: -8px;
		margin-right: -8px;
		margin-bottom: -8px;
		border-top: 1px solid $msl_base_green;
		box-shadow: 0 -5px 5px 0px #EEEEEE;
	}
	.keb-dialog {
		&__left {
			width: 100%;
			max-width: none;
		}
		&__selected-cards {
			margin-bottom: 0;
		}
	}
	.kc-input-error {
		margin: 5px 0;
		font-size: 14px;
	}
}
