@import 'variables';
@import 'mixins';

.dbc-label {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: left;
	color: $msl_base_yellow;
}

.dbc-draws {
	&__control {
		display: none;
	}
}

.dbc-draw {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 80px;
	padding: 0;
	font-family: $roboto_bold;
	font-size: 45px;
	border: 2px solid $msl_base_yellow;
	&_gold {
		color: $msl_darken_yellow;
		@include radial_bg($color: #FAEFC4);
	}
}

.dbc-number {
	font-weight: bold;
	font-size: 36px;
	color: inherit;
	margin-left: 10px;
	margin-right: 10px;
}

.dbc-data {
	display: flex;
	flex-direction: column;

	width: 100%;

	font-family: $roboto_regular;
	font-size: 20px;
	text-align: left;

}

.dbc-time-left {
	text-transform: none;
	font-size: 18px;
	font-family: $roboto_medium;
	font-weight: normal;
	margin-top: 2px;
	&_1 {
		display: inline;
		::ng-deep {
			.num-sep {
				display: inline;
			}
		}
	}
	&_2 {
		display: inline;
		margin-left: 3px;
	}
}

.dbc-date {
	font-size: 24px;
	font-family: $roboto_medium;
	font-weight: normal;
}

.dbc-draw + .dbc-draws__control + .dbc-draw {
	margin-top: 10px;
}

.rnbc-prev, .rnbc-next {
	width: 170px;
}

@media screen and (max-width: 1599px) {
	.dbc-draw {
		height: 70px;
	}
}

@media screen and (max-width: 1365px) {
	.dbc-draw {
		height: 60px;
	}
	.dbc-number {
		font-size: 24px;
	}

	.dbc-time-left {
		font-size: 14px;
	}

	.dbc-date {
		font-size: 18px;
	}
}

@media screen and (max-width: 1139px) {
	.dbc-draw {
		height: 70px;
	}
	.dbc-number {
		font-size: 36px;
	}

	.dbc-time-left {
		font-size: 18px;
	}

	.dbc-date {
		font-size: 24px;
	}
}

@media screen and (max-width: 960px) {
	.dbc-draw {
		height: 60px;
	}
	.dbc-number {
		font-size: 24px;
	}

	.dbc-time-left {
		font-size: 14px;
	}

	.dbc-date {
		font-size: 18px;
	}
}


@media screen and (max-width: 853px) {

	:host {
		display: block;
	}
	.dbc-label {
		font-size: 15px;
	}
	.dbc-draws {
		display: flex;
		align-items: center;
		width: fit-content;
		overflow-x: auto;
		padding: 0 4px;
		&_one {
			display: flex;
			width: 100%;
			justify-content: center;
		}
	}
	.draws-buttons-container {
		overflow-x: auto;
		padding-bottom: 30px;
	}
	.dbc-draw {
		margin-left: 8px;
		margin-right: 8px;
		border-width: 2px;
		width: 464px;
		height: 70px;
	}
	.dbc-draw + .dbc-draws__control + .dbc-draw {
		margin-top: 0;
	}
	.dbc-time-left {
		font-size: 18px;
	}
	.dbc-number {
		font-family: $roboto_medium;
		font-weight: normal;
		white-space: nowrap;
		font-size: 36px;
		margin-right: 30px;
	}
	.dbc-date {
		font-size: 24px;
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 839px) {
	.dbc-draw {
		margin-left: 12px;
		margin-right: 12px;
		width: 400px;
		height: 60px;
	}
	.dbc-draw + .dbc-draws__control + .dbc-draw {
		margin-top: 0;
	}
	.dbc-time-left {
		font-size: 14px;
	}
	.dbc-number {
		font-size: 24px;
		margin-right: 24px;
	}
	.dbc-date {
		font-size: 18px;
	}
	.dbc-draws {
		padding: 0;
	}
}


@media screen and (max-width: 639px) {
	:host {
		display: block;
	}
	.dbc-label {
		font-size: 15px;
	}
	.dbc-draws {
		display: flex;
		align-items: center;
		width: fit-content;
		overflow-x: auto;
		padding: 0 4px;
	}
	.draws-buttons-container {
		overflow-x: auto;
		padding-bottom: 30px;
	}
	.dbc-draw {
		margin-left: 8px;
		margin-right: 8px;
		width: 328px;
		height: 60px;
		border-width: 2px;
	}
	.dbc-draw + .dbc-draws__control + .dbc-draw {
		margin-top: 0;
	}
	.dbc-time-left {
		font-size: 14px;
	}
	.dbc-number {
		font-family: $roboto_medium;
		font-weight: normal;
		font-size: 24px;
		margin-right: 20px;
		white-space: nowrap;
	}
	.dbc-date {
		font-size: 18px;
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 479px) {
	:host {
		display: block;
	}
	.dbc-label {
		font-size: 15px;
	}
	.dbc-draws {
		display: flex;
		align-items: center;
		width: fit-content;
		overflow-x: auto;
		padding: 0 4px;
	}
	.draws-buttons-container {
		overflow-x: auto;
		padding-bottom: 30px;
	}
	.dbc-draw {
		margin-left: 4px;
		margin-right: 4px;
		width: 272px;
		height: 44px;
		border-width: 1px;
	}
	.dbc-draw + .dbc-draws__control + .dbc-draw {
		margin-top: 0;
	}
	.dbc-time-left {
		display: none;
	}
	.dbc-number {
		font-family: $roboto_medium;
		font-weight: normal;
		font-size: 18px;
	}
	.dbc-date {
		font-size: 15px;
		margin-bottom: 0;
	}
}
