@import 'variables';
@import 'mixins';

.msl-input-label {
	font-size: 16px;
	font-family: $roboto_regular;
	color: $msl_main_text_color;
	&_error {
		color: $msl_error;
	}
	&_disabled {
		color: $msl_placeholder_text_color;
	}
}

.eye-input-button {
	margin-top: 5px;
	display: flex;
	align-items: center;
}

.eye-input {
	width: 200px;
	height: 40px;

	padding: 4px 12px;
	margin-right: 5px;

	color: $msl_placeholder_text_color;
	font-size: 18px;

	background: transparent;
	border: 1px solid $msl_main_text_color;
	border-radius: 6px;

	&_error {
		border: 1px solid $msl_error;
		color: $msl_error;
	}

	&[disabled] {
		border: 1px solid $msl_placeholder_text_color;
	}
	&_secured {
		-webkit-text-security: disc;
	}
}

.msl-input-with-eye-container {
	&_disabled {
		pointer-events: none;
	}
}

.eye-icon {
	&__eye {
		fill: $msl_placeholder_text_color;
	}
}

.eye-button {
	border-radius: 8px;
	border: 1px solid $msl_main_text_color;

	width: 40px;
	height: 40px;

	background: #FFFFFF;

	display: flex;
	align-items: center;
	justify-content: center;

	&_active {
		border: 1px solid $msl_base_green;
		background: #d9f4f4;

		.eye-icon {
			&__eye {
				fill: $msl_base_green;
			}
		}
	}

	&_pressed {
		border: 1px solid $msl_base_green;
		background: $msl_base_green;

		.eye-icon {
			&__eye {
				fill: #FFFFFF;
			}
		}
	}
	&_disabled {
		border: 1px solid $msl_placeholder_text_color;
	}
}

@media screen and (min-width: 480px) {
	.eye-input {
		width: 240px;
	}
}

@media screen and (min-width: 640px) {
	.eye-input {
		width: 320px;
		height: 44px;
		font-size: 18px;
		margin-right: 8px;
	}
	.eye-button {
		width: 44px;
		height: 44px;
	}
	.msl-input-label {
		font-size: 18px;
	}
}

@media screen and (min-width: 840px) {
	.eye-input {
		width: 440px;
		height: 60px;
		font-size: 24px;
		margin-right: 12px;
	}
	.eye-button {
		width: 60px;
		height: 60px;
	}
	.msl-input-label {
		font-size: 20px;
		margin-bottom: 8px;
	}
}

@media screen and (min-width: 1366px) {
	.msl-input-label {
		font-size: 18px;
	}
}
