@import "variables";
@import "mixins";

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin-inline: auto;
	padding: 10px;
	box-sizing: border-box;
}

.hidden {
	display: none;
}

.preloader-wrapper {
	margin-top: 10px;
}

.preloader {
	@include circle_arc(150px, 10px);
}

.success {
	text-align: center;
	font-family: $roboto_medium;
	font-size: 18px;
	margin-block-end: 10px;

	&__info {
		color: $msl_base_green;
		font-family: $roboto_medium;
		font-size: 18px;
	}
}

.verify-title {
	text-align: center;
	color: $msl_main_text_color;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	height: 44px;
	margin: 10px;
	display: block;
	font-size: 18px;
	max-width: 200px;
	width: 100%;
}
