<div *ngIf="isLoading" class="preloader-wrapper">
	<div class="preloader"></div>
</div>

<div class="wrapper" [class.hidden]="isLoading">
	<ng-container *ngIf="showProposal">
		<div class="success">
			<span class="success__info">{{ 'dialog.win_pay_ticket_ok_info' | translate }}.</span>
			{{ 'tickets.pay-to-card' | translate }}
		</div>

		<div class="buttons">
			<button class="button button_theme_green button_yes"
					(click)="onWinPayToCard()"
			>{{ 'common.yes' | translate }}</button>
			<button routerLink="/tickets/check" class="button button_theme_white button_no">{{ 'common.no' | translate }}</button>
		</div>
	</ng-container>

	<ng-container *ngIf="!showProposal">
		<app-user-loyalty-auth *ngIf="!needsVerification" class="user-loyalty-auth"
							   [showScanVariant]="true"
							   [showPhoneVariant]="false"
							   [showValidMark]="false"
							   (authResult)="onCardNumEntered($event)"
		></app-user-loyalty-auth>

		<ng-container *ngIf="needsVerification">
			<h3 class="verify-title">{{ 'other.verify-title' | translate }}</h3>
			<app-user-loyalty-auth class="user-loyalty-auth"
								   [showScanVariant]="false"
								   [showPhoneVariant]="true"
								   [showValidMark]="false"
								   (authResult)="onPayAndFinish()"
			></app-user-loyalty-auth>
		</ng-container>
	</ng-container>
</div>
