@import "variables";

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.modal-dialog-background {
	&.at-top {
		justify-content: flex-start;
	}
}

.modal-dialog-container {
	&.smooth {
		animation: fadeOut 2s linear;
	}
}

@media screen and (max-width: 854px) {
	.modal-dialog-container {
		width: 100%;
		max-width: 540px;
		padding: 8px;
	}
	.modal-alt-title, .modal-alt-message {
		margin: 8px 8px 16px 8px;
	}
	.modal-alt-message {
		font-weight: normal;
		font-family: $roboto_medium;
		font-size: 18px;
	}
}

@media screen and (max-width: 480px) {
	.modal-dialog-background {
		padding: 8px;
	}
	.modal-dialog-container {
		padding: 8px 8px 12px 8px;
		max-width: 376px;
	}
	.modal-alt-title {
		font-family: $roboto_bold;
		font-size: 24px;
		margin: 8px;
	}
	.modal-alt-message {
		font-weight: normal;
		font-family: $roboto_regular;
		font-size: 14px;
		margin: 4px 4px 0 4px;
	}
}

@media screen and (max-width: 360px) {
	.modal-dialog-background {
		padding: 8px;
	}
	.modal-dialog-container {
		padding: 8px 8px 12px 8px;
	}
	.modal-alt-title {
		font-family: $roboto_bold;
		font-size: 24px;
		margin: 8px;
	}
	.modal-alt-message {
		font-weight: normal;
		font-family: $roboto_regular;
		font-size: 14px;
		margin: 4px 4px 0 4px;
	}
}
