@import 'variables';

.withdrawal-notallowed {
	font-size: 24px;
	color: $msl_error;
	font-family: $roboto_medium;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 15px;
}

.withdrawal-pay-sum {
	text-align: center;
	font-size: 36px;
	color: $msl_main_text_color;

	&_green {
		color: $msl_base_green;
		font-family: $roboto_medium;
	}
}

.withdrawal-code {
	margin-top: 60px;
	font-size: 24px;
	text-align: center;
	color: $msl_main_text_color;

	&__num {
		font-family: $roboto_medium;
	}
}

.withdrawal-reason {
	text-align: center;
	color: $msl_error;
	font-size: 36px;
	font-family: $roboto_medium;
}
