<!-- ВЫВОД ДЕНЕГ НЕ РАЗРЕШЕН -->
	<div class="withdrawal-notallowed">{{ 'reporting.withdrawal_notallowed' | translate }}</div>

	<div class="withdrawal-pay-sum">
		{{ 'reporting.payment_sum' | translate }}:
		<span class="withdrawal-pay-sum_green">
						{{ userPaymentOperationsService.paySum }}
			{{ 'lottery.uah' | translate | lowercase }}
					</span>
	</div>

	<div class="withdrawal-code">{{ 'reporting.code' | translate }}:
		<span class="withdrawal-code__num">
						{{ 'reporting.no' | translate }}{{ userPaymentOperationsService.checkCashOutResp?.reason_code }}
					</span>
	</div>
	<div class="withdrawal-reason">{{ userPaymentOperationsService.checkCashOutResp?.reason_detail }}</div>
