.reporting-menu-list {

	&__title {
		text-align: center;
		font-size: 24px;
		font-family: $roboto_medium;
		padding: 10px 50px;
		color: $msl_base_green;
		position: relative;
		transition: background 0.5s ease 0s, color 0.5s ease 0s;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -3px;
			right: 20px;
			width: 8px;
			height: 8px;
			transform: translateY(-50%) rotate(-45deg);
			transition: transform 0.3s ease 0s, margin-top 0.3s ease 0s;
			border-left: 2px solid $msl_base_green;
			border-bottom: 2px solid $msl_base_green;
		}
		&_highlighted {
			color: #FFFFFF;
			&:after {
				border-left: 2px solid #FFFFFF;
				border-bottom: 2px solid #FFFFFF;
			}
		}
		&_expanded {
			&:after {
				margin-top: 2px;
				transform: translateY(-50%) rotate(135deg);
			}
		}
	}
	&__item {
		list-style: none;
		display: block;
		border-radius: 8px;
		overflow: hidden;
		border: 2px solid #808080;
		transition: background 0.6s ease 0s;
		& + & {
			margin-top: 20px;
		}
		&_expanded {
			// не юзаю переменную, так как этот цвет - цвет неактивного блока
			// а блок может быть активным
			border: 2px solid #808080;
		}
		&_highlighted {
			border: 2px solid $msl_base_green;
			background: $msl_base_green;
		}
	}
}

.rp-menu-help {
	position: relative;
	&::after {
		content: '?';

		width: 26px;
		height: 26px;

		top: 50%;
		right: 22px;

		color: #FFFFFF;

		font-size: 22px;
		font-family: sans-serif;
		font-weight: bold;

		display: block;
		position: absolute;
		transform: translateY(-50%);

		background: #009788;
		border-radius: 5px;

	}
}

.rp-menu {
	padding-left: 10px;
	padding-right: 10px;

	max-height: 0;
	transition: max-height 0.3s ease 0s, padding-top 0.3s ease 0s, padding-bottom 0.3s ease 0s;
	overflow: hidden;

	&_expanded {
		max-height: 600px;
		padding-bottom: 10px;
	}

	&__item {
		display: block;

		width: 100%;
		padding: 10px;

		color: $msl_main_text_color;
		text-align: center;
		font-size: 24px;
		font-family: $roboto_medium;

		border: 2px solid $msl_inactive_color;
		border-radius: 8px;

		max-height: 100px;
		opacity: 1;
		transition: opacity 0.5s ease 0s, max-height 1s ease 0s, padding 1s ease 0s;

		&_collapsed {
			max-height: 0;
			padding: 0;
			opacity: 0;
		}

		& + & {
			margin-top: 10px;
		}

		&_active {
			border: 2px solid $msl_base_green;
			background: $msl_base_green;
			color: #fff;
			overflow: hidden;

			&.rp-menu-help {
				&::after {
					background: #FFFFFF;
					color: #009788;
				}
			}
		}

		&_disabled {
			color: $msl_placeholder_text_color;
			background-color: #FFFFFF;
			border: 2px solid $msl_inactive_color;
		}

		&_hidden {
			display: none;
		}
	}
}

@media screen and (max-width: 1365px) {
	.reporting-menu-list {
		&__title {
			font-size: 18px;
			padding: 10px 25px;
			&:after {
				margin-top: -2px;
				right: 10px;
				width: 5px;
				height: 5px;
			}
		}
		&__item {
			& + & {
				margin-top: 15px;
			}
		}
	}
	.rp-menu {
		&__item {
			font-size: 18px;
			padding: 8px;
		}
	}
	.rp-menu-help {
		&::after {
			display: none;
		}
	}
}

@media screen and (max-width: 1139px) {
	.reporting-menu-list {
		&__title {
			font-size: 14px;
		}

		&__item {
			& + & {
				margin-top: 10px;
			}
		}
	}
	.rp-menu {
		&__item {
			padding: 8px;
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 853px) {
	.reporting-menu-list {
		&__title {
			margin: 5px 0;
			font-size: 18px;
		}
		&__item {
			border-width: 1px;
		}
	}
	.rp-menu {
		&__item {
			padding: 0;
			font-size: 18px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			border-width: 1px;
		}
	}
}

@media screen and (max-width: 839px) {
	.reporting-menu-list {
		&__title {
			font-size: 18px;
			margin: 0;
		}
		&__item {
			border-width: 1px;
		}
	}
	.rp-menu {
		&__item {
			padding: 0;
			font-size: 16px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			border-width: 1px;
		}
	}
}

@media screen and (max-width: 639px) {
	.rp-menu {
		padding-left: 8px;
		padding-right: 8px;
		display: flex;
		flex-direction: column;
		&__item {
			font-family: $roboto_regular;
			border-width: 1px;

			display: flex;
			justify-content: center;
			text-align: center;
			align-items: center;
			height: 40px;
			padding: 0;
			// order: 2;
			font-size: 16px;

			&_active {
				border: none;
				background: $msl_base_green;
				color: #FFFFFF;
				// order: 1;
			}
			&_disabled {
				border-width: 1px;
			}
		}
	}

	.reporting-menu-list {
		&__title {
			font-size: 16px;
		}
		&__item {
			border-width: 1px;
		}
	}
}

@media screen and (max-width: 479px) {
	.rp-menu {
		padding-left: 4px;
		padding-right: 4px;
		display: flex;
		flex-direction: column;
		&__item {
			font-size: 12px;
			font-family: $roboto_regular;
			border: 1px solid #A1A1A1;

			display: flex;
			justify-content: center;
			text-align: center;
			align-items: center;
			height: 30px;
			padding: 0;

			& + & {
				margin-top: 4px;
			}

			&_active {
				border: none;
				background: $msl_base_green;
				color: #FFFFFF;
			}
			&_disabled {
				border-width: 1px;
			}
		}
		&_expanded {
			padding-bottom: 4px;
		}
	}


	.reporting-menu-list {
		&__title {
			font-family: $roboto_regular;
			font-size: 12px;
			&_active {
				font-family: $roboto_medium;
			}
		}
		&__item {
			// не юзаю переменную, так как этот цвет - цвет неактивного блока
			// а блок может быть активным
			border: 1px solid #808080;
			border-radius: 8px;
			&_active {
				border: none;
			}
			&_expanded {
				border: 1px solid #808080;
			}
			& + & {
				margin-top: 4px;
			}
		}
	}
}
