@import 'variables';
@import 'mixins';
@import 'left-menu';

// -----------------------------------------
//  Общие стили для всех типов отчетов
// -----------------------------------------
.is-hidden {
	display: none;
}

.reporting-right-section {
	width: 100%;
	border: 2px solid $msl_base_green;
	border-radius: 8px;
	margin-bottom: 40px;
	height: 580px;
	position: relative;
	&_custom {
		padding: 10px;
	}
	&_loyalty-card {
		&_challenges, &_lc-info {
			overflow-y: auto;
		}

		&_lc-info {
			display: flex;
			width: 100%;
			justify-content: center;
		}
	}
}

// -----------------------------------------
//  Сообщение на пустой экран
// -----------------------------------------

.empty-message {
	position: absolute;
	width: 100%;
	padding: 20px;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	font-size: 24px;
}

// -----------------------------------------
//  Форма с вводимыми параметрами
// -----------------------------------------

.report-form {
	width: 100%;
	margin: 0 auto;
	&_paper-instant-lottery_22 {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
}

.equal-barcodes {
	text-align: center;
	font-size: 24px;
	font-family: $roboto_medium;
	color: $msl_main_text_color;
	-webkit-animation: blinker 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;
	animation: blinker 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;
}

// -----------------------------------------
//  Прелоадер
// -----------------------------------------

.reporting-preloader {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.fake-submit-btn {
	display: none;
}

.rp-request, .rp-back {
	width: 100%;
	height: 80px;
	font-size: 36px;
	display: block;
}

.rp-right-bottom {
	display: flex;
	justify-content: center;
	width: 100%;
	&_two {
		justify-content: space-between;
		.rp-back {
			width: 300px;
		}
	}
}

.rp-print {
	width: 300px;
	height: 80px;
	font-size: 36px;
}

// -----------------------------------------
//  Результат запроса
// -----------------------------------------

.op-content {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	overflow-y: auto;
	&.content-scrolled {
		display: block;
	}
	&.is-hidden {
		display: none;
	}
	&__shortfall {
		font-size: 14px;
		height: 44px;
		max-width: 280px;
		width: 100%;
		margin: -10px auto 0 auto;
		display: block;
	}
	&__shortfall + &__inner {
		margin-top: -30px;
	}

	::ng-deep {
		h2 {
			text-align: center;
		}
		th, td {
			text-align: left;
			width: 50%;
		}

		.inv-not-bc {
			text-align: center;
			margin: 10px;
		}

		.svg-result {
			margin: 10px auto;
			svg {
				width: 150px;
				height: auto;
				display: block;
				margin: 2px auto;
			}
			&__title {
				text-align: center;
				font-size: 16px;
			}
		}

	}

	// -----------------------------------------
	//  Инвентаризация БМЛ
	// -----------------------------------------

	&_paper-instant-lottery_22 {
		top: 180px;
		bottom: 100px;
		display: block;
	}

	&_reports_7 {
		::ng-deep {
			center {
				h2 {
					font-size: 18px;
				}
			}
		}
	}

	&_reports_8 {
		::ng-deep {
			qt {
				center {
					table {
						width: 100%;
					}
				}
			}
		}
	}
}

.loyalty-card-info {
	display: block;
}


// -----------------------------------------
//  Общая разметка
// -----------------------------------------

.rp-hdr {
	text-align: center;
	font-size: 24px;
	font-family: $roboto_medium;
	font-weight: normal;
	color: $msl_base_green;
	padding: 12px 0;
}

.rp-columns {
	display: flex;
	padding: 0 15px;
	align-items: flex-start;
	justify-content: center;

	&__left, &__right {
		margin: 50px 80px;
	}

	&__left {
		max-width: 640px;
		width: 100%;
		padding: 0 0 10px 0;
		border-radius: 10px;
		border: none;
		&_bordered {
			border: 2px solid $msl_inactive_color;
			padding: 0 20px 10px 20px;
		}
	}

	&__right {
		max-width: 880px;
		width: 100%;
	}
}

app-input-operation-field.operation-field {
	display: block;
	max-width: 440px;
	margin: 52px auto 70px auto;
	&_type {
		&_lineedit {
			margin: 0 auto 16px auto;
			::ng-deep {
				.op-field-title {
					margin-bottom: 8px;
				}
				.field-wrp {
					&__input {
						height: 60px;
					}
				}
				.input-operation-field-container {
					margin-bottom: 0;
				}
			}
		}
		&_iticketlist {
			max-width: none;
			margin: 0;
			height: 100%;
			overflow: hidden;
			::ng-deep {
				.input-tmlbml {
					display: block;
					height: 100%;
				}
				.tml-bml-list-container {
					padding: 0;
					margin-right: 0;
				}
				.input-operation-field-container {
					margin-bottom: 0;
					height: 100%;
				}
				.op-field-wrapper {
					height: 100%;
				}
				.bml-row {
					grid-template-columns: 0 1fr 165px 110px 100px 120px 40px;
					margin: 7px 0;
				}
				.cell {
					font-size: 18px;
				}
				.input-tmlbml-container {
					padding: 0 10px;
					height: 100%;
				}
				.close-icon {
					width: 24px;
					height: 24px;
					font-size: 24px;
				}
				.bml-scroll {
					padding-right: 0;
					&::-webkit-scrollbar-track {
						margin: 0;
					}
					&.content-scrolled {
						padding-right: 5px;
					}
				}
				.two-step-panel {
					margin: 0 -10px;
				}
				.tsp-panel {
					padding: 20px 30px;
				}
				.step-title {
					font-size: 14px;
					margin-right: 14px;
				}
				.scan-barcode-btn {
					max-width: 200px;
					height: 36px;
					font-size: 14px;
					margin-right: 20px;
				}
				.input-block {
					max-width: 200px;
					&_wide {
						max-width: 420px;
					}
					&__hint {
						display: none;
					}
				}
				.msl-input-barcode {
					font-size: 14px;
					height: 36px;
					max-width: 200px;
					&_wide {
						max-width: none;
					}
				}
				.barcode-input {
					&__input {
						font-size: 16px;
					}
				}
				.mib-score {
					font-size: 16px;
				}
				.by-range, .tsp-clear {
					width: 160px;
					height: 36px;
					font-size: 16px;
				}
				.dummy {
					grid-template-columns: 200px 200px;
					grid-column-gap: 20px;
					column-gap: 20px;
					&__text, &__button {
						height: 36px;
					}
				}
				.step-no {
					font-size: 14px;
				}
				.step-title {
					max-width: 120px;
				}
				.status-icon {
					width: 22px;
					height: 22px;
					font-size: 22px;
				}
				.tsp-row_error {
					padding-bottom: 5px;
				}
				.camera-block {
					height: 220px;
				}
				.spoiler-body_opened {
					padding: 0 8px 8px 8px;
				}
			}
		}
	}

	&_type_lineedit.operation-field_paper-instant-lottery_22 {
		margin: 8px auto 0 auto;
	}
}

.reporting-inputs {
	padding-top: 20px;

	&_paper-instant-lottery_22 {
		padding-top: 0;
		height: 100%;
	}
}

@media screen and (max-width: 1919px) {
	.rp-columns {
		padding: 0;
		&__left, &__right {
			margin: 0;
		}
		&__left {
			width: 640px;
			margin-right: 34px;
		}
		&__right {
			width: 660px;
		}
	}
	.reporting-right-section {
		height: 437px;
		margin-bottom: 20px;
	}

	app-input-operation-field.operation-field {
		display: block;
		max-width: 340px;
		margin: 0 auto 40px auto;
		&_paper-instant-lottery_22 {
			margin: 0 auto;
		}
		&_type {
			&_lineedit {
				::ng-deep {
					.op-field-title {
						font-size: 18px;
					}
					.field-wrp {
						&__input {
							height: 44px;
							margin-right: 0;
							font-size: 24px;
						}
					}
				}
			}
			&_iticketlist {
				max-width: none;
				margin: 0;
				height: 100%;
				overflow: hidden;
				::ng-deep {
					.tml-bml-list-container {
						padding: 0;
						margin-right: 0;
					}
					.input-operation-field-container {
						margin-bottom: 0;
						height: 100%;
					}
					.op-field-wrapper {
						height: 100%;
					}
					.bml-row {
						grid-template-columns: 0 1fr 50px 100px 100px 100px 30px;
						margin: 7px 0;
					}
					.cell {
						font-size: 18px;
					}
					.input-tmlbml-container {
						padding: 0 10px;
					}
					.close-icon {
						width: 24px;
						height: 24px;
						font-size: 24px;
					}
					.bml-scroll {
						padding-right: 0;
						&.content-scrolled {
							padding-right: 5px;
						}
					}
					.two-step-panel {
						margin: 0 -10px;
					}
					.tsp-panel {
						padding: 8px;
					}
					.step-title {
						font-size: 11px;
						margin-right: 14px;
					}
					.scan-barcode-btn {
						max-width: 146px;
						height: 30px;
						font-size: 11px;
						margin-right: 20px;
					}
					.input-block {
						max-width: 146px;
						&_wide {
							max-width: 312px;
						}
						&__hint {
							display: none;
						}
					}
					.msl-input-barcode {
						font-size: 11px;
						height: 30px;
						max-width: 146px;
						&_wide {
							max-width: none;
						}
					}
					.barcode-input {
						&__input {
							font-size: 11px;
							&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
								font-size: 11px;
								text-align: center;
							}
							&::-moz-placeholder { /* Firefox 19+ */
								font-size: 11px;
								text-align: center;
							}
							&:-ms-input-placeholder { /* IE 10+ */
								font-size: 11px;
								text-align: center;
							}
							&:-moz-placeholder { /* Firefox 18- */
								font-size: 11px;
								text-align: center;
							}
							&::placeholder {
								font-size: 11px;
								text-align: center;
							}
						}
					}
					.mib-score {
						font-size: 11px;
					}
					.by-range, .tsp-clear {
						width: 146px;
						height: 30px;
						font-size: 11px;
						margin-right: 0;
						border-width: 1px;
					}
					.dummy {
						grid-template-columns: 146px 146px;
						grid-column-gap: 20px;
						column-gap: 20px;
						&__text, &__button {
							height: 30px;
						}
					}
					.step-no {
						font-size: 11px;
					}
					.step-title {
						max-width: 100px;
						&_two {
							max-width: none;
							width: 312px;
							margin-bottom: 5px;
						}
					}
					.status-icon {
						width: 16px;
						height: 16px;
						font-size: 16px;
					}
					.tsp-row_error {
						padding-bottom: 5px;
					}
					.barcode-col {
						&_two, &_two-step {
							max-width: none;
							align-items: flex-end;
							flex-wrap: wrap;
						}
					}
					.tsp-row {
						align-items: flex-end;
						&.step-two {
							margin-top: 8px;
						}
					}
					.camera-block {
						height: 150px;
					}
					.spoiler-body_opened {
						padding: 0 8px 8px 8px;
					}
				}
			}
		}
	}
	.reporting-inputs {
		padding-top: 60px;
		&_paper-instant-lottery_22 {
			padding-top: 0;
		}
	}
}

@media screen and (max-width: 1365px) {
	.rp-columns {
		&__left {
			width: 472px;
			margin-right: 15px;
		}
		&__right {
			width: 629px;
		}
	}
	.reporting-right-section {
		height: 427px;
	}

	.rp-back, .rp-print, .rp-request {
		width: 100%;
		height: 60px;
		font-size: 24px;
	}

	.rp-right-bottom_two {
		.rp-back, .rp-print {
			width: 180px;
		}
	}

	app-input-operation-field.operation-field {
		display: block;
		max-width: 340px;
		margin: 0 auto 40px auto;
		&_type {
			&_lineedit {
				::ng-deep {
					.op-field-title {
						font-size: 18px;
					}
					.field-wrp {
						&__input {
							height: 44px;
							margin-right: 0;
						}
					}
					.input-operation-field-container {
						&.lineedit {
							margin-left: 0;
							width: 100%;
						}
					}
				}
			}
			&_iticketlist {
				max-width: none;
				margin: 0;
				height: 100%;
				overflow: hidden;

				::ng-deep {
					.tml-bml-list-container {
						padding: 0;
						margin-right: 0;
					}

					.input-operation-field-container {
						margin-bottom: 0;
						height: 100%;
					}

					.op-field-wrapper {
						height: 100%;
					}

					.bml-row {
						grid-template-columns: 0 1fr 50px 100px 100px 100px 30px;
						margin: 7px 0;
					}

					.cell {
						font-size: 18px;
					}

					.input-tmlbml-container {
						padding: 0 10px;
					}

					.close-icon {
						width: 24px;
						height: 24px;
						font-size: 24px;
					}

					.bml-scroll {
						padding-right: 0;

						&.content-scrolled {
							padding-right: 5px;
						}
					}

					.two-step-panel {
						margin: 0 -10px;
					}

					.step-title {
						font-size: 11px;
						margin-right: 14px;
					}

					.scan-barcode-btn {
						max-width: 146px;
						height: 30px;
						font-size: 11px;
						margin-right: 13px;
					}

					.input-block {
						max-width: 146px;

						&_wide {
							max-width: 312px;
						}

						&__hint {
							display: none;
						}
					}

					.msl-input-barcode {
						font-size: 11px;
						height: 30px;
						max-width: 180px;

						&_wide {
							max-width: none;
						}
					}

					.barcode-input {
						&__input {
							font-size: 11px;

							&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
								font-size: 11px;
								text-align: center;
							}

							&::-moz-placeholder { /* Firefox 19+ */
								font-size: 11px;
								text-align: center;
							}

							&:-ms-input-placeholder { /* IE 10+ */
								font-size: 11px;
								text-align: center;
							}

							&:-moz-placeholder { /* Firefox 18- */
								font-size: 11px;
								text-align: center;
							}

							&::placeholder {
								font-size: 11px;
								text-align: center;
							}
						}
					}

					.mib-score {
						font-size: 11px;
					}

					.by-range, .tsp-clear {
						width: 146px;
						height: 30px;
						font-size: 11px;
						margin-right: 0;
						border-width: 1px;
					}

					.dummy {
						grid-template-columns: 180px 30px;
						grid-column-gap: 6px;
						column-gap: 6px;

						&__text, &__button {
							height: 30px;
						}
					}

					.step-no {
						font-size: 11px;
					}

					.step-title {
						max-width: 100px;

						&_two {
							max-width: none;
							width: 312px;
							margin-bottom: 5px;
						}
					}

					.status-icon {
						width: 16px;
						height: 16px;
						font-size: 16px;
					}

					.tsp-row_error {
						padding-bottom: 5px;
					}

					.barcode-col {
						display: flex;
						grid-template-columns: none;
						grid-column-gap: 0;
						&_two, &_two-step {
							display: flex;
							max-width: none;
							align-items: flex-end;
							flex-wrap: wrap;

							.scan-barcode-btn {
								width: 180px;
								max-width: none;
								margin-right: 0;
								flex-grow: 0;
								&_hidden {
									display: none;
								}
							}
							.input-block {
								max-width: 180px;
								&_hidden {
									display: none;
								}
								&_wide {
									max-width: 216px;
								}
							}
							.manual-enter {
								display: block;
								width: 30px;
								height: 30px;
								margin-left: 6px;
							}
						}
					}

					.tsp-row {
						align-items: flex-end;
					}
					.op-field-title {
						display: none;
					}

					.error-label {
						text-align: left;
					}
				}
			}
		}
	}
	.reporting-inputs {
		padding-top: 50px;
		&_paper-instant-lottery_22 {
			padding-top: 0;
		}
	}
}

@media screen and (max-width: 1139px) {
	.rp-columns {
		padding: 0;
		justify-content: center;
		height: 100%;
		&__left, &__right {
			margin: 0;
		}
		&__left {
			width: 377px;
			height: 100%;
			margin-right: 13px;
			&::-webkit-scrollbar {
				width: 8px;
			}
			&::-webkit-scrollbar-thumb {
				border: none;
			}
			&::-webkit-scrollbar-track {
				margin: 0 0 5px 0;
			}
		}
		&__right {
			width: 440px;
			&_paper-instant-lottery_22 {
				height: 100%;
				display: grid;
				grid-template-rows: minmax(0, 1fr) auto;
				grid-row-gap: 10px;
				row-gap: 10px;
				padding-bottom: 10px;
				.reporting-right-section {
					min-height: 0;
					flex-grow: 1;
					overflow-y: auto;
					height: 100%;
				}
			}
		}
	}

	.rp-hdr {
		font-size: 18px;
	}

	.inputs-periods {
		display: flex;
		&__item {
			max-width: 180px;
		}
		&__button {
			height: 40px;
			font-size: 18px;
		}
	}
	.reporting-right-section {
		min-height: 220px;
		height: auto;
		margin-bottom: 10px;
		&_loyalty-card_challenges {
			height: 220px;
		}

		&_loyalty-card_add-lc-info {
			overflow-y: auto;
		}
	}
	.reporting-inputs {
		padding-top: 10px;
		&_paper-instant-lottery_22 {
			padding-top: 0;
			height: auto;
		}
	}

	.rp-request, .rp-back {
		height: 44px;
		font-size: 18px;
		max-width: 300px;
		margin: 0 auto;
		&_paper-instant-lottery_22 {
			flex-grow: 0;
		}
	}

	.rp-right-bottom_two {
		.rp-back, .rp-print {
			width: 120px;
			height: 44px;
			margin: 0;
			font-size: 18px;
		}
	}


	app-input-operation-field.operation-field {
		display: block;
		width: 300px;
		&_type {
			&_lineedit {
				::ng-deep {
					.op-field-title {
						margin-bottom: 4px;
						font-size: 14px;
					}
					.field-wrp {
						&__input {
							height: 36px;
							margin-right: 0;
							font-size: 18px;
						}
					}
				}
			}
			&_iticketlist {
				max-width: none;
				margin: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;

				::ng-deep {
					.tml-bml-list-container {
						padding: 0;
						margin-right: 0;
						height: 100%;
					}

					.input-operation-field-container {
						margin-bottom: 0;
						height: 100%;
					}

					.op-field-wrapper {
						height: 100%;
					}

					.bml-row {
						grid-template-columns: 0 1fr 0 60px 60px 60px 20px;
						margin: 7px 0;
					}

					.cell {
						font-size: 14px;
						&_header {
							font-size: 16px;
						}
					}

					.input-tmlbml-container {
						padding: 0 10px;
					}

					.close-icon {
						width: 14px;
						height: 14px;
						font-size: 14px;
					}

					.bml-scroll {
						padding-right: 0;

						&.content-scrolled {
							padding-right: 5px;
						}
					}

					.two-step-panel {
						margin: 0 -10px;
					}

					.tsp-panel {
						padding: 8px;
					}

					.step-title {
						font-size: 11px;
						margin-right: 14px;
					}

					.scan-barcode-btn {
						max-width: 146px;
						width: 100%;
						height: 30px;
						font-size: 11px;
						margin-right: 22px;
					}

					.input-block {
						max-width: 146px;
						width: 100%;

						&_wide {
							max-width: 312px;
						}

						&__hint {
							display: none;
						}
					}

					.msl-input-barcode {
						font-size: 11px;
						height: 30px;
						max-width: 180px;

						&_wide {
							max-width: none;
						}
					}

					.barcode-input {
						&__input {
							font-size: 11px;

							&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
								font-size: 11px;
								text-align: center;
							}

							&::-moz-placeholder { /* Firefox 19+ */
								font-size: 11px;
								text-align: center;
							}

							&:-ms-input-placeholder { /* IE 10+ */
								font-size: 11px;
								text-align: center;
							}

							&:-moz-placeholder { /* Firefox 18- */
								font-size: 11px;
								text-align: center;
							}

							&::placeholder {
								font-size: 11px;
								text-align: center;
							}
						}
					}

					.mib-score {
						font-size: 11px;
					}

					.by-range, .tsp-clear {
						width: 100%;
						max-width: 312px;
						margin: 0 auto;
						display: block;
						height: 30px;
						font-size: 11px;
						border-width: 1px;
					}

					.dummy {
						grid-template-columns: 180px 30px;
						grid-column-gap: 6px;
						column-gap: 6px;

						&__text, &__button {
							height: 30px;
						}
					}

					.step-no {
						font-size: 11px;
					}

					.step-title {
						max-width: none;
						width: 100%;
						margin-right: 0;
						text-align: center;
						margin-bottom: 8px;

						&_two {
							max-width: none;
							width: 312px;
							margin-bottom: 5px;
						}
					}

					.status-icon {
						width: 16px;
						height: 16px;
						font-size: 16px;
					}

					.tsp-row_error {
						padding-bottom: 5px;
					}

					.barcode-col {
						display: flex;
						flex-wrap: wrap;
						grid-template-columns: none;
						grid-column-gap: 0;
						justify-content: center;
						margin: 0 0 8px 0;
						&_two, &_two-step {
							display: flex;
							max-width: none;
							align-items: flex-end;
							flex-wrap: nowrap;
							margin: 0;

							.scan-barcode-btn {
								width: 180px;
								max-width: none;
								margin-right: 0;
								flex-grow: 0;
								&_hidden {
									display: none;
								}
							}
							.input-block {
								max-width: 180px;
								&_hidden {
									display: none;
								}
								&_wide {
									max-width: 216px;
								}
							}
							.manual-enter {
								display: block;
								width: 30px;
								height: 30px;
								margin-left: 6px;
							}
							.step-title {
								display: none;
							}
						}
					}

					.tsp-row {
						grid-template: auto / 1fr;

						&.step-two {
							margin-top: 8px;
						}
						&_2stepmode {
							grid-template: auto / 216px auto;
							align-items: start;
							.by-range, .tsp-clear {
								width: 146px;
								margin-right: 0;
							}
						}
					}
					.op-field-title {
						display: none;
					}
					.camera-block {
						height: 104px;
					}
					.error-label {
						text-align: left;
					}
					.bml-list {
						height: 100%;
					}
				}
			}
		}
	}

	.circle-arc {
		@include circle_arc($d: 100px, $w: 6px);
	}


}

@media screen and (max-width: 853px) {
	.rp-columns {
		display: flex;
		padding: 10px 12px;
		flex-direction: column;
		&_paper-instant-lottery_22 {
			display: grid;
			grid-template: auto minmax(0, 1fr) / 1fr;
			padding-bottom: 0;
			margin: 0 -10px;
		}
		&__left, &__right {
			width: 100%;
			max-width: none;
		}
		&__left {
			height: auto;
			padding: 0;
			flex-grow: 0;
			&_paper-instant-lottery_22 {
				padding: 0 10px;
			}
		}
		&__right {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	.reporting-inputs {
		padding-top: 15px;
		&_paper-instant-lottery_22 {
			padding-top: 0;
			height: 100%;
		}
	}

	.reporting-right-section {
		min-height: 210px;
		height: auto;
		border: none;
		margin-bottom: 0;
		&_paper-instant-lottery_22 {
			padding-top: 10px;
		}
		&_loyalty-card_add-lc-info {
			height: 100%;
		}
	}
	app-input-operation-field.operation-field {
		display: block;
		max-width: 520px;
		width: 100%;
		margin: 0 auto 20px auto;
		&_type {
			&_lineedit {
				::ng-deep {
					.op-field-title {
						margin-bottom: 5px;
						font-size: 18px;
					}

					.input-operation-field-container {
						&.lineedit {
							margin-left: 0;
							width: 100%;
							margin-bottom: 12px;
						}
						.field-wrp {
							&__input {
								height: 44px;
								margin-right: 0;
								font-size: 18px;
							}
						}
					}
				}
			}
			&_iticketlist {
				max-width: none;
				margin: 0;
				height: 100%;
				overflow: hidden;
				::ng-deep {
					.tml-bml-list-container {
						padding: 0;
						margin-right: 0;
						height: 100%;
					}

					.input-operation-field-container {
						margin-bottom: 0;
						height: 100%;
					}

					.op-field-wrapper {
						height: 100%;
					}

					.bml-row {
						grid-template-columns: 0 1fr 50px 100px 100px 100px 30px;
						margin: 7px 0;
					}

					.cell {
						font-size: 18px;
					}

					.input-tmlbml-container {
						padding: 0 10px;
					}

					.close-icon {
						width: 24px;
						height: 24px;
						font-size: 24px;
					}

					.bml-scroll {
						padding-right: 0;

						&.content-scrolled {
							padding-right: 5px;
						}
					}

					.two-step-panel {
						margin: 0 -10px;
					}

					.tsp-panel {
						padding: 8px;
						margin: 0;
					}

					.step-title {
						font-size: 14px;
						margin-right: 14px;
						max-width: 120px;
						display: none;
					}

					.scan-barcode-btn {
						max-width: none;
						width: 200px;
						height: 36px;
						font-size: 14px;
						margin-right: 8px;
					}

					.input-block {
						width: 200px;
						max-width: none;

						&_wide {
							max-width: 318px;
						}

						&__hint {
							display: none;
						}
					}

					.msl-input-barcode {
						font-size: 11px;
						height: 36px;
						max-width: none;
						width: 200px;
						margin-right: 8px;

						&_wide {
							max-width: none;
							width: 242px;
						}
					}

					.barcode-input {
						&__input {
							font-size: 16px;

							&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
								font-size: 16px;
								text-align: center;
							}

							&::-moz-placeholder { /* Firefox 19+ */
								font-size: 16px;
								text-align: center;
							}

							&:-ms-input-placeholder { /* IE 10+ */
								font-size: 16px;
								text-align: center;
							}

							&:-moz-placeholder { /* Firefox 18- */
								font-size: 16px;
								text-align: center;
							}

							&::placeholder {
								font-size: 16px;
								text-align: center;
							}
						}
					}

					.mib-score {
						font-size: 16px;
					}

					.by-range, .tsp-clear {
						width: 160px;
						height: 36px;
						font-size: 16px;
						margin-right: 0;
						border-width: 1px;
					}

					.dummy {
						grid-template-columns: 200px 36px;
						grid-column-gap: 8px;
						column-gap: 8px;

						&__text, &__button {
							height: 36px;
						}
						&__button {
							width: 36px;
						}
					}

					.step-no {
						font-size: 14px;
					}

					.status-icon {
						width: 16px;
						height: 16px;
						font-size: 16px;
					}

					.tsp-row_error {
						padding-bottom: 5px;
					}

					.barcode-col {
						display: flex;
						grid-template-columns: none;
						grid-column-gap: 0;
						margin-bottom: 0;
						width: auto;
						&_two, &_two-step {
							display: flex;
							max-width: none;
							align-items: flex-end;
							flex-wrap: wrap;
							margin-right: 0;

							.scan-barcode-btn {
								width: 200px;
								max-width: none;
								margin-right: 8px;
								flex-grow: 0;
								&_hidden {
									display: none;
								}
							}
							.input-block {
								max-width: 200px;
								&_hidden {
									display: none;
								}
								&_wide {
									width: 244px;
									max-width: none;
								}
							}
							.manual-enter {
								display: block;
								width: 36px;
								height: 36px;
								margin-left: 0;
							}
							.step-title {
								display: block;
							}
						}
					}

					.tsp-row {
						display: grid;
						grid-template-columns: auto auto;
						align-items: center;

						&.step-two {
							margin-top: 14px;
							.msl-input-barcode {
								margin-right: 8px;
							}
						}
						&_2stepmode {
							.by-range, .tsp-clear {
								width: 160px;
							}
						}
					}
					.op-field-title {
						display: none;
					}
					.camera-block {
						height: 209px;
					}
					.camera-spoiler {
						height: 100%;
					}
					.error-label {
						text-align: left;
					}
					.manual-enter {
						width: 36px;
						height: 36px;
					}
					.bml-list {
						overflow-y: visible;
					}
				}
			}
		}
	}

	.rp-request, .rp-back {
		height: 60px;
		font-size: 24px;
		max-width: none;
		margin: 0 auto;
		&_paper-instant-lottery_22 {
			margin-left: 10px;
			margin-right: 10px;
			width: auto;
		}

	}
	.rp-right-bottom {
		padding: 0 10px;
	}
	.op-content {
		&_paper-instant-lottery_22 {
			height: 100%;
			border: 1px solid $msl_base_green;
			border-radius: 8px;
			margin: 0 10px;
			&.webalt-scroll {
				&::-webkit-scrollbar {
					width: 10px;
				}
				&::-webkit-scrollbar-thumb {
					min-height: 5%;
				}
			}
		}
	}
}

@media screen and (max-width: 839px) {
	.rp-columns {
		display: flex;
		padding: 10px 12px;
		flex-direction: column;
		&_paper-instant-lottery_22 {
			display: grid;
		}
		&__left, &__right {
			width: 100%;
			max-width: none;
		}
		&__left {
			height: auto;
			padding: 0;
			flex-grow: 0;
			margin-bottom: 0;
			&_paper-instant-lottery_22 {
				padding: 0 10px;
			}
		}
		&__right {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&_paper-instant-lottery_22 {
				padding-bottom: 0;
				.reporting-right-section {
					border: none;
				}
			}
			&_finance {
				&_5, &_6, &_7, &_11 {
					overflow: auto;
				}
			}
			&_paper-instant-lottery {
				&_10, &_15, &_16, &_22 {
					overflow: auto;
				}
			}
		}
	}
	.reporting-right-section {
		min-height: 178px;
		height: auto;
		border-width: 1px;
		&_loyalty-card_add-lc-info {
			height: 100%;
		}
	}
	app-input-operation-field.operation-field {
		display: block;
		max-width: 400px;
		width: 100%;
		margin: 0 auto 20px auto;
		&_type {
			&_lineedit {

				::ng-deep {
					.op-field-title {
						margin-bottom: 5px;
						font-size: 14px;
					}

					.input-operation-field-container {
						&.lineedit {
							margin-left: 0;
							width: 100%;
							margin-bottom: 12px;
						}
						.field-wrp {
							&__input {
								height: 36px;
								margin-right: 0;
								font-size: 18px;
							}
						}
					}
				}
			}
			&_iticketlist {
				margin: 0;
				max-width: none;
			}
		}
	}

	.rp-request, .rp-back {
		height: 60px;
		font-size: 24px;
		max-width: none;
		&_paper-instant-lottery_22 {
			margin: 0 10px;
			width: calc(100% - 20px);
		}
	}
}

@media screen and (max-width: 639px) {

	.rp-columns {
		display: flex;
		padding: 8px;
		flex-direction: column;
		&_paper-instant-lottery_22 {
			display: grid;
		}
		&__left, &__right {
			width: 100%;
			max-width: none;
		}
		&__left {
			height: auto;
			padding: 0;
			flex-grow: 0;
			&_paper-instant-lottery_22 {
				padding: 0 10px;
			}
		}
		&__right {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&_finance {
				&_5, &_6, &_7, &_11 {
					overflow: auto;
				}
			}
			&_paper-instant-lottery {
				&_10, &_15, &_16, &_22 {
					overflow: auto;
				}
			}
		}
	}
	.reporting-right-section {
		min-height: 178px;
		height: auto;
		border-width: 1px;
		&_loyalty-card_add-lc-info {
			height: 100%;
		}
	}
	app-input-operation-field.operation-field {
		display: block;
		max-width: 400px;
		width: 100%;
		margin: 0 auto 20px auto;
		&_type {
			&_lineedit {
				&.operation-field_paper-instant-lottery_22 {
					margin-top: 0;
				}
				::ng-deep {
					.op-field-title {
						margin-bottom: 5px;
						font-size: 14px;
					}

					.input-operation-field-container {
						&.lineedit {
							margin-left: 0;
							width: 100%;
							margin-bottom: 0;
						}
						.field-wrp {
							&__input {
								height: 36px;
								margin-right: 0;
								font-size: 18px;
							}
						}
					}
				}
			}
			&_iticketlist {
				margin: 0;
				max-width: none;
				::ng-deep {
					.bml-row {
						grid-template-columns: 0 1fr 0 70px 70px 70px 30px;
					}
					.cell {
						font-size: 12px;
						&_header {
							font-size: 12px;
						}
					}
					.close-icon {
						width: 18px;
						height: 18px;
						font-size: 18px;
					}
					.by-range, .tsp-clear {
						width: 180px;
						height: 30px;
						font-size: 11px;
					}
					.tsp-row {
						&_2stepmode {
							grid-template-columns: 218px auto;
							align-items: end;
							.by-range, .tsp-clear {
								width: 180px;
								height: 30px;
								font-size: 11px;
							}
						}
						&.step-two {
							margin-top: 8px;
						}
					}
					.step-no {
						font-size: 11px;
					}
					.step-title {
						max-width: none;
						text-align: left;
						font-size: 11px;
					}
					.scan-barcode-btn {
						width: 180px;
						height: 30px;
						font-size: 11px;
					}
					.dummy {
						grid-template-columns: 180px 30px;
						&__text, &__button {
							height: 30px;
						}
						&__text {
							width: 180px;
						}
						&__button {
							width: 30px;
						}
					}
					.manual-enter {
						width: 30px;
						height: 30px;
					}

					.barcode-col {
						&_two, &_two-step {
							.manual-enter {
								display: block;
								width: 30px;
								height: 30px;
								margin-left: 0;
							}
							.scan-barcode-btn {
								width: 180px;
								height: 30px;
								font-size: 11px;
							}
						}
					}

					.input-block {
						width: 180px;
						max-width: none;
					}

					.msl-input-barcode {
						font-size: 11px;
						height: 30px;
						max-width: none;
						width: 180px;
						margin-right: 8px;
						&_wide {
							width: 100%;
						}
					}
					.tsp-panel {
						padding: 8px 10px;
					}

					.barcode-input {
						&__input {
							font-size: 11px;

							&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
								font-size: 11px;
								text-align: center;
							}

							&::-moz-placeholder { /* Firefox 19+ */
								font-size: 11px;
								text-align: center;
							}

							&:-ms-input-placeholder { /* IE 10+ */
								font-size: 11px;
								text-align: center;
							}

							&:-moz-placeholder { /* Firefox 18- */
								font-size: 11px;
								text-align: center;
							}

							&::placeholder {
								font-size: 11px;
								text-align: center;
							}
						}
					}
					.camera-block {
						height: 150px;
					}
				}
			}
		}
	}

	.rp-request, .rp-back {
		height: 44px;
		font-size: 18px;
		max-width: none;
		margin: 0 auto;

		&_paper-instant-lottery {
			width: auto;
			margin-left: 0;
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 479px) {

	.rp-columns {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 4px;
		margin: 0;
		&__left, &__right {
			width: 100%;
			max-width: none;
		}
		&__left {
			height: auto;
			flex-grow: 0;
			padding: 0;
			margin: 0;
			&_paper-instant-lottery_22 {
				overflow-y: visible;
			}
		}
		&__right {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			overflow: hidden;
			grid-row-gap: 4px;
			row-gap: 4px;
			&_finance {
				&_5, &_6, &_7, &_11 {
					overflow: auto;
				}
			}
			&_paper-instant-lottery {
				&_10, &_15, &_16, &_22 {
					overflow: auto;
				}
			}
		}
	}

	.reporting-inputs {
		padding-top: 4px;
	}

	.reporting-right-section {
		min-height: 170px;
		height: auto;
		border-width: 1px;
		&_paper-instant-lottery_22 {
			padding-top: 4px;
		}
		&_loyalty-card_add-lc-info {
			height: 100%;
		}
	}
	app-input-operation-field.operation-field {
		display: block;
		max-width: 300px;
		width: 100%;
		margin: 0 auto 20px auto;
		&_type {
			&_lineedit {
				margin: 0 auto;
				::ng-deep {
					.op-field-title {
						margin-bottom: 5px;
						font-size: 14px;
					}

					.input-operation-field-container {
						&.lineedit {
							margin-left: 0;
							width: 100%;
							margin-bottom: 8px;
						}
						.field-wrp {
							&__input {
								height: 30px;
								margin-right: 0;
								font-size: 18px;
							}
						}
					}
				}
			}
			&_iticketlist {
				margin: 0;
				max-width: none;
				::ng-deep {
					.camera-block {
						width: 100%;
						margin: 0 auto;
						height: 120px;
					}

					.bml-row {
						grid-template-columns: 0 1fr 0 40px 60px 60px 20px;
						margin: 4px 0;
						&_footer {
							display: none;
						}
					}
					.cell {
						font-size: 12px;
						&_header {
							font-size: 12px;
						}
					}
					.close-icon {
						width: 18px;
						height: 18px;
						font-size: 18px;
					}
					.by-range, .tsp-clear {
						width: 140px;
						height: 30px;
						font-size: 11px;
					}
					.tsp-row {
						&_2stepmode {
							grid-template-columns: 176px auto;
							align-items: end;
							.by-range, .tsp-clear {
								width: 140px;
								height: 30px;
								font-size: 11px;
							}
						}
						&.step-two {
							.msl-input-barcode {
								margin-right: 6px;
							}
						}
					}
					.step-no {
						font-size: 11px;
					}
					.step-title {
						max-width: none;
						text-align: left;
						font-size: 11px;
					}
					.scan-barcode-btn {
						width: 140px;
						height: 30px;
						font-size: 11px;
						margin-right: 6px;
					}
					.dummy {
						grid-template-columns: 140px 30px;
						grid-column-gap: 6px;
						column-gap: 6px;
						&__text, &__button {
							height: 30px;
						}
						&__text {
							width: 140px;
						}
						&__button {
							width: 30px;
						}
					}
					.manual-enter {
						width: 30px;
						height: 30px;
					}

					.barcode-col {
						&_two, &_two-step {
							.manual-enter {
								display: block;
								width: 30px;
								height: 30px;
								margin-left: 0;
							}
							.scan-barcode-btn {
								width: 140px;
								height: 30px;
								font-size: 11px;
								margin-right: 6px;
							}
							.step-title {
								margin-right: 0;
								display: none;
							}
						}
					}

					.input-block {
						width: 140px;
						max-width: none;
					}

					.msl-input-barcode {
						font-size: 11px;
						height: 30px;
						max-width: none;
						width: 140px;
						margin-right: 6px;
						&_wide {
							width: 100%;
						}
					}

					.tsp-panel {
						padding: 4px;
						margin: 0;
					}
					.two-step-panel {
						margin: 0;
					}

					.barcode-input {
						&__input {
							font-size: 11px;

							&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
								font-size: 11px;
								text-align: center;
							}

							&::-moz-placeholder { /* Firefox 19+ */
								font-size: 11px;
								text-align: center;
							}

							&:-ms-input-placeholder { /* IE 10+ */
								font-size: 11px;
								text-align: center;
							}

							&:-moz-placeholder { /* Firefox 18- */
								font-size: 11px;
								text-align: center;
							}

							&::placeholder {
								font-size: 11px;
								text-align: center;
							}
						}
					}

					.input-tmlbml-container {
						padding: 0;
					}
					.spoiler-header {
						padding: 4px 36px;
						font-size: 14px;
					}
					.spoiler-body {
						padding: 0 4px 4px 4px;
					}
					.close-button {
						top: 7px;
					}
				}
			}
		}
	}

	.rp-request, .rp-back {
		height: 36px;
		font-size: 18px;
		max-width: none;
		margin: 0 auto;
		flex-shrink: 0;
		&_paper-instant-lottery_22 {
			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}
	}

	.op-content {
		&_paper-instant-lottery_22 {
			margin: 0;
		}
	}
	.rp-right-bottom {
		padding: 0;
	}
}
