<div class="rp-columns"
	 [ngClass]="'rp-columns_' + (currentReportOperationKey$ | async)"
	 data-cy="rp-columns"
>	<!-- ЛЕВАЯ ЧАСТЬ СО СПИСКОМ ОПЕРАЦИЙ -->
	<div class="rp-columns__left"
		 [ngClass]="'rp-columns__left_' + (currentReportOperationKey$ | async)"
		 data-cy="rp-columns-left"
	>
		<ul class="reporting-menu-list"
			data-cy="reporting-menu-list"
		>
			<ng-container *ngFor="let menu of reportingDataService.fullMenuItems; trackBy: trackByIndex; let i = index">
				<li
					*ngIf="menu.subMenuItems && menu.subMenuItems.length > 0"
					class="reporting-menu-list__item"
					[class.reporting-menu-list__item_expanded]="menu.expanded"
					[class.reporting-menu-list__item_active]="menu.isActive"
					[class.reporting-menu-list__item_highlighted]="menu.isActive && !menu.expanded"
					data-cy="reporting-menu-list-item"
				>
					<!-- ЗАГОЛОВОК ГРУППЫ ОПЕРАЦИЙ -->
					<div
						class="reporting-menu-list__title"
						[class.reporting-menu-list__title_expanded]="menu.expanded"
						[class.reporting-menu-list__title_highlighted]="!menu.expanded && menu.isActive"
						[attr.data-path]="menu.path"
						data-cy="reporting-menu-list-title"
						(click)="onTitleClickHandler($event, i)"
					>{{ (menu.label || menu.defaultLabel) | translate }}</div>

					<ul class="rp-menu"
						[class.rp-menu_expanded]="menu.expanded"
						data-cy="rp-menu"
					>
						<li *ngFor="let subMenuItem of menu.subMenuItems; trackBy: trackByIndex; let j = index"
							class="rp-menu__item {{ subMenuItem.extraClass }}"
							[class.rp-menu__item_active]="subMenuItem.isActive"
							[class.rp-menu__item_collapsed]="subMenuItem.isActive && !menu.expanded"
							[class.rp-menu__item_disabled]="isReportLoading"
							data-cy="rp-menu-item"
							(click)="onClickOperationHandler(i, j)"
						>
							{{ subMenuItem.label | translate }}
						</li>
					</ul>

				</li>
			</ng-container>
		</ul>
	</div>

	<!-- ПРАВАЯ ЧАСТЬ С ФОРМОЙ ВВОДА И РЕЗУЛЬТАТАМИ ЗАПРОСОВ ПО СТАНДАРТНЫМ ОТЧЕТАМ -->
	<div class="rp-columns__right"
		 [ngClass]="'rp-columns__right_' + (currentReportOperationKey$ | async)"
		 data-cy="rp-columns-right"
	>

		<div class="reporting-right-section"
			 [ngClass]="sectionClasses$ | async"
			 data-cy="reporting-right-section"
		>
			<ng-container [ngSwitch]="currentReportOperationKey$ | async">
				<ng-container *ngSwitchCase="'loyalty-card_lc-info'">
					<app-loyalty-card-info class="loyalty-card-info"></app-loyalty-card-info>
				</ng-container>
				<ng-container *ngSwitchCase="'loyalty-card_add-lc-info'">
					<app-emit-loyalty-card></app-emit-loyalty-card>
				</ng-container>
				<ng-container *ngSwitchCase="'loyalty-card_challenges'">
					<app-active-challenge></app-active-challenge>
				</ng-container>
				<ng-container *ngSwitchCase="'loyalty-card_bonuses-withdrawal'">
					<app-bonuses-withdrawal></app-bonuses-withdrawal>
				</ng-container>
				<ng-container *ngSwitchCase="undefined">
					<app-user-payment-operations></app-user-payment-operations>
				</ng-container>
				<ng-container *ngSwitchDefault>
					<div
						class="reporting-inputs"
						[class.is-hidden]="isReportLoading || reportingDataService.inResult$$.value"
						[ngClass]="['reporting-inputs_' + (currentReportOperationKey$ | async), currentRole]"
						data-cy="reporting-inputs"
					>
						<!-- ФОРМА ВВОДА ПАРАМЕТРОВ ОПЕРАЦИИ -->
						<form
							class="report-form"
							[ngClass]="'report-form_' + (currentReportOperationKey$ | async)"
							[formGroup]="reportForm"
							data-cy="report-form"
							(ngSubmit)="onClickRequestHandler()"
						>
							<app-input-operation-field
								*ngFor="let field of inputFields; trackBy: trackByField"
								class="operation-field"
								[ngClass]="'operation-field_type_' + field.fieldTag.type + ' operation-field_' + (currentReportOperationKey$ | async)"
								[field]="field"
								[style.display]="field.hidden ? 'none' : 'block'"
								[formControlName]="field.controlName"
								[focusOnReturn]="!managerInvent"
								[placeholder]="field.placeholder"
								data-cy="operation-field"
								(catchEnter)="onCatchEnterHandler($event)"
								(ngModelChange)="onInputChanged($event)"
							>
							</app-input-operation-field>
							<button type="submit" class="fake-submit-btn"></button>
						</form>

						<div
							class="equal-barcodes"
							*ngIf="equalBarcodes"
							[innerHTML]="'reports.equal_barcodes' | translate"
							data-cy="equal-barcodes"
						>
						</div>

						<div
							class="empty-message"
							*ngIf="inputFields?.length === 0"
							data-cy="empty-message"
						>
							{{ 'reporting.press_request' | translate }}
						</div>

					</div>

					<div *ngIf="isReportLoading"
						 class="reporting-preloader"
						 data-cy="reporting-preloader"
					>
						<div class="circle-arc"
							 data-cy="circle-arc"
						></div>
					</div>

					<!-- КОНТЕНТ ПО ВЫБРАННОЙ ОПЕРАЦИИ -->
					<div appContentScrolled
						 class="op-content"
						 [ngClass]="'op-content_' + (currentReportOperationKey$ | async)"
						 [class.with-results]="(reportsService.lastReportResponse$$ | async) !== undefined"
						 [class.bc-list-expanded]="reportingDataService.bcComponentListExpanded$ | async"
						 [class.is-hidden]="!reportingDataService.inResult$$.value || isReportLoading"
						 data-cy="op-content"
					>
						<button *ngIf="(reportingDataService.currentOperation$$ | async) === '22'"
								appLayover2="shortfall-btn-area"
								type="button"
								class="button button_theme_light-green op-content__shortfall"
								data-cy="op-content-shortfall"
								(click)="onShowGraphicalBCs()"
						>
							{{ 'other.shortfall_graphical' | translate }}
						</button>
						<div class="op-content__inner"
							 [innerHTML]="(reportsService.lastScreenData$ | async) | sanitize: 'html'"
							 data-cy="op-content-inner"
						>
						</div>
					</div>
				</ng-container>
			</ng-container>


		</div>

		<ng-container [ngSwitch]="currentReportOperationKey$ | async">
			<ng-container *ngSwitchCase="'loyalty-card_lc-info'">

			</ng-container>
			<ng-container *ngSwitchCase="'loyalty-card_challenges'">

			</ng-container>
			<ng-container *ngSwitchCase="'loyalty-card_add-lc-info'">

			</ng-container>
			<ng-container *ngSwitchCase="'loyalty-card_bonuses-withdrawal'">

			</ng-container>
			<ng-container *ngSwitchDefault>
				<!-- ПАНЕЛЬ КНОПОК -->
				<div *ngIf="showResultsButtons$ | async; else showRequestButton"
					 class="rp-right-bottom"
					 [class.rp-right-bottom_two]="printButtonVisible"
					 data-cy="rp-right-bottom"
				>
					<!-- КНОПКА НАЗАД -->
					<button type="button"
							class="button button_theme_light-green rp-back"
							(click)="goOnFirstScreen()"
							data-cy="rp-back"
					>
						{{ 'reports.back' | translate }}
					</button>

					<!-- КНОПКА ПЕЧАТИ -->
					<button *ngIf="printButtonVisible"
							type="button"
							class="button button_theme_green rp-print"
							data-cy="rp-print"
							[attr.disabled]="(disabledPrintButton$ | async) || undefined"
							(click)="onClickPrintHandler()"
					>
						{{ 'reports.print' | translate }}
					</button>
				</div>

				<!-- КНОПКА ЗАПРОСА РЕЗУЛЬТАТОВ ОПЕРАЦИИ -->
				<ng-template #showRequestButton>
					<button *ngIf="currentReportOperationKey$ | async" type="button"
							class="button button_theme_dark-green rp-request"
							[ngClass]="'rp-request_' + (currentReportOperationKey$ | async)"
							[attr.disabled]="!canRequest || null"
							(click)="onClickRequestHandler()"
							data-cy="rp-request"
					>
						{{ 'reports.request' | translate }}
					</button>
				</ng-template>
			</ng-container>
		</ng-container>
	</div>

</div>

