<div class="kare-selected-cards-two-container" data-cy="kare-selected-cards-two-container">

	<!-- ВЫБРАННЫЕ КОМБИНАЦИИ -->
	<div class="table-block__content" data-cy="table-block-content">
		<!-- ПОДЗАГОЛОВОК -->
		<div
			class="no-cards-msg" data-cy="no-cards-msg"
			*ngIf="combinationsCount === 0; else showCardsMessage"
			>
			{{ 'lottery.kare.need_to_select_2' | translate }}
		</div>
		<ng-template #showCardsMessage>
			<div class="table-block__subtitle" data-cy="table-block-subtitle">
				{{ combinationsCount === 1  ? ('lottery.kare.selected_comb' | translate) :
				('lottery.kare.selected_combs' | translate) }}
			</div>
		</ng-template>

		<!-- КОМБИНАЦИИ -->
		<div class="ksco-cards" data-cy="ksco-cards">{{ combinationsString }}</div>
	</div>

</div>
