@import 'variables';

.kare-bet-list-item-one-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.cards-with-labels {
	display: flex;
	justify-content: space-around;

	width: calc(100% - 118px);
}

.bet-price {
	width: 118px;
	padding-right: 5px;

	border-left: 1px solid #a1a1a1;

	font-size: 24px;
	font-family: $roboto_medium;
	text-align: right;
	color: $msl_main_text_color;
}

@media screen and (max-width: 1365px) {
	.card-with-label {
		::ng-deep {
			.kcwl-icon {
				width: 12px;
				height: 12px;
			}
		}
	}
	.kare-bet-list-item-one-container {
		width: 100%;
	}
}

@media screen and (max-width: 639px) {
	.bet-price {
		font-size: 18px;
	}
}

@media screen and (max-width: 479px) {
	.kc-bet-button {
		margin-right: 4px;
	}
	.bet-price {
		font-size: 18px;
		width: 90px;
	}
	.cards-with-labels {
		width: auto;
		flex-grow: 1;
	}
}
