<div class="kare-bet-list-item-one-container" data-cy="kare-bet-list-item-one-container">
	<div class="cards-with-labels" data-cy="cards-with-labels">
		<ng-container *ngFor="let cardDescriptionItem of cardDescriptionItemList; trackBy: trackByCards">
			<app-kare-card-with-label
				class="card-with-label"
				data-cy="card-with-label"
				[cardDescriptionItem]="cardDescriptionItem"
				[useShortLabels]="true"
				>
			</app-kare-card-with-label>
		</ng-container>
	</div>
	<div class="bet-price" data-cy="bet-price">{{ bet?.s / 100 }} {{ 'lottery.uah' | translate | lowercase }}</div>
</div>

