<div class="lottery-container" data-cy="lottery-container">

	<app-msl-game-logo class="logo-in-lottery"
					   data-cy="logo-in-lottery"
					   [gameCode]="LotteryGameCode.Kare"
	></app-msl-game-logo>

	<div class="lott-grid" data-cy="lott-grid">
		<div class="left-cell" data-cy="left-cell">

			<div class="top-panel" data-cy="top-panel">
				<button type="button"
						class="button button_theme_gold goto-results goto-results_second"
						data-cy="goto-results"
						routerLink="../results">
					{{ 'lottery.results' | translate }} "{{ 'lottery.kare.game_name' | translate }}"
				</button>
			</div>

			<div class="draws-info" data-cy="draws-info">
				<!-- БЛИЖАЙШИЙ ТИРАЖ -->
				<div class="common-title" data-cy="common-title">{{ 'lottery.nearest_draw' | translate }}</div>
				<app-draws-buttons
					class="kc-draws"
					data-cy="kc-draws"
					[remainingString]="'draws-buttons.register_end'"
					[drawsToShow]="1"
					[dontHideDraws]="true"
					[alwaysShowTimeLeft]="true"
					[draws]="kareLotteryService.activeDraws"
				>
				</app-draws-buttons>
			</div>

			<!-- КОЛИЧЕСТВО ТИРАЖЕЙ -->
			<app-buttons-group
				class="kc-bg-draws"
				data-cy="kc-bg-draws"
				[workMode]="ButtonGroupMode.range_deselect_2"
				[buttonGroupLabel]="'lottery.draws_count' | translate | uppercase"
				[buttonsCount]="15"
				[labelsArray]="KARE_DRAWS_LABELS"
				[buttonGroupStyle]="ButtonGroupStyle.button_gold"
				[titleBlinking]="!kareLotteryService.betData.drawCount"
				(clickButton)="onSelectedDrawsHandler($event)"
			>
			</app-buttons-group>
		</div>

		<div class="rt-cell" data-cy="rt-cell">
			<button type="button"
					class="button button_theme_gold goto-results goto-results_first"
					routerLink="../results"
					data-cy="goto-results"
			>{{ 'lottery.results' | translate }} "{{ 'lottery.kare.game_name' | translate }}"</button>

			<!-- ПАНЕЛЬ СТАВОК -->
			<div class="kc-add-bet-panel" data-cy="kc-add-bet-panel">
				<!-- СТОЛ 1 -->
				<button type="button"
					class="button button_theme_light-green kc-table kc-table_cards"
					data-cy="kc-table"
					(click)="onClickCreateBetHandler(KareGameType.Table1_Cards)"
				>
					{{ 'lottery.kare.table_1' | translate | uppercase }} - {{ 'lottery.kare.cards' | translate | uppercase }}
				</button>

				<!-- СТОЛ 2 -->
				<button type="button"
					class="button button_theme_light-green kc-table"
					data-cy="kc-table"
					(click)="onClickCreateBetHandler(KareGameType.Table2_Poker)"
				>
					{{ 'lottery.kare.table_2' | translate | uppercase }} - {{ 'lottery.kare.combinations' | translate | uppercase }}
				</button>
			</div>
		</div>
		<div class="rm-cell" data-cy="rm-cell">
			<!-- СПИСОК СТАВОК -->
			<app-kare-bets-list
				class="kare-bets-list"
				data-cy="kare-bets-list"
				[kareBetsData]="kareLotteryService?.betData?.kareBetsData"
				(betRemoved)="onBetRemovedHandler($event)"
				(editBet)="onEditBetHandler($event)"
			>
			</app-kare-bets-list>
		</div>
		<div class="rb-cell" data-cy="rb-cell">
			<!-- КНОПКА РЕГИСТРАЦИИ СТАВКИ -->
			<app-register-bet-button
				class="register-bet-button"
				data-cy="register-bet-button"
				[amount]="kareLotteryService.amount"
				(action)="kareLotteryService.goToRegistryPage({source: BetDataSource.Manual})"
				[longSumAmount]="1000"
			>
			</app-register-bet-button>
		</div>
	</div>
</div>
