@import 'variables';
@import 'mixins';
@import 'lotteries-common';

:host {
	display: block;
	height: 100%;
}

.logo-in-lottery {
	top: 25px;
	::ng-deep {
		.game-logo {
			&__image {
				width: 90px;
				height: auto;
				max-height: none;
			}
		}
	}
}

.goto-results {
	margin-bottom: 25px;
	&_second {
		display: none;
	}
}

.lott-grid {
	grid-template-areas: "left rt"
	"left rm"
	"left rb";
	grid-template-rows: auto minmax(0, 1fr) auto;
	grid-gap: 24px 10px;
	gap: 24px 10px;
	margin-left: 360px;
}

.left-cell {
	grid-area: left;
	display: grid;
	grid-template-rows: auto auto auto auto;
	grid-row-start: 1;
	grid-row-end: 4;
	align-content: center;
}

.rb-cell {
	grid-template: auto / auto;
}

.kare-bets-list {
	display: block;
	height: 100%;
}

// -----------------------------------------
//  Ближайший тираж
// -----------------------------------------

.kc-draws {
	display: block;
	margin-bottom: 95px;
}

// -----------------------------------------
//  Контейнер добавления ставок
// -----------------------------------------

.kc-add-bet-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.kc-table {
	margin-bottom: 10px;
	position: relative;

	width: 100%;
	height: 80px;

	font-size: 36px;
	color: $msl_main_text_color;
	text-transform: uppercase;

	@include radial_bg($color: #D8F4F4);
	border: 2px solid $msl_base_green;
}

.top-panel {
	position: fixed;
	top: 44px;
	left: 0;
	right: 0;
	background: #FFFFFF;
	display: none;
	grid-template-columns: auto;
	justify-content: end;
	justify-items: end;
	padding: 8px;
	z-index: 5;
	box-shadow: 0 0 8px 0 #A1A1A1;
}

.lottery-container {
	padding: 20px 0;
}

.register-bet-button {
	height: 88px;
}

@media screen and (max-width: 1919px) {
	.lottery-container {
		padding: 15px 0 10px 0;
	}
	.lott-grid {
		margin-left: 174px;
	}
	.logo-in-lottery {
		top: 8px;
		left: -7px;
		::ng-deep {
			.game-logo {
				&__image {
					width: 63px;
					height: auto;
					max-height: none;
				}
			}
		}
	}
	.goto-results {
		margin-bottom: 20px;
	}
	.kc-table {
		height: 70px;
	}
	.register-bet-button {
		height: 80px;
	}
	.kc-draws {
		margin-bottom: 55px;
	}
}

@media screen and (max-width: 1599px) {
	.kc-draws {
		::ng-deep {
			.dbc-draw {
				height: 80px;
			}
		}
	}
}

@media screen and (max-width: 1365px) {
	.goto-results {
		margin-bottom: 15px;
	}
	.kc-table {
		margin-bottom: 8px;
		height: 60px;
		font-size: 24px;
	}
	.lott-grid {
		margin-left: 118px;
	}
	.kc-draws {
		margin-bottom: 50px;
		::ng-deep {
			.dbc-draw {
				height: 60px;
			}
		}
	}
	.register-bet-button {
		height: 60px;
	}
}

@media screen and (max-width: 1139px) {
	.logo-in-lottery {
		::ng-deep {
			.game-logo {
				&__image {
					width: 40px;
					height: auto;
					max-height: none;
				}
			}
		}
	}
	.lott-grid {
		grid-template:	"left rt" auto
						"left rm" minmax(0, 1fr)
						"left rb" auto / 362px 300px;
		grid-gap: 10px 10px;
		gap: 10px 10px;
	}
	.kc-draws {
		margin-bottom: 20px;
		::ng-deep {
			.dbc-number {
				font-size: 24px;
			}
			.dbc-time-left {
				font-size: 16px;
			}
			.dbc-draw {
				height: 75px;
			}
		}
	}

	.kc-table {
		height: 44px;
		font-size: 18px;
	}
	.goto-results {
		font-size: 18px;
		height: 44px;
		margin-bottom: 12px;
	}
	.register-bet-button {
		height: 44px;
	}
}

@media screen and (max-width: 960px) {
	.kc-draws {
		margin-bottom: 12px;
		::ng-deep {
			.dbc-draw {
				height: 70px;
			}
		}
	}
}

@media screen and (max-width: 853px) {
	.lottery-container {
		padding: 10px 10px 0 10px;
	}
	.lott-grid {
		grid-template: "a1" auto
					   "a2" auto
					   "a3" minmax(0, 1fr)
					   "a4" auto / 1fr;
		grid-gap: 24px 10px;
		gap: 24px 10px;
		margin-left: 0;
		align-content: space-between;
	}

	.goto-results {
		&_first {
			display: none;
		}
		&_second {
			display: block;
			margin-bottom: 0;
			font-size: 24px;
			height: 60px;
		}
	}

	.top-panel {
		display: grid;
		top: 53px;
	}

	.left-cell {
		grid-area: a1;
		grid-template-rows: auto auto;
		align-content: space-between;
		grid-row-gap: 30px;
		row-gap: 30px;
		padding-top: 110px;
	}

	.rt-cell {
		grid-area: a2;
	}

	.rm-cell {
		grid-area: a3;
	}

	.rb-cell {
		grid-area: a4;
		padding-bottom: 10px;
	}

	.kc-bg-draws {
		overflow: hidden;
		margin-right: -8px;
	}

	.kc-add-bet-panel {
		display: block;
	}

	.kc-table {
		height: 60px;
		max-width: 464px;
		margin: 0 auto;
		font-size: 24px;
		border-radius: 8px;
		border-width: 2px;
		display: block;
		&_cards {
			margin-bottom: 12px;
		}
	}
	.kc-draws {
		margin-bottom: 0;
		::ng-deep {
			.draws-buttons-container {
				padding-bottom: 0;
			}
			.dbc-draws {
				width: 100%;
				justify-content: center;
			}
			.dbc-draw {
				margin-left: auto;
				margin-right: auto;
			}
			.dbc-number {
				font-size: 24px;
				margin: 0 10px;
			}
			.dbc-date {
				font-size: 24px;
			}
			.dbc-time-left {
				font-size: 18px;
			}
		}
	}
	.kc-bg-draws {
		::ng-deep {
			.buttons-group__item_theme_gold {
				width: 84px;
				height: 70px;
			}
		}
	}
	.logo-in-lottery {
		z-index: 10;
		position: fixed;
		left: 12px;
		top: 75px;
		::ng-deep {
			.game-logo {
				&__image {
					width: 50px;
				}
			}
		}
	}
	.top-panel {
		padding: 20px 8px;
	}

	.register-bet-button {
		max-width: 640px;
		height: 60px;
	}
}

@media screen and (max-width: 839px) {
	.lott-grid {
		grid-template: "a1" auto
					   "a2" auto
					   "a3" minmax(0, 1fr)
					   "a4" auto / 1fr;
		grid-gap: 24px 10px;
		gap: 24px 10px;
		margin-left: 0;
		align-content: space-between;
	}

	.goto-results {
		&_first {
			display: none;
		}
		&_second {
			display: block;
			margin-bottom: 0;
			height: 44px;
			font-size: 16px;
		}
	}

	.top-panel {
		display: grid;
		top: 53px;
		padding: 8px;
	}

	.left-cell {
		grid-area: a1;
		padding-top: 80px;
		grid-template-rows: auto auto;
		align-content: space-between;
		grid-row-gap: 16px;
	}

	.rt-cell {
		grid-area: a2;
	}

	.rm-cell {
		grid-area: a3;
	}

	.rb-cell {
		grid-area: a4;
	}

	.kc-bg-draws {
		overflow: hidden;
		margin-right: -8px;
	}

	.kc-add-bet-panel {
		display: block;
	}

	.kc-table {
		height: 60px;
		max-width: 400px;
		margin: 0 auto;
		font-size: 24px;
		border-radius: 8px;
		display: block;
		&_cards {
			margin-bottom: 10px;
		}
	}
	.kc-draws {
		margin-bottom: 0;
		::ng-deep {
			.draws-buttons-container {
				padding-bottom: 0;
			}
			.dbc-draws {
				width: 100%;
				justify-content: center;
			}
			.dbc-draw {
				margin-left: auto;
				margin-right: auto;
				height: 60px;
			}
			.dbc-number {
				font-size: 20px;
			}
			.dbc-date {
				font-size: 16px;
			}
			.dbc-time-left {
				font-size: 14px;
			}
		}
	}
	.kc-bg-draws {
		::ng-deep {
			.buttons-group__item_theme_gold {
				width: 68px;
				height: 56px;
			}
		}
	}
	.logo-in-lottery {
		z-index: 10;
		position: fixed;
		top: 60px;
		::ng-deep {
			.game-logo {
				&__image {
					width: 40px;
				}
			}
		}
	}
	.register-bet-button {
		max-width: 464px;
	}
}

@media screen and (max-width: 639px) {
	.logo-in-lottery {
		z-index: 10;
		position: fixed;
		top: 52px;
		::ng-deep {
			.game-logo {
				&__image {
					width: 40px;
				}
			}
		}
	}
	.lott-grid {
		grid-template: "a1" auto
					   "a2" auto
					   "a3" minmax(0, 1fr)
					   "a4" auto / 1fr;
		grid-gap: 24px 10px;
		gap: 24px 10px;
		margin-left: 0;
	}

	.goto-results {
		&_first {
			display: none;
		}
		&_second {
			display: block;
			margin-bottom: 0;
			border-width: 1px;
		}
	}

	.top-panel {
		display: grid;
		top: 44px;
		padding: 8px;
	}

	.left-cell {
		grid-area: a1;
		padding-top: 70px;
		grid-template-rows: auto auto;
		align-content: space-between;
		grid-row-gap: 16px;
	}

	.rt-cell {
		grid-area: a2;
	}

	.rm-cell {
		grid-area: a3;
	}

	.rb-cell {
		grid-area: a4;
	}

	.kc-bg-draws {
		overflow: hidden;
		margin-right: -8px;
	}

	.kc-add-bet-panel {
		display: block;
	}

	.kc-table {
		height: 44px;
		max-width: 328px;
		margin: 0 auto;
		font-size: 18px;
		border-radius: 4px;
		display: block;
		border-width: 1px;
		&_cards {
			margin-bottom: 8px;
		}
	}
	.kc-draws {
		margin-bottom: 0;
		::ng-deep {
			.draws-buttons-container {
				padding-bottom: 0;
			}
			.dbc-draws {
				width: 100%;
				justify-content: center;
			}
			.dbc-draw {
				margin-left: auto;
				margin-right: auto;
			}
			.dbc-number {
				font-size: 20px;
			}
			.dbc-date {
				font-size: 16px;
			}
			.dbc-time-left {
				font-size: 14px;
			}
		}
	}
	.kc-bg-draws {
		::ng-deep {
			.buttons-group__item_theme_gold {
				width: 56px;
				height: 46px;
			}
		}
	}
	.register-bet-button {
		height: 44px;
	}
}

@media screen and (max-width: 479px) {
	.left-cell {
		padding-top: 50px;
	}
	.kc-table {
		height: 36px;
		max-width: 272px;
		font-size: 15px;
		border-width: 1px;
	}
	.lott-grid {
		grid-row-gap: 10px;
		row-gap: 10px;
	}
	.logo-in-lottery {
		top: 52px;
		::ng-deep {
			.game-logo {
				&__image {
					width: auto;
					height: 31px;
				}
			}
		}
	}

	.top-panel {
		top: 44px;
		padding: 8px;
	}

	.goto-results {
		&_second {
			width: 200px;
			height: 32px;
			font-size: 11px;
		}
	}

	.kc-draws {
		margin-bottom: 0;
		::ng-deep {
			.dbc-draw {
				height: 44px;
			}
		}
	}

	.kc-bg-draws {
		::ng-deep {
			.buttons-group__item_theme_gold {
				width: 48px;
				height: 42px;
			}
		}
	}
}
