@import 'variables';
@import 'mixins';

// -----------------------------------------
//  Общие стили для всех типов отчетов
// -----------------------------------------
.is-hidden {
	display: none;
}

// -----------------------------------------
//  Сообщение на пустой экран
// -----------------------------------------

.empty-message {
	width: 100%;
	padding: 20px;
	text-align: center;
	font-size: 24px;
}

app-input-operation-field.op-field {
	::ng-deep {
		.input-operation-field-container {
			margin-bottom: 20px;
		}
		.op-field-title {
			font-family: $roboto_medium;
		}
	}
}
.reporting-operations-menu {
	&_opened {
		max-height: 300px;
	}
	::ng-deep {
		.rp-menu__item_active {
			background: none;
			color: $msl_base_green;
		}
	}
}



// -----------------------------------------
//  Форма с вводимыми параметрами
// -----------------------------------------

.report-form {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.column-reverse {
	app-input-operation-field {
		max-width: 350px;
		width: 100%;
	}
}

.result {
	padding: 10px;
}

// -----------------------------------------
//  Прелоадер
// -----------------------------------------

.reporting-preloader {
	display: flex;
	align-items: center;
	height: 100%;
	overflow: hidden;
	&.is-hidden {
		display: none;
	}
}

.fake-submit-btn {
	display: none;
}

// -----------------------------------------
//  Меню
// -----------------------------------------

.reporting-operations-menu {
	width: 318px;
	overflow-y: auto;
}

.input-operation-field-container {
	margin-bottom: 25px;
}


.inputs-periods {
	&__item {
		display: block;
		margin: 12px auto;
		width: 100%;
		max-width: 350px;
	}
	&__radio {
		display: none;
	}
	&__button {
		height: 66px;
		border: 2px solid $msl_base_green;
		border-radius: 8px;
		font-size: 36px;
		color: $msl_base_green;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		@include radial_bg($color: #d8f4f4);
	}
	&__radio:checked + &__button {
		background: $msl_base_green;
		color: #FFFFFF;
	}
}

.rp-request {
	width: 100%;
	height: 80px;
	font-size: 36px;
	display: block;
	background: $msl_base_green;
	color: #FFFFFF;
	position: relative;
	flex-shrink: 0;
}

.rp-right-bottom {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.rp-back, .rp-print {
	width: 300px;
	height: 80px;
	font-size: 36px;
}

.rp-scroll {
	height: 100%;
	display: block;
}

// -----------------------------------------
//  Результат запроса
// -----------------------------------------

.reporting-navigation-content {
	height: 100%;

	::ng-deep {
		.custom-scrollbar {
			padding: 10px;
		}
	}

	&.report-23 {
		::ng-deep {
			.result {
				font-size: 16px;
				font-family: $roboto_medium;
			}
			.report-header {
				text-align: center;
				font-size: 18px;
				font-family: $roboto_bold;
			}
			.line-1-col {
				margin: 6px 0;
				&_total {
					text-align: right;
				}
			}
			.line-2-col {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
				margin-top: 24px;
			}
			.text-bold {
				font-family: $roboto_bold;
			}
		}
	}

	&.report-17 {
		::ng-deep {
			.reports-title {
				text-align: center;
				text-transform: uppercase;
			}
			.reports-subtitle {
				text-align: center;
			}
			.text-center {
				text-align: center;
			}
			.reports-table {
				&__row {
					display: grid;
					grid-template: auto auto auto / 2fr 1fr 2fr;
					grid-column-gap: 2px;
					column-gap: 2px;
					align-items: stretch;
				}
				&__cell {
					text-align: center;
					padding: 5px;
					&_header {
						background: #c0c0c0;
						font-family: $roboto_bold;
					}
					&_date {
						grid-row-start: 1;
						grid-row-end: 2;
					}
					&_lottery {
						grid-row-start: 2;
						grid-row-end: 3;
					}
					&_sum, &_reason {
						grid-row-start: 1;
						grid-row-end: 3;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					&_num {
						border-top: 2px solid #FFFFFF;
						grid-column-start: 1;
						grid-column-end: 4;
						text-align: right;
					}
					&_total {
						grid-column-start: 1;
						grid-column-end: 2;
						text-transform: uppercase;
					}
					&_total, &_total-sum, &_q {
						font-family: $roboto_bold;
					}
					&_label {
						display: none;
						font-family: $roboto_bold;
					}
				}
			}
		}
	}

	app-custom-scroll.rp-scroll {
		::ng-deep {
			.result {
				th, td {
					text-align: left;
					width: 50%;
				}
			}
		}
	}

	app-msl-input-barcode {
		::ng-deep {
			.msl-input-barcode-container i {
				top: 7px;
			}
		}
	}

}


// -----------------------------------------
//  Общая разметка
// -----------------------------------------

.rp-hdr {
	text-align: center;
	font-size: 24px;
	font-family: $roboto_medium;
	font-weight: normal;
	color: $msl_base_green;
	margin: 0 0 12px 0;
}

.rp-columns {
	display: flex;
	padding: 0 15px;
	justify-content: center;
	height: 100%;

	&__left, &__right {
		width: 100%;
		margin: 50px 80px;
	}

	&__left {
		max-width: 640px;
	}

	&__right {
		max-width: 880px;
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
	}

	&__outline {
		border-radius: 8px;
		border-width: 2px;
		border-style: solid;
		&_left {
			border-color: $msl_inactive_color;
			padding: 10px 20px 20px 20px;
		}
		&_right {
			padding: 5px;
			border-color: $msl_base_green;
			margin-bottom: 40px;
			height: 100%;
			max-height: 583px;
		}
	}
}

.reporting-inputs {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	::ng-deep {
		.tml-bml-list-container {
			.custom-scrollbar {
				max-height: 326px;
				padding-top: 30px;
				&__inner {
					padding-right: 10px;
				}
				.tblc-list.one-step {
					max-height: 284px;
				}
				.tblc-list.two-step {
					max-height: 220px;
				}
			}

			.tblc-row {
				&.header {
					padding-right: 20px;
					padding-top: 0;
					padding-bottom: 0;
				}
				&.data {
					height: 40px;
					overflow: hidden;
				}
			}

			.custom-scrollbar__btn_up {
				top: 30px;
			}

			.custom-scrollbar__btn_down {
				bottom: 0;
			}
		}
	}

	&__periods {
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
		display: block;

		&.is-hidden {
			display: none;
		}
	}
}

.result {
	color: $msl_main_text_color;
	::ng-deep {
		h1, h2, h3 {
			margin-bottom: 5px;
		}
		h1 {
			font-weight: normal;
			color: $msl_main_text_color;
			font-size: 32px;
		}

		table {
			width: 100%;
		}

		th, td {
			padding: 5px;
		}
	}
}

.rp-hdr {
	text-align: center;
	font-size: 24px;
	font-family: $roboto_medium;
	color: $msl_base_green;
	margin: 0 0 12px 0;
}


.reports-menu {
	padding: 0 30px;
	&__item {
		display: block;
		width: 100%;
		padding: 10px;
		color: $msl_main_text_color;
		text-align: center;
		font-size: 24px;
		font-family: $roboto_medium;
		border: 2px solid $msl_inactive_color;
		border-radius: 8px;
		&_active {
			border: 2px solid $msl_base_green;
			background: $msl_base_green;
			color: #fff;
		}
	}
	&__item + &__item {
		margin-top: 8px;
	}
}

.reporting-page-container {
	height: 100%;
}



@media screen and (max-width: 1919px) {
	.rp-columns {
		padding: 0 0 20px 0;
		&__left, &__right {
			width: 50%;
			margin: 4px 6px;
			padding: 6px;
			max-width: none;
		}
		&__outline {
			&_right {
				height: auto;
			}
		}
	}
	.inputs-periods {
		&__item {
			margin: 0 auto 12px auto;
		}
	}
	.reporting-inputs {
		justify-content: flex-start;
	}
	.rp-request {
		flex-shrink: 0;
	}
}

@media screen and (max-width: 1365px) {
	.rp-back, .rp-print {
		width: 100%;
		height: 60px;
		font-size: 24px;
	}

	.rp-right-bottom {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 30px;
		column-gap: 30px;
	}

	.result {
		color: $msl_main_text_color;
		::ng-deep {
			h1 {
				font-weight: normal;
				color: $msl_main_text_color;
				font-size: 32px;
			}
			h2 {
				font-size: 28px;
			}
		}
	}

	.rp-columns {
		&__left, &__right {
			margin: 4px 3px;
			padding: 6px 0;
		}
		&__left {
			max-width: 470px;
			width: 100%;
			margin-right: 10px;
		}
		&__right {
			width: auto;
			flex-grow: 1;
		}
		&__outline {
			&_left {
				padding: 10px;
			}
			&_right {
				margin-bottom: 20px;
				max-height: 580px;
			}
		}
	}

	app-input-operation-field.op-field {
		::ng-deep {
			.input-operation-field-container {
				margin-bottom: 10px;
				.op-field-title {
				}
				.cdi-input-title {
					font-size: 24px;
				}
			}
		}
	}

	.inputs-periods__button {
		font-size: 24px;
	}

	.rp-request {
		height: 60px;
		font-size: 24px;
	}

	.reports-menu__item {
		padding: 8px;
	}
}

@media screen and (max-width: 1139px) {
	.rp-columns {
		padding: 0;
		justify-content: space-between;
		&__left, &__right {
			margin: 0;
		}
		&__left {
			width: 45%;
			padding: 0 10px 4px 0;
		}
		&__right {
			width: 55%;
			padding: 0 0 4px 15px;
		}
		&__outline {
			&_right {
				padding: 0;
				flex-grow: 1;
				max-height: 200px;
				margin-bottom: 30px;
			}
		}
	}

	.rp-hdr {
		font-size: 18px;
	}

	.inputs-periods {
		display: flex;
		&__item {
			max-width: 180px;
		}
		&__button {
			height: 40px;
			font-size: 18px;
		}
	}
	.reporting-right-section {
		height: 204px;
		margin-bottom: 5px;
	}
	.reporting-inputs {
		padding-top: 0;
	}

	app-input-operation-field.op-field {
		::ng-deep {
			.input-operation-field-container {
				margin-bottom: 10px;
				.op-field-title {
					font-family: $roboto_medium;
				}
				.cdi-input-title {
					font-size: 18px;
					margin-right: 30px;
				}
			}
		}
	}

	.rp-request {
		height: 44px;
		font-size: 18px;
	}
	.rp-back, .rp-print {
		width: 180px;
		height: 44px;
		font-size: 18px;
	}
	.result {
		::ng-deep {
			* {
				font-size: 14px;
			}
			h1 {
				font-size: 24px;
			}
			h2 {
				font-size: 20px;
			}
			h3 {
				font-size: 16px;
			}
		}
	}
	.reporting-operations-menu.reporting-submenu .rp-menu {
		padding-left: 12px;
		padding-right: 12px;
		padding-bottom: 4px;
	}

	.other-reporting-menu {
		margin: 0 -12px -4px -12px;
		display: block;
	}

	.report-form {
		display: flex;
		justify-content: space-around;
	}

	.reporting-navigation-content {
		.rp-scroll {
			::ng-deep {
				.custom-scrollbar {
					&::-webkit-scrollbar {
						width: 10px;
					}
				}
			}
		}
	}
	.circle-arc {
		@include circle_arc($d: 100px, $w: 6px);
	}
	.rp-right-bottom {
		display: flex;
	}

	.reports-menu__item {
		font-size: 18px;
	}
}

@media screen and (max-width: 853px) {
	.rp-columns {
		flex-flow: column nowrap;
		height: 100%;
		padding-bottom: 10px;
		justify-content: space-between;

		&__left, &__right {
			width: 100%;
			max-width: none;
		}

		&__left {
			padding: 12px;
			margin-bottom: 8px;
		}

		&__right {
			padding: 0 12px;
			height: 100%;
			justify-content: space-between;
		}

		&__outline {
			&_left {
				border-width: 1px;
				padding: 0 12px;
			}
			&_right {
				max-height: none;
				flex-grow: 1;
				height: 100%;
			}
		}
	}

	.reports-menu {
		max-height: 58px;
		transition: max-height 0.3s ease 0s;
		overflow: hidden;
		position:relative;
		border-radius: 8px;
		display: grid;
		grid-auto-rows: auto;
		&:after {
			position: absolute;
			content: '';
			right: 11px;
			top: 24px;
			width: 6px;
			height: 6px;
			border-left: 2px solid $msl_base_green;
			border-top: 2px solid $msl_base_green;
			transform: rotate(-135deg);
			transition: transform 0.3s ease 0s, top 0.3s ease 0s;
		}
		&_opened {
			max-height: 300px;
			margin-bottom: 6px;
			&:after {
				transform: rotate(45deg);
			}
			.reports-menu__item_active {
				font-family: $roboto_medium;
			}
		}
		&__item {
			font-family: $roboto_regular;
			font-size: 20px;
			color: $msl_main_text_color;
			border: 1px solid $msl_placeholder_text_color;
			display: flex;
			justify-content: center;
			text-align: center;
			align-items: center;
			height: 50px;
			padding: 0;
			// margin: 0 30px 12px 30px;
			margin-top: 6px;
			margin-bottom: 6px;
			border-radius: 8px;
			order: 2;
			&_active {
				order: 1;
				color: $msl_base_green;
				background: none;
				border: none;
				font-size: 24px;
				height: 48px;
			}
		}
		&__item + &__item {
			margin-top: 6px;
		}
	}

	.rp-hdr {
		display: none;
	}

	.inputs-periods {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;
		margin: 30px auto;

		&__item {
			display: block;
			margin: 0 auto;
			width: 100%;
			max-width: 350px;
		}
		&__item + &__item {
			margin-top: 20px;
		}
		&__radio {
			display: none;
		}
		&__button {
			height: 66px;
			border: 2px solid $msl_base_green;
			border-radius: 8px;
			font-size: 36px;
			color: $msl_base_green;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			@include radial_bg($color: #d8f4f4);
		}
		&__radio:checked + &__button {
			background: $msl_base_green;
			color: #FFFFFF;
		}

		&__periods {
			max-width: 100%;
			width: 100%;
			margin: 0 auto;
			display: block;

			&.is-hidden {
				display: none;
			}
		}
	}

	.column-reverse {
		.field-wrapper {
			width: 546px;
			margin: 0 auto;
			&.free-under {
				margin-bottom: 20px;
			}
			&.lineedit {
				margin-bottom: 50px;
				margin-top: 24px;

			}
			&.dateedit {
				margin-bottom: 15px;
				app-input-operation-field {
					::ng-deep {
						.input-operation-field-container.dateedit {
							margin: 0;
						}
					}
				}
			}
		}
	}

	.field-wrapper {
		margin: 0 auto;

		&.free-under {
			margin-bottom: 140px;
		}

		&.lineedit {
			width: 492px;
		}
		& + .field-wrapper {
			margin-top: 30px;
		}
	}

	.report-form {
		display: flex;
		margin: 30px auto;
	}

	app-input-operation-field.op-field {
		::ng-deep {
			.input-operation-field-container {
				&.dateedit {
					width: 350px;
				}
				.op-field-title {
					font-size: 24px;
				}
				.cdi-input-title {
					font-size: 36px;
				}
			}
		}
	}

	.reports-cdi {
		height: 66px;
	}

	.reporting-inputs {
		padding: 30px;
	}

	.rp-request {
		height: 60px;
		font-size: 24px;
		background: $msl_darken_green;
	}

}

@media screen and (max-width: 839px) {
	.reporting-page-container {
		padding: 8px 12px;
		height: 100%;
	}

	app-input-operation-field.op-field {
		::ng-deep {
			.input-operation-field-container {
				margin-bottom: 10px;

				&.dateedit {
					width: 240px;
				}
				.op-field-title {
					font-size: 18px;
				}
				.cdi-input-title {
					font-size: 24px;
				}
			}
		}
	}

	.rp-columns {
		padding-bottom: 0;
		&__left, &__right {
			margin: 0;
		}
		&__left {
			width: 100%;
			padding: 0;
			margin-top: 0;
			margin-bottom: 25px;
			&_bordered {
				border-width: 1px;
			}
		}
		&__right {
			padding: 0;
		}
		&__outline {
			border-width: 1px;
			&_left {
				padding: 0 8px;
			}
		}
	}

	.report-form {
		display: flex;
		margin: 35px auto 25px auto;
	}

	.reporting-inputs {
		padding: 10px 0;
		&.paper-instant-lottery-22 {
			padding-bottom: 0;
		}
	}

	.rp-hdr {
		display: none;
	}

	.reporting-right-section {
		height: auto;
		border-width: 1px;
		margin-bottom: 8px;
	}

	.inputs-periods {
		display: block;
		margin-top: 5px;
		margin-bottom: 40px;
		&__item {
			max-width: 240px;
			margin: 0 auto;
		}
		&__item + &__item {
			margin-top: 12px;
		}
		&__button {
			border-radius: 4px;
			font-size: 24px;
			border-width: 2px;
			color: $msl_main_text_color;
			height: 44px;
		}
	}
	.field-wrapper {
		margin-bottom: 16px;
		& + .field-wrapper {
			margin-top: 10px;
		}
	}

	.rp-back, .rp-print {
		width: 180px;
	}

	.empty-message {
		position: static;
		width: 100%;
		padding: 10px;
		text-align: center;
		font-size: 18px;
		margin-bottom: 0;
		transform: none;
	}

	.circle-arc {
		margin: 20px auto;
	}
	.result {
		::ng-deep {
			* {
				font-size: 16px;
			}
			h1 {
				font-size: 24px;
				margin: 15px 0;
			}
			h2 {
				font-size: 20px;
			}
			h3 {
				font-size: 18px;
			}
			br {
				display: none;
			}
		}
	}
	.field-wrapper {
		margin-top: 6px;
		margin-bottom: 12px;
		&.lineedit {
			width: 100%;
		}
		&.iticketlist {
			margin-bottom: 8px;
		}
	}

	.rp-request {
		height: 60px;
		font-size: 24px;
	}

	.reports-menu {
		max-height: 44px;
		transition: max-height 0.3s ease 0s;
		overflow: hidden;
		position:relative;
		border-radius: 8px;
		display: grid;
		grid-auto-rows: auto;
		&:after {
			position: absolute;
			content: '';
			right: 10px;
			top: 17px;
			width: 6px;
			height: 6px;
			border-left: 2px solid $msl_base_green;
			border-top: 2px solid $msl_base_green;
			transform: rotate(-135deg);
			transition: transform 0.3s ease 0s, top 0.3s ease 0s;
		}
		&_opened {
			max-height: 300px;
			margin-bottom: 4px;
			&:after {
				transform: rotate(45deg);
			}
			.reports-menu__item_active {
				font-family: $roboto_medium;
			}
		}
		&__item + &__item {
			margin-top: 4px;
			&_active {
				margin-top: 0;
			}
		}

		&__item {
			font-family: $roboto_regular;
			font-size: 16px;
			color: $msl_main_text_color;
			border: 1px solid $msl_placeholder_text_color;
			display: flex;
			justify-content: center;
			text-align: center;
			align-items: center;
			height: 40px;
			padding: 0;
			// margin: 0 30px 12px 30px;
			margin-top: 4px;
			margin-bottom: 4px;
			border-radius: 8px;
			order: 2;
			&_active {
				order: 1;
				color: $msl_base_green;
				background: none;
				border: none;
				font-size: 18px;
				height: 44px;
				margin-top: 0;
			}
		}
	}

}

@media screen and (max-width: 639px) {
	.reporting-page-container {
		padding: 8px;
	}

	.rp-columns {
		&__left {
			margin-top: 17px;
			margin-bottom: 25px;
		}
		&__outline_left {
			padding: 0 10px;
		}
	}
	.rp-request {
		height: 44px;
		font-size: 18px;
	}

	.reports-menu {
		&_opened {
			margin-bottom: 12px;
		}
		&:after {
			right: 2px;
		}
	}

	.inputs-periods__button {
		border-width: 1px;
	}

	.reporting-navigation-content {
		&.report-17 {
			::ng-deep {
				.reports-table {
					&__row {
						display: block;
						border-bottom: 1px solid #CCCCCC;
						&_header {
							display: none;
						}
					}
					&__cell {
						&_date, &_lottery, &_sum, &_reason, &_num, &_q, &_total-sum {
							display: block;
							text-align: left;
						}
						&_total {
							display: block;
							text-align: center;
						}
						&_label {
							display: inline;
						}
						&_total-sum, &_q {
							font-family: $roboto_regular;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 479px) {
	.rp-columns {
		&__left {
			margin-top: 8px;
			margin-bottom: 16px;
		}
		&__outline_left {
			padding: 0 8px;
		}
	}
	.report-form {
		margin: 6px auto 12px auto;
	}
	.inputs-periods {
		margin-bottom: 8px;
	}
	.reports-menu {
		&:after {
			right: 10px;
		}
		&_opened {
			margin-bottom: 8px;
		}
	}

	.rp-back, .rp-print {
		width: 165px;
		height: 44px;
		font-size: 18px;
	}

	.rp-right-bottom {
		grid-column-gap: 10px;
		column-gap: 10px;
	}
}
