<div class="reporting-page-container"
	 data-cy="reporting-page-container"
>

	<div class="rp-columns"
		 data-cy="rp-columns"
	>
		<!-- ЛЕВАЯ ЧАСТЬ СО СПИСКОМ ОПЕРАЦИЙ -->
		<div
			*ngIf="reportingDataService.operationList$$.value?.length > 0"
			class="rp-columns__left"
			data-cy="rp-columns-left"
		>
			<!-- КОНТЕЙНЕР МЕНЮ В СЕКЦИИ "ОТЧЕТЫ" -->
			<div class="rp-columns__outline rp-columns__outline_left"
				 data-cy="rp-columns-outline"
			>
				<!-- ЗАГОЛОВОК -->
				<h4 class="rp-hdr"
					data-cy="rp-hdr"
				>{{ 'reports.reports' | translate }}</h4>

				<!-- МЕНЮ ОПЕРАЦИЙ ДЛЯ ОТЧЕТОВ -->
				<div class="reports-menu"
					 [class.reports-menu_opened]="opMenuOpened"
					 data-cy="reports-menu"
				>
					<div *ngFor="let item of reportingDataService.operationList$$.value"
						 class="reports-menu__item"
						 [class.reports-menu__item_active]="item.path === this.reportingDataService.currentOperation$$.value"
						 [class.reports-menu__item_disabled]="isReportLoading"
						 data-cy="reports-menu-item"
						 (click)="onClickOperationHandler(item.path)"
					>{{ item.label }}</div>
				</div>
			</div>
		</div>

		<!-- ПРАВАЯ ЧАСТЬ С ФОРМОЙ ВВОДА И РЕЗУЛЬТАТАМИ ЗАПРОСОВ ПО СТАНДАРТНЫМ ОТЧЕТАМ -->
		<div class="rp-columns__right"
			 data-cy="rp-columns-right"
		>
			<div class="rp-columns__outline rp-columns__outline_right"
				 *ngIf="currentReportOperationKey$ | async"
				 [ngClass]="[currentReportOperationKey$ | async, currentRole]"
				 data-cy="rp-columns-outline"
			>
				<app-custom-scroll
					class="rp-scroll"
					[buttonsVisible]="false"
					[class.rp-scroll_centered]="centeredResult"
					data-cy="rp-scroll"
					(scrollUpdated)="onScrollUpdated($event)"
				>
					<div *ngIf="!(isReportLoading || reportingDataService.inResult$$.value)"
						class="reporting-inputs"
						[ngClass]="[currentReportOperationKey$ | async, currentRole]"
						data-cy="reporting-inputs"
					>
						<!-- ФОРМА ВВОДА ПАРАМЕТРОВ ОПЕРАЦИИ -->
						<form
							*ngIf="inputFields.length > 0"
							class="report-form"
							[formGroup]="reportForm"
							[ngClass]="{'column-reverse': columnReverse}"
							data-cy="report-form"
							(ngSubmit)="onClickRequestHandler()"
						>
							<app-input-operation-field
								*ngFor="let field of inputFields; trackBy: trackByField"
								class="op-field"
								[field]="field"
								[style.display]="field.hidden ? 'none' : 'block'"
								[formControlName]="field.controlName"
								[focusOnReturn]="!managerInvent"
								[placeholder]="field.placeholder"
								data-cy="op-field"
								(catchEnter)="onCatchEnterHandler($event)"
								(ngModelChange)="onInputChanged($event)"
							>
							</app-input-operation-field>
							<button type="submit" class="fake-submit-btn"></button>
						</form>

						<div
							class="empty-message"
							*ngIf="inputFields?.length === 0"
							data-cy="empty-message"
						>
							{{ 'reporting.press_request' | translate }}
						</div>

						<div *ngIf="buttonsExists"
							 class="reporting-inputs__periods inputs-periods"
							 data-cy="inputs-periods"
						>
							<label class="inputs-periods__item"
								   data-cy="inputs-periods-item"
							>
								<input
									class="inputs-periods__radio"
									type="radio"
									name="period"
									[value]="currDate"
									data-cy="inputs-periods-radio"
									[(ngModel)]="periodStartDate"
									(ngModelChange)="onSelectPeriod($event)"
								>
								<span class="inputs-periods__button"
									  data-cy="inputs-periods-button"
								>{{ 'reports.for_today' | translate }}</span>
							</label>
							<label class="inputs-periods__item"
								   data-cy="inputs-periods-item"
							>
								<input
									class="inputs-periods__radio"
									type="radio"
									name="period"
									[value]="monthAgoDate"
									data-cy="inputs-periods-radio"
									[(ngModel)]="periodStartDate"
									(ngModelChange)="onSelectPeriod($event)"
								>
								<span class="inputs-periods__button"
									  data-cy="inputs-periods-button"
								>{{ 'reports.for_month' | translate }}</span>
							</label>
						</div>
					</div>

					<div
						class="reporting-preloader"
						*ngIf="isReportLoading"
						data-cy="reporting-preloader"
					>
						<div class="circle-arc"
							 data-cy="circle-arc"
						></div>
					</div>

					<!-- КОНТЕНТ ПО ВЫБРАННОЙ ОПЕРАЦИИ -->
					<div
						class="reporting-navigation-content"
						[ngClass]="currentReportOperationKey$ | async"
						[class.with-results]="(reportsService.lastReportResponse$$ | async) !== undefined"
						[class.bc-list-expanded]="reportingDataService.bcComponentListExpanded$ | async"
						[class.is-hidden]="!reportingDataService.inResult$$.value || isReportLoading"
						data-cy="reporting-navigation-content"
					>

						<div class="result"
							 [innerHTML]="(reportsService.lastScreenData$ | async) | sanitize: 'html'"
							 data-cy="result"
						></div>
					</div>
				</app-custom-scroll>
			</div>

			<!-- ПАНЕЛЬ КНОПОК -->
			<div
				class="rp-right-bottom"
				*ngIf="showResultsButtons$ | async; else showRequestButton"
				data-cy="rp-right-bottom"
			>
				<!-- КНОПКА НАЗАД -->
				<button type="button"
						class="button button_theme_light-green rp-back"
						(click)="goOnFirstScreen()"
						data-cy="rp-back"
				>
					{{ 'reports.back' | translate }}
				</button>

				<!-- КНОПКА ПЕЧАТИ -->
				<button type="button"
						class="button button_theme_green rp-print"
						[attr.disabled]="(disabledPrintButton$ | async) || undefined"
						data-cy="rp-print"
						(click)="onClickPrintHandler()"
				>
					{{ 'reports.print' | translate }}
				</button>
			</div>

			<!-- КНОПКА ЗАПРОСА РЕЗУЛЬТАТОВ ОПЕРАЦИИ -->
			<ng-template #showRequestButton>
				<button *ngIf="currentReportOperationKey$ | async"
						type="button"
						class="button rp-request"
						[attr.disabled]="!canRequest || null"
						data-cy="rp-request"
						(click)="onClickRequestHandler()"
				>
					{{ 'reports.request' | translate }}
				</button>
			</ng-template>
		</div>

	</div>
</div>
