@import "../../../../../sass/variables";

.ibc-list {
	position: fixed;
	top: 64px;
	right: 10px;

	width: 645px;
	height: 343px;
	padding: 10px;

	.ibcl-c-name {
		width: 25%;
	}

	.ibcl-c-num {
		width: 40%;
	}

	.ibcl-c-count {
		width: 10%;
	}

	.ibcl-c-price {
		width: 10%;
		text-align: right;
		justify-content: flex-end;
	}

	.ibcl-c-sum {
		width: 10%;
		text-align: right;
		justify-content: flex-end;
	}

	.ibcl-c-remove {
		width: 5%;
		justify-content: center;
	}

	.ibcl-header, .ibcl-row {
		display: flex;
		flex-direction: row;
	}

	.ibcl-header {
		font-size: 18px;
		font-weight: bold;
	}

	ul {
		overflow-y: scroll;
		width: 100%;
		height: calc(100% - 40px);

		li {
			div {
				height: 30px;

				display: flex;
				align-items: center;

				font-size: 20px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			i {
				font-size: 30px;
				color: $msl_base_green;
			}
		}
	}
}

.input-barcode-container {
	position: absolute;

	padding: 10px;

	background: #eee;
	border-radius: 6px;
	border: 1px solid $msl_base_green;

	height: auto;
	width: 100%;
	box-shadow: none;

	app-buttons-group.ibc-bg-input-mode {
		::ng-deep {
			.buttons-group-container {
				.bgc-button-container {
					flex-flow: column;
				}
			}
		}
	}

	app-buttons-group.ibc-bg-manual-input {

	}

	.ibc-input-content {
		position: absolute;
		right: 10px;
		top: 10px;
		bottom: 10px;
		width: 380px;

		opacity: 0;

		label {
			font-size: 24px;
			font-weight: bold;
		}

		.blink {
			animation: blinker 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;
			color: $msl_base_green;
		}

		.ibc-single, .ibc-range {
			display: flex;
			flex-direction: column;

			input {
				width: 80%;
				padding: 4px;
				margin-top: 10px;

				border: 2px solid $msl_base_green;
				border-radius: 6px;
				color: $msl_base_green;
				font-size: 24px;
				text-align: center;
			}

			input:disabled {
				background: #999;
				border: 2px solid #666;
				color: #000;
				font-weight: bold;
			}
		}
	}

	app-green-button.ibc-input-cancel {
		position: absolute;
		right: 10px;
		bottom: 10px;
		min-width: 300px;
	}
}
