<!-- ТАБЛИЦА - СПИСОК БАРКОДОВ -->
<div class="ibc-list" *ngIf="showList">

	<!-- ЗАГОЛОВОК ТАБЛИЦЫ -->
	<div class="ibcl-header">
		<div class="ibcl-c-name">
			{{ 'lottery.tmlbml.col_lottery' | translate | uppercase }}
		</div>
		<div class="ibcl-c-num">
			{{ 'lottery.tmlbml.col_ticket_num' | translate | uppercase }}
		</div>
		<div class="ibcl-c-count">
			{{ 'lottery.tmlbml.col_count_count' | translate | uppercase }}
		</div>
		<div class="ibcl-c-price">
			{{ 'lottery.tmlbml.col_count_price' | translate | uppercase }}
		</div>
		<div class="ibcl-c-sum">
			{{ 'lottery.tmlbml.col_sum' | translate | uppercase }}
		</div>
		<div class="ibcl-c-remove"></div>
	</div>

	<!-- СПИСОК -->
	<ul (click)="onRemoveClickHandler($event)">
		<ng-container *ngFor="let bc of inputBarcodeList; trackBy: trackByField; let i = index">
			<li class="ibcl-row">
				<div class="ibcl-c-name">
					{{ bc[2]?.draw?.inst_lott_name }}
				</div>
				<div class="ibcl-c-num">
					{{ bc[0].gameNumber }}-{{ bc[0].ticketPackage }}-{{ bc[0].ticketNumber }}
					{{ bc[0].ticketNumber !== bc[1].ticketNumber ? '...' + bc[1].ticketNumber : '' }}
				</div>
				<div class="ibcl-c-count">
					{{ bc[1].ticketNumber - bc[0].ticketNumber + 1 }}
				</div>
				<div class="ibcl-c-price">
					{{ bc[2]?.draw?.bet_sum }}
				</div>
				<div class="ibcl-c-sum">
					{{ bc[2]?.draw?.bet_sum * (bc[1].ticketNumber - bc[0].ticketNumber + 1) | number:'.2-2' }}
				</div>
				<div class="ibcl-c-remove">
					<i class="material-icons" [attr.index]="i">cancel</i>
				</div>
			</li>
		</ng-container>
	</ul>
</div>

<!-- ПАНЕЛЬ УПРАВЛЕНИЯ -->
<div
	class="input-barcode-container"
	[class.range-mode]="isRangeMode"
	[class.manual-input]="isManualInput"
	>

	<!-- РЕЖИМ ВВОДА -->
	<app-buttons-group
		#inputModeComponent
		class="ibc-bg-input-mode"
		[workMode]="ButtonGroupMode.radio"
		[buttonsCount]="2"
		[buttonGroupStyle]="buttonStyle"
		[isNeededTranslation]="true"
		[labelsArray]="['lottery.tmlbml.mode_one_by_one','lottery.tmlbml.mode_range']"
		(clickButton)="onChangeInputModeHandler($event)"
		>
	</app-buttons-group>

	<!-- КНОПКА "РУЧНОЙ ВВОД" -->
	<app-buttons-group
		#manualInputComponent
		class="ibc-bg-manual-input"
		[workMode]="ButtonGroupMode.custom"
		[buttonsCount]="1"
		[buttonGroupStyle]="buttonStyle"
		[isNeededTranslation]="true"
		[labelsArray]="['lottery.tmlbml.manual_input']"
		(clickButton)="onClickManualEnterHandler($event)"
		>
	</app-buttons-group>

	<!-- КОНТЕЙНЕР С ЭЛЕМЕНТАМИ ВВОДА -->
	<div
		class="ibc-input-content"
		*ngIf="isRangeMode || isManualInput"
		[@fadeInAnimation]
		>

		<!-- ДИАПАЗОНОМ -->
		<div class="ibc-range" *ngIf="isRangeMode">
			<label [class.blink]="currentInputPhase.length === 0" for="kbdPhase1">
				{{ 'lottery.tmlbml.msg_range_step_1' | translate }}
			</label>
			<input
				id="kbdPhase1"
				#kbdPhase1
				pattern="\d*"
				inputmode="numeric"
				[attr.minlength]="minLength"
				[attr.maxlength]="maxLength"
				(input)="onInputHandler($event)"
			/>
			<br>
			<label [class.blink]="currentInputPhase.length === 1" for="kbdPhase2">
				{{ 'lottery.tmlbml.msg_range_step_2' | translate }}
			</label>
			<input
				id="kbdPhase2"
				#kbdPhase2
				pattern="\d*"
				inputmode="numeric"
				[attr.minlength]="minLength"
				[attr.maxlength]="maxLength"
				(input)="onInputHandler($event)"
			/>
		</div>

		<!-- ПО ОДНОМУ ВРУЧНУЮ -->
		<div class="ibc-single" *ngIf="!isRangeMode && isManualInput">
			<label class="blink" for="kbdSingle">
				{{ 'lottery.tmlbml.msg_single_scan_or_enter' | translate }}
			</label>
			<input
				id="kbdSingle"
				#kbdSingle
				pattern="\d*"
				inputmode="numeric"
				[attr.minlength]="minLength"
				[attr.maxlength]="maxLength"
				(input)="onInputHandler($event)"
			/>
		</div>

		<!-- КНОПКА "ОТМЕНИТЬ" -->
		<button type="button"
			class="button button_theme_green ibc-input-cancel"
			(click)="onClickCancelHandler()"
			>
			{{ 'lottery.tmlbml.cancel_input' | translate }}
		</button>
	</div>

</div>
