<svg class="receipt-logo" width="165" height="47" viewBox="0 0 165 47" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path fill-rule="evenodd" clip-rule="evenodd" d="M49.1438 24.8041C48.264 18.0554 53.6577 12.2706 59.6676 11.6438C66.7154 10.9088 72.3091 16.0006 72.9733 22.2532C73.7056 29.1456 68.4973 34.7286 62.4473 35.3792C55.4212 36.1349 49.9668 31.1168 49.1438 24.8041ZM144.15 10.7661C149.181 9.25737 151.584 18.2783 151.793 22.7578C152.025 27.7431 150.354 35.8456 146.169 36.9761C140.971 38.3802 138.704 29.2836 138.496 24.9865C138.251 19.9029 140.022 12.0042 144.15 10.7661ZM164.386 25.9197C165.551 14.6695 157.663 6.08759 147.367 5.08537C135.989 3.97786 126.997 11.3387 125.94 21.6351C124.74 33.323 132.752 41.8028 143.073 42.6649C154.927 43.6552 163.299 36.4067 164.386 25.9197ZM83.8049 37.5246C83.8337 40.9261 88.5959 43.2192 92.6036 42.6325C103.349 41.0594 102.79 20.6717 103.308 12.229C104.386 11.9287 108.108 12.0778 109.434 12.1246L109.462 41.6216C110.498 41.839 120.652 41.8399 121.563 41.5906L121.592 6.25376C119.138 5.03212 110.389 4.52142 106.951 4.52895C102.39 4.53899 96.2615 4.99975 92.2644 6.20517C92.1144 17.8166 90.9942 31.3393 83.8049 37.5246ZM15.7061 19.9979C15.8517 14.0519 17.1821 8.26886 12.5503 5.44C7.87002 2.58153 0.347701 5.35218 0 8.35109C1.1978 9.13378 1.88896 9.18661 2.55969 10.4013C4.1076 13.2047 3.47732 19.1244 3.47732 22.9447C3.47732 28.8628 3.3298 35.004 3.51871 40.8961C4.4059 41.2277 14.7002 41.19 16.0651 40.9854L15.7735 25.583L17.6585 25.4643C18.8554 30.6062 19.48 37.0144 24.6199 40.4411C26.9331 41.9833 30.6142 42.6344 33.6446 41.8162C35.8529 41.22 38.7811 38.7418 38.504 36.0149C38.1245 35.6669 36.5283 34.9883 35.833 34.4467C33.4991 32.6288 32.0103 30.0647 30.4888 27.5144C27.6892 22.8216 27.5286 19.924 22.3489 19.283C21.7129 16.6147 23.536 10.8324 26.9007 12.8462C27.0716 13.3173 27.0484 14.4495 27.2648 14.8949C27.7891 15.8866 35.9365 17.1902 37.6742 11.6373C40.9453 1.18378 18.5306 0.315885 17.4029 17.9436C17.2809 19.8507 17.7931 19.9858 15.7061 19.9979ZM57.888 0.264468C50.9102 1.32438 46.2049 4.55395 42.7941 8.71853C39.2324 13.0671 36.7316 19.4247 37.7856 26.8958C39.4628 38.785 50.5964 48.6859 64.4941 46.7589C76.4792 45.0971 86.158 33.8751 84.3591 20.1922C82.8301 8.56166 71.493 -1.80205 57.888 0.264468Z" fill="#000000"/>
	<path d="M54.0016 21.3372C53.4007 21.3372 53 20.9292 53 20.4193C53 19.9094 53.4007 19.5014 54.0016 19.5014H59.8111V20.3173C59.8111 20.6233 59.9113 20.9292 60.1116 21.1332C60.2118 21.2352 60.2118 21.2352 60.2118 21.3372H54.0016ZM61.7142 20.8272C61.4137 21.1332 60.9129 21.1332 60.6124 20.7253C60.3119 20.4193 60.3119 19.9094 60.6124 19.6034L65.3201 15.2181C65.7208 14.9121 66.2216 14.9121 66.5221 15.3201C66.8226 15.626 66.8226 16.1359 66.5221 16.4419L61.7142 20.8272ZM54.3021 22.153L55.1034 28.6801C55.1034 28.6801 55.2036 30.6178 56.9064 30.6178C59.8111 30.6178 62.7159 30.6178 65.6206 30.6178C67.3234 30.6178 67.4235 28.6801 67.4235 28.6801L68.2248 22.153C63.6173 22.153 59.0098 22.153 54.3021 22.153ZM57.1067 24.7027C57.1067 24.2947 57.5074 23.8868 57.908 23.8868C58.4088 23.8868 58.8095 24.2947 58.8095 24.7027V28.3741C58.8095 28.782 58.4088 29.19 57.908 29.19C57.5074 29.19 57.1067 28.782 57.1067 28.3741V24.7027ZM63.7175 24.7027C63.7175 24.2947 64.1181 23.8868 64.619 23.8868C65.0196 23.8868 65.4203 24.2947 65.4203 24.7027V28.3741C65.4203 28.782 65.0196 29.19 64.619 29.19C64.1181 29.19 63.7175 28.782 63.7175 28.3741V24.7027ZM60.4121 24.7027C60.4121 24.2947 60.8127 23.8868 61.3136 23.8868C61.7142 23.8868 62.1149 24.2947 62.1149 24.7027V28.3741C62.1149 28.782 61.7142 29.19 61.3136 29.19C60.8127 29.19 60.4121 28.782 60.4121 28.3741V24.7027ZM64.8193 19.5014H68.1247C68.6255 19.5014 69.0261 19.9094 69.0261 20.4193C69.0261 20.9292 68.6255 21.3372 68.1247 21.3372H62.1149V21.2352C62.5155 20.9292 63.0163 20.5213 63.417 20.1133C63.8177 19.7054 64.3185 19.5014 64.8193 19.5014Z" fill="#000000"/>
</svg>

<div class="header dashed block">
	<div class="header__line tt-u">ТОВ "Арітейл"</div>
	<div class="header__line">Магазин-кафетерій "КОЛО"</div>
	<div class="header__line">м. Київ, вул. Шота Руставелі, буд. 4 група прим. №2</div>
	<div class="header__line">ЄДРПОУ 41135005</div>
	<div class="header__line">ПН 411350026567</div>
	<div class="header__line header__line_2">
		<div class="header__left mr-20">ЗН СП802005678</div>
		<div class="header__right">ФН 3000806588</div>
	</div>
	<div class="header__line">Каса 01</div>
</div>

<div class="payment">
	<div class="dashed block">
		<div class="payment__line tt-u ta-c">Видача коштів</div>
	</div>
	<div class="dashed block">
		<div class="payment__line tt-u">
			Чек 1
		</div>
		<div class="payment__line tt-u">
			Каса N1
		</div>
		<div class="payment__line tt-u ta-c">Видача коштів</div>
		<div class="payment__line payment__line_2">
			<div class="payment__left">Виплата виграшу</div>
			<div class="payment__right">-{{ sum }} Д</div>
		</div>
		<div class="payment__line">Системний номер: 60</div>
		<div class="payment__line">Касир:</div>
		<div class="payment__line">Березюк Оксана Вікторівна</div>
	</div>

	<div class="dashed block">
		<div class="payment__line payment__line_2">
			<div class="payment__left fs-20">Сума</div>
			<div class="payment__right fs-20">-{{ sum }}</div>
		</div>
		<div class="payment__line ta-r">
			<span class="mr-30">Без НДС Д = 0.00%</span> <span>0.00</span>
		</div>
	</div>
</div>

<div class="footer">
	<div class="block">
		<div class="footer__line footer__line_2">
			<div class="footer__left">Готівка</div>
			<div class="footer__right">-{{ sum }}</div>
		</div>
		<div class="footer__line footer__line_2">
			<div class="footer__left">000009790 00001</div>
			<div class="footer__right">{{ localeDate }} {{ localeTime }}</div>
		</div>
		<div class="footer__line ta-c tt-u">Звертайтесь з вашими відгуками !</div>
		<div class="footer__line ta-c">0 800 507 969 info@aretail.com.ua</div>
		<div class="footer__line ta-c">Робота: www.kolomarket.com.ua</div>
		<div class="footer__line ta-c tt-u">(066) 007-70-19, (066) 003-25-71</div>
	</div>
	<div class="footer__line ta-c">
		<span class="tt-u fs-16 mr-10 roboto">Видатковий чек</span> <b class="fs-20">Atlas</b>
	</div>
</div>
