@import "variables";

:host {
	margin: 10px 0;
	* {
		font-family: $fira_sans;
		color: #000000;
		font-size: 12px;
	}
}

.receipt-logo {
	display: block;
	width: 100%;
	max-width: 100px;
	height: auto;
	margin-bottom: 10px;
	margin-inline: auto;
}

.header {
	&__line {
		text-align: center;
		&_2 {
			display: flex;
			justify-content: center;
		}
	}
}

.roboto {
	font-family: $roboto_medium;
}

.mr-10 {
	margin-right: 10px;
}

.mr-20 {
	margin-right: 20px;
}

.mr-30 {
	margin-right: 30px;
}

.fs-14 {
	font-size: 14px;
}

.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.fs-20 {
	font-size: 20px;
}


.fw-n {
	font-weight: normal;
}

.tt-u {
	text-transform: uppercase;
}

.ta-c {
	text-align: center;
}

.ta-r {
	text-align: right;
}

.dashed {
	border-bottom: 1px dashed #000000;
}

.q {
	margin: 0 30px;
}

.block {
	padding: 5px 0;
}

.content {
	&__item {

	}
	&__line {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		&_spb {
			justify-content: space-between;
		}
	}
	&__left {
		margin-right: 10px;
	}
}

.payment, .footer {
	&__line {
		&_2 {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}

table {
	width: 100%;
	border-collapse: collapse;
}

table, td {
	border: 1px solid #ddd;
}

td {
	padding: 5px;
	font-size: 14px;
	text-align: left;
}
