@import 'variables';

.log-out-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	border-radius: 100%;
}

.icon {
	width: 100%;
	height: 100%;
}

