@import 'variables';

:host {
	height: 100%;
	display: block;
}

.kare-results-container {
	height: 100%;
	display: block;
}

.results-navigator {
	::ng-deep {
		.button {
			justify-content: space-between;
		}

		.dbc-number {
			font-size: 30px;
			text-align: left;
		}

		.dbc-data {
			text-align: center;
		}

		.dbc-date {
			font-size: 18px;
		}

		.rnc-header-date {
			margin: 20px 0;
			padding: 0 20px;
		}

		.rnc-content-container {
			padding: 0;
		}

		.rnc-content {
			margin-top: 0;

			flex: 1;
		}

		.kare-result-wrp {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

		.kare-cards, .kare-poker {
			width: 50%;
			padding: 20px;
		}

		.kare-result-title {
			font-size: 36px;
			font-family: $roboto_medium;
			color: $msl_main_text_color;
			text-align: center;
			margin-bottom: 20px;
		}

		.krc-win-header {
			color: $msl_main_text_color;
			text-align: center;
			font-size: 24px;
			font-family: $roboto_regular;
		}

		.krc-win-header {
			margin-bottom: 15px;
		}

		.card-with-label {
			width: 90px;
		}

		.kare-result-container {
			display: flex;
			flex-direction: row;
			border-top: 1px solid $msl_placeholder_text_color;
			height: 100%;
		}

		.kare-poker {
			border-left: 1px solid $msl_placeholder_text_color;

			font-size: 24px;
			font-family: $roboto_regular;

		}

		.krc-win-header {
			margin-bottom: 10px;
		}

		.krc-comb-items {
			text-align: center;
		}

		.krc-comb-item {
			color: $msl_base_green;
			text-transform: uppercase;
			margin-right: 10px;
			font-size: 18px;
			font-family: $roboto_medium;
		}

		.krc-comb-none {
			color: $msl_placeholder_text_color;
			text-transform: uppercase;
			margin-right: 10px;
			font-size: 18px;
			font-family: $roboto_medium;
		}
	}
}

@media screen and (max-width: 1139px) {
	.results-navigator {
		::ng-deep {
			.kare-cards, .kare-poker {
				width: 50%;
				padding: 10px;
			}
			.kare-result-title {
				font-size: 26px;
			}
		}
	}
}

@media screen and (max-width: 853px) {
	.results-navigator {
		::ng-deep {
			.kare-result-title {
				font-size: 26px;
			}
			.card-with-label {
				margin: 0 3px;
			}
		}
	}
}



@media screen and (max-width: 639px) {
	.results-navigator {
		::ng-deep {
			.krc-win-header {
				font-size: 20px;
			}
			.kare-result-title {
				font-size: 20px;
			}
			.kare-result-wrp {
				flex-wrap: wrap;
			}
			.card-with-label {
				margin: 0 2px 10px 2px;
			}
		}
	}
}
