<div class="kare-results-container" data-cy="kare-results-container">

	<!-- НАВИГАТОР ПО РЕЗУЛЬТАТАМ -->
	<app-results-navigator
		class="results-navigator"
		data-cy="results-navigator"
		[service]="gameResultsService"
		[gameCode]="LotteryGameCode.Kare"
		[gameName]="'lottery.kare.game_name'"
		[printData]="printData"
		[viewResults]="viewData"
		[showSeconds]="true"
		(resultSelected)="onSelectedResultsHandler($event)"
		>

		<!-- КОНТЕНТ РЕЗУЛЬТАТОВ ПО КАРЕ -->
		<div class="kare-result-container" data-cy="kare-result-container">
			<!-- КОМБИНАЦИЯ КАРТ -->
			<div
				class="kare-cards"
				data-cy="kare-cards"
				>
				<div class="kare-result-title" data-cy="kare-result-title">
					{{ 'lottery.kare.table_1' | translate | uppercase }} - {{ 'lottery.kare.cards' | translate }}
				</div>
				<div class="krc-win-header" data-cy="krc-win-header">
					{{ (viewData?.cards?.length > 1 ? 'lottery.win_cards' : 'lottery.win_card') | translate }}:
				</div>
				<div class="kare-result-wrp" data-cy="kare-result-wrp">
					<ng-container *ngFor="let card of viewData?.cards; trackBy: trackByKareDescriptionItemFn">
						<app-kare-card-with-label
							class="card-with-label"
							data-cy="card-with-label"
							[useShortLabels]="false"
							[cardDescriptionItem]="card"
							>
						</app-kare-card-with-label>
					</ng-container>
				</div>
			</div>

			<!-- ПОКЕРНАЯ КОМБИНАЦИЯ -->
			<div class="kare-poker" data-cy="kare-poker">
				<div class="kare-result-title" data-cy="kare-result-title">
					{{ 'lottery.kare.table_2' | translate | uppercase }} - {{ 'lottery.kare.combinations' | translate }}
				</div>
				<div class="krc-win-header" data-cy="krc-win-header">
					{{ (viewData?.poker?.length > 1 ? 'lottery.win_combinations' : 'lottery.win_combination') | translate }}:
				</div>
				<div class="krc-comb-items" data-cy="krc-comb-items">
					<span *ngIf="!viewData?.poker?.length" class="krc-comb-none" data-cy="krc-comb-none">
						{{ 'lottery.no_win_combinations' | translate }}
					</span>
					<ng-container *ngFor="let poker of viewData?.poker; trackBy: trackByWinCombFn">
						<span class="krc-comb-item" data-cy="krc-comb-item">{{ poker }}</span>
					</ng-container>
				</div>
			</div>
		</div>

		<!-- ДЖЕКПОТ -->
		<div class="extra-info" data-cy="extra-info" *ngIf="viewData?.extraInfo">{{ viewData.extraInfo }}</div>

	</app-results-navigator>

</div>
