<div class="kare-card-with-label-container"
	 [ngClass]="useShortLabels ? 'short' : ''"
	 data-cy="kare-card-with-label-container"
>

	<!-- ОПИСНАИЕ КАРТЫ -->
	<label class="kcwl-label" data-cy="kcwl-label">
		{{ (useShortLabels ? cardDescriptionItem?.shortLabel : cardDescriptionItem?.label) | translate }}
	</label>

	<!-- ИКОНКА С МАСТЬЮ КАРТЫ -->
	<div
		class="kcwl-icon"
		[ngClass]="'card-icon-' + cardDescriptionItem?.suit"
		data-cy="kcwl-icon"
		>
	</div>

</div>
