@import 'variables';

.kare-card-with-label-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.kcwl-label {
		margin-bottom: 5px;

		color: $msl_main_text_color;
		font-size: 18px;
		font-family: $roboto_medium;
		text-transform: uppercase;
	}

	&.short {
		.kcwl-label {
			margin-bottom: 0;
			font-size: 24px;
		}
	}
}

@media screen and (max-width: 1365px) {
	.kare-card-with-label-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		.kcwl-label {
			margin-bottom: 5px;

			color: $msl_main_text_color;
			font-size: 18px;
			font-family: $roboto_medium;
			text-transform: uppercase;
		}

		&.short {
			.kcwl-label {
				margin-bottom: 0;
				font-size: 12px;
			}
		}
	}
}

@media screen and (max-width: 960px) {
	.kcwl-label {
		font-size: 14px;
	}
}

@media screen and (max-width: 853px) {
	.kare-card-with-label-container {
		&.short {
			.kcwl-label {
				font-size: 24px;
			}
			.kcwl-icon {
				width: 24px;
				height: 24px;
			}
		}
	}
}

@media screen and (max-width: 639px) {
	.kare-card-with-label-container {
		&.short {
			.kcwl-label {
				font-size: 12px;
			}
			.kcwl-icon {
				width: 12px;
				height: 12px;
			}
		}
	}
}
