<div class="user-payment-operations">
	<ng-container [ngSwitch]="currentOperation?.path">
		<app-uporefill
			*ngSwitchCase="UserPaymentOperation.Refill"
		></app-uporefill>
		<app-upowithdrawal
			*ngSwitchCase="UserPaymentOperation.Withdrawal"
		></app-upowithdrawal>
		<app-one-button-custom
			*ngSwitchCase="UserPaymentOperation.Instruction"
			class="instruction-dlg"
			[isVisible]="true"
			[showButtons]="false"
			(cancel)="onCloseDialog()"
		>
			<app-buttons-group
				#helpType
				class="help-type"
				[workMode]="ButtonGroupMode.radio"
				[buttonsCount]="2"
				[isNeededTranslation]="true"
				[labelsArray]="['reporting.menu.refill','reporting.menu.payout']"
				[valuesArray]="[0, 1]"
				[selectedButtons]="[0]"
				[buttonGroupStyle]="ButtonGroupStyle.outline_square"
				(clickButton)="onSelectHelpType($event)"
			>
			</app-buttons-group>

			<app-custom-scroll *ngIf="opHelpType === UserPaymentOperation.Refill" [buttonsVisible]="false">
				<div class="help-instruction" [innerHTML]="'reporting.help.refill' | translate"></div>
			</app-custom-scroll>

			<app-custom-scroll *ngIf="opHelpType === UserPaymentOperation.Withdrawal" [buttonsVisible]="false">
				<div class="help-instruction" [innerHTML]="'reporting.help.withdrawal' | translate"></div>
			</app-custom-scroll>
		</app-one-button-custom>
	</ng-container>
</div>
