@import "variables";

.user-payment-operations {
	app-buttons-group.help-type {
		display: block;
		margin-bottom: 20px;
		margin-right: 20px;
		::ng-deep {
			.buttons-group {
				&__items {
					width: 100%;
					justify-content: center;
				}
				&__item {
					max-width: 350px;
					width: 100%;
					height: 36px;
					font-family: $roboto_regular;
					font-weight: normal;
					font-size: 18px;
					border-width: 1px;
					color: $msl_main_text_color;
					background: #FFFFFF;
					margin: 4px 0;

					&_selected {
						border-right: none;
						color: #FFFFFF;
						font-family: $roboto_medium;
						background: $msl_base_green;
					}
					//&_first {
					//	border-top-right-radius: 0;
					//	border-bottom-right-radius: 0;
					//}
					//
					//&_last {
					//	border-top-left-radius: 0;
					//	border-bottom-left-radius: 0;
					//}
				}
			}
		}
	}

	app-custom-scroll {
		max-height: 600px;
		height: 100%;
		display: block;
		::ng-deep {
			.custom-scrollbar::-webkit-scrollbar {
				width: 10px;
			}
			.help-instruction {
				font-size: 14px;
				padding-right: 10px;
				img {
					display: block;
					max-width: 100%;
					margin: 10px auto;
				}
			}
		}
	}
}

.instruction-dlg {
	::ng-deep {
		.modal-dialog-container {
			left: 0;
			height: calc(100% - 16px);
			display: grid;
			grid-template-rows: auto auto minmax(0, 1fr);
		}
		.modal-dialog-close {
			width: 16px;
			height: 16px;
		}
	}
}


