@import "../../../../../sass/variables";
:host {
	display: block;

	width: 100%;
	height: 80px;

	border: 2px solid $msl_base_green;
	border-radius: 8px;

	overflow: hidden;
	font-size: 36px;
	background: $msl_base_green;
}
.switch-button {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	font-size: inherit;

	// margin-bottom: 30px;
	&__item {
		height: 100%;
		font-size: inherit;
	}
	&__input {
		display: none;
	}
	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: $msl_main_text_color;
		background: #FFFFFF;
		font-size: inherit;
		text-transform: uppercase;
		height: 100%;
	}
	&__input:checked + &__title {
		background: none;
		color: #FFFFFF;
		border: none;
	}
}
