<div class="kare-selected-cards-one-container" data-cy="kare-selected-cards-one-container">

	<!-- ЗАГОЛОВОК -->
	<div *ngIf="showTitle" class="table-block__title" data-cy="table-block-title">
		{{ 'lottery.kare.table_1' | translate }}
		<span class="table-block__kind" data-cy="table-block-kind"> &mdash; {{ 'lottery.kare.cards' | translate }}</span>
	</div>

	<!-- ВЫБРАННЫЕ КАРТЫ -->
	<div class="table-block__content" data-cy="table-block-content">
		<!-- ПОДЗАГОЛОВОК -->
		<div
			class="no-cards-msg"
			data-cy="no-cards-msg"
			*ngIf="cardDescriptionItemList?.length === 0; else showCardsMessage"
			>
			{{ 'lottery.kare.need_to_select' | translate: {maxCardsCount: maxCardsCount} }}
		</div>
		<ng-template #showCardsMessage>
			<div class="table-block__subtitle" data-cy="table-block-subtitle">
				{{ cardDescriptionItemList?.length === 1 ?
				('lottery.kare.selected_card' | translate) : ('lottery.kare.selected_cards' | translate) }}
			</div>
		</ng-template>

		<!-- КАРТЫ -->
		<div class="ksco-cards" data-cy="ksco-cards">
			<ng-container *ngFor="let cardDescriptionItem of cardDescriptionItemList; trackBy: trackByCardItemFn">
				<app-kare-card-with-label
					class=""
					data-cy="kare-card-with-label"
					[cardDescriptionItem]="cardDescriptionItem"
					[useShortLabels]="false"
					>
				</app-kare-card-with-label>
			</ng-container>
		</div>
	</div>

</div>
