@import 'variables';
@import 'mixins';
@import 'lotteries-common';

.lottery-container {
	padding: 20px 0;
}

.lott-grid {
	grid-template: auto auto auto auto / 540px 600px;
	align-content: space-between;
	margin-left: 360px;
}

app-msl-game-logo.logo-in-lottery {
	top: 40px;
	::ng-deep {
		.game-logo {
			&__image {
				width: auto;
				height: 45px;
				max-height: none;
			}
		}
	}
}

.left-cell {
	display: grid;
	align-items: center;
	grid-row-start: 1;
	grid-row-end: 3;
	align-content: center;
	grid-template-rows: auto;
}

.rb-cell {
	grid-template-rows: auto;
}

.ttc-bg-draws {
	display: block;
}

// -----------------------------------------
//  Одиднаковые комбинации
// -----------------------------------------

.ttc-bg-unique {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	border: 2px solid $msl_base_yellow;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 15px;
	&__item {
		height: 100%;
	}
	&__input {
		display: none;
	}
	&__title {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: $msl_main_text_color;
		background: #FFFFFF;
		font-size: 36px;
		text-transform: uppercase;
		height: 100%;
		&_disabled {
			color: $msl_placeholder_text_color;
			background: #FFFFFF;
			pointer-events: none;
		}
		&_first.ttc-bg-unique__title_disabled {
			border-right: 1px solid $msl_placeholder_text_color;
		}
	}
	&__input:checked + &__title {
		background: $msl_base_yellow;
		color: #FFFFFF;
		border: none;
	}
	&_disabled {
		border: 2px solid $msl_placeholder_text_color;
	}
}

.info-text {
	text-align: center;
	font-size: 24px;
	font-family: $roboto_medium;
	color: $msl_placeholder_text_color;
	&_hidden {
		visibility: hidden;
	}
}

.goto-results {
	margin-bottom: 40px;
}

.one-nearest-draw {
	align-self: end;
}

.register-bet-button {
	height: 88px;
}

@media screen and (max-width: 1919px) {
	.lottery-container {
		padding: 14px 0 10px 0;
	}
	.lott-grid {
		grid-template: auto auto auto auto / 468px 468px;
		align-content: space-between;
		margin-left: 178px;
	}
	.goto-results {
		margin-bottom: 30px;
		height: 66px;
		font-size: 24px;
	}
	.unique-switcher {
		grid-row-start: 3;
		grid-row-end: 6;
	}
	.switcher {
		height: 70px;
		font-size: 30px;
		&__title {
			font-size: 30px;
		}
	}
	.ttc-bg-unique {
		height: 70px;
		&__title {
			font-size: 24px;
		}
	}
	.register-bet-button {
		height: 80px;
	}
	app-msl-game-logo.logo-in-lottery {
		top: 20px;
		::ng-deep {
			.game-logo {
				&__image {
					width: auto;
					height: 35px;
					max-height: none;
				}
			}
		}
	}
	.common-title {
		font-size: 24px;
		margin-bottom: 10px;
	}
	app-buttons-group.ttc-bg-draws,
	app-buttons-group.ttc-bg-bets {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 24px;
					margin-bottom: 10px;
				}
				&__items {
					grid-row-gap: 10px;
					row-gap: 10px
				}
				&__item {
					font-size: 36px;
					border-radius: 8px;
					width: 84px;
					height: 70px;
					font-family: $roboto_medium;
				}
			}
		}
	}
}

@media screen and (max-width: 1365px) {
	.lott-grid {
		grid-template: auto auto auto auto / 468px 400px;
		margin-left: 130px;
	}
	.switcher {
		height: 60px;
	}
	.rt-cell {
		padding-bottom: 10px;
	}

	app-draws-buttons.ttc-draws {
		::ng-deep {
			.dbc-draw {
				height: 70px;
			}
		}
	}
	.register-bet-button {
		height: 60px;
		align-self: end;
	}
	.info-text {
		font-size: 18px;
	}
	app-buttons-group.ttc-bg-bets {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 24px;
					margin-bottom: 10px;
				}
				&__items {
					grid-row-gap: 10px;
					row-gap: 10px
				}
				&__item {
					font-size: 36px;
					border-radius: 8px;
					width: 67px;
					height: 55px;
					font-family: $roboto_medium;
				}
			}
		}
	}
}

@media screen and (max-width: 1139px) {
	.lott-grid {
		grid-template: auto auto auto auto / 362px 300px;
		margin-left: 130px;
	}
	.switcher {
		height: 44px;
		margin-bottom: 0;
		font-size: 18px;
	}
	.goto-results {
		margin-bottom: 12px;
		height: 44px;
		font-size: 18px;
	}

	app-buttons-group.ttc-bg-draws,
	app-buttons-group.ttc-bg-bets {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 18px;
					margin-bottom: 5px;
				}
				&__items {
					grid-row-gap: 10px;
					row-gap: 10px
				}
			}
		}
	}

	app-buttons-group.ttc-bg-draws {
		::ng-deep {
			.buttons-group {
				&__item {
					border-radius: 8px;
					font-size: 30px;
					width: 66px;
					height: 55px;
					font-family: $roboto_medium;
				}
			}
		}
	}


	app-buttons-group.ttc-bg-bets {
		height: 71px;
		overflow-y: hidden;
		::ng-deep {
			.buttons-group {
				&__item {
					border-radius: 8px;
					font-size: 24px;
					width: 52px;
					height: 44px;
					font-family: $roboto_medium;
				}
			}
		}
	}

	app-draws-buttons.ttc-draws {
		::ng-deep {
			.dbc-draw {
				height: 60px;
			}
			.dbc-number {
				font-size: 24px;
			}

			.dbc-time-left {
				font-size: 14px;
			}

			.dbc-date {
				font-size: 18px;
			}
		}
	}
	.ttc-bg-draws {
		grid-row-start: 3;
		grid-row-end: 6;
		margin-top: -60px;
	}
	.unique-switcher {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 5;
	}
	.register-bet-button {
		height: 44px;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	.lottery-container {
		padding: 8px 0;
	}
	.common-title {
		font-size: 18px;
		margin-bottom: 5px;
	}
	.ttc-bg-unique {
		height: 44px;
		margin-bottom: 2px;
		&__title {
			font-size: 18px;
		}
	}
	.info-text {
		font-size: 12px;
	}
	.rt-cell {
		padding-bottom: 0;
	}
	.one-nearest-draw {
		align-self: start;
		grid-row-start: 1;
		grid-row-end: 3;
		margin-top: 29px;
	}
	.fake-block {
		display: none;
	}
	app-msl-game-logo.logo-in-lottery {
		top: 10px;
		::ng-deep {
			.game-logo {
				&__image {
					height: 25px;
				}
			}
		}
	}

}

@media screen and (max-width: 853px) {
	.lottery-container {
		padding: 20px 8px 10px 8px;
	}
	.lott-grid {
		grid-template: auto / 1fr;
		align-content: space-between;
		margin-left: 0;
	}
	.rt-cell {
		display: grid;
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	.left-cell {
		grid-row-start: auto;
		grid-row-end: auto;
		align-content: space-around;
		padding-top: 0;
	}

	.goto-results {
		justify-self: end;
		margin-bottom: 40px;
		height: 60px;
		font-size: 24px;
	}
	app-msl-game-logo.logo-in-lottery {
		top: 34px;
		::ng-deep {
			.game-logo {
				&__left {
					margin-right: 12px;
				}
				&__image {
					height: 34px;
				}
			}
		}
	}
	.switcher {
		border-width: 1px;
		border-radius: 8px;
		height: 60px;
		font-size: 24px;
		max-width: 464px;
		margin: 0 auto;
	}


	app-buttons-group.ttc-bg-draws,
	app-buttons-group.ttc-bg-bets {
		height: 112px;
		overflow-y: hidden;
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 24px;
					margin-bottom: 5px;
				}
				&__items {
					grid-row-gap: 11px;
					row-gap: 11px
				}
				&__item {
					border-radius: 8px;
					font-size: 36px;
					width: 84px;
					height: 70px;
					font-family: $roboto_medium;
				}
			}
		}
	}

	app-buttons-group.ttc-bg-draws {
		overflow: hidden;
		margin-right: -8px;
		margin-bottom: 0;
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 4;
		margin-top: 0;
		::ng-deep {
			.buttons-group {
				margin-bottom: 0;
			}
		}
	}


	app-buttons-group.ttc-bg-bets {
		overflow: hidden;
		margin-right: -8px;
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 3;
		::ng-deep {
			.buttons-group {
				&__title {
					margin-bottom: 10px;
					&_theme {
						&_square-radial {
							padding-right: 8px;
						}
					}
				}
				&__items {
					&_theme {
						&_square-radial {
							grid-template-columns: repeat(10, 1fr);
							justify-content: start;
							grid-column-gap: 11px;
							column-gap: 11px;
						}
					}
				}
			}
		}
	}

	.ttc-bg-unique {
		border-width: 1px;
		max-width: 464px;
		margin: 0 auto 4px auto;
		font-size: 24px;
		height: 60px;
		border-radius: 8px;
		&__title {
			font-size: 24px;
		}
	}

	.unique-switcher {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 5;
		grid-row-end: 6;
	}

	.info-text {
		font-size: 18px;
		font-family: $roboto_regular;
	}
	app-draws-buttons.ttc-draws {
		margin: 0 auto;
		::ng-deep {
			.draws-buttons-container {
				padding-bottom: 0;
			}
			.dbc-draw {
				height: 70px;
			}
		}
	}
	.common-title {
		margin-bottom: 10px;
		font-size: 24px;
	}
	.one-nearest-draw {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 3;
		grid-row-end: 4;
		margin-top: 0;
	}
	.register-bet-button {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 6;
		grid-row-end: 7;
		max-width: 640px;
		height: 60px;
	}
}

@media screen and (max-width: 839px) {

	.lottery-container {
		padding: 10px 12px;
	}

	.lott-grid {
		grid-template: auto / 1fr;
		align-content: space-between;
		margin-left: 0;
	}
	.left-cell {
		grid-row-start: auto;
		grid-row-end: auto;
		align-content: center;
		padding-top: 0;
	}
	.rt-cell {
		display: grid;
	}
	app-buttons-group.ttc-bg-draws {
		overflow: hidden;
		margin-right: -12px;
		margin-bottom: 0;
		height: 100px;
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 20px;
					margin-bottom: 10px;
				}
				&__items_theme_gold {
					grid-column-gap: 15px;
					column-gap: 15px;
				}
				&__item {
					width: 68px;
					height: 56px;
				}
			}
		}
	}
	.goto-results {
		width: 300px;
		justify-self: end;
		margin-bottom: 40px;
		font-size: 16px;
		height: 44px;
	}
	app-msl-game-logo.logo-in-lottery {
		top: 20px;
		::ng-deep {
			.game-logo__image {
				height: 22px;
			}
		}
	}
	.switcher {
		border-width: 1px;
		border-radius: 8px;
		height: 60px;
		font-size: 20px;
		max-width: 400px;
		margin: 0 auto;
	}
	app-buttons-group.ttc-bg-bets {
		overflow: hidden;
		margin-right: -12px;
		height: 100px;
		::ng-deep {
			.buttons-group {
				&__title {
					&_theme {
						&_square-radial {
							padding-right: 12px;
							font-size: 20px;
						}
					}
				}
				&__items {
					&_theme {
						&_square-radial {
							grid-template-columns: repeat(10, 1fr);
							justify-content: start;
							grid-column-gap: 15px;
							column-gap: 15px;
						}
					}
				}
				&__item {
					width: 68px;
					height: 56px;
				}
			}
		}
	}

	.ttc-bg-unique {
		border-width: 1px;
		max-width: 400px;
		margin: 0 auto 4px auto;
		font-size: 20px;
		height: 60px;
		border-radius: 8px;
		&__title {
			font-size: 16px;
		}
	}
	.info-text {
		font-size: 16px;
		font-family: $roboto_regular;
	}
	app-draws-buttons.ttc-draws {
		margin: 0 auto 16px auto;
		::ng-deep {
			.dbc-draw {
				height: 60px;
			}
			.draws-buttons-container {
				padding-bottom: 0;
			}
		}
	}
	.common-title {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.register-bet-button {
		max-width: 464px;
	}
	.unique-switcher {
		// из-за этого может налазить по вертикали, но так было в дизайне
		padding-bottom: 130px;
	}
}

@media screen and (max-width: 639px) {

	.lottery-container {
		padding: 12px 8px 10px 8px;
	}

	.lott-grid {
		grid-template: auto / 1fr;
		align-content: space-between;
		margin-left: 0;
	}
	.left-cell {
		grid-row-start: auto;
		grid-row-end: auto;
		align-content: center;
		padding-top: 0;
	}
	.rt-cell {
		display: grid;
	}
	app-buttons-group.ttc-bg-draws {
		overflow: hidden;
		margin-right: -8px;
		margin-bottom: 0;
		height: 75px;
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 16px;
					margin-bottom: 10px;
				}
				&__items_theme_gold {
					grid-column-gap: 8px;
					column-gap: 8px;
				}
				&__item_theme_gold {
					width: 56px;
					height: 46px;
					font-size: 24px;
				}
			}
		}
	}
	.goto-results {
		width: 240px;
		height: 44px;
		justify-self: end;
		margin-bottom: 30px;
	}
	app-msl-game-logo.logo-in-lottery {
		top: 22px;
		::ng-deep {
			.game-logo__image {
				height: 22px;
			}
		}
	}
	.switcher {
		border-width: 1px;
		border-radius: 8px;
		height: 44px;
		font-size: 16px;
		max-width: 328px;
		margin: 0 auto;
	}
	app-buttons-group.ttc-bg-bets {
		overflow: hidden;
		margin-right: -8px;
		height: 75px;
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 16px;
					&_theme {
						&_square-radial {
							padding-right: 8px;
						}
					}
				}
				&__items {
					&_theme {
						&_square-radial {
							grid-template-columns: repeat(10, 1fr);
							justify-content: start;
							grid-column-gap: 8px;
							column-gap: 8px;
						}
					}
				}
				&__item {
					width: 56px;
					height: 46px;
					font-size: 24px;
				}
			}
		}
	}

	.ttc-bg-unique {
		border-width: 1px;
		max-width: 328px;
		margin: 0 auto 4px auto;
		font-size: 16px;
		height: 44px;
		border-radius: 8px;
		&__title {
			font-size: 16px;
			margin-bottom: 8px;
		}
	}
	.info-text {
		font-size: 16px;
		font-family: $roboto_regular;
	}
	app-draws-buttons.ttc-draws {
		margin: 0 auto;
		::ng-deep {
			.dbc-draws {
				margin: 0 auto;
			}
			.dbc-draw {
				height: 60px;
			}
			.draws-buttons-container {
				padding-bottom: 0;
			}
		}
	}
	.common-title {
		font-size: 16px;
		margin-bottom: 8px;
	}
	.register-bet-button {
		max-width: 464px;
		height: 44px;
	}
	.unique-switcher {
		padding-bottom: 40px;
	}
}

@media screen and (max-width: 479px) {
	.lottery-container {
		padding: 8px 8px 10px 8px;
	}

	.lott-grid {
		grid-template: auto / 1fr;
		align-content: space-between;
		margin-left: 0;
	}
	.left-cell {
		grid-row-start: auto;
		grid-row-end: auto;
		align-content: center;
		padding-top: 0;
	}
	.rt-cell {
		display: grid;
	}
	app-buttons-group.ttc-bg-draws {
		overflow: hidden;
		margin-right: -8px;
		margin-bottom: 0;
		height: 75px;
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 15px;
					margin-bottom: 4px;
				}
				&__items_theme_gold {
					grid-column-gap: 8px;
					column-gap: 8px;
				}
				&__item {
					width: 48px;
					height: 42px;
					border-radius: 4px;
					font-size: 24px;
				}
			}
		}
	}
	.goto-results {
		width: 200px;
		height: 32px;
		justify-self: end;
		margin-bottom: 16px;
		font-size: 11px;
	}
	app-msl-game-logo.logo-in-lottery {
		top: 12px;
		::ng-deep {
			.game-logo__image {
				height: 22px;
			}
		}
	}
	.switcher {
		border-width: 1px;
		border-radius: 4px;
		height: 32px;
		font-size: 12px;
		max-width: 272px;
		margin: 0 auto;
	}
	app-buttons-group.ttc-bg-bets {
		overflow: hidden;
		margin-right: -8px;
		::ng-deep {
			.buttons-group {
				&__title {
					&_theme {
						&_square-radial {
							margin-bottom: 4px;
							padding-right: 8px;
						}
					}
				}
				&__items {
					&_theme {
						&_square-radial {
							grid-template-columns: repeat(10, 1fr);
							justify-content: start;
							grid-column-gap: 8px;
							column-gap: 8px;
						}
					}
				}
				&__item {
					width: 48px;
					height: 42px;
					border-radius: 4px;
					font-size: 24px;
				}
			}
		}
	}

	.ttc-bg-unique {
		border-width: 1px;
		max-width: 272px;
		margin: 0 auto 4px auto;
		font-size: 12px;
		height: 32px;
		border-radius: 4px;
		&__title {
			font-size: 12px;
			margin-bottom: 4px;
		}
	}
	.info-text {
		font-size: 12px;
		font-family: $roboto_regular;
	}
	app-draws-buttons.ttc-draws {
		margin: 0 auto;
		::ng-deep {
			.dbc-draws {
				margin: 0 auto;
			}
			.dbc-draw {
				height: 44px;
			}
			.draws-buttons-container {
				padding-bottom: 0;
			}
		}
	}
	.common-title {
		font-size: 15px;
		margin-bottom: 4px;
	}
	.register-bet-button {
		height: 44px;
	}
	.unique-switcher {
		padding-bottom: 0;
	}
}
