<div class="lottery-container">

	<app-msl-game-logo class="logo-in-lottery" [gameCode]="LotteryGameCode.Tip"></app-msl-game-logo>

	<div class="lott-grid">
		<div class="one-nearest-draw">
			<!-- БЛИЖАЙШИЙ ТИРАЖ -->
			<div class="common-title">{{ 'lottery.tiptop.nearest_draw' | translate }}</div>
			<app-draws-buttons
				*ngIf="betsData.lotteryType === 'tip'"
				class="ttc-draws"
				[remainingString]="'draws-buttons.register_end'"
				[drawsToShow]="1"
				[draws]="nearestDraws['tip']?.draws || betsData.draws">
			</app-draws-buttons>
			<app-draws-buttons
				*ngIf="betsData.lotteryType==='top'"
				class="ttc-draws"
				[remainingString]="'draws-buttons.register_end'"
				[drawsToShow]="1"
				[draws]="nearestDraws['top']?.draws || betsData.draws">
			</app-draws-buttons>
		</div>
		<div class="rt-cell">
			<button type="button"
					class="button button_theme_gold goto-results"
					[routerLink]="tiptopLotteryService.resultsUrl"
			>
				{{ 'lottery.results' | translate }} "{{ 'lottery.tiptop.game_name' | translate }}"
			</button>

			<app-switch-button
				class="switcher"
				[value]="betsData.lotteryType"
				[values]="[TiptopLotteryService.Tip, TiptopLotteryService.Top]"
				[titles]="['lottery.tiptop.game_tip_name' | translate, 'lottery.tiptop.game_top_name' | translate]"
				(changed)="onSelectedLotteryTypeHandler($event)"
			></app-switch-button>
		</div>

		<!-- ТИРАЖИ -->
		<app-buttons-group
			#drawsComponent
			class="ttc-bg-draws"
			[workMode]="ButtonGroupMode.range_deselect_2"
			[buttonGroupLabel]="'lottery.tiptop.draws_count' | translate | uppercase"
			[buttonsCount]="tiptopLotteryService.DRAWS_COUNT"
			[enabledButtonsCount]="betsData.draws?.length"
			[buttonGroupStyle]="ButtonGroupStyle.button_gold"
			(clickButton)="onSelectedTipTopDrawsHandler($event)"
			[titleBlinking]="!betsData.drawsCount"
		>
		</app-buttons-group>

		<!-- СТАВКИ -->
		<app-buttons-group
			#betsComponent
			class="ttc-bg-bets"
			[workMode]="ButtonGroupMode.range_deselect_2"
			[buttonGroupLabel]="'lottery.tiptop.bets_count' | translate | uppercase"
			[buttonsCount]="tiptopLotteryService.BETS_COUNT"
			[buttonGroupStyle]="ButtonGroupStyle.outline_square_radial_fill"
			(clickButton)="onSelectedTipTopBetsHandler($event)"
			[titleBlinking]="!betsData.betsCount"
		>
		</app-buttons-group>

		<!-- ОДИНАКОВЫЕ КОМБИНАЦИИ -->
		<div class="unique-switcher">
			<div class="common-title">{{ 'lottery.tiptop.comb_type' | translate }}</div>
			<div class="ttc-bg-unique" [class.ttc-bg-unique_disabled]="betsData.drawsCount < 2">
				<label class="ttc-bg-unique__item">
					<input type="radio"
						   class="ttc-bg-unique__input"
						   [value]="0"
						   [attr.disabled]="(betsData.drawsCount < 2) || null"
						   [(ngModel)]="betsData.isUnique"
						   (ngModelChange)="onChangeUniqueModeHandler()"
					>
					<span class="ttc-bg-unique__title ttc-bg-unique__title_first"
						  [class.ttc-bg-unique__title_disabled]="betsData.drawsCount < 2"
					>{{ 'lottery.tiptop.different_combinations' | translate }}</span>
				</label>
				<label class="ttc-bg-unique__item">
					<input type="radio"
						   class="ttc-bg-unique__input"
						   [value]="1"
						   [attr.disabled]="(betsData.drawsCount < 2) || null"
						   [(ngModel)]="betsData.isUnique"
						   (ngModelChange)="onChangeUniqueModeHandler()"
					>
					<span class="ttc-bg-unique__title ttc-bg-unique__title_last"
						  [class.ttc-bg-unique__title_disabled]="betsData.drawsCount < 2"
					>{{ 'lottery.tiptop.same_combinations' | translate }}</span>
				</label>
			</div>
			<div class="info-text" [class.info-text_hidden]="betsData.drawsCount >= 2">
				{{ 'lottery.tiptop.on_2_or_more_draws' | translate }}
			</div>
		</div>

		<div class="fake-block"></div>
		<div class="fake-block"></div>

		<!-- КНОПКА РЕГИСТРАЦИИ СТАВКИ -->
		<app-register-bet-button
			class="register-bet-button"
			[amount]="betsData.amount"
			[isDisabled]="!buyEnabled"
			(action)="tiptopLotteryService.goToRegistryPage()"
		>
		</app-register-bet-button>
	</div>

</div>
