@import "variables";

.modal-alt-title {
	color: $msl_main_text_color;
	font-size: 46px;
}

.modal-buttons-container {
	flex-direction: row;
}

.modal-button {
	width: 50%;
	height: 80px;
	&_back {
		margin-right: 10px;
		font-size: 36px;
		font-family: $roboto_medium;
	}
	&_confirm {
		margin-left: 10px;
	}
}

.reason-dropdown {
	display: flex;
	margin-top: 20px;
}

.reason-input {
	::ng-deep {
		input {
			text-align: center;
		}
	}
}

.modal-text {
	display: none;
	text-align: center;
	font-size: 24px;
}

@media screen and (max-width: 1139px) {
	.modal-dialog-container {
		padding: 16px 40px;
		max-width: 540px;
	}
	.modal-text {
		display: block;
		font-size: 18px;
	}

	.modal-alt-title {
		margin-bottom: 16px;
		font-size: 30px;
	}

	.modal-alt-message, .modal-alt-extra-message, .modal-alt-extra, .modal-alt-code {
		font-size: 18px;
		font-family: $roboto_regular;
	}

	.reason-dropdown {
		margin-top: 12px;
	}

	.modal-button {
		width: 180px;
		height: 44px;
		font-size: 18px;
		border-width: 1px;
	}
	.modal-buttons-container {
		margin-top: 20px;
		justify-content: space-between;
	}
}

@media screen and (max-width: 639px) {
	.modal-dialog-container {
		padding: 4px 16px;
		max-width: 376px;
	}
	.modal-alt-title {
		font-size: 24px;
		font-family: $roboto_bold;
		margin: 8px 0;
	}
	.modal-text {
		margin: 8px 0;
		font-size: 14px;
	}

	.modal-alt-message, .modal-alt-extra-message, .modal-alt-extra, .modal-alt-code {
		font-size: 14px;
	}
	.reason-dropdown {
		margin-bottom: 12px;
	}
	.modal-buttons-container {
		margin: 8px 0;
	}
	.modal-button {
		width: 150px;
		font-size: 16px;
	}
}

@media screen and (max-width: 479px) {
	.modal-dialog-container {
		padding: 4px;
		max-width: 352px;
	}
	.modal-alt-title {
		font-size: 24px;
		font-family: $roboto_bold;
		margin: 8px 0;
	}
	.modal-text {
		margin: 8px 0;
		font-size: 14px;
	}
	.reason-dropdown {
		margin-bottom: 12px;
	}
	.modal-buttons-container {
		margin: 8px 0;
	}
	.modal-button {
		width: 150px;
	}
}
