@import 'variables';

:host {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	padding: 5px;
}

.scanner-block {
	width: 100%;
	height: 100%;
}

.error {
	color: $msl_error;
}

.barcode-scanner {
	height: 100%;
	display: block;
	::ng-deep {
		.drawingBuffer {
			display: none;
		}

		.scanner {
			display: block;
			height: 100%;
			video {
				display: block;
				transform: translateY(-50%);
				position: absolute;
				top: 50%;
			}
		}
	}
}

.scanner-component {
	display: none;
	position: relative;
	height: 100%;
	&_shown {
		display: block;
		grid-template-rows: 1fr auto;
		grid-row-gap: 12px;
		row-gap: 12px;
	}
}

.cameras-selector {
	position: absolute;
	right: 12px;
	bottom: 12px;
	display: block;
}

.scandit-barcode-picker {
	::ng-deep {
		.scandit-barcode-picker {
			display: block;
			transform: translateY(-50%);
			position: absolute;
			top: 50%;
		}
		//.scandit-video {
		//	object-fit: cover !important;
		//}
	}
}

.cameras-list {
	margin-top: 10px;
	background: #FFFFFF;
	border: 1px solid $msl_border_1;
	width: 100%;
	color: $msl_main_text_color;
}

.wrapper {
	border-radius: var(--wrapper-radius, 8px);
	overflow: hidden;
	height: 100%;
}

.loading {
	background: url('/assets/img/preloader.gif') no-repeat center center / auto auto;
}

.hidden {
	height: 0;
	overflow: hidden;
}

.bc-reader {
	top: 50%;
	transform: translateY(-50%);
}

.scanner-variant {
	// display: none;
	margin-top: 8px;
	width: 100%;
	&__title {
		margin-bottom: 4px;
		display: block;
		color: $msl_main_text_color;
	}
	&__select {
		width: 100%;
		border: 1px solid $msl_border_1;
		color: $msl_main_text_color;
	}
}

.scanner-error {
	background: #FFFFFF;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	color: $msl_error;
}
