<div class="spoiler-header"
	 [class.spoiler-header_opened]="opened"
	 (click)="changeState()"
	 data-cy="spoiler-header"
>
	{{ title }}
	<i *ngIf="!crossMark"
	   class="material-icons spoiler-arrow"
	   [class.spoiler-arrow_opened]="opened"
	>keyboard_arrow_up</i>
	<app-close-button
		*ngIf="crossMark && opened"
		class="close-button"
		data-cy="close-button"
		(click)="closeClick()"
	></app-close-button>
</div>
<div id="spoiler-body"
	 class="spoiler-body"
	 [class.spoiler-body_opened]="opened"
	 data-cy="spoiler-body"
>
	<ng-content></ng-content>
</div>
