@import 'variables';

:host {
	display: grid;
	grid-template: 1fr 0 / auto;

	border: 2px solid $msl_inactive_color;
	border-radius: 8px;

	width: 100%;
	height: 100%;
	max-height: 45px;

	transition: max-height 0.3s ease 0s;
	overflow: hidden;
	font-size: 24px;
}

:host(.opened) {
	grid-template: auto minmax(0px, 1fr) / auto;
	max-height: 1080px;
}

.spoiler-header {
	text-align: center;
	font-size: inherit;
	font-family: $roboto_regular;
	padding: 5px 50px;
	color: $msl_base_green;
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFFFFF;
	&_opened {
		font-family: $roboto_medium;
	}
}

.close-button {
	position: absolute;
	top: 12px;
	right: 14px;
	width: 16px;
	height: 16px;
}

.spoiler-arrow {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%) rotate(180deg);
	transition: transform 0.3s ease 0s;
	&_opened {
		transform: translateY(-50%) rotate(0deg);
	}
}

.spoiler-body {
	overflow: hidden;
	&_opened {
		padding: 0 10px 10px 10px;
	}
}

@media screen and (max-width: 360px) {
	.close-button {
		width: 12px;
		height: 12px;
	}
	.spoiler-header {
		padding: 5px 30px;
	}
	.spoiler-arrow {
		right: 5px;
	}
}
