<div class="lottery-container {{ currentPage }}"
	 data-cy="lottery-container"
>

	<app-msl-game-logo	*ngIf="currentPage === 'init' || currentPage === 'blanks' "
						class="logo-in-lottery"
					   	[gameCode]="LotteryGameCode.Zabava"
					   	data-cy="logo-in-lottery"
	></app-msl-game-logo>

	<div class="lott-grid lott-grid_{{ currentPage }}" data-cy="lott-grid">

		<ng-container *ngIf="currentPage === 'init' || currentPage === 'blanks'">
			<div class="lt-cell lt-cell_{{ currentPage }}" data-cy="lt-cell">
				<div class="mega-items"
					 data-cy="mega-items"
				>
					<div *ngIf="jackpot"
						 class="mega-item"
						 data-cy="mega-item"
					>
					<span class="mega-item__lbl"
						  data-cy="mega-item-lbl"
					>{{ 'lottery.zabava.jackpot' | translate }}: </span>
						<span class="mega-item__val"
							  data-cy="mega-item-val"
						>{{ jackpot }}
							{{ 'lottery.uah' | translate | lowercase }}
					</span>
					</div>
				</div>
			</div>

			<div class="rt-cell rt-cell_{{ currentPage }}" data-cy="rt-cell">
				<button type="button"
						class="button button_theme_gold goto-results"
						routerLink="/lotteries/zabava-lottery/results"
						data-cy="goto-results"
				>
					{{ 'lottery.results' | translate }} "{{ 'lottery.zabava.loto_zabava' | translate }}"
				</button>
			</div>
		</ng-container>

		<div *ngIf="currentPage !== 'init'" class="outlet-wrapper" data-cy="outlet-wrapper">
			<router-outlet></router-outlet>
		</div>

		<ng-container *ngIf="currentPage === 'init'">
			<div class="lb-cell"
				 [class.lb-cell_one]="zabavaLotteryService?.visibleDraws?.length === 1"
				 data-cy="lb-cell"
			>
				<div class="zc-draws-group" data-cy="zc-draws-group">
					<div *ngIf="zabavaLotteryService.currentDraw?.draw?.num"
						 class="common-title"
						 data-cy="common-title"
					>
						{{ 'lottery.zabava.nearest_draws' | translate }}
					</div>

					<!-- ТИРАЖИ -->
					<app-draws-list
						class="draws-buttons"
						data-cy="draws-buttons"
						[draws]="zabavaLotteryService?.visibleDraws || []"
						[remainingString]="'draws-buttons.register_end'"
						[alwaysShowTimeLeft]="true"
						[(ngModel)]="zabavaLotteryService.currentDraw"
						(ngModelChange)="onSelectedDrawHandler($event)"
						(newSelectedDraw)="onSelectedDrawHandler($event)"
						(noActiveDraws)="onNoActiveDrawsHandler()"
					>
					</app-draws-list>

					<div class="zc-summary zc-summary_active"
						 data-cy="zc-summary"
					>
						{{ 'lottery.selected_draw' | translate }}:
						<span class="zc-summary__value"
							  data-cy="zc-summary-value"
						>{{ zabavaLotteryService.currentDraw?.draw?.num || '-' }}</span>
					</div>

					<div
						class="zc-summary"
						[ngClass]="{'zc-summary_active': zabavaLotteryService.betData && zabavaLotteryService.betData.betsCount > 0}"
						data-cy="zc-summary"
					>
						{{ 'lottery.zabava.zabava_tickets' | translate }}:
						<span class="zc-summary__value" data-cy="zc-summary-value">
				{{ zabavaLotteryService.betData?.betsCount || 0 }}
			</span>
					</div>

					<div
						class="zc-summary"
						[ngClass]="{'zc-summary_active': zabavaLotteryService.betData && zabavaLotteryService.betData.pairsCount > 0}"
						data-cy="zc-summary"
					>
						{{ 'lottery.zabava.pair' | translate }}:
						<span class="zc-summary__value" data-cy="zc-summary-value">
				{{ zabavaLotteryService.betData?.pairsCount || 0 }}
			</span>
					</div>

					<div *ngIf="false"
						 class="zc-summary"
						 [ngClass]="{'zc-summary_active': zabavaLotteryService.betData && zabavaLotteryService.betData.hasExtraGame}"
						 data-cy="zc-summary"
					>
						{{ 'lottery.zabava.rich_and_famous' | translate }}:
						<span class="zc-summary__value" data-cy="zc-summary-value">
						{{ zabavaLotteryService.betData?.hasExtraGame ? ('lottery.zabava.yes' | translate) : ('lottery.zabava.no' | translate) }}
					</span>
					</div>
				</div>

				<button class="button button_theme_light-green scan-blanks-button"
						type="button"
						routerLink="/lotteries/zabava-lottery/blanks"
						data-cy="scan-blanks-button"
				>{{ 'lottery.scan_blanks' | translate }}</button>

			</div>

			<div class="rb-cell" data-cy="rb-cell">
				<div class="bet-settings"
					 data-cy="bet-settings"
				>

					<!-- БИЛЕТЫ -->
					<div class="zc-bg-tickets-wrp"
						 data-cy="zc-bg-tickets-wrp"
					>
						<app-buttons-set *ngIf="zabavaLotteryService"
							#ticketsComponent
							class="zc-bg-tickets"
							data-cy="zc-bg-tickets"
							[buttons]="[
										{v: 1, t: '1'}, {v: 2, t: '2'}, {v: 3, t: '3'}, {v: 4, t: '4'}, {v: 5, t: '5'},
										{v: 6, t: '6'}, {v: 7, t: '7'}, {v: 8, t: '8'}, {v: 9, t: '9'}, {v: 10, t: '10'}
										]"
							[(ngModel)]="zabavaLotteryService.betsCount"
							(ngModelChange)="onBetsCountChange($event)"
							[workMode]="ButtonGroupMode.range_deselect_2"
							[buttonSetLabel]="'lottery.zabava.zabava_tickets' | translate | uppercase"
							[buttonSetStyle]="ButtonGroupStyle.outline_square_radial_fill"
							[titleBlinking]="!zabavaLotteryService.betData.betsCount"
						>
						</app-buttons-set>
					</div>

					<!-- ПАРОЧКИ -->
					<app-buttons-set *ngIf="zabavaLotteryService"
						#pairsComponent
						class="zc-bg-pairs"
						data-cy="zc-bg-pairs"
						[style.display]="zabavaLotteryService.isVisiblePairs ? 'inherit' : 'none'"
						[buttons]="[{v: 1, t: '1'}, {v: 2, t: '2'}, {v: 3, t: '3'}, {v: 4, t: '4'}, {v: 5, t: '5'}]"
						[(ngModel)]="zabavaLotteryService.betData.pairsCount"
						(ngModelChange)="zabavaLotteryService.refreshBets()"
						[workMode]="ButtonGroupMode.range_deselect_2"
						[buttonSetLabel]="'lottery.zabava.pair' | translate | uppercase"
						[buttonSetStyle]="ButtonGroupStyle.button_hexagonal"
					>
					</app-buttons-set>

					<!-- УЧАСТИЕ В СТУДИИ -->
					<app-buttons-group
						#studioComponent
						class="zc-bg-studio"
						data-cy="zc-bg-studio"
						[style.display]="zabavaLotteryService.isVisibleStudio && false ? 'inherit' : 'none'"
						[workMode]="ButtonGroupMode.custom"
						[buttonsCount]="1"
						[isNeededTranslation]="true"
						[labelsArray]="['lottery.zabava.rich_and_famous']"
						[buttonGroupStyle]="ButtonGroupStyle.outline_square_radial_fill"
						(clickButton)="onChangeStudioHandler($event)"
					>
					</app-buttons-group>
				</div>

				<!-- КНОПКА РЕГИСТРАЦИИ СТАВКИ -->
				<app-register-bet-button
					class="register-bet-button"
					data-cy="register-bet-button"
					[amount]="zabavaLotteryService.amount"
					(action)="zabavaLotteryService.goToRegistryPage({source: BetDataSource.Manual})"
					[isDisabled]="!zabavaLotteryService.amount"
				>
				</app-register-bet-button>
			</div>

		</ng-container>

	</div>

</div>
