@import 'variables';
@import "lotteries-common";

:host {
	display: block;
	height: 100%;
}

.zc-summary {
	font-size: 36px;
	color: $msl_placeholder_text_color;
	margin-bottom: 10px;

	&_active {
		color: $msl_main_text_color;
	}

	&__value {
		font-family: $roboto_medium;
	}
}

// -----------------------------------------
//  Тиражи
// -----------------------------------------
app-draws-list {
	margin-bottom: 30px;
	display: block;
}

// -----------------------------------------
//  Кнопка Богатые и известные
// -----------------------------------------

.zc-bg-studio {
	::ng-deep {
		.buttons-group {
			&__items {
				&_theme_square-radial {
					grid-template-columns: 1fr;
				}
			}
			&__item {
				&_theme_square-radial {
					width: 100%;
					text-transform: uppercase;
					font-size: 36px;
					height: 80px;
				}
			}
		}
	}
}

.lott-grid {
	display: grid;
	grid-template: auto auto / 540px 600px;
	grid-gap: 30px 10px;
	gap: 30px 10px;
	justify-content: space-between;
	margin-left: 360px;
	height: 100%;
	&_blanks {
		grid-template: auto 1fr / 540px 600px;
	}
	&_results, &_registry {
		display: block;
		height: 100%;
	}
}

.bet-settings {
	grid-row-gap: 85px;
	row-gap: 85px;
}

.scan-blanks-button {
	height: 80px;
	font-size: 30px;
	color: $msl_main_text_color;
	font-family: $roboto_bold;
}

.outlet-wrapper {
	grid-column-start: 1;
	grid-column-end: 3;
	margin-left: -360px;
	height: 100%;
}

.lb-cell {
	display: grid;
	grid-template-rows: auto auto;
	align-content: space-between;
	grid-row-gap: 30px;
	row-gap: 30px;
}

.hidden {
	display: none;
}

@media screen and (max-width: 1919px) {
	.lottery-container {
		padding: 14px 0 10px 0;
	}
	app-msl-game-logo.logo-in-lottery {
		top: 14px;
		::ng-deep {
			.game-logo {
				&__image {
					width: 65px;
					height: 65px;
				}
				&__title {
					font-size: 24px;
				}
			}
		}
	}

	.lott-grid {
		grid-template: auto auto / 468px 468px;
		margin-left: 176px;
		&_blanks {
			grid-template: auto 1fr / 468px 468px;
		}
	}

	.outlet-wrapper {
		margin-left: -176px;
	}

	.mega-item {
		margin: 20px 0;

		&__lbl, &__val {
			font-size: 24px;
		}
	}
	.common-title {
		font-size: 24px;
		margin-bottom: 10px;
	}
	.goto-results {
		height: 66px;
		font-family: $roboto_bold;
		font-size: 24px;
	}

	.zc-bg-tickets {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 24px;
					font-family: $roboto_medium;
					margin-bottom: 10px;
				}
				&__items {
					grid-gap: 10px;
					gap: 10px;
				}
				&__item {
					width: 84px;
					height: 70px;
					font-size: 36px;
					font-family: $roboto_medium;
				}
			}
		}
	}

	.zc-bg-pairs {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 24px;
					margin-bottom: 10px;
				}
				&__item {
					font-family: $roboto_medium;
					width: 80px;
					height: 94px;
					font-size: 36px;
				}
			}
		}
	}

	.zc-bg-studio {
		::ng-deep {
			.buttons-group {
				&__item {
					&_theme_square-radial {
						height: 70px;
					}
				}
			}
		}
	}

	app-draws-list.draws-buttons {
		::ng-deep {
			.dbc-draw {
				height: 70px;
			}
		}
	}

	.bet-settings {
		grid-row-gap: 30px;
		row-gap: 30px;
	}

	.scan-blanks-button {
		font-size: 24px;
		height: 70px;
	}
}

@media screen and (max-width: 1365px) {
	.lottery-container {
		padding: 12px 0 10px 0;
	}

	.lott-grid {
		display: grid;
		grid-template: auto auto / 464px 400px;
		grid-gap: 20px 10px;
		gap: 20px 10px;
		justify-content: space-between;
		margin-left: 120px;
		height: 100%;
		&_blanks {
			grid-template: auto 1fr / 464px 400px;
		}
		&_results, &_registry {
			display: block;
		}
	}

	.outlet-wrapper {
		margin-left: -120px;
	}

	.zc-bg-tickets {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 24px;
					font-family: $roboto_medium;
					margin-bottom: 15px;
				}
				&__items {
					grid-gap: 15px;
					gap: 15px;
					grid-template-columns: repeat(5, 1fr);
				}
				&__item {
					width: 66px;
					height: 55px;
					font-size: 36px;
					font-family: $roboto_medium;
				}
			}
		}
	}

	.zc-bg-pairs {
		::ng-deep {
			.buttons-group {
				&__item {
					font-family: $roboto_medium;
					width: 67px;
					height: 75px;
					font-size: 36px;
				}
			}
		}
	}

	.bet-settings {
		grid-row-gap: 45px;
		row-gap: 45px;
	}

	.zc-bg-studio {
		::ng-deep {
			.buttons-group {
				&__item {
					&_theme_square-radial {
						font-size: 24px;
						height: 60px;
					}
				}
			}
		}
	}
	.zc-summary {
		font-size: 30px;
	}

	app-draws-list.draws-buttons {
		::ng-deep {
			.dbc-number {
				font-size: 36px;
				margin-left: 5px;
				margin-right: 35px;
			}
			.dbc-date {
				font-size: 24px;
			}
			.dbc-time-left {
				font-size: 18px;
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	app-msl-game-logo.logo-in-lottery {
		top: 12px;
		left: 4px;
		::ng-deep {
			.game-logo {
				&__image {
					width: 40px;
					height: 40px;
				}
				&__title {
					font-size: 18px;
				}
			}
		}
	}
	.goto-results {
		font-size: 18px;
		height: 44px;
		font-family: $roboto_medium;
		font-weight: normal;
	}

	.scan-blanks-button {
		font-size: 18px;
		height: 60px;
		font-family: $roboto_medium;
		font-weight: 400;
	}

	.zc-bg-tickets {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 18px;
					margin-bottom: 5px;
				}
				&__items {
					grid-gap: 8px;
					gap: 8px;
					grid-template-columns: repeat(10, 1fr);
				}
				&__item {
					width: 52px;
					height: 44px;
					font-size: 24px;
				}
			}
		}
	}

	.zc-bg-pairs {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 18px;
					margin-bottom: 5px;
				}
				&__items {
					display: grid;
					grid-row-gap: 0;
					row-gap: 0;
					grid-column-gap: 15px;
					column-gap: 15px;
					grid-template-columns: repeat(5, auto);
					justify-content: center;
				}
				&__item {
					width: 43px;
					height: 60px;
					font-size: 24px;
				}
			}
		}
	}

	.lott-grid {
		grid-template-columns: 320px 300px;
		margin-left: 130px;
	}

	.outlet-wrapper {
		margin-left: -130px;
	}

	.lott-grid, .bet-settings, .rb-cell {
		grid-row-gap: 10px;
		row-gap: 10px;
	}

	.zc-summary {
		display: none;
	}
	app-draws-list.draws-buttons {
		::ng-deep {
			.dbc-draw {
				height: 60px;
			}
			.dbc-number {
				font-size: 24px;
				margin-right: 20px;
			}
			.dbc-date {
				font-size: 18px;
			}
			.dbc-time-left {
				font-size: 14px;
			}
		}
	}
	.zc-bg-tickets-wrp {
		overflow: hidden;
		margin-right: -8px;
	}
	.zc-bg-studio {
		::ng-deep {
			.buttons-group {
				&__item {
					&_theme_square-radial {
						font-size: 18px;
						height: 44px;
					}
				}
			}
		}
	}

	.mega-item {
		margin: 3px 0;
		&__lbl, &__val {
			font-size: 18px;
		}
	}
	.common-title {
		font-size: 18px;
		margin-bottom: 5px;
	}
	.register-bet-button {
		height: 44px;
	}
}

@media screen and (max-width: 853px) {
	.lottery-container {
		padding: 20px 12px 10px 12px;
	}

	app-msl-game-logo.logo-in-lottery {
		left: 12px;
		::ng-deep {
			.game-logo {
				&__left {
					margin-right: 15px;
				}
				&__image {
					width: 67px;
					height: 67px;
				}
				&__title {
					font-size: 24px;
				}
			}
		}
	}

	.goto-results {
		width: 464px;
		height: 60px;
		font-size: 24px;
	}

	.scan-blanks-button {
		margin-left: auto;
		margin-right: auto;
		max-width: 300px;
		width: 100%;
		display: block;
		margin-top: 15px;
	}

	.mega-item {
		margin: 0;
		&__lbl, &__val {
			font-size: 24px;
		}
	}

	.lott-grid {
		grid-template-columns: 1fr;
		grid-template-areas: "a1" "a2" "a3";
		margin-left: 0;
		grid-row-gap: 0;
		row-gap: 0;
	}
	.lt-cell {
		grid-area: a1;
		padding-top: 84px;
		&_blanks {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
	.rt-cell {
		justify-self: end;
		grid-area: a1;
		width: 100%;
		max-width: 464px;
		&_blanks {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}

	.lb-cell {
		overflow: hidden;
		margin-right: -10px;
		&_one {
			margin-right: 0;
		}
	}
	.rb-cell {
		grid-template-rows: 1fr auto;
		grid-row-gap: 30px;
		row-gap: 30px;
	}

	.draws-buttons {
		margin-bottom: 0;
	}

	.zc-bg-tickets-wrp {
		margin-right: 0;
		grid-area: b1;
	}

	app-buttons-set.zc-bg-tickets {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 24px;
					margin-bottom: 15px;
				}
				&__items {
					grid-template-columns: repeat(5, 84px);
					grid-gap: 11px;
					gap: 11px;
					justify-content: center;
				}
				&__item {
					width: 84px;
					height: 70px;
					font-size: 36px;
				}
			}
		}
	}

	.bet-settings {
		grid-template-areas: "b1" "b2";
		grid-template-rows: auto auto;
		grid-row-gap: 30px;
		row-gap: 30px;
	}

	app-buttons-set.zc-bg-pairs {
		grid-area: b2;
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 24px;
					margin-bottom: 15px;
				}
				&__item {
					width: 81px;
					height: 90px;
					margin: 0;
					font-size: 36px;
				}
			}
		}
	}

	app-draws-list.draws-buttons {
		::ng-deep {
			.dbc-draw {
				height: 70px;
			}
			.dbc-number {
				font-size: 36px;
			}
			.dbc-date {
				font-size: 24px;
			}
			.dbc-time-left {
				font-size: 18px;
			}
		}
	}

	.zc-bg-studio {
		margin-top: 154px;
		grid-area: b2;
		::ng-deep {
			.buttons-group {
				&__item {
					&_theme_square-radial {
						max-width: 464px;
						border-radius: 8px;
						font-size: 24px;
						height: 60px;
					}
				}
			}
		}
	}

	.common-title {
		font-size: 24px;
		margin-bottom: 15px;
	}

	app-register-bet-button.register-bet-button {
		height: 60px;
		max-width: 640px;
	}

	.outlet-wrapper {
		margin-left: 0;
	}
	.lb-cell {
		display: block;
	}
	.hidden {
		display: none;
	}
}

@media screen and (max-width: 839px) {
	.lottery-container {
		padding: 10px 12px;
	}
	app-msl-game-logo.logo-in-lottery {
		::ng-deep {
			.game-logo {
				&__left {
					margin-right: 8px;
				}
				&__image {
					width: 40px;
					height: 40px;
				}
				&__title {
					font-size: 18px;
				}
			}
		}
	}
	.rt-cell {
		max-width: 300px;
	}
	.lt-cell {
		padding-top: 50px;
	}
	.goto-results {
		width: 300px;
		height: 44px;
		font-size: 16px;
	}

	.mega-item {
		&__lbl, &__val {
			font-size: 16px;
		}
	}

	app-buttons-set.zc-bg-tickets {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 20px;
					margin-bottom: 12px;
				}
				&__items {
					grid-template-columns: repeat(5, 68px);
					grid-gap: 15px;
					gap: 15px;
					justify-content: center;
				}
				&__item {
					width: 68px;
					height: 56px;
					font-size: 36px;
				}
			}
		}
	}

	app-buttons-set.zc-bg-pairs {
		grid-area: b2;
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 20px;
					margin-bottom: 12px;
				}
				&__item {
					width: 68px;
					height: 76px;
					margin: 0;
					font-size: 36px;
				}
			}
		}
	}

	.zc-bg-studio {
		margin-top: 130px;
		::ng-deep {
			.buttons-group {
				&__item {
					&_theme_square-radial {
						border-radius: 8px;
						max-width: 400px;
						height: 60px;
					}
				}
			}
		}
	}
	app-draws-list.draws-buttons {
		::ng-deep {
			.common-title {
				margin-bottom: 12px;
			}
			.dbc-draw {
				height: 60px;
			}
			.dbc-number {
				font-size: 24px;
			}
			.dbc-date {
				font-size: 18px;
			}
			.dbc-time-left {
				font-size: 14px;
			}
		}
	}
	.common-title {
		font-size: 20px;
	}

	app-register-bet-button.register-bet-button {
		max-width: 464px;
	}
}

@media screen and (max-width: 639px) {
	.lottery-container {
		padding: 12px 8px 10px 8px;
	}

	.logo-in-lottery {
		::ng-deep {
			.game-logo {
				&__left {
					margin-right: 8px;
				}
				&__title {
					font-size: 14px;
				}
			}
		}
	}
	.lott-grid {
		grid-template-columns: 1fr;
		grid-template-areas: "a1" "a2" "a3";
		margin-left: 0;
		grid-row-gap: 0;
		row-gap: 0;
	}
	.lt-cell {
		grid-area: a1;
		padding-top: 60px;
		&_blanks {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
	.rt-cell {
		justify-self: end;
		grid-area: a1;
		max-width: 240px;
		&_blanks {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
	.goto-results {
		width: 240px;
		font-size: 16px;
		height: 44px;
	}
	.lb-cell {
		overflow: hidden;
		margin-right: -8px;
		&_one {
			margin-right: 0;
		}
	}
	.rb-cell {
		grid-template-rows: 1fr auto;
		grid-row-gap: 30px;
		row-gap: 30px;
	}

	.zc-draws-group {
		margin-bottom: 16px;
	}
	app-draws-list.draws-buttons {
		margin-bottom: 0;
		height: 60px;
		::ng-deep {
			.dbc-draws {
				&_one {
					margin: 0 auto;
				}
			}
		}
	}
	.common-title {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.zc-bg-tickets-wrp {
		margin-right: 0;
	}
	.bet-settings {
		grid-template-areas: "b1" "b2";
		grid-template-rows: auto auto;
		grid-row-gap: 30px;
		row-gap: 30px;
	}
	.zc-bg-tickets-wrp {
		grid-area: b1;
	}
	.zc-bg-pairs {
		grid-area: b2;
	}

	.mega-item {
		&__lbl, &__val {
			font-size: 14px;
		}
	}

	app-buttons-set.zc-bg-tickets {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 16px;
					margin-bottom: 10px;
				}
				&__items {
					grid-template-columns: repeat(5, 56px);
					grid-gap: 12px;
					gap: 12px;
					justify-content: center;
				}
				&__item {
					width: 56px;
					height: 46px;
					font-size: 24px;
				}
			}
		}
	}

	app-buttons-set.zc-bg-pairs {
		grid-area: b2;
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 16px;
					margin-bottom: 10px;
				}
				&__items {
					grid-column-gap: 12px;
					column-gap: 12px;
				}
				&__item {

					width: 56px;
					height: 60px;
					font-size: 24px;
				}
			}
		}
	}

	.zc-bg-studio {
		margin-top: 105px;
		grid-area: b2;
		::ng-deep {
			.buttons-group {
				&__item {
					&_theme_square-radial {
						max-width: 328px;
						border-radius: 4px;
						font-size: 18px;
						height: 44px;
					}
				}
			}
		}
	}

	app-register-bet-button.register-bet-button {
		height: 44px;
		margin: 0 auto;
		width: 100%;
	}
}

@media screen and (max-width: 479px) {
	.lottery-container {
		padding: 8px 8px 10px 8px;
	}

	app-msl-game-logo.logo-in-lottery {
		top: 8px;
		left: 8px;
		::ng-deep {
			.game-logo {
				&__left {
					margin-right: 6px;
				}
				&__image {
					width: 32px;
					height: 32px;
				}
				&__title {
					font-size: 12px;
				}
			}
		}
	}

	.lott-grid {
		grid-template: auto auto auto 1fr / 1fr;
		grid-template-areas: "a1" "a2" "a3" "a4";
		margin-left: 0;
		grid-row-gap: 0;
		row-gap: 0;
		&_blanks {
			grid-template: auto auto 1fr / 1fr;
			grid-template-areas: "a1" "a2" "a3";
			margin-left: 0;
			grid-row-gap: 0;
			row-gap: 0;
		}
	}
	.goto-results {
		width: 200px;
		height: 32px;
		font-size: 11px;
		border-radius: 4px;
	}

	.scan-blanks-button {
		height: 44px;
		font-size: 11px;
		border-radius: 4px;
		border-width: 1px;
		margin-left: 0;
		width: calc(100% - 8px);
		max-width: none;
		margin-top: 8px;
		margin-bottom: 8px;
	}

	.lt-cell {
		grid-area: a2;
		padding-top: 5px;
		&_blanks {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
	.rt-cell {
		grid-area: a1;
		justify-self: end;
		max-width: 200px;
		&_blanks {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
	.lb-cell {
		grid-area: a3;
		overflow: hidden;
	}
	.rb-cell {
		grid-area: a4;
		grid-template-rows: 1fr auto;
		grid-row-gap: 12px;
		row-gap: 12px;
	}
	.mega-items {
		font-size: 11px;
		margin-bottom: 12px;
	}
	.mega-item {
		font-size: 11px;
		margin: 5px 0;
		&__lbl, &__val {
			font-size: 11px;
		}
	}
	.zc-draws-group {
		margin-bottom: 8px;
	}
	.common-title {
		font-size: 15px;
		margin-bottom: 8px;
	}
	app-draws-list.draws-buttons {
		margin-bottom: 0;
		height: 44px;
		::ng-deep {
			.dbc-draw {
				height: 44px;
			}
			.dbc-number {
				font-size: 18px;
			}
			.dbc-date {
				font-size: 15px;
			}
			.dbc-time-left {
				display: none;
			}
		}
	}
	.bet-settings {
		grid-template-areas: "b1" "b2" "b3";
		grid-template-rows: auto auto auto;
		grid-row-gap: 10px;
		row-gap: 10px;
	}
	.zc-bg-tickets-wrp {
		grid-area: b1;
		margin-right: 0;
	}

	app-buttons-set.zc-bg-tickets {
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 15px;
					margin-bottom: 8px;
				}
				&__items {
					grid-template-columns: repeat(5, 48px);
					grid-gap: 8px;
					gap: 8px;
					justify-content: center;
				}
				&__item {
					width: 48px;
					height: 42px;
					font-size: 24px;
				}
			}
		}
	}

	app-buttons-set.zc-bg-pairs {
		grid-area: b2;
		::ng-deep {
			.buttons-group {
				&__title {
					font-size: 15px;
					margin-bottom: 8px;
				}
				&__items {
					grid-gap: 8px;
					gap: 8px;
				}
				&__item {
					width: 48px;
					height: 54px;
					font-size: 24px;
				}
			}
		}
	}

	.zc-bg-studio {
		margin-top: 0;
		grid-area: b3;
		::ng-deep {
			.buttons-group {
				&__item {
					max-width: 272px;
					&_theme_square-radial {
						font-size: 15px;
						height: 36px;
					}
				}
			}
		}
	}
}
