<div class="tml-bml-list-container" data-cy="tml-bml-list-container">
	<div class="bml-scroll webalt-scroll" data-cy="bml-scroll" #bmlScroll appContentScrolled>
		<!-- СПИСОК -->
		<div class="tblc-list" data-cy="tblc-list" [ngClass]="tmlBmlInputStoreService.currentRangeMode$$ | async">
			<div *ngFor="let intGameNumber of intGameNumbers; trackBy: trackByGameNumber"
				 class="tblc-list__group bml-group"
				 data-cy="bml-group"
			>
				<div class="bml-group__title" data-cy="bml-group-title">
					{{ groupedTicketsList[intGameNumber][0]?.draws?.draw.inst_lott_name }}
				</div>
				<div *ngFor="let item of groupedTicketsList[intGameNumber]; let i = index; trackBy: trackByTicketFn"
					class="bml-row"
					data-cy="bml-row"
				>
					<div class="cell cell_col_spacer-1" data-cy="cell"></div>
					<div class="cell cell_col_num" data-cy="cell" [class.cell_col_range]="item.bcFrom.ticketNumber !== item.bcTo.ticketNumber">
						{{ item.bcFrom.gameNumber }}-{{ item.bcFrom.ticketPackage }}-{{ item.bcFrom.ticketNumber }}{{ item.bcFrom.ticketNumber !== item.bcTo.ticketNumber ? '...' + item.bcTo.ticketNumber : '' }}
					</div>
					<div class="cell cell_col_spacer-2" data-cy="cell"></div>
					<div class="cell cell_col_count" data-cy="cell">
						{{ item.bcTo.ticketNumber - item.bcFrom.ticketNumber + 1 }}
					</div>
					<div class="cell cell_col_price" data-cy="cell">
						{{ item.draws?.draw?.bet_sum }}
					</div>
					<div class="cell cell_col_sum" data-cy="cell">
						{{ item.draws?.draw?.bet_sum * (item.bcTo.ticketNumber - item.bcFrom.ticketNumber + 1) | number:'.2-2' }}
					</div>
					<div class="cell cell_col_icon" data-cy="cell">
						<i class="material-icons close-icon" data-cy="close-icon" (click)="onDelete(item.bcFrom.barcode)">cancel</i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ЗАГОЛОВОК -->
	<div class="bml-row bml-row_header js-scroll-header" data-cy="bml-row">
		<div class="cell cell_header cell_col_spacer-1" data-cy="cell"></div>
		<div class="cell cell_header cell_col_num" data-cy="cell">{{ 'lottery.tmlbml.col_ticket_num' | translate }}</div>
		<div class="cell cell_header cell_col_spacer-2" data-cy="cell"></div>
		<div class="cell cell_header cell_col_count" data-cy="cell">{{ 'lottery.tmlbml.col_count_count' | translate }}</div>
		<div class="cell cell_header cell_col_price" data-cy="cell">{{ 'lottery.tmlbml.col_count_price' | translate }}</div>
		<div class="cell cell_header cell_col_sum" data-cy="cell">{{ 'lottery.tmlbml.col_sum' | translate }}</div>
		<div class="cell cell_header cell_col_icon" data-cy="cell"></div>
	</div>
	<div class="bml-row bml-row_footer" data-cy="bml-row">
		<div class="cell cell_col_spacer-1" data-cy="cell"></div>
		<div class="cell cell_col_num" data-cy="cell">----</div>
		<div class="cell cell_col_spacer-2" data-cy="cell"></div>
		<div class="cell cell_col_count" data-cy="cell">--</div>
		<div class="cell cell_col_price" data-cy="cell">--</div>
		<div class="cell cell_col_sum" data-cy="cell">--</div>
		<div class="cell cell_col_icon" data-cy="cell"></div>
	</div>
</div>
