@import 'variables';

:host {
	display: block;
	height: 100%;
}

.tml-bml-list-container {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr) auto;
	max-height: 100%;
	padding: 0 30px;
	margin-right: -5px;
}

.bml-row {
	display: grid;
	grid-template-columns: 0.16fr 300px 1fr 255px 115px 260px 60px;
	grid-column-gap: 5px;
	column-gap: 5px;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
	margin: 20px 0 17px 0;

	&_header {
		border-top-left-radius: 10px;
		order: 1;
	}
	&_footer {
		animation: blinker 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;
		font-size: 11px;
		order: 3;
	}
}

.cell {
	flex: 1;
	text-align: center;
	font-family: $roboto_regular;
	font-weight: normal;
	font-size: 24px;
	color: $msl_main_text_color;

	&_header {
		font-family: $roboto_medium;
		color: $msl_base_green;
		text-transform: uppercase;
	}

	&_col {
		padding-left: 8px;
		padding-right: 8px;
		&_num {

		}
		&_range {
		}
	}
}

.close-icon {
	color: $msl_error;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	font-size: 30px;
}

.bml-scroll {
	overflow-y: auto;
	padding-right: 5px;
	order: 2;
	&.content-scrolled {
		padding-right: 5px;
		& + .bml-row_header {
			padding-right: 25px;
			& + .bml-row_footer {
				padding-right: 25px;
			}
		}
	}

}

.tblc-list {
	&__group + &__group {
		margin-top: 8px;
	}
}

.bml-group {
	border: 1px solid $msl_base_green;
	border-radius: 8px;
	padding-top: 12px;
	padding-bottom: 6px;
	&__title {
		text-align: center;
		font-size: 24px;
		color: $msl_main_text_color;
		font-family: $roboto_medium;
	}
}

@media screen and (max-width: 1919px) {
	.bml-row {
		grid-template-columns: 0.28fr 210px 1fr 163px 85px 205px 60px;
		margin: 2px 0;
		&_header {
			margin: 14px 0 17px 0;
		}

	}
	.bml-group {
		padding-top: 12px;
		padding-bottom: 6px;
		&__title {
			font-size: 20px;
		}
	}
	.cell {
		font-size: 20px;
		&_header {
			font-size: 24px;
		}
	}

	.bml-scroll {
		overflow-y: auto;
		padding-right: 5px;
		order: 2;
		&::-webkit-scrollbar {
			width: 16px;
		}
		&.content-scrolled {
			padding-right: 5px;
			& + .bml-row_header {
				padding-right: 20px;
				& + .bml-row_footer {
					padding-right: 20px;
				}
			}
		}
	}
}

@media screen and (max-width: 1365px) {
	.tml-bml-list-container {
		padding: 0;
	}
	.bml-row {
		grid-template-columns: 0.14fr 210px 1fr 100px 107px 110px 32px;
		margin: 4px 0;
		&_header {
			margin: 10px 0 12px 0;
			padding-right: 5px;
		}
	}
	.cell {
		font-size: 16px;
		&_header {
			font-size: 18px;
		}
		&_col {
			&_icon {
				display: flex;
				align-items: center;
			}
		}
	}
	.bml-group {
		padding-top: 10px;
		padding-bottom: 7px;
		&__title {
			font-size: 16px;
		}
	}
	.close-icon {
		color: #df5050;
		vertical-align: middle;
		width: 15px;
		height: 21px;
		font-size: 15px;
		display: flex;
		align-items: center;
	}

	.bml-scroll {
		overflow-y: auto;
		padding-right: 5px;
		order: 2;
		&::-webkit-scrollbar {
			width: 7px;
		}
		&::-webkit-scrollbar-thumb {
			border: none;
		}
		&.content-scrolled {
			padding-right: 5px;
			& + .bml-row_header {
				padding-right: 12px;
				& + .bml-row_footer {
					padding-right: 12px;
				}
			}
		}
	}
}

@media screen and (max-width: 1139px) {
	.tml-bml-list-container {
		padding: 0;
		max-width: 616px;
		width: 100%;
		margin: 0 auto;
		max-height: none;
	}
	.bml-row {
		grid-template-columns: 0.14fr 188px 1fr 113px 74px 124px 33px;
		margin: 4px 0;
		&_header {
			margin: 10px 0 8px 0;
			padding-right: 5px;
		}
		&_footer {
			padding-right: 5px;
		}
	}
	.cell {
		font-size: 16px;
		&_header {
			font-size: 16px;
			text-transform: none;
		}
		&_col {
			&_icon {
				display: flex;
				align-items: center;
			}
		}
	}
	.bml-group {
		padding-top: 10px;
		padding-bottom: 7px;
		&__title {
			font-size: 16px;
		}
	}
	.close-icon {
		color: #df5050;
		vertical-align: middle;
		width: 14px;
		height: 14px;
		font-size: 14px;
		display: flex;
		align-items: center;
	}

	.bml-scroll {
		overflow-y: auto;
		padding-right: 0;
		order: 2;
		&::-webkit-scrollbar {
			width: 7px;
		}
		&::-webkit-scrollbar-thumb {
			border: none;
		}
		&.content-scrolled {
			padding-right: 5px;
			& + .bml-row_header {
				padding-right: 12px;
				& + .bml-row_footer {
					padding-right: 12px;
				}
			}
		}
	}
	.tblc-list {
		& + &__group {
			margin-top: 10px;
		}
	}
}

@media screen and (max-width: 853px) {
	.cell {
		&_header {
			font-size: 18px;
			text-transform: uppercase;
		}
	}
	.tml-bml-list-container {
		max-width: none;
		margin-top: 10px;
	}
	.bml-row {
		grid-template-columns: 0.18fr 188px 1fr 95px 113px 103px 31px;
		&_header, &_footer {
			padding-right: 0;
		}
	}
	.bml-group {
		padding-top: 13px;
		padding-bottom: 7px;
	}
}

@media screen and (max-width: 839px) {
	.cell {
		&_header {
			font-size: 18px;
			text-transform: uppercase;
		}
	}
	.tml-bml-list-container {
		max-width: none;
		margin-top: 0;
	}
	.bml-row {
		margin: 6px 0;
		grid-template-columns: 0.18fr 188px 1fr 95px 113px 103px 31px;
		&_header, &_footer {
			padding-right: 0;
		}
		&_header {
			margin: 5px 0 10px 0;
		}
	}
	.bml-group {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	.tblc-list__group + .tblc-list__group {
		margin-top: 12px;
	}
}

@media screen and (max-width: 639px) {
	.cell {
		&_header {
			font-size: 16px;
			text-transform: none;
		}
	}
	.tml-bml-list-container {
		max-width: none;
		margin-top: 0;
	}
	.bml-row {
		margin: 6px 0;
		grid-template-columns: 0 1fr 24px 70px 76px 80px 25px;
		&_header, &_footer {
			padding-right: 0;
		}
		&_header {
			margin: 5px 0 10px 0;
		}
	}
	.bml-group {
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.tblc-list__group + .tblc-list__group {
		margin-top: 8px;
	}
}

@media screen and (max-width: 479px) {
	.cell {
		font-size: 12px;
		&_header {
			font-size: 12px;
			text-transform: none;
		}
	}
	.tml-bml-list-container {
		max-width: none;
		margin-top: 0;
	}
	.bml-row {
		margin: 6px 0;
		grid-template-columns: 0 1fr 11px 49px 49px 53px 30px;
		&_header, &_footer {
			padding-right: 0;
		}
		&_header {
			margin: 5px 0 7px 0;
		}
	}
	.bml-group {
		padding-top: 7px;
		padding-bottom: 5px;
		&__title {
			font-size: 12px;
		}
	}
	.tblc-list__group + .tblc-list__group {
		margin-top: 8px;
	}
}
