@import 'variables';

.plc-row {
	display: flex;
	align-items: center;
	width: 100%;
	&__group {
		display: flex;
		align-items: center;
		flex-grow: 1;
	}
	&:nth-child(even) &__group {
		background: #ffffcc;
		border-radius: 40px;
	}
	&__cell {
		padding: 5px;
		&_num {
			font-size: 24px;
			text-align: center;
			font-family: $roboto_medium;
			color: $msl_main_text_color;
			width: 50px;
		}
		&_team1,  &_team2 {
			font-family: $roboto_regular;
			font-size: 24px;
			color: $msl_main_text_color;
			width: 25%;
		}
		&_team1 {
			text-align: right;
		}

		&_team2 {
			text-align: left;
		}

		&_sep {
			width: 20px;
			text-align: center;
		}

		&_tournament {
			font-size: 24px;
			text-align: center;
			color: $msl_main_text_color;
			flex-grow: 1;
		}

		&_score, &_result {
			font-family: $roboto_regular;
			font-size: 24px;
			text-align: center;
			color: $msl_main_text_color;
			width: 10%;
		}
		&_header {
			font-family: $roboto_medium;
		}
	}
}
