<div
	class="action-banner-row-container"
	(click)="onBannerClickHandler($event)"
	>
	<ng-container *ngFor="let banner of actionBanners?.buttons; trackBy: trackByFn; let i = index">
		<app-action-banner
			[attr.column]="i"
			[banner]="banner"
			>
		</app-action-banner>
	</ng-container>
</div>
