@import 'variables';

:host {
	display: flex;
	height: 100%;
	align-items: center;
}

.ticket-payment-container {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	background: white;
	width: 100%;
	height: 100%;
}

.pin-title {
	font-size: 24px;
	color: $msl_main_text_color;
	text-align: center;
	margin-bottom: 10px;
	&_error {
		color: $msl_error;
		margin-left: -50px;
		margin-right: -50px;
	}
}

.sms-code {
	max-width: 350px;
	width: 100%;
	display: block;
	letter-spacing: 53px;
}

// -----------------------------------------
//  Панель с кнопками
// -----------------------------------------

.tpc-bottom-panel {
	width: 100%;
}

.sms-message {
	font-family: $roboto_medium;
	font-size: 24px;
	color: $msl_main_text_color;
	text-align: center;
	margin-bottom: 16px;
}

.tpc-controls-panel {
	display: flex;
	flex-direction: row;
	justify-content: center;

	width: 100%;

	margin: 0 auto;
	padding: 0 60px;

	&_stretched {
		justify-content: space-between;
		max-width: 1246px;
	}
}

.bottom-button {
	width: 100%;
	max-width: 400px;
	margin-left: 10px;
	margin-right: 10px;
	height: 80px;
	font-size: 36px;
	&_full-width {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	&_under {
		margin: 10px auto;
		display: block;
	}
}

// -----------------------------------------
//  Заголовок
// -----------------------------------------

.tpc-header {
	font-family: $roboto_bold;
	font-size: 46px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $msl_main_text_color;
	width: 100%;
	text-align: center;
}

// -----------------------------------------
//  Таблица
// -----------------------------------------

.tpc-info {
	max-width: 820px;
	width: 100%;
	margin-bottom: 105px;

	&_step-2 {
		max-width: 1246px;
		width: 100%;
		display: grid;
		grid-template: auto / 1fr 350px;
		column-gap: 76px;
		grid-column-gap: 76px;
		justify-content: center;
		margin-bottom: 0;
		padding: 0 60px;

		.tpc-info-table {
			margin: 39px 0 0 0;
		}
	}
}

.tpc-info-table {
	padding: 23px;
	margin: 28px auto 0 auto;

	border: 2px solid $msl_placeholder_text_color;
	border-radius: 8px;
}

// -----------------------------------------
//  Состояние выплаты
// -----------------------------------------

.tpc-payment-state {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 15px 0;
	color: $msl_error;
	font-family: $roboto_bold;
	font-size: 36px;

	&.allowed-payment {
		color: $msl_base_green;
	}
}

// -----------------------------------------
//  Детализация о выплате
// -----------------------------------------

.tpc-notice {
	color: $msl_main_text_color;
	text-align: center;

	font-size: 24px;
	font-family: $roboto_regular;
	font-weight: normal;

	margin-bottom: 5px;
}

.tpc-description {
	display: block;

	font-size: 24px;
	font-weight: 500;
	font-family: $roboto_medium;

	text-align: center;
	color: $msl_base_green;

	::ng-deep {
		.sum-limit {
			font-family: $roboto_medium;
			font-size: 24px;

			color: $msl_main_text_color;

			margin-bottom: 15px;
		}

		.free-calls {
			margin-top: 10px;
			text-transform: uppercase;
			font-family: $roboto_bold;
		}
	}
}

// -----------------------------------------
//  Строки с информацией о сумме выигрыша
// -----------------------------------------

.tpc-info-row {
	display: flex;
	flex-direction: row;

	&:first-child {
		margin-bottom: 20px;
	}

	// -----------------------------------------
	//  Выигрышные строки
	// -----------------------------------------

	&.allowed-payment {
		.tpc-info-value {
			color: $msl_base_green;
		}
	}
}

.tpc-info-text, .tpc-info-value {
	width: 50%;
	font-size: 36px;
	font-family: $roboto_bold;
}

.tpc-info-text {
	color: $msl_main_text_color;
}

.tpc-info-value {
	text-align: right;
	color: $msl_error;
}

.tpc-reason {
	text-align: center;
	color: $msl_main_text_color;
	&__item {
		margin-top: 10px;
		font-size: 20px;
	}
}

.tpc-eml-select {
	color: $msl_base_green;
}

@media screen and (max-width: 1139px) {
	.ticket-payment-container {
		margin-top: 0;
		&_step-2 {
			max-width: 780px;
			margin: 0 auto;
		}
	}
	.tpc-header {
		font-size: 36px;
	}

	.tpc-info {
		margin-bottom: 20px;
		&_step-2 {
			grid-template: auto / 1fr 240px;
			column-gap: 35px;
			grid-column-gap: 35px;
			padding: 0 2px;
			.tpc-info-table {
				margin: 27px 0 0 0;
			}
		}
	}

	.tpc-info-table {
		max-width: 500px;
		padding: 20px;
		margin: 20px auto 0 auto;
	}
	.tpc-payment-state {
		margin-bottom: 0;
	}
	.tpc-info-text, .tpc-info-value, .tpc-payment-state {
		font-size: 24px;
	}

	.sms-message {
		font-size: 18px;
	}

	.bottom-button {
		height: 44px;
		font-size: 18px;
	}

	.pin-title {
		font-size: 16px;
		&_error {
			margin-left: -40px;
			margin-right: -40px;
		}
	}

	.sms-code {
		letter-spacing: 29px;
		font-size: 18px;
		height: 44px;
	}

	.tpc-description {
		font-size: 14px;
		margin-bottom: -10px;
	}
}

@media screen and (max-width: 853px) {
	.tpc-info_step-2 {
		padding: 0 15px;
		grid-template: auto auto / 1fr;
		.tpc-info-table {
			margin: 0 auto 20px auto;
		}
	}
	.sms-code {
		max-width: 240px;
		margin: 0 auto;
	}
	.tpc-controls-panel {
		padding: 0;
	}
}

@media screen and (max-width: 639px) {
	:host {
		display: flex;
		height: 100%;
		align-items: flex-start;
	}

	.ticket-payment-container {
		top: 52px;
		padding: 8px;
		height: fit-content;
	}

	.sms-code {
		max-width: 350px;
		margin: 0 auto 10px auto;
		::ng-deep {
			.pin {
				&__title {
					font-size: 16px;
					margin-left: 0;
					margin-right: 0;
				}
				&__wrapper {
					width: 100%;
					max-width: 350px;
					margin: 0 auto;
					display: block;
				}
				&__input {
					letter-spacing: 58px;
					padding-left: 63px;
					height: 44px;
					font-size: 18px;
				}
				&__spacer {
					margin: 0 12px;
				}
			}
		}
	}

	.tpc-header {
		margin-top: 10px;
		font-size: 24px;
		font-family: $roboto_medium;
		text-transform: uppercase;
	}
	.tpc-info {
		width: 100%;
		min-width: auto;
		margin-bottom: 8px;

		&_step-2 {
			max-width: 1246px;
			width: 100%;
			display: block;
			margin-bottom: 8px;
			padding: 0 ;

			.tpc-info-table {
				margin: 10px auto;
			}
		}
	}

	.tpc-info-table {
		padding: 0 12px;
		margin: 10px auto 0 auto;

		border: 1px solid $msl_placeholder_text_color;
		border-radius: 8px;
	}

	// -----------------------------------------
	//  Строки с информацией о сумме выигрыша
	// -----------------------------------------

	.tpc-info-row {
		display: flex;
		flex-direction: row;
		margin: 12px 0;

		&:first-child {
			margin-bottom: 12px;
		}

		// -----------------------------------------
		//  Выигрышные строки
		// -----------------------------------------

		&.allowed-payment {
			.tpc-info-value {
				color: $msl_base_green;
			}
		}
	}

	.tpc-info-text, .tpc-info-value {
		font-size: 18px;
		font-family: $roboto_medium;
	}

	// -----------------------------------------
	//  Состояние выплаты
	// -----------------------------------------

	.tpc-payment-state {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 12px 0;
		color: $msl_error;
		font-size: 18px;

		&.allowed-payment {
			color: $msl_base_green;
		}
	}

	// -----------------------------------------
	//  Детализация о выплате
	// -----------------------------------------

	.tpc-controls-panel {
		flex-flow: row wrap;
		margin: 0 auto;
		padding: 0;
	}

	.bottom-button {
		height: 44px;
		margin: 0 0 8px 0;
		font-size: 18px;
		max-width: none;
		&_cancel-continue {
			order: 3;
		}
	}

	.sms-message {
		margin: 16px 0;
		font-size: 16px;
		font-family: $roboto_regular;
	}
	.tpc-description {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.tpc-notice {
		font-size: 16px;
	}
}


@media screen and (max-width: 479px) {
	:host {
		display: flex;
		height: 100%;
		align-items: flex-start;
	}

	.ticket-payment-container {
		top: 52px;
		padding: 8px;
		height: fit-content;
	}

	.sms-code {
		max-width: 350px;
		::ng-deep {
			.pin {
				&__title {
					font-size: 16px;
					margin-left: 0;
					margin-right: 0;
				}
				&__wrapper {
					width: 100%;
					max-width: 350px;
					margin: 0 auto;
					display: block;
				}
				&__input {
					letter-spacing: 58px;
					padding-left: 63px;
					height: 44px;
					font-size: 18px;
				}
				&__spacer {
					margin: 0 12px;
				}
			}
		}
	}

	.tpc-header {
		margin-top: 0;
		font-size: 18px;
		font-family: $roboto_bold;
		text-transform: uppercase;
	}
	.tpc-info {
		width: 100%;
		min-width: auto;
		margin-bottom: 8px;

		&_step-2 {
			max-width: 1246px;
			width: 100%;
			display: block;
			margin-bottom: 8px;
			padding: 0 ;

			.tpc-info-table {
				margin: 10px 0;
			}
		}
	}

	.tpc-info-table {
		padding: 0 12px;
		margin: 10px auto 0 auto;

		border: 1px solid $msl_placeholder_text_color;
		border-radius: 8px;
	}

	// -----------------------------------------
	//  Строки с информацией о сумме выигрыша
	// -----------------------------------------

	.tpc-info-row {
		display: flex;
		flex-direction: row;
		margin: 12px 0;

		&:first-child {
			margin-bottom: 12px;
		}

		// -----------------------------------------
		//  Выигрышные строки
		// -----------------------------------------

		&.allowed-payment {
			.tpc-info-value {
				color: $msl_base_green;
			}
		}
	}

	.tpc-info-text, .tpc-info-value {
		font-size: 16px;
		font-family: $roboto_bold;
	}

	// -----------------------------------------
	//  Состояние выплаты
	// -----------------------------------------

	.tpc-payment-state {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 12px 0;
		color: $msl_error;
		font-size: 16px;

		&.allowed-payment {
			color: $msl_base_green;
		}
	}

	// -----------------------------------------
	//  Детализация о выплате
	// -----------------------------------------

	.tpc-controls-panel {
		flex-flow: row wrap;
		margin: 0 auto;
		padding: 0;
	}

	.bottom-button {
		height: 44px;
		margin: 0 0 8px 0;
		font-size: 18px;
		max-width: 400px;
		&_cancel-continue {
			order: 3;
		}
	}

	.sms-message {
		margin: 16px 0;
		font-size: 16px;
		font-family: $roboto_regular;
	}
	.tpc-description {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.tpc-notice {
		font-size: 16px;
	}

	.tpc-reason__item {
		font-size: 16px;
	}

	.tpc-eml-select {
		margin-bottom: 8px;
	}
}
