<div class="ticket-payment-container"
	 [class.ticket-payment-container_step-2]="payStep === PayStep.Step2"
>

	<!-- ЗАГОЛОВОК -->
	<label class="tpc-header">
		{{ (ticketsService.winCheck?.is_win ? 'tickets.winning_ticket' : 'tickets.ticket_is_not_winning') | translate }}
	</label>

	<div class="tpc-info" [class.tpc-info_step-2]="payStep === PayStep.Step2">
		<!-- ТАБЛИЦА -->
		<div class="tpc-info-table">

			<!-- СУММА ВЫИГРЫША -->
			<div class="tpc-info-row" [class.allowed-payment]="ticketsService.winCheck?.win_allow">
				<label class="tpc-info-text">{{ 'tickets.winning_amount' | translate }}:</label>
				<label class="tpc-info-value" data-cy="tpc-info-value">
					{{ ticketsService.winCheck?.win_ticket_sum }} {{ 'lottery.uah' | translate | lowercase }}
				</label>
			</div>

			<!-- СУММА К ВЫПЛАТЕ -->
			<div class="tpc-info-row" [class.allowed-payment]="ticketsService.winCheck?.win_allow">
				<label class="tpc-info-text">{{ 'tickets.amount_to_be_paid' | translate }}:</label>
				<label class="tpc-info-value" data-cy="tpc-info-value">{{ ticketsService.winCheck?.win_sum }} {{ 'lottery.uah' | translate | lowercase }}</label>
			</div>

			<!-- ВЫПЛАТА РАЗРЕШЕНА/НЕ РАЗРЕШЕНА -->
			<label
				class="tpc-payment-state"
				[class.allowed-payment]="ticketsService.winCheck?.win_allow"
				>
				{{ (ticketsService.winCheck?.win_allow ? 'tickets.payment_is_allowed' : 'tickets.payment_is_not_allowed') | translate }}
			</label>

			<!-- ДЕТАЛИЗАЦИЯ -->
			<div class="tpc-reason">
				<div class="tpc-reason__item tpc-lose">{{ 'tickets.not_give_win' | translate }}</div>
				<div class="tpc-reason__item tpc-free-eml" [innerHTML]="'tickets.get_free_eml' | translate"></div>
				<div class="tpc-reason__item tpc-eml-select" [innerHTML]="'tickets.random_eml_select' | translate" ></div>
			</div>

		</div>

		<div *ngIf="payStep === PayStep.Step2" class="sms-code-area">
			<form action="" (ngSubmit)="onSMSCodeSubmit()">
				<!-- СМС-код -->
				<div class="pin-title" [class.pin-title_error]="appStoreService.smsCodeError">
					{{ appStoreService.smsCodeError ? ('common.sms_code_error' | translate) : ('common.sms_code' | translate) }}
				</div>
				<app-msl-input-pin
					#smsControl
					class="sms-code"
					[errorState]="appStoreService.smsCodeError"
					[showClearBtn]="true"
					[alwaysShowClearBtn]="true"
					(charsInput)="onPinCodeChange()"
					(focused)="onPinFocused()"
				>
				</app-msl-input-pin>
				<button *ngIf="ticketsService.winCheck?.win_allow && pinFocused"
						type="submit"
						class="button button_theme_green bottom-button bottom-button_sms-payment bottom-button_under"
						[attr.disabled]="isPayBtnDisabled || null"
						(click)="onClickWinPayHandler()"
				>
					{{ 'tickets.payment' | translate }}
				</button>
			</form>
		</div>
	</div>

	<!-- ПАНЕЛЬ С КНОПКАМИ -->
	<div class="tpc-controls-panel">
<!--		<button type="button"-->
<!--				class="button bottom-button bottom-button_cancel-continue"-->
<!--				[class.bottom-button_full-width]="!ticketsService.winCheck?.win_allow"-->
<!--				[ngClass]="ticketsService.winCheck?.win_allow ? 'button_theme_light-green' : 'button_theme_green'"-->
<!--				(click)="onClickCancelHandler()"-->
<!--		>-->
<!--			{{ (ticketsService.winCheck?.win_allow ? 'tickets.cancel' : 'dialog.dialog_button_continue') | translate }}-->
<!--		</button>-->
		<button type="button"
				class="button bottom-button button_theme_light-green" (click)="onClickBackHandler()">
			{{ 'tickets.cancel' | translate }}
		</button>

		<button *ngIf="payStep === PayStep.Step2"
				type="button"
				class="button button_theme_light-green bottom-button bottom-button_repeat-sms"
				[class.full-width]="!ticketsService.winCheck?.win_allow"
				data-cy="bottom-button"
				(click)="onRepeatSMS()"
		>
			{{ 'common.repeat_sms' | translate }}
		</button>

		<button class="button button_theme_green bottom-button bottom-button_sms-payment"
				[attr.disabled]="isPayBtnDisabled || null"
				(click)="onClickWinPayHandler()"
				data-cy="bottom-button"
		>
			{{ 'tickets.continue' | translate }}
		</button>
	</div>

</div>
