@import 'variables';

:host {
	height: 100%;
	display: block;
}

.megalot-results-container {
	height: 100%;
	display: block;
}

// -----------------------------------------
//  Контент результатов по "Мегалот"
// -----------------------------------------

.mrc-balls {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.mrc-ball {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 5px;

	width: 66px;
	height: 66px;
	color: $msl_base_green;

	font-size: 30px;
	font-family: $roboto_medium;
	border: 4px solid $msl_base_green;
	border-radius: 50%;
	background: white;
}

.mrc-ball-plus {
	font-size: 36px;
	display: flex;
	align-items: center;
	margin: 0 24px;
}

.mrc-mega-ball-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.mrc-mega-ball {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 5px;

	width: 66px;
	height: 66px;

	font-size: 32px;
	border: 4px solid $msl_base_green;
	border-radius: 50%;
	color: $msl_base_green;
	font-family: $roboto_medium;
}

.results-navigator {
	::ng-deep {
		.rnc-content {
			display: grid;
			grid-template: auto auto minmax(0, 1fr) / auto;
			grid-row-gap: 10px;
			row-gap: 10px;
		}
	}
}

.win-table {
	height: 100%;
}

@media screen and (max-width: 1365px) {
	.mrc-ball, .mrc-mega-ball {
		width: 36px;
		height: 36px;
		font-size: 14px;
		border: 2px solid $msl_base_green;
	}
	.extra-info {
		font-size: 20px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 1139px) {
	.mrc-ball, .mrc-mega-ball {
		width: 30px;
		height: 30px;
		font-size: 16px;
		border: 2px solid $msl_base_green;
	}
	.mrc-ball-plus {
		font-size: 30px;
		margin: 0 5px;
	}
	.extra-info {
		font-size: 14px;
	}
}

@media screen and (max-width: 853px) {
	.extra-info {
		font-size: 18px;
		font-family: $roboto_regular;
	}
}

@media screen and (max-width: 839px) {
	.extra-info {
		font-size: 12px;
	}
}

@media screen and (max-width: 479px) {
	.mrc-ball, .mrc-mega-ball {
		width: 25px;
		height: 25px;
		font-size: 12px;
		border: 1px solid $msl_base_green;
		margin: 0 5px;
	}
	.mrc-ball-plus {
		font-size: 16px;
		margin: 0 5px;
	}
}
