<div class="megalot-results-container" data-cy="megalot-results-container">

	<!-- НАВИГАТОР ПО РЕЗУЛЬТАТАМ -->
	<app-results-navigator
		class="results-navigator"
		data-cy="results-navigator"
		[service]="gameResultsService"
		[gameCode]="LotteryGameCode.MegaLot"
		[gameName]="'lottery.megalot.megalot_name'"
		[printData]="printData"
		[viewResults]="viewData"
		(resultSelected)="onSelectedResultsHandler($event)"
		>

		<!-- ДЖЕКПОТ -->
		<div class="extra-info"
			 *ngIf="viewData?.extraInfo"
			 data-cy="extra-info"
		>{{ viewData.extraInfo }}</div>

		<!-- ШАРИКИ -->
		<div class="mrc-balls" data-cy="mrc-balls">
			<ng-container *ngFor="let ball of viewData?.balls; trackBy: trackByBallsFn">
				<div class="mrc-ball" data-cy="mrc-ball">{{ ball }}</div>
			</ng-container>
			<div class="mrc-ball-plus" data-cy="mrc-ball-plus">+</div>
			<!-- МЕГАКУЛЬКА -->
			<div class="mrc-mega-ball-row" data-cy="mrc-mega-ball-row">
				<div class="mrc-mega-ball" data-cy="mrc-mega-ball">{{ viewData?.megaBall }}</div>
			</div>
		</div>

		<!-- СПИСОК ВЫИГРЫШНЫХ КАТЕГОРИЙ -->
		<app-win-category-table
			class="win-table"
			data-cy="win-table"
			[scrollButtonsVisible]="gameResultsService.isTerminal"
			[winCategoryList]="viewData?.winCat"
		></app-win-category-table>

	</app-results-navigator>

</div>
