@import 'variables';
@import 'mixins';

.curtain-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: $layer_curtain;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.preloader {
	@include circle_arc(270px, 17px);
}

.camera {
	position: absolute;
	display: block;
	z-index: -1000;
	visibility: hidden;
}

.page-wrapper {
	display: grid;
	grid-template: 70px minmax(0, 1fr) / auto;
	min-height: 100%;

	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	&_tickets-payment {
		grid-template: 70px 1fr / auto;
	}
	&_lotteries {
		height: 100%;
	}
}

.page-main {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100%;
	padding: 0 30px;
	&__central-menu {
		display: block;
		margin: 30px 0;
		&_tickets-payment {
			display: none;
		}
	}
	&_central-menu {
		grid-template-rows: auto auto minmax(0, 1fr);
	}
	&_lotteries-megalot-lottery-init {
		grid-template-rows: auto minmax(0, 1fr);
	}
	&_lotteries-tmlbml-init {
		position: relative;
	}
	&_lotteries-kare-init {
		grid-template-rows: auto minmax(0, 1fr);
	}

	&_tickets-check {
		grid-row-gap: 15px;
		row-gap: 15px;
	}

	&_tickets-payment {
		grid-template-rows: auto minmax(0, 1fr);
	}
}

.tickets-print-container {
	display: none;
}

@media screen and (max-width: 1919px) {
	.page-main {
		padding: 0 12px;
		&_tickets-check {
			grid-row-gap: 5px;
			row-gap: 5px;
		}
		&__central-menu {
			&_reporting-other {
				margin: 20px 0;
			}
		}
	}
	.page-wrapper {
		grid-template: 53px minmax(0, 1fr) / auto;
	}
}

@media screen and (max-width: 1365px) {
	.page-main {
		&__central-menu {
			width: 100%;
			&_reporting {
				margin-bottom: 10px;
			}
			&_reporting-other {
				margin: 20px 0;
			}
		}
		&_tickets-check {
			grid-row-gap: 0;
			row-gap: 0;
		}
	}
	.rp-columns {
		padding: 0 3px 20px 3px;
		&__left, &__right {
			margin-left: 12px;
			margin-right: 0;
			padding: 0;
		}
	}

}

@media screen and (max-width: 1139px) {
	.page-main {
		padding: 0 12px;
		//&_tickets-check.page-main_mob-kb-shown {
		//	grid-template-rows: auto 1fr;
		//}

		&_tickets-check {
			grid-template-rows: auto 1fr;
		}

		&_lotteries-zabava-lottery-init,
		&_lotteries-zabava-lottery-blanks,
		&_lotteries-tiptop-lottery-init {
			padding: 0 8px;
		}
		&__central-menu {
			margin: 12px 0;
			&_tickets-check {
				margin: 12px auto 0 auto;
				max-width: 816px;
				display: none;
			}
			//&_mob-kb-shown {
			//	display: none;
			//}
		}
	}
	.page-wrapper {
		grid-template: 53px minmax(0, 1fr) / auto;
		&_tickets-payment {
			grid-template: 53px 1fr / auto;
		}
	}
}

@media screen and (max-width: 853px) {
	.page-wrapper {
		grid-template: 53px minmax(0, 1fr) / auto;
		&_lotteries-megalot-lottery-init, &_lotteries-kare-init {
			grid-template: minmax(0, 1fr) / auto;
			padding-top: 53px;
		}
	}

	.top-bar-panel {
		&_lotteries-megalot-lottery-init, &_lotteries-kare-init {
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			z-index: 15;
		}
	}

	.page-main {
		grid-template-rows: auto auto 1fr;
		padding: 0;

		&_registry {
			grid-template-rows: auto 1fr;
		}

		&_tickets-check {
			grid-template-rows: auto 1fr;
		}

		&_tickets-payment {
			grid-template-rows: auto 1fr;
		}

		&_lotteries, &_results {
			grid-template-rows: auto 0 minmax(0, 1fr);
		}
		&_lotteries-zabava-lottery-init,
		&_lotteries-zabava-lottery-blanks,
		&_lotteries-megalot-lottery-init,
		&_lotteries-gonka-lottery-init,
		&_lotteries-kare-init,
		&_lotteries-tiptop-lottery-init,
		&_lotteries-sportprognoz-init {
			grid-template-rows: auto minmax(0, 1fr);
		}

		&_lotteries-zabava-lottery-results,
		&_lotteries-megalot-lottery-results,
		&_lotteries-tiptop-lottery-results,
		&_lotteries-gonka-lottery-results,
		&_lotteries-sportprognoz-results,
		&_lotteries-kare-results {
			grid-template-rows: auto 1fr;
		}
		&_reporting-other {
			overflow-x: hidden;
			grid-template-rows: auto minmax(0, 1fr);
		}
		&__central-menu {
			margin-bottom: 0;
			padding: 0 10px;
			&_mob-kb-shown {
				display: block;
			}
			&_tickets-check {
				margin: 12px 0;
				display: none;
			}
			&_tickets-payment {
				display: none;
			}
			&_reporting-other {
				margin-bottom: 12px;
				display: none;
			}
		}
	}
}

@media screen and (max-width: 839px) {
	.page-main {
		&_tickets-check {
			grid-template-rows: auto 1fr;
			&.page-main_mob-kb-shown {
				grid-template-rows: auto 1fr;
			}
		}
		&__central-menu {
			&_tickets-check {
				display: none;
			}
		}
	}
	.page-wrapper {
		&_lotteries-instant-lotteries-init-1 {
			min-height: 630px;
		}
	}
}

@media screen and (max-width: 639px) {
	.page-wrapper {
		grid-template: 44px minmax(0, 1fr) / auto;
		&_lotteries-megalot-lottery-init, &_lotteries-kare-init {
			grid-template: minmax(0, 1fr) / auto;
			padding-top: 44px;
		}
		&_lotteries-instant-lotteries-init-1 {
			min-height: auto;
		}
	}

	.top-bar-panel {
		&_lotteries-megalot-lottery-init, &_lotteries-kare-init {
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			z-index: 15;
		}
	}

	.page-main {
		&_lotteries, &_results {
			grid-template-rows: auto auto minmax(0, 1fr);
		}
		&_lotteries-kare-init {
			grid-template-rows: auto minmax(0, 1fr);
		}
		&_reporting {
			grid-template-rows: auto 1fr;
		}
		&__central-menu {
			padding: 0 8px;
			&_reporting {
				display: none;
			}
			&_reporting-other {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 479px) {
	.page-wrapper {
		grid-template: 44px minmax(0, 1fr) / auto;
		&_auth {
			grid-template: minmax(0, 1fr) / auto;
		}
		&_lotteries-megalot-lottery-init, &_lotteries-kare-init {
			grid-template: minmax(0, 1fr) / auto;
			padding-top: 44px;
		}
	}

	.top-bar-panel {
		&_lotteries-megalot-lottery-init, &_lotteries-kare-init {
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			z-index: 15;
		}
	}

	.page-main {
		&_auth {
			grid-template-rows: auto 1fr;
		}
		&_other {
			grid-template-rows: auto 1fr;
		}
		&__central-menu {
			padding: 0 8px;
			&_other {
				display: none;
			}
		}
		&_lotteries-tiptop-lottery-init {
			grid-template-rows: auto 1fr;
		}
	}
}

@media print {
	app-dialog-container {
		display: none;
	}

	.tickets-print-container {
		display: block;
	}

	.tickets {
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
	}

	.ticket {
		width: 100%;
	}

	.tickets-print-image, .fiscal-check {
		display: block;
		max-width: 100%;
		margin: 0;
	}

	.page-wrapper {
		display: none;
	}

	.fiscal-receipt {
		display: block;
	}

	.print-header {
		text-align: center;
		font-size: 20px;
		color: #000000;
		font-family: $roboto_bold;
	}

	.tickets-summary {
		margin-block-start: 20px;
	}

	.summary__list {
		padding-block-start: 5px;
		padding-block-end: 5px;
	}

	.summary {
		width: 100%;
		&__line {
			margin-block-start: 5px;
			margin-block-end: 5px;
		}
		&__key {
			font-family: $roboto_bold;
		}
		&__bottom {
			border-top: 1px solid #000000;
		}
		&__result {
			display: flex;
			justify-content: space-between;
			margin-block-start: 5px;
			margin-block-end: 5px;
		}
	}

	.return-body {
		margin-block-start: 20px;
	}
}
