@import "variables";

.status-panel-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: rgba(0, 0, 0, 0.24);
	z-index: $layer_dialog;
}

.sp-background {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 7px;
	right: 120px;

	height: 40px;

	border-radius: 8px;
	background: #fff;

	z-index: 1000;///////

	label {
		padding: 0 15px;

		font-family: $roboto_regular;
		font-size: 18px;
		color: $msl_main_text_color;
	}
}

@media screen and (max-width: 639px) {
	.sp-background {
		top: 4px;
		height: 35px;
	}
}

@media screen and (max-width: 479px) {
	.sp-background {
		right: 100px;
	}
}
