@import 'variables';
@import 'mixins';

.chp-dialog {
	overflow-y: hidden;
	::ng-deep {
		.modal-dialog-container {
			padding: 45px 0 0 0;
			margin: 0;
			width: 100%;
			height: 100%;
			border-radius: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			overflow-y: auto;
		}
		.modal-dialog-close {
			position: fixed;
			left: 24px;
			top: 14px;
			width: 16px;
			height: 16px;
			z-index: 20;
			right: auto;
			::ng-deep {
				.cross-path {
					fill: $msl_base_green;
				}
			}
		}
		.modal-buttons-container {
			padding: 10px 8px;
		}
		.modal-button {
			height: 44px;
			font-size: 18px;
			background: $msl_darken_green;
			color: #FFFFFF;
			&[disabled] {
				color: $msl_placeholder_text_color;
				background: $msl_inactive_color;
			}
		}
	}
	&__header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 45px;
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.24);
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #5a5a5a;
		font-size: 18px;
		font-family: RobotoMedium, Geneva, Arial, Helvetica, sans-serif;
		font-weight: normal;
		background: #FFFFFF;
		z-index: 10;
	}
}

.rules-area {
	display: none;
}

.ch-status {
	display: none;
	padding: 8px;
	&_busy {
		margin-top: 30px;
	}
	&_success, &_error {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		text-transform: uppercase;

		font-size: 18px;
		font-family: $roboto_medium;
		height: 100%;
	}
}

.chp-fields {
	&__item {
		margin: 8px 16px 16px 16px;
	}
}

.is-visible {
	display: inherit;
}

.rules-area.is-visible {
	display: none;
}

.eye-input {
	display: block;
	margin-bottom: 5px;
	width: max-content;
	&_green {
		::ng-deep {
			.eye-input {
				border: 1px solid $msl_base_green;
			}
		}
	}
}

.q-button {
	width: 24px;
	height: 21px;
	border-radius: 4px;
	border-width: 1px;
	font-size: 16px;
	font-family: $roboto_bold;
	margin-left: 8px;
}

.rules-dialog-bg {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.24);
	//display: flex;
	//justify-content: center;
	//align-items: center;
	//padding: 8px;
}

.rules-dialog {
	max-width: 344px;
	width: 100%;
	background: #FFFFFF;
	padding: 12px;
	border-radius: 8px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 110;
	&__title {
		font-size: 18px;
		color: $msl_main_text_color;
		text-align: center;
		font-family: $roboto_medium;
		font-weight: normal;
		margin: 10px 0 15px 0;
	}
	&__close {
		position: absolute;
		right: 12px;
		top: 8px;
		width: 16px;
		height: 16px;
	}
}

.pass-rule {
	color: $msl_main_text_color;
	padding-left: 15px;
	font-size: 16px;
	margin: 12px 0;
	position: relative;
	&:before {
		content: '';
		left: 0;
		top: 6px;
		width: 8px;
		height: 8px;
		display: block;
		position: absolute;
		border-radius: 50%;
		background: $msl_placeholder_text_color;
	}
}

.hint {
	font-size: 12px;
	color: $msl_error;
}

.ch-status.ch-status_success.is-visible {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $msl_base_green;
	margin: 0;
	height: 100%;
}

@media screen and (min-width: 640px) {
	.chp-dialog {
		&__header {
			height: 54px;
			font-size: 24px;
		}
		::ng-deep {
			.modal-dialog-container {
				padding: 54px 0 0 0;
				max-width: none;
			}
			.modal-dialog-close {
				left: 24px;
				top: 14px;
				width: 24px;
				height: 24px;
			}
			.modal-buttons-container {
				padding: 10px 12px;
			}
			.modal-button {
				height: 60px;
				font-size: 24px;
			}
		}
	}
	.chp-fields__item {
		margin: 16px 16px 24px 16px;
	}
	.hint {
		font-size: 14px;
	}
	.q-button {
		width: 32px;
		height: 30px;
		font-size: 24px;
		margin-left: 10px;
	}
	.rules-dialog {
		max-width: 580px;
		padding: 12px 12px 22px 12px;
		&__title {
			font-size: 24px;
		}
		&__close {
			top: 16px;
			right: 16px;
		}
	}
	.pass-rule {
		font-size: 20px;
		&:before {
			top: 8px;
		}
	}
}

@media screen and (min-width: 840px) {
	.chp-dialog {
		&__header {
			font-size: 30px;
		}
	}
	.chp-fields__item {
		margin: 24px 16px 30px 16px;
	}
	.hint {
		font-size: 16px;
	}
	.q-button {
		width: 36px;
		height: 33px;
	}
	.rules-dialog {
		max-width: 644px;
	}
}

@media screen and (min-width: 854px) {
	.eye-input {
		margin-bottom: 0;
		::ng-deep {
			.eye-input {
				width: 240px;
				height: 40px;
				margin-right: 4px;
			}
			.eye-button {
				width: 40px;
				height: 40px;
			}
		}
	}
	.ch-status {
		padding: 24px;
	}
	.chp-fields {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 16px 40px;
		width: min-content;
		&__item {
			margin: 0;
			&_first {
				grid-column-start: 1;
				grid-column-end: 3;
			}
		}
	}
	.chp-dialog {
		::ng-deep {
			.modal-button {
				height: 44px;
				font-size: 18px;
				max-width: 440px;
				margin: 0 auto;
			}
		}
	}
}

@media screen and (min-width: 1140px) {
	.chp-dialog {
		::ng-deep {
			.modal-dialog-container {
				max-width: none;
			}
			.modal-button {
				height: 60px;
				max-width: 440px;
				font-size: 24px;
			}
		}
	}

	.chp-fields {
		grid-template-columns: auto;
		width: min-content;
		margin: 0 auto;
		&__item {
			&_first {
				grid-column-start: 1;
				grid-column-end: 2;
			}
		}
	}
	.eye-input {
		::ng-deep {
			.eye-input {
				width: 320px;
				margin-right: 8px;
			}
		}
	}
}

@media screen and (min-width: 1366px) {
	.chp-dialog {
		justify-content: flex-start;
		&__header {
			text-align: center;
			color: $msl_main_text_color;
			font-size: 24px;
			font-family: $roboto_medium;
			font-weight: normal;
		}
		&__fields {
			display: flex;
			justify-content: center;
		}
		::ng-deep {
			.modal-dialog-container {
				padding: 54px 30px 30px 30px;
			}
			.modal-buttons-container {
				margin-top: 18px;
			}
			.modal-button {
				height: 60px;
			}
		}
	}

	.chp-fields {
		display: block;
		&__item {
			margin: 20px 25px;
		}
	}

	.ch-status {
		&_busy {
			margin-top: 30px;
		}
		&_success, &_error {
			display: flex;
			margin-top: 48px;
			margin-bottom: 55px;
			text-align: center;
			text-transform: uppercase;

			font-size: 18px;
			font-family: $roboto_medium;
		}
	}

	.rules-area {
		display: block;
		margin: 15px 30px 0 30px;
		&__title {
			margin-bottom: 10px;
		}
	}

	.pass-rules {
		padding-left: 20px;
	}

	.pass-rule {
		margin-bottom: 5px;
		list-style: disc;
		&_error {
			color: $msl_error;
		}
	}
}

@media screen and (min-width: 1920px) {
	.chp-dialog {
		::ng-deep {
			.modal-dialog-container {
				max-width: none;
				padding: 65px 0 0 0;
			}
			.modal-button {
				max-width: 600px;
				margin: 0 auto;
			}
		}
	}
}
