@import "../../../../../sass/variables";

.modal-dialog-background {
	display: none;

	&.is-visible {
		display: flex;
	}
}

.modal-dialog-container {
	position: relative;
	text-align: left;

	&__cancel {
		right: 20px;
		top: 20px;
		position: absolute;
		font-family: serif;
		font-size: 56px;
		background: none;
		height: 25px;
		line-height: 25px;
		width: 27px;
	}
}
.modal-buttons-container {
	display: block;
	text-align: center;
}

.modal-dialog-close {
	position: absolute;
	right: 15px;
	top: 15px;
}
