@import 'variables';

:host {
	display: block;
	height: 100%;
	position: relative;
}

.ticket-check {
	display: grid;
	grid-template-rows: minmax(0, 1fr) auto;
	align-content: space-between;
	grid-row-gap: 20px;
	row-gap: 20px;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 40px;
	padding: 0 8px;
	&__item {
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		display: block;
	}
	&__inputs {

	}
}

.switch-camera {
	width: 54px;
	border-radius: 5px;
	path {
		fill: $msl_base_green;
	}
	&_opened {
		background: $msl_base_green;
		path {
			fill: #FFFFFF;
		}
	}
	&__pic {
		display: block;
	}
}

.tc-input-container {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	grid-row-gap: 40px;
	row-gap: 40px;
	width: 100%;
}

.codes-input-outer {
	display: flex;
}

.codes-input {
	flex-grow: 1;
	margin-right: 10px;
	width: auto;
	&_second {
		margin-top: 20px;
		margin-right: 0;
	}
	::ng-deep {
		.input-field {
			border-top: none;
			border-left: none;
			border-right: none;
			border-radius: 0;
		}
	}
}

.scanner-cell {
	width: 100%;
	height: 100%;
	grid-template-rows: minmax(0, 1fr) auto;
	--scanner-height: 453px;
}

.spoiler {
	font-size: 24px;
	display: none;
	border: 2px solid $msl_inactive_color;
	border-radius: 8px;
	padding: 12px;
	&.opened {
		display: block;
		height: 100%;
		max-height: 453px;
		& + .examples-cell {
			position: absolute;
			left: calc(50% + 468px);
			top: 15px;
		}
	}
}


.check-button {
	height: 80px;
	font-size: 36px;
	margin-top: 10px;
}

.bc-examples {
	color: $msl_main_text_color;
	text-align: center;
	font-size: 24px;
	font-family: $roboto_regular;
	margin-top: 32px;
	margin-bottom: 16px;
}

.bc-samples {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bc-sample {
	margin: 4px 12px;
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: 4px;
	object-fit: cover;
	object-position: center;
}

@media screen and (max-width: 1919px) {
	.ticket-check {
		bottom: 30px;
		&__item {
			max-width: 640px;
		}
	}
	.tc-input-container {
		grid-row-gap: 30px;
		row-gap: 30px;
	}
	.scanner-cell {
		--scanner-height: 367px;
	}
	.spoiler {
		max-height: 52px;
		&.opened {
			max-height: 367px;
			& + .examples-cell {
				left: calc(50% + 370px);
				top: 32px;
			}
		}
		::ng-deep {
			.spoiler-header {
				padding: 9px 50px;
			}
		}
	}

	.bc-examples {
		color: $msl_main_text_color;
		text-align: center;
		font-size: 16px;
		font-family: $roboto_regular;
		margin-top: 25px;
		margin-bottom: 4px;
	}

	.bc-samples {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.bc-sample {
		margin: 4px 10px;
		max-width: 100%;
		height: 60px;
		display: block;
		border-radius: 4px;
		object-fit: cover;
		object-position: center;
	}
}

@media screen and (max-width: 1365px) {
	.ticket-check {
		bottom: 20px;
		&__item {
			max-width: 440px;
		}
	}
	.scanner-cell {
		--scanner-height: 259px;
	}
	.spoiler {
		font-size: 18px;
		padding: 6px;
		&.opened {
			max-height: 259px;
			& + .examples-cell {
				position: absolute;
				left: calc(50% + 285px);
				top: 9px;
			}
		}
	}

	.codes-input {
		::ng-deep {
			.input-title {
				font-size: 18px;
			}
			.input-field {
				font-size: 24px;
				height: 44px;
			}
		}
	}
	.check-button {
		height: 60px;
		font-size: 24px;
	}
	.tc-input-container {
		grid-row-gap: 17px;
		row-gap: 17px;
	}

	.switch-camera {
		width: 48px;
		height: 48px;
	}
}

@media screen and (max-width: 1139px) {
	.check-button {
		height: 44px;
		font-size: 18px;
	}
	.tc-input-container, .ticket-check {
		grid-row-gap: 12px;
		row-gap: 12px;
	}

	.tc-input-container {
		padding-top: 10px;
	}

	.ticket-check {
		bottom: 10px;
	}
	.codes-input {
		&_second {
			margin-top: 0;
		}
		::ng-deep {
			.input-field {
				font-size: 20px;
				height: 40px;
				&:not(:placeholder-shown) + .input-title,
				&:focus + .input-title {
					display: none;
				}
			}
		}
	}

	.spoiler {
		max-height: 44px;
		padding: 6px;
		&.opened {
			& + .examples-cell {
				position: absolute;
				right: 0;
				top: 20px;
				.bc-examples {
					font-size: 12px;
				}
				.bc-sample {
					width: 70px;
					height: 35px;
					margin: 4px;
				}
			}
		}
	}
	.bc-examples {
		margin-top: 8px;
	}

	.switch-camera {
		width: 40px;
		height: 40px;
	}
}

@media screen and (max-width: 853px) {
	.switch-camera {
		width: 64px;
		height: 64px;
	}

	.scanner-cell {
		--scanner-height: 200px;
	}


	.codes-input {
		margin-top: 8px;
		::ng-deep {
			.input-title {
				font-size: 24px;
			}
			.input-field {
				font-size: 24px;
				height: 54px;
				&:not(:placeholder-shown) + .input-title,
				&:focus + .input-title {
					display: block;
					margin-top: 5px;
				}
			}
		}
	}
	.bc-examples {
		margin-top: 24px;
	}
	.spoiler {
		max-height: 44px;
		padding: 12px;
		&.opened {
			max-height: 200px;
			& + .examples-cell {
				position: static;
				right: 0;
				top: 20px;
				.bc-examples {
					font-size: 16px;
				}
				.bc-sample {
					width: 120px;
					height: 60px;
					margin: 4px 10px;
				}
			}
		}
	}

	.ticket-check {
		padding: 0 12px;
		&__item {
			max-width: 640px;
		}
	}
	.check-button {
		max-width: none;
		height: 60px;
		font-size: 24px;
	}
	.tc-input-container {
		grid-row-gap: 30px;
		row-gap: 30px;
	}
}

@media screen and (max-width: 839px) {
	.switch-camera {
		width: 44px;
		height: 44px;
	}
	.scanner-cell {
		--scanner-height: 269px;
	}

	.spoiler {
		border-width: 1px;
		max-width: 464px;
		margin: 0 auto;
		padding: 5px;
		&.opened {
			max-height: 269px;
		}
	}
	.check-button {
		max-width: 464px;
		width: 100%;
		height: 60px;
	}
	.codes-input-outer {
		margin: 28px auto 10px auto;
		max-width: 464px;
	}
	.codes-input {
		::ng-deep {
			.input-title {
				font-size: 18px;
			}
			.input-field {
				font-size: 20px;
				height: 44px;
			}
		}
	}
}

@media screen and (max-width: 639px) {
	.ticket-check {
		top: 10px;
		left: 0;
		right: 0;
		bottom: 10px;
		padding: 0 8px;
		&__item {
			max-width: none;
		}
	}
	.codes-input-outer {
		margin-top: 13px;
	}
	.codes-input {
		margin: 0 10px 0 0;
		::ng-deep {
			.input-field {
				font-size: 18px;
				height: 36px;
			}
			.input-title {
				font-size: 16px;
				top: 3px;
			}
			.input-field:not(:placeholder-shown) + .input-title,
			.input-field:focus + .input-title {
				margin-top: 0;
			}
		}
	}
	.bc-examples {
		margin-top: 12px;
	}


	.scanner-cell {
		--scanner-height: 269px;
	}

	.spoiler {
		font-size: 16px;
		border-width: 1px;
		&.opened {
			max-height: 269px;
		}
	}
	.check-button {
		height: 44px;
		font-size: 18px;
	}

	.tc-input-container, .ticket-check {
		grid-row-gap: 25px;
		row-gap: 25px;
	}
	.switch-camera {
		width: 39px;
		height: 39px;
	}
}

@media screen and (max-width: 479px) {
	.ticket-check {
		&__item {
			max-width: 440px;
		}
	}
	app-msl-input-with-keyboard.codes-input {
		::ng-deep {
			.input-field {
				font-size: 18px;
				height: 30px;
			}
			.input-title {
				font-size: 14px;
				top: 3px;
			}
			.input-field:not(:placeholder-shown) + .input-title,
			.input-field:focus + .input-title {
				top: -15px;
				font-size: 12px;
			}
		}
	}
	.check-button {
		height: 44px;
		font-size: 18px;
	}
	.tc-input-container, .ticket-check {
		grid-row-gap: 16px;
		row-gap: 16px;
	}
	.scanner-cell {
		--scanner-height: 206px;
	}
	.spoiler {
		max-height: 44px;
		&.opened {
			max-height: 206px;
		}
	}
	.switch-camera {
		width: 35px;
		height: 35px;
		border-width: 1px;
	}
}
