<!-- НАВИГАТОР ПО РЕЗУЛЬТАТАМ -->
<app-results-navigator
	[service]="gameResultsService"
	[gameCode]="LotteryGameCode.Sportprognoz"
	[gameName]="'lottery.sportprognoz.game_name'"
	[printData]="printData"
	[viewResults]="viewData"
	(resultSelected)="onSelectedResultsHandler($event)"
	>

	<div class="results-scroll webalt-scroll" data-cy="results-scroll">

		<!-- СПИСОК КОММАНД -->
		<app-participants-list
			class="participants-list"
			data-cy="participants-list"
			[currentMode]="ParticipantsListMode.Results"
			[participantsList]="participantsList"
			[isVisibleHeader]="true"
		>
		</app-participants-list>

		<!-- СПИСОК ВЫИГРЫШНЫХ КАТЕГОРИЙ -->
		<app-win-category-table
			class="win-category-table"
			data-cy="win-category-table"
			[winCategoryList]="viewData?.winCat"
		></app-win-category-table>

		<!-- ДЖЕКПОТ -->
		<div class="extra-info"
			 *ngIf="viewData?.extraInfo"
			 data-cy="extra-info"
		>{{ viewData.extraInfo }}</div>

	</div>

</app-results-navigator>
