@import 'variables';

:host {
	height: 100%;
	display: block;
}

.sportprognoz-results-container {
	height: 100%;
	display: block;
}

.results-scroll {
	padding: 0 15px;
	overflow-x: hidden;
}

app-participants-list.participants-list {
	::ng-deep {
		.plc-row__cell {
			font-size: 24px;
		}
	}
}

app-win-category-table.win-category-table {
	::ng-deep {
		.win-cat-table__cell {
			font-size: 24px;
		}
	}
}

.extra-info {
	margin: 15px 0;
}

@media screen and (max-width: 1919px) {
	app-participants-list.participants-list {
		::ng-deep {
			.plc-row__cell {
				font-size: 18px;
			}
		}
	}

	app-win-category-table.win-category-table {
		::ng-deep {
			.win-cat-table__cell {
				font-size: 18px;
			}
		}
	}
}

@media screen and (max-width: 1365px) {
	app-participants-list.participants-list {
		::ng-deep {
			.plc-row__cell {
				font-size: 18px;
				&_num {
					width: 20px;
				}
			}
		}
	}

	app-win-category-table.win-category-table {
		::ng-deep {
			.win-cat-table__cell {
				font-size: 18px;
			}
		}
	}
	.extra-info {
		font-size: 18px;
	}
}

@media screen and (max-width: 1139px) {
	app-participants-list.participants-list {
		::ng-deep {
			.plc-row__cell {
				font-size: 14px;
				&_team1, &_team2 {
					width: 20%;
				}
				&_score, &_result {
					width: 15%;
				}
			}
		}
	}

	app-win-category-table.win-category-table {
		::ng-deep {
			.win-cat-table__cell {
				font-size: 14px;
			}
		}
	}
	.results-scroll {
		padding: 0;
	}
}

@media screen and (max-width: 853px) {
	app-participants-list.participants-list {
		::ng-deep {
			.plc-row__cell {
				font-size: 24px;
			}
		}
	}

	app-win-category-table.win-category-table {
		::ng-deep {
			.win-cat-table__cell {
				font-size: 24px;
			}
		}
	}
	.results-scroll {
		width: 130%;
	}
}

@media screen and (max-width: 839px) {
	app-participants-list.participants-list {
		::ng-deep {
			.plc-row__cell {
				font-size: 18px;
			}
		}
	}

	app-win-category-table.win-category-table {
		::ng-deep {
			.win-cat-table__cell {
				font-size: 18px;
			}
		}
	}
	.results-scroll {
		width: 150%;
	}
}

@media screen and (max-width: 639px) {
	app-participants-list.participants-list {
		::ng-deep {
			.plc-row__cell {
				font-size: 18px;
			}
		}
	}

	app-win-category-table.win-category-table {
		::ng-deep {
			.win-cat-table__cell {
				font-size: 18px;
			}
		}
	}
	.results-scroll {
		width: 170%;
	}
}

@media screen and (max-width: 479px) {
	app-participants-list.participants-list {
		::ng-deep {
			.plc-row__cell {
				font-size: 14px;
			}
		}
	}

	app-win-category-table.win-category-table {
		::ng-deep {
			.win-cat-table__cell {
				font-size: 14px;
			}
		}
	}
}
