@import 'variables';
@import 'mixins';

:host {
	display: flex;
	height: 100%;
	align-items: center;
}

.ticket-payment-container {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	background: white;
	width: 100%;
	height: fit-content;
	margin-top: -30px;
	&_step-2 {
		height: 100%;
		margin-top: 0;
		flex-direction: column;
		justify-content: space-between;
		padding: 60px 0;
	}
}

.pin-title {
	font-size: 24px;
	color: $msl_main_text_color;
	text-align: center;
	margin-bottom: 10px;
	&_error {
		color: $msl_error;
		margin-left: -50px;
		margin-right: -50px;
	}
}

.sms-code {
	max-width: 350px;
	width: 100%;
	margin: 0 auto;
	display: block;
	letter-spacing: 50px;
}

// -----------------------------------------
//  Панель с кнопками
// -----------------------------------------

.tpc-bottom-panel {
	width: 100%;
}

.sms-message {
	font-family: $roboto_medium;
	font-size: 24px;
	color: $msl_main_text_color;
	text-align: center;
	margin-bottom: 16px;
}

.print-message {
	font-family: $roboto_bold;
	font-size: 28px;
	color: $msl_main_text_color;
	text-align: center;
	margin-bottom: 20px;
}

.tpc-controls-panel {
	display: flex;
	flex-direction: row;
	justify-content: center;

	width: 100%;

	margin: 0 auto;
	padding: 0 60px;

	&_stretched {
		justify-content: space-between;
		max-width: 1246px;
	}
}

.bottom-button {
	width: 100%;
	max-width: 400px;
	margin-left: 10px;
	margin-right: 10px;
	height: 80px;
	font-size: 36px;
	&_full-width {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	&_cancel-continue {
		font-family: $roboto_medium;
	}
	&_under {
		max-width: 350px;
		height: 60px;
		margin: 16px auto;
		display: block;
		font-size: 24px;
	}
	&_hidden {
		display: none;
	}
}

// -----------------------------------------
//  Заголовок
// -----------------------------------------

.tpc-header {
	font-family: $roboto_bold;
	font-size: 46px;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $msl_main_text_color;
	width: 100%;
	text-align: center;
}

// -----------------------------------------
//  Таблица
// -----------------------------------------

.tpc-info {
	max-width: 820px;
	width: 100%;
	margin-bottom: 105px;

	&_step-2 {
		max-width: 960px;
		margin-bottom: 0;
		padding: 0;
		flex-grow: 1;
	}
}

.tpc-info-table {
	padding: 23px;
	margin: 28px auto 0 auto;

	border: 2px solid $msl_placeholder_text_color;
	border-radius: 8px;
	&_step-2 {
		margin: 23px 0 40px 0;
	}
}

// -----------------------------------------
//  Состояние выплаты
// -----------------------------------------

.tpc-payment-state {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 15px 0;
	color: $msl_error;
	font-family: $roboto_bold;
	font-size: 36px;

	&.allowed-payment {
		color: $msl_base_green;
	}
	&_step-2 {
		margin: 55px 0 5px 0;
	}
}

// -----------------------------------------
//  Детализация о выплате
// -----------------------------------------

.tpc-notice {
	color: $msl_main_text_color;
	text-align: center;

	font-size: 24px;
	font-family: $roboto_regular;
	font-weight: normal;

	margin-bottom: 5px;
}

.tpc-description {
	display: block;

	font-size: 24px;
	font-weight: 500;
	font-family: $roboto_medium;

	text-align: center;
	color: $msl_base_green;

	::ng-deep {
		.sum-limit {
			font-family: $roboto_medium;
			font-size: 24px;

			color: $msl_main_text_color;

			margin-bottom: 15px;
		}

		.free-calls {
			margin-top: 10px;
			text-transform: uppercase;
			font-family: $roboto_bold;
		}
	}
}

// -----------------------------------------
//  Строки с информацией о сумме выигрыша
// -----------------------------------------

.tpc-info-row {
	display: flex;
	flex-direction: row;

	&:first-child {
		margin-bottom: 20px;
	}

	// -----------------------------------------
	//  Выигрышные строки
	// -----------------------------------------

	&.allowed-payment {
		.tpc-info-value {
			color: $msl_base_green;
		}
	}
}

.tpc-info-text, .tpc-info-value {
	width: 50%;
	font-size: 36px;
	font-family: $roboto_bold;
}

.tpc-info-text {
	color: $msl_main_text_color;
}

.tpc-info-value {
	text-align: right;
	color: $msl_error;
}

.win-details {
	margin-top: 20px;
	border: 1px solid #5a5a5a;
	border-radius: 5px;

	&__sep {
		display: none;
	}

	&__header, &__body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 5px 5px;
		padding: 5px;
	}

	&__header {
		border-bottom: 1px solid #5a5a5a;
		padding-right: 18px;
	}

	&__header &__cell {
		font-family: $roboto_bold;
		font-size: 20px;
	}

	&__body {
		max-height: 80px;
		overflow-y: auto;
		margin-right: 3px;
		&::-webkit-scrollbar {
			width: 8px;
		}
		&::-webkit-scrollbar-thumb {
			width: 8px;
			border: none;
		}
	}

	&__cell {
		color: $msl_main_text_color;
		&_allowed {
			color: #009788;
		}
		&_disallowed {
			color: $msl_error;
		}
		&_mob {
			display: none;
		}
		&_header {
			display: none;
		}
	}
}

@media screen and (max-width: 1919px) {
	.ticket-payment-container {
		&_step-2 {
			padding: 50px 0 30px 0;
		}
	}
	.tpc-info {
		&_step-2 {
			max-width: 820px;
		}
	}

	.tpc-info-table {
		&_step-2 {
			margin: 12px 0 40px 0;
		}
	}


	.tpc-payment-state {
		&_step-2 {
			margin: 20px 0 0 0;
		}
	}
}

@media screen and (max-width: 1365px) {
	.tpc-header {
		&_step-2 {
			font-size: 30px;
			margin-bottom: 30px;
		}
	}
	.tpc-info {
		&_step-2 {
			display: flex;
			align-items: flex-start;
			padding: 15px;
		}
	}
	.tpc-controls-panel {
		padding: 0;
		&_stretched {
			justify-content: center;
		}
	}
	.tpc-info-table {
		&_step-2 {
			border-width: 1px;
			flex-grow: 1;
			margin-right: 50px;
		}
	}

	.sms-code-area {
		width: 240px;
		margin-top: -17px;
	}

	.pin-title {
		font-size: 16px;
	}

	.sms-code {
		height: 44px;
		letter-spacing: 26px;
		font-size: 24px;
	}

	.tpc-payment-state {
		&_step-2 {
			font-size: 24px;
		}
	}

	.tpc-info-row {
		&_step-2 {
			margin-bottom: 10px;
			&:first-child {
				margin-bottom: 10px;
			}
			.tpc-info-text, .tpc-info-value {
				font-size: 24px;
			}
		}
	}

	.bottom-button {
		&_step-2 {
			max-width: 320px;
			height: 60px;
			font-size: 24px;
			margin-left: 20px;
			margin-right: 20px;
		}
		&_under {
			margin: 12px auto;
			height: 44px;
			font-size: 18px;
		}
	}
}

@media screen and (max-width: 1139px) {
	.win-details__cell {
		font-size: 14px;
	}
	.win-details__header .win-details__cell {
		font-size: 16px;
	}
	.ticket-payment-container {
		margin-top: 0;
		&_step-2 {
			padding: 20px 0 0 0;
		}
	}

	.tpc-header {
		font-size: 36px;
		&_step-2 {
			font-size: 30px;
			margin-bottom: 40px;
		}
	}

	.tpc-info {
		margin-bottom: 20px;
		&_step-2 {
			grid-template: auto / 1fr 240px;
			grid-column-gap: 50px;
			column-gap: 50px;
			padding: 0 2px;
			max-width: none;
			justify-content: center;
		}
	}

	.tpc-info-table {
		max-width: 500px;
		padding: 20px;
		margin: 20px auto 0 auto;
		&_step-2 {
			margin: 0;
		}
		&_blanks {
			max-width: 700px;
		}
	}
	.tpc-payment-state {
		margin-bottom: 0;
	}
	.tpc-info-text, .tpc-info-value, .tpc-payment-state {
		font-size: 24px;
	}

	.sms-message, .print-message {
		font-size: 18px;
	}

	.print-message {
		margin-bottom: 16px;
	}

	.bottom-button {
		max-width: 180px;
		width: 100%;
		height: 44px;
		font-size: 18px;
		&_cancel-continue {
			order: 1;
		}
		&_repeat-sms {
			order: 2;
			margin-bottom: 12px;
		}
		&_sms-payment {
			order: 3;
			margin-bottom: 12px;
		}
		&_under {
			max-width: none;
		}
		&_step-2 {
			margin-left: 10px;
			margin-right: 10px;
		}
		&_cancel-print {
			margin-bottom: 16px;
		}
	}

	.tpc-controls-panel {
		&_stretched {
			justify-content: center;
		}
	}

	.pin-title {
		font-size: 16px;
		&_error {
			margin-left: -40px;
			margin-right: -40px;
		}
	}

	.sms-code-area {
		margin-top: -29px;
	}

	.sms-code {
		letter-spacing: 29px;
		font-size: 18px;
		height: 44px;
	}

	.tpc-description {
		font-size: 14px;
		margin-bottom: -10px;
	}
}

@media screen and (max-width: 853px) {
	:host {
		align-items: flex-start;
	}
	.ticket-payment-container {
		margin-top: 0;
		padding-top: 25px;
		height: 100%;
		flex-direction: column;
		justify-content: flex-start;
		&_step-2 {
			padding-left: 0;
		}
	}
	.tpc-header {
		text-transform: uppercase;
		font-size: 24px;
		font-family: $roboto_medium;
		&_step-2 {
			margin-bottom: 0;
		}
	}
	.tpc-info-table {
		margin: 11px auto 0 auto;
		max-width: 640px;
		padding: 15px;
		&_step-2 {
			margin-bottom: 40px;
		}
	}
	.tpc-bottom-panel {
		flex-grow: 1;
		display: grid;
		grid-template-rows: auto 1fr;
		&_step-2 {
			grid-template-rows: 1fr;
		}
	}
	.tpc-controls-panel {
		flex-wrap: wrap;
		display: grid;
		grid-template: auto auto 1fr / 1fr;
		justify-items: center;
		padding: 0 12px;
	}
	.bottom-button {
		max-width: 640px;
		height: 60px;
		font-size: 24px;
		&_cancel-continue {
			order: 2;
			background: none;
		}
		&_repeat-sms {
			order: 1;
			margin-bottom: 12px;
		}
		&_sms-payment {
			order: 3;
			margin-bottom: 12px;
			align-self: end;
			max-width: none;
		}
		&_hidden {
			display: block;
		}
		&_under {
			display: none;
		}
		&_cancel-print {
			order: 2;
			margin-top: 10px;
		}
	}
	.tpc-info {
		margin-bottom: 40px;
		&_step-2 {
			display: block;
			flex-grow: 0;
			margin-bottom: 12px;
		}
	}
	.sms-message {
		font-size: 20px;
	}
	.sms-code-area {
		margin-top: 0;
		width: 100%;
	}
	.pin-title {
		font-size: 20px;
		margin-bottom: 16px;
	}
	.sms-code {
		max-width: 640px;
		height: 60px;
		font-size: 24px;
		letter-spacing: 90px;
		::ng-deep {
			.pin {
				&__spacers {
					justify-content: center;
				}
				&__spacer {
					width: 44px;
					margin: 0 30px;
				}
				&__input {
					padding-left: 155px;
				}
				&__padding {
					width: 110px;
				}
				&__clear {
					left: auto;
					transform: translate(0, -50%);
					right: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 839px) {
	.tpc-info {
		margin-bottom: 20px;
		&_step-2 {
			margin-bottom: 12px;
		}
	}
	.tpc-info-table {
		max-width: 464px;
		&_step-2 {
			margin-bottom: 25px;
		}
		&_blanks {
			max-width: 620px;
		}
	}

	.win-details__header .win-details__cell {
		font-size: 14px;
	}

	.bottom-button {
		height: 60px;
		font-size: 24px;
		max-width: 464px;
	}
	.sms-message {
		font-size: 18px;
		max-width: 464px;
		margin-left: auto;
		margin-right: auto;
	}
	.tpc-info-row {
		&:first-child {
			margin-bottom: 12px;
		}
		&_step-2 {
			.tpc-info-text, .tpc-info-value, .tpc-payment-state {
				font-size: 18px;
			}
		}
	}

	.tpc-info-text, .tpc-info-value, .tpc-payment-state, .pin-title {
		font-size: 18px;
	}

	.sms-code {
		max-width: 464px;
		height: 60px;
		font-size: 24px;
		letter-spacing: 81px;
		::ng-deep {
			.pin {
				&__spacers {
					justify-content: center;
				}
				&__spacer {
					width: 44px;
					margin: 0 30px;
				}
				&__input {
					padding-left: 80px;
				}
				&__padding {
					width: 40px;
				}
				&__clear {
					left: auto;
					transform: translate(0, -50%);
					right: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 639px) {
	:host {
		display: flex;
		height: 100%;
		align-items: flex-start;
	}

	.ticket-payment-container {
		top: 52px;
		padding: 8px;
		margin-top: 5px;
	}

	.sms-code {
		margin: 0 auto;
		height: 44px;
		max-width: 464px;
		::ng-deep {
			.pin {
				&__title {
					font-size: 16px;
					margin-left: 0;
					margin-right: 0;
				}
				&__wrapper {
					width: 100%;
					max-width: none;
					margin: 0 auto;
					display: block;
				}
				&__spacer {
					height: 1px;
				}
			}
		}
	}

	.tpc-header {
		margin-top: 10px;
		margin-bottom: 5px;
		font-size: 24px;
		font-family: $roboto_medium;
		text-transform: uppercase;
	}
	.tpc-info {
		width: 100%;
		min-width: auto;
		margin-bottom: 15px;

		&_step-2 {
			max-width: 1246px;
			width: 100%;
			display: block;
			margin-bottom: 8px;
			padding: 0 ;
		}
	}

	.tpc-info-table {
		padding: 0 12px;
		margin: 10px auto 0 auto;

		border: 1px solid $msl_placeholder_text_color;
		border-radius: 8px;
		&_step-2 {
			margin: 10px auto;
		}
		&_blanks {
			padding: 0 12px 12px 12px;
		}
	}

	.win-details {
		&__header, &__body {
			grid-template-columns: 50px 1fr 1fr 1fr;
		}

		&__cell, &__header &__cell {
			font-size: 12px;
		}

	}

	// -----------------------------------------
	//  Строки с информацией о сумме выигрыша
	// -----------------------------------------

	.tpc-info-row {
		display: flex;
		flex-direction: row;
		margin: 12px 0;

		&:first-child {
			margin-bottom: 12px;
		}

		// -----------------------------------------
		//  Выигрышные строки
		// -----------------------------------------

		&.allowed-payment {
			.tpc-info-value {
				color: $msl_base_green;
			}
		}
	}

	.tpc-info-text, .tpc-info-value {
		font-size: 18px;
		font-family: $roboto_medium;
	}

	// -----------------------------------------
	//  Состояние выплаты
	// -----------------------------------------

	.tpc-payment-state {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 16px 0;
		color: $msl_error;
		font-size: 18px;

		&.allowed-payment {
			color: $msl_base_green;
		}
	}

	// -----------------------------------------
	//  Детализация о выплате
	// -----------------------------------------

	.tpc-controls-panel {
		flex-flow: row wrap;
		margin: 0 auto;
		padding: 0;
	}

	.bottom-button {
		height: 44px;
		margin: 0 0 8px 0;
		font-size: 18px;
		max-width: 464px;
		border-width: 1px;
		&_cancel-continue {
			order: 3;
		}
	}
	.sms-message {
		margin: 16px auto;
		font-size: 16px;
		font-family: $roboto_regular;
		max-width: 430px;
	}
	.tpc-description {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.tpc-notice {
		font-size: 16px;
	}
}

@media screen and (max-width: 479px) {
	:host {
		display: flex;
		height: 100%;
		align-items: flex-start;
	}

	.ticket-payment-container {
		top: 52px;
		padding: 8px;
	}

	.sms-code {
		max-width: 350px;
		::ng-deep {
			.pin {
				&__title {
					font-size: 16px;
					margin-left: 0;
					margin-right: 0;
				}
				&__wrapper {
					width: 100%;
					max-width: 350px;
					margin: 0 auto;
					display: block;
				}
				&__input {
					letter-spacing: 58px;
					padding-left: 63px;
					height: 44px;
					font-size: 18px;
				}
				&__spacer {
					margin: 0 12px;
				}
			}
		}
	}

	.tpc-header {
		margin-top: 3px;
		margin-bottom: 0;
		font-size: 18px;
		font-family: $roboto_bold;
		text-transform: uppercase;
	}
	.tpc-info {
		width: 100%;
		min-width: auto;
		margin-bottom: 8px;

		&_step-2 {
			max-width: 344px;
			width: 100%;
			display: block;
			margin-bottom: 8px;
			padding: 0 ;
		}
	}

	.tpc-info-table {
		padding: 0 12px;
		margin: 10px auto 0 auto;

		border: 1px solid $msl_placeholder_text_color;
		border-radius: 8px;

		&_step-2 {
				margin: 10px 0;
		}
		&_blanks {
			padding: 0 12px 12px 12px;
		}
	}

	// -----------------------------------------
	//  Строки с информацией о сумме выигрыша
	// -----------------------------------------

	.tpc-info-row {
		display: flex;
		flex-direction: row;
		margin: 12px 0;

		&:first-child {
			margin-bottom: 12px;
		}

		// -----------------------------------------
		//  Выигрышные строки
		// -----------------------------------------

		&.allowed-payment {
			.tpc-info-value {
				color: $msl_base_green;
			}
		}
	}

	.tpc-info-text, .tpc-info-value {
		font-size: 16px;
		font-family: $roboto_bold;
	}

	// -----------------------------------------
	//  Состояние выплаты
	// -----------------------------------------

	.tpc-payment-state {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 12px 0;
		color: $msl_error;
		font-size: 16px;

		&.allowed-payment {
			color: $msl_base_green;
		}
	}

	// -----------------------------------------
	//  Детализация о выплате
	// -----------------------------------------

	.tpc-controls-panel {
		flex-flow: row wrap;
		margin: 0 auto;
		padding: 0;
	}

	.bottom-button {
		height: 44px;
		margin: 0 0 8px 0;
		font-size: 18px;
		max-width: 400px;
		&_cancel-continue {
			order: 3;
		}
		&_step-2 {
			max-width: 344px;
		}
	}

	.sms-message {
		margin: 16px 0 10px 0;
		font-size: 16px;
		font-family: $roboto_regular;
	}
	.tpc-description {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.tpc-notice {
		font-size: 16px;
	}

	.print-message {
		margin-bottom: 10px;
	}

	.win-details {
		&__header, &__body {
			display: block;
		}
		&__header {
			padding-right: 5px;
			.win-details {
				&__cell {
					&_draw, &_winsum, &_paysum, &_status {
						display: none;
					}
				}
			}
		}

		&__body {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		&__cell {
			&_mob {
				display: block;
				text-align: center;
				font-family: $roboto_bold;
				color: $msl_main_text_color;
			}
			&_header {
				display: block;
			}
		}
		&__sep {
			border-bottom: 1px solid $msl_main_text_color;
			grid-column-start: 1;
			grid-column-end: 3;
			display: grid;
		}
	}
}
