<div class="ticket-payment-container"
	 [class.ticket-payment-container_step-2]="payStep === PayStep.Step2"
	 data-cy="ticket-payment-container"
>

	<!-- ЗАГОЛОВОК -->
	<label class="tpc-header"
		   [class.tpc-header_step-2]="payStep === PayStep.Step2"
		   data-cy="tpc-header"
	>
		{{ (ticketsService.winCheck?.is_win ? 'tickets.winning_ticket' : 'tickets.ticket_is_not_winning') | translate }}
	</label>

	<div class="tpc-info"
		 [class.tpc-info_step-2]="payStep === PayStep.Step2"
		 data-cy="tpc-info"
	>
		<!-- ТАБЛИЦА -->
		<div class="tpc-info-table"
			 [class.tpc-info-table_step-2]="payStep === PayStep.Step2"
			 [class.tpc-info-table_blanks]="!!ticketsService.winCheck?.win_tickets_details"
			 data-cy="tpc-info-table"
		>

			<!-- СУММА ВЫИГРЫША -->
			<div class="tpc-info-row"
				 [class.tpc-info-row_step-2]="payStep === PayStep.Step2"
				 [class.allowed-payment]="ticketsService.winCheck?.win_allow"
				 data-cy="tpc-info-row"
			>
				<label class="tpc-info-text"
					   data-cy="tpc-info-text"
				>{{ 'tickets.winning_amount' | translate }}:</label>
				<label class="tpc-info-value"
					   data-cy="tpc-info-value"
				>
					{{ ticketsService.winCheck?.win_ticket_sum }} {{ 'lottery.uah' | translate | lowercase }}
				</label>
			</div>

			<!-- СУММА К ВЫПЛАТЕ -->
			<div class="tpc-info-row"
				 [class.tpc-info-row_step-2]="payStep === PayStep.Step2"
				 [class.allowed-payment]="ticketsService.winCheck?.win_allow"
				 data-cy="tpc-info-row"
			>
				<label class="tpc-info-text"
					   data-cy="tpc-info-text"
				>{{ 'tickets.amount_to_be_paid' | translate }}:</label>
				<label class="tpc-info-value"
					   data-cy="tpc-info-value"
				>{{ ticketsService.winCheck?.win_sum }} {{ 'lottery.uah' | translate | lowercase }}</label>
			</div>

			<!-- ВЫПЛАТА РАЗРЕШЕНА/НЕ РАЗРЕШЕНА -->
			<label *ngIf="!ticketsService.winCheck?.win_tickets_details && ticketsService.winCheck?.is_win"
				class="tpc-payment-state"
				[class.tpc-payment-state_step-2]="payStep === PayStep.Step2"
				[class.allowed-payment]="ticketsService.winCheck?.win_allow"
				data-cy="tpc-payment-state"
				>
				{{ (ticketsService.winCheck?.win_allow ? 'tickets.payment_is_allowed' : 'tickets.payment_is_not_allowed') | translate }}
			</label>

			<div class="win-details" *ngIf="!!ticketsService.winCheck?.win_tickets_details">
				<div class="win-details__header">
					<div class="win-details__cell win-details__cell_draw">{{ 'tickets.draw' | translate }}</div>
					<div class="win-details__cell win-details__cell_winsum">{{ 'tickets.winning_amount' | translate }}</div>
					<div class="win-details__cell win-details__cell_paysum">{{ 'tickets.amount_to_be_paid' | translate }}</div>
					<div class="win-details__cell win-details__cell_status">{{ 'tickets.paying' | translate }}</div>
					<div class="win-details__cell_mob">{{ 'tickets.details' | translate }}</div>
				</div>
				<div class="win-details__body webalt-scroll">
					<ng-container *ngFor="let details of ticketsService.winCheck?.win_tickets_details">
						<div class="win-details__cell win-details__cell_draw win-details__cell_header">
							{{ 'tickets.draw' | translate }}
						</div>
						<div class="win-details__cell win-details__cell_draw">{{ details.draw_num }}</div>

						<div class="win-details__cell win-details__cell_winsum win-details__cell_header">
							{{ 'tickets.winning_amount' | translate }}
						</div>
						<div class="win-details__cell win-details__cell_winsum">
							{{ details.win_ticket_sum.toFixed(2) || '-' }} {{ 'lottery.uah' | translate | lowercase }}
						</div>

						<div class="win-details__cell win-details__cell_paysum win-details__cell_header">
							{{ 'tickets.amount_to_be_paid' | translate }}
						</div>
						<div class="win-details__cell win-details__cell_paysum">
							{{ details.win_sum.toFixed(2) }} {{ 'lottery.uah' | translate | lowercase }}
						</div>

						<div class="win-details__cell win-details__cell_status win-details__cell_header">
							{{ 'tickets.paying' | translate }}
						</div>
						<div class="win-details__cell win-details__cell_status"
							 [class.win-details__cell_allowed]="+details.win_allow > 0"
							 [class.win-details__cell_disallowed]="+details.win_allow === 0"
						>
							{{ ((+details.win_allow > 0) ? 'tickets.payment_is_allowed' : 'tickets.payment_is_not_allowed') | translate }}
						</div>

						<div class="win-details__sep"></div>
					</ng-container>
				</div>
			</div>

			<!-- ДЕТАЛИЗАЦИЯ 1 -->
			<div
				class="tpc-notice"
				*ngIf="ticketsService.winCheck && ticketsService.winCheck.additional_info?.seller_notice && ticketsService.winCheck.is_win"
				[innerHTML]="ticketsService.winCheck.additional_info.seller_notice"
				data-cy="tpc-notice"
			>
			</div>

			<!-- ДЕТАЛИЗАЦИЯ 2 -->
			<div
				class="tpc-description"
				*ngIf="ticketsService.winCheck && ticketsService.winCheck.additional_info?.seller_hint && ticketsService.winCheck.is_win"
				[innerHTML]="ticketsService.winCheck.additional_info.seller_hint"
				data-cy="tpc-description"
			>
			</div>

		</div>

		<div *ngIf="payStep === PayStep.Step2"
			 class="sms-code-area"
			 data-cy="sms-code-area"
		>
			<form action="" (ngSubmit)="onSMSCodeSubmit()">
				<!-- СМС-код -->
				<div class="pin-title"
					 [class.pin-title_error]="appStoreService.smsCodeError"
					 data-cy="pin-title"
				>
					{{ appStoreService.smsCodeError ? ('common.sms_code_error' | translate) : ('common.sms_code' | translate) }}
				</div>
				<app-msl-input-pin
					#smsControl
					class="sms-code"
					data-cy="sms-code"
					[errorState]="appStoreService.smsCodeError"
					[showClearBtn]="true"
					[alwaysShowClearBtn]="true"
					(charsInput)="onPinCodeChange()"
					(focused)="onPinFocused()"
				>
				</app-msl-input-pin>

<!--
				<button *ngIf="ticketsService.winCheck?.win_allow && pinFocused"
					type="submit"
					class="button button_theme_green bottom-button bottom-button_sms-payment bottom-button_under"
					[attr.disabled]="isPayBtnDisabled || null"
					(click)="onClickWinPayHandler()"
				>
					{{ 'tickets.payment' | translate }}
				</button>
-->

				<button *ngIf="payStep === PayStep.Step2 && pinFocused"
						type="button"
						class="button button_theme_light-green bottom-button bottom-button_repeat-sms bottom-button_under"
						[class.full-width]="!ticketsService.winCheck?.win_allow"
						data-cy="bottom-button-sms"
						(click)="onRepeatSMS()"
				>
					{{ 'common.repeat_sms' | translate }}
				</button>


			</form>
		</div>
	</div>

	<!-- ПАНЕЛЬ С КНОПКАМИ -->
	<div class="tpc-bottom-panel"
		 [class.tpc-bottom-panel_step-2]="payStep === PayStep.Step2"
		 data-cy="tpc-bottom-panel"
	>
		<div *ngIf="ticketsService.winCheck?.sms_required && ticketsService.winCheck?.win_allow &&
						payStep === PayStep.Step1 && !ticketsService.winCheck?.document_id"
			 class="sms-message"
			 data-cy="sms-message"
		>{{ 'tickets.sms_to_pay' | translate }}</div>
		<div *ngIf="payStep === PayStep.Step1 && ticketsService.winCheck?.document_id"
			 class="print-message"
			 data-cy="print-message"
		>{{ 'tickets.print_manual' | translate }}</div>
		<div class="tpc-controls-panel"
			 [class.tpc-controls-panel_stretched]="payStep === PayStep.Step2"
			 data-cy="tpc-controls-panel"
		>
			<button type="button"
				class="button button_theme_white bottom-button"
				[class.bottom-button_cancel-continue]="!ticketsService.winCheck?.document_id"
				[class.bottom-button_cancel-print]="!!ticketsService.winCheck?.document_id"
				[class.bottom-button_full-width]="!ticketsService.winCheck?.win_allow"
				[class.bottom-button_step-2]="payStep === PayStep.Step2"
				[ngClass]="ticketsService.winCheck?.win_allow ? '' : 'button_theme_green'"
				data-cy="bottom-button"
				(click)="onClickCancelHandler()"
				>
				{{ ((ticketsService.winCheck?.win_allow || ticketsService.winCheck?.document_id) ?
					'tickets.cancel' : 'dialog.dialog_button_continue') | translate }}
			</button>

			<button *ngIf="ticketsService.winCheck.sms_required && !ticketsService.winCheck.document_id &&
			((payStep === PayStep.Step1 && ticketsService.winCheck?.win_allow) || payStep !== PayStep.Step1)"
				type="button"
				class="button button_theme_light-green bottom-button bottom-button_repeat-sms"
				[class.full-width]="!ticketsService.winCheck?.win_allow"
				[class.bottom-button_hidden]="pinFocused"
				[class.bottom-button_step-2]="payStep === PayStep.Step2"
				data-cy="bottom-button-repeat"
				(click)="onRepeatSMS()"
			>
				{{ payStep === PayStep.Step1 ? ('lottery.send_sms' | translate) :  ('common.repeat_sms' | translate) }}
			</button>

			<button *ngIf="ticketsService.winCheck?.win_allow && !ticketsService.winCheck.document_id"
				class="button button_theme_green bottom-button bottom-button_sms-payment"
				[class.bottom-button_step-2]="payStep === PayStep.Step2"
				data-cy="bottom-button-payment"
				[attr.disabled]="isPayBtnDisabled || null"
				(click)="onClickWinPayHandler()"
				>
				{{ 'tickets.payment' | translate }}
			</button>

			<button *ngIf="ticketsService.winCheck.document_id"
					class="button button_theme_green bottom-button bottom-button_print"
					[class.bottom-button_step-2]="payStep === PayStep.Step2"
					data-cy="bottom-button-print"
					(click)="onClickPrintHandler()"
			>
				{{ 'dialog.yes' | translate }}
			</button>
		</div>
	</div>
</div>
