@import 'variables';

.modal-dialog-container {
	position: absolute;
}

.progress-bar-container {
	margin-top: 40px;
}

.progress-bar-background, .progress-bar {
	height: 10px;
	border-radius: 10px;
}

.progress-bar-background {
	width: 100%;
	background: $msl_placeholder_text_color;
}

.progress-bar {
	margin-top: -10px;
	background: $msl_base_green;
}

.modal-alt-title {
	margin-bottom: 16px;
}

.modal-alt-message {
	font-size: 18px;
	font-weight: normal;
}

.modal-alt-code {
	margin-top: 5px;
	font-size: 18px;
}

@media screen and (max-width: 480px) {
	.modal-dialog-background {
		padding: 8px;
	}
	.modal-dialog-container {
		padding: 8px 8px 12px 8px;
		max-width: 376px;
		left: auto;
	}
	.modal-alt-title {
		font-family: $roboto_bold;
		font-size: 24px;
		margin: 8px;
	}
	.modal-alt-message {
		font-weight: normal;
		font-family: $roboto_regular;
		font-size: 14px;
		margin: 4px 4px 0 4px;
	}
	.progress-bar-container {
		margin-top: 15px;
	}
	.modal-alt-code {
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 14px;
	}
}


@media screen and (max-width: 360px) {
	.modal-dialog-background {
		padding: 8px;
	}
	.modal-dialog-container {
		padding: 8px 8px 12px 8px;
	}
	.modal-alt-title {
		font-family: $roboto_bold;
		font-size: 24px;
		margin: 8px;
	}
	.modal-alt-message {
		font-weight: normal;
		font-family: $roboto_regular;
		font-size: 14px;
		margin: 4px 4px 0 4px;
	}
	.progress-bar-container {
		margin-top: 15px;
	}
	.modal-alt-code {
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 14px;
	}
}
