<div class="upo-refill-container">

	<form
		[formGroup]="refillForm"
		>

		<!-- ПАНЕЛЬ ВВОДА -->
		<div class="reporting-right-section">
			<div class="urc-input-row">
				<label>
					{{ 'reporting.sum' | translate }}&nbsp;(<span>{{ 'reporting.refill_from_to' | translate:{min: MIN, max: MAX} }}</span>)
				</label>

				<app-msl-input-with-keyboard
					class="msl-input-with-keyboard"
					formControlName="summa"
					>
				</app-msl-input-with-keyboard>
			</div>
		</div>

		<!-- КНОПКА ЗАПРОСА -->
		<button type="submit"
			class="button button_theme_green request-button"
			[attr.disabled]="refillForm.invalid || (userPaymentOperationsService.isLoadingData$$ | async) || null"
			(click)="onClickRegistryButtonHandler()"
			>
			{{ 'reporting.registry' | translate }}
		</button>

	</form>

</div>



