@import "variables";

.upo-refill-container {
	form {
		.reporting-right-section {
			display: flex;
			flex-direction: column;
			align-items: center;

			.urc-input-row {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				margin: 8px;

				label {
					font-family: $roboto_regular;
					font-size: 14px;
					color: $msl_main_text_color;

					span {
						color: $msl_base_green;
					}
				}

				.msl-input-with-keyboard {
					display: flex;
					max-width: 400px;
					width: 100%;
					margin-top: 4px;
					::ng-deep {
						.input-field {
							height: 36px;
							font-size: 18px;
						}
					}
				}
			}
		}

		&.ng-invalid {
			.reporting-right-section {
				.urc-input-row {
					label {
						font-family: $roboto_regular;
						font-size: 14px;
						color: $msl_main_text_color;

						span {
							color: $msl_error;
						}
					}
				}
			}
		}
	}

}

.request-button {
	height: 44px;
	font-size: 18px;
	max-width: 300px;
	margin: 0 auto;
	display: block;
}
