@import '../../../../../sass/variables';

:host {
	display: block;
	width: 24px;
	height: 24px;
	margin-right: 0;
	margin-left: auto;
}

.cross-image {
	width: 100%;
	height: 100%;
	display: block;
}

.cross-path {
	fill: $msl_main_text_color;
}
