<div
	class="authorization-container"
	data-cy="authorization-container"
	*ngIf="(appStoreService.isLoggedIn$$ | async) === false"
	>

	<!-- ВЕРХНИЙ КОНТЕЙНЕР -->
	<div class="ac-top-container"
		 data-cy="ac-top-container"
	>
		<label class="ac-info"
			   data-cy="ac-info"
		>
			{{ 'header.build_version' | translate:{value: buildVersion} }}
		</label>
	</div>

	<!-- ЗАГОЛОВОК + ФОРМА -->
	<div class="ac-center"
		 data-cy="ac-center"
	>
		<h2 class="title"
			data-cy="title"
			[class.title_step_2]="authStep === AuthStep.Step2">{{ 'auth.authorization' | translate }}</h2>
		<form
			class="login-form"
			action=""
			data-cy="login-form"
			[formGroup]="loginForm"
			(ngSubmit)="onStepsSubmit()"
			>
			<div class="auth-step-1"
				 data-cy="auth-step-1"
			>
				<!-- LOGIN -->
				<app-msl-input
					#loginControl
					class="login-form__item login-form__item_type_user"
					[class.login-form__item_step_2]="authStep !== AuthStep.Step1"
					data-cy="login-form-item-type-user"
					formControlName="login"
					placeholder="{{ 'auth.login' | translate }}"
					[maxLength]="maxInputLength"
					[inactive]="authStep !== AuthStep.Step1"
				>
				</app-msl-input>

				<!-- PASSWORD -->
				<app-msl-input
					#passwordControl
					class="login-form__item login-form__item_type_user"
					[class.login-form__item_step_2]="authStep !== AuthStep.Step1"
					data-cy="login-form-item-type-password"
					placeholder="{{ 'auth.password' | translate }}"
					formControlName="password"
					[maxLength]="maxInputLength"
					[inactive]="authStep !== AuthStep.Step1"
					[secured]="true"
				>
				</app-msl-input>

				<ng-container *ngIf="(authStep === AuthStep.Step1) && (posList?.length === 0)">
					<div class="poslist-err-msg"
						 data-cy="poslist-err-msg"
						 [innerHTML]="'auth.op_not_assigned' | translate"
					></div>
				</ng-container>

				<input type="submit"
					   class="fake-submit-btn"
					   data-cy="fake-submit-btn"
				/>
			</div>
		</form>

		<form *ngIf="(authStep === AuthStep.Step2) || (authStep === AuthStep.Step3)"
			  [formGroup]="phonesForm"
			  (ngSubmit)="onStepsSubmit()"
			  class="phones-form"
			  data-cy="phones-form"
		>
			<ng-container *ngIf="clientList.length > 0">
				<div class="select-phone"
					 data-cy="select-phone"
				>{{ 'auth.select_your_phone' | translate }}</div>
				<label *ngFor="let clientItem of clientList; let i = index"
					class="client-phone"
					[class.client-phone_inactive]="authStep === AuthStep.Step3 && clientItem.client_id !== phonesForm?.controls['client_phone']?.value"
					[class.client-phone_active]="clientItem.client_id === phonesForm?.controls['client_phone']?.value"
					data-cy="client-phone"
				>
					<input class="client-phone__radio"
						   data-cy="client-phone-radio"
						   type="radio"
						   name="client_phone"
						   formControlName="client_phone"
						   id="client_phone_{{ i }}"
						   [value]="clientItem.client_id"
						   (change)="onResendSMSHandler()"
					>{{ clientItem.login }}</label>
				<input type="submit"
					   class="fake-submit-btn"
					   data-cy="fake-submit-btn"
				/>
			</ng-container>
			<ng-container *ngIf="clientList.length === 0">
				<div class="phones-form__empty"
					 data-cy="phones-form-empty"
				>{{ 'auth.no_phones' | translate }}</div>
			</ng-container>
		</form>

		<form *ngIf="authStep === AuthStep.Step3"
			  id="authform_step_3"
			  class="login-form"
			  data-cy="login-form"
			  [formGroup]="smsForm"
			  (ngSubmit)="onStepsSubmit()"
		>
			<div class="auth-step-3"
				 data-cy="auth-step-3"
			>
				<div class="pin-title"
					 data-cy="pin-title"
					 [class.pin-title_error]="appStoreService.smsCodeError"
				>{{ appStoreService.smsCodeError ? ('common.sms_code_error' | translate) : ('common.sms_code' | translate) }}</div>

				<app-msl-input-pin
					#smsControl
					class="login-form__item login-form__item_type_sms sms-code"
					data-cy="login-form-item-type-sms"
					formControlName="smscode"
					[errorState]="appStoreService.smsCodeError"
					[showClearBtn]="true"
					[alwaysShowClearBtn]="true"
					(ngModelChange)="onPinCodeChange()"
					(focused)="triggerScrollTo()"
				></app-msl-input-pin>

				<input type="submit"
					   class="fake-submit-btn"
					   data-cy="fake-submit-btn"
				/>

				<!-- RESEND SMS BUTTON -->
				<button type="button"
					class="button button_theme_light-green auth-button auth-button_type_repeat-sms"
					data-cy="auth-button-type-repeat-sms"
					[attr.disabled]="(smsUnlockTimeout > 0) || (smsRetryCount === 0) || null"
					(click)="onResendSMSHandler()"
				>{{ 'common.repeat_sms' | translate }}</button>
			</div>
		</form>

		<!-- На 4 сек задержать, если 1 точка -->
		<div class="terminals"
			 *ngIf="authStep === AuthStep.Step4"
			 data-cy="terminals"
		>
			<ng-container *ngIf="posList?.length > 0">
				<h3 class="select-terminal"
					data-cy="select-terminal"
				>
					{{ posList.length === 1 ? ('auth.you_auth_on' | translate ) : ('auth.select_terminal_code' | translate) }}
				</h3>
				<div class="terminals-list"
					 data-cy="terminals-list"
					 (click)="onSelectTerminal($event)"
				>
					<div
						*ngFor="let posItem of posList; let i = index; trackBy: trackByField"
						[attr.data-term-index]="i"
						class="terminal-item"
						data-cy="terminal-item"
						[class.terminal-item_selected]="termIndex >= 0 && termIndex === i"
					>
						<span class="terminal-name"
							  data-cy="terminal-name"
							  [class.terminal-name_selected]="termIndex >= 0 && termIndex === i"
						>{{ 'auth.terminal' | translate }}: {{ posItem.pos.client_id }}</span>
						<span class="terminal-location"
							  [class.terminal-location_selected]="termIndex >= 0 && termIndex === i"
							  data-cy="terminal-location"
						>{{ posItem.pos.pos_name }}</span>
					</div>
				</div>
			</ng-container>
		</div>

		<div class="button-wrapper"
			 data-cy="button-wrapper"
		>
			<!-- CONFIRM BUTTON -->
			<button
				*ngIf="authStep !== AuthStep.Step4"
				type="button"
				class="button auth-button auth-button_type_confirm button_theme_dark-green"
				data-cy="auth-button-type-confirm"
				[attr.disabled]="isConfirmDisabled || null"
				(click)="onActionHandler()">
				{{ authStep === AuthStep.Step1 ? ('auth.enter_btn' | translate) : ('auth.confirm_btn' | translate) }}
			</button>
		</div>
	</div>
</div>
