@import 'variables';

// -----------------------------------------
//  Верхний контейнер
// -----------------------------------------

.authorization-container {
	padding: 8px;
}

.ac-top-container {
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 30px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	position: relative;
}

.ac-info {
	font-family: $roboto_regular;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $msl_main_text_color;
}

.ac-right {
	display: flex;
	align-items: center;
}

.ac-network-state {
	margin-right: 30px;
	position: relative;
	&_active {
		z-index: $layer_communication_header_icon;
	}
}

.ac-off {
	height: 42px;
	padding-left: 10px;
	padding-right: 10px;

	display: flex;
	flex-direction: row;
	align-items: center;

	border: 1px solid $msl_inactive_color;
	border-radius: 8px;
	background-color: #ffff;

	label {
		margin-right: 10px;

		font-family: $roboto_regular;
		font-size: 24px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: $msl_main_text_color;

		pointer-events: none;
	}

	i {
		padding: 2px;

		background: $msl_turn_off_terminal_color;
		border-radius: 32px;

		font-size: 24px;
		color: #fff;

		pointer-events: none;
	}
}

.auth-step-1 {
	max-width: 350px;
	width: 100%;
}

@keyframes slideDown {
	from {
		height: 0;
		max-height: 0;
	}
	to {
		height: auto;
		max-height: 250px;
	}
}

.auth-step-2, .auth-step-3 {
	overflow: hidden;
	height: 0;
	max-height: 0;
	animation-name: slideDown;
	animation-duration: 0.6s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	width: 100%;
}

// -----------------------------------------
//  Заголовк и форма ввода
// -----------------------------------------

.ac-center {
	margin: 25px 0;
	width: 100%;
	display: grid;
	grid-template-rows: auto auto auto 1fr;
	height: 100%;
}

.auth-button {
	display: block;
	max-width: 350px;
	width: 100%;
	height: 80px;
	margin: 0 auto;
	font-size: 36px;

	&_type {
		&_repeat-sms {
			margin-bottom: 16px;
		}
	}
}


.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	&__item {
		width: 100%;
		margin-bottom: 30px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		&_type {
			&_sms {
				margin-bottom: 8px;
				display: block;
				width: 100%;
				max-width: 350px;
			}
		}
	}
}

.pin-title {
	font-size: 24px;
	color: $msl_main_text_color;
	text-align: center;
	margin-bottom: 10px;
	&_error {
		color: $msl_error;
	}
}
.sms-code {
	width: 100%;
	height: 56px;
}

.title {
	text-transform: uppercase;
	text-align: center;
}


.terminals {
	max-width: 600px;
	width: 100%;
	margin: 0 auto 30px auto;
}

.select-terminal {
	font-size: 24px;
	font-family: $roboto_medium;
	font-weight: normal;

	color: $msl_base_green;
	text-align: center;

	margin-bottom: 12px;
}

.terminal-item {
	max-width: 600px;
	width: 100%;

	margin: 0 auto 8px 0;
	padding: 0 24px;

	min-height: 50px;
	border-radius: 8px;
	border: 2px solid $msl_inactive_color;

	display: grid;
	grid-template: auto / 1fr 1fr;
	align-items: center;

	&_selected {
		background: $msl_base_green;
		border: 2px solid transparent;
	}
}

.terminal-name {
	font-size: 24px;
	font-family: $roboto_medium;
	color: $msl_main_text_color;
}

.terminal-location {
	justify-self: end;
	font-size: 18px;
	font-family: $roboto_regular;
	color: $msl_main_text_color;
}

.terminal-name, .terminal-location {
	&_selected {
		color: #FFFFFF;
	}
}

.poslist-err-msg {
	font-family: $roboto_regular;
	font-size: 18px;
	color: $msl_error;
	text-align: center;
	margin-bottom: 30px;
}

.fake-submit-btn {
	display: none;
}

.client-phone {
	max-width: 344px;
	width: 100%;
	margin: 8px auto;
	display: block;
	border: 1px solid $msl_inactive_color;
	font-size: 18px;
	font-family: $roboto_medium;
	border-radius: 8px;
	color: $msl_main_text_color;
	padding: 10px;
	text-align: center;
	&_active {
		color: #FFFFFF;
		background: $msl_base_green;
		border: 1px solid $msl_base_green;
	}
	&_inactive {
		display: none;
	}
	&__radio {
		display: none;
	}
}

.select-phone {
	text-align: center;
	font-size: 16px;
	color: $msl_base_green;
	font-family: $roboto_medium;
	margin-bottom: 8px;
	margin-top: 12px;
}

.phones-form {
	margin-bottom: 8px;
	&__empty {
		text-align: center;
		margin: 10px auto;
		max-width: 350px;
		font-family: $roboto_medium;
	}
}

.cordova {
	display: block;
	max-width: 350px;
	width: 100%;
	height: 80px;
	margin: 10px auto;
	font-size: 36px;
}

@media screen and (max-width: 1139px) {
	.ac-top-container {
		display: none;
	}

	.ac-center {
		margin: 0;
	}

	.title {
		font-size: 30px;
		margin: 15px 0;
		&_step_2 {
			margin: 10px 0;
		}
	}

	app-msl-input.login-form__item {
		margin-bottom: 24px;
		&_step_2 {
			margin-bottom: 15px;
		}
		::ng-deep {
			.msl-input-container {
				margin-top: 0;
				input {
					font-size: 18px;
				}
				span {
					font-size: 18px;
					top: -35px;
				}
				input:focus + label > span,
				input:valid + label > span {
					display: none;
				}
			}
		}
	}

	.auth-button {
		height: 44px;
		font-size: 18px;
		&_type_repeat-sms {
			margin-bottom: 10px;
		}
	}



	.pin-title {
		font-size: 16px;
		margin-bottom: 8px;
		&_error {
			color: $msl_error;
		}
	}
	.sms-code {
		height: 44px;
		font-size: 18px;
		letter-spacing: 57px;
	}

	.select-terminal {
		font-size: 16px;
	}

	.terminal-item {
		display: flex;
		min-height: 0;
		justify-content: center;
	}

	.terminal-name, .terminal-location {
		display: block;
		text-align: center;
		margin: 8px;
	}

	.terminal-name {
		font-size: 18px;
	}

	.terminal-location {
		font-size: 16px;
	}
}

@media screen and (max-width: 479px) {
	.title {
		font-size: 24px;
		margin: 20px 0;
	}
	.sms-code {
		letter-spacing: 55px;
	}
	.authorization-container {
		height: 100%;
	}
	.button-wrapper {
		flex-grow: 1;
		display: flex;
		align-items: flex-end;
	}
	.ac-center {
		display: flex;
		flex-direction: column;
	}
	.auth-button_type_repeat-sms {
		border-width: 1px;
	}
}

@for $i from 52 to 45 {
	@media screen and (max-width: #{5 * $i + 95}px) {
		.sms-code {
			letter-spacing: #{$i}px;
		}
	}
}
