@import 'variables';

li {
	width: 100%;
	height: 210px;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;

	//margin: 5px;
	//padding: 5px;

	//&:first-child {
	//	margin-left: 10px;
	//}
	&:last-child {
		margin-right: 10px;
	}

	font-size: 18px;
	font-weight: bold;
	text-align: center;

	background: radial-gradient(white, white, rgba($msl_base_green, 0.2));
	border: 2px solid $msl_base_green;
	border-radius: 10px;

	cursor: pointer;

	& > div {
		width: 100%;
		height: 100%;
	}

	span {
		width: 100%;
		margin-bottom: 25px;
	}

	.zabava-icon {
		background: url("/assets/img/pic/logo_zabava.svg") no-repeat center;
		background-size: 62%;
	}

	.megalot-icon {
		background: url("/assets/img/pic/logo_megalot.png") no-repeat center 25px;
		background-size: 70%;
	}

	.instant-1-icon {
		background: url("/assets/img/pic/logo_instant.png") no-repeat center;
		background-size: 70%;
	}

	.instant-2-icon {
		background: url("/assets/img/pic/golden-triumph_logo.png") no-repeat center;
		background-size: 90%;
	}

	.tiptop-icon {
		background: url("/assets/img/pic/logo_tiptop.png") no-repeat center 45px;
		background-size: 83%;
	}

	.gonka-icon {
		background: url("/assets/img/pic/logo_gg.png") no-repeat center 37px;
		background-size: 100%;
	}

	.sportliga-icon {
		background: url("/assets/img/pic/logo_sportliga.png") no-repeat center;
		background-size: 90%;
	}

	.sportprognoz-icon {
		background: url("/assets/img/pic/logo_sportprognoz.png") no-repeat center;
		background-size: 90%;
	}

	.tmlbml-icon {
		background: url("/assets/img/pic/logo_styrachka.png") no-repeat center;
		//background: url("../../../../../assets/img/pic/logo_styrachka.svg") no-repeat center #aa1554;
		background-size: 100%;
		//border-radius: 6px;
		//margin-bottom: 18px;
	}
/*	.kare-icon {
		background: url("/assets/img/pic/logo_kare.png") no-repeat center 20px;
		background-size: 40%;
	}*/
}
