@import 'variables';
:host {
	height: 100%;
	display: block;
}

.zabava-results-container {
	height: 100%;
	display: block;
}

// -----------------------------------------
//  Контент результатов по "Забаве"
// -----------------------------------------

.zrc-drawing-item {

	&:first-child {
		margin-top: 0;
	}

	display: flex;
	flex-direction: column;
}
.zrc-drawing-name {
	text-align: center;
	text-transform: uppercase;
	font-family: $roboto_regular;
	font-size: 36px;
	font-weight: bold;
	color: $msl_main_text_color;
}

.zrc-win-comb {
	margin: 5px 34px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.zrc-win-comb-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 58px;
	height: 58px;
	margin: 3px;
	color: $msl_base_green;
	font-size: 24px;

	font-family: $roboto_medium;
	background: #fff;
	border-radius: 50%;
	border: 3px solid $msl_base_green;
}

.win-table {
	display: block;
	margin-bottom: 20px;
}

@media screen and (max-width: 1919px) {
	.extra-info {
		font-size: 24px;
	}
	.zrc-drawing-name {
		font-size: 24px;
	}

	.zrc-win-comb-item {
		width: 40px;
		height: 40px;
		font-size: 18px;
		border: 2px solid $msl_base_green;
	}
}

@media screen and (max-width: 1365px) {
	.zrc-win-comb-item {
		width: 25px;
		height: 25px;
		font-size: 14px;
		border: 1px solid $msl_base_green;
	}
	.zrc-drawing-name {
		font-size: 24px;
	}
	.zrc-win-comb {
		margin: 5px;
	}
	.extra-info {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.zrc-win-comb-item {
		width: 36px;
		height: 36px;
		border: 2px solid $msl_base_green;
	}
}

@media screen and (max-width: 1139px) {
	.extra-info {
		font-size: 14px;
	}
	.zrc-win-comb {
		margin: 0 5px;

	}
	.zrc-win-comb-item {
		font-size: 12px;
		width: 24px;
		height: 24px;
		border-width: 1px;
	}
	.zrc-drawing-name {
		font-size: 18px;
	}
}

@media screen and (max-width: 853px) {
	.extra-info {
		font-size: 18px;
		font-family: $roboto_regular;
	}
	.zrc-win-comb-item {
		font-size: 18px;
		width: 42px;
		height: 42px;
		border-width: 2px;
	}
	.zrc-drawing-name {
		font-size: 26px;
		font-family: $roboto_bold;
	}
}

@media screen and (max-width: 839px) {
	.zrc-win-comb-item {
		font-size: 14px;
		width: 30px;
		height: 30px;
		border-width: 1px;
	}
	.zrc-drawing-name {
		font-size: 20px;
	}
}

@media screen and (max-width: 639px) {
	.zrc-win-comb-item {
		width: 34px;
		height: 34px;
		border: 2px solid $msl_base_green;
	}
}


@media screen and (max-width: 479px) {
	.zrc-win-comb-item {
		font-size: 12px;
		width: 24px;
		height: 24px;
		border: 1px solid #009788;
	}
	.zrc-drawing-name {
		font-size: 15px;
		font-family: $roboto_bold;
	}
}
