<div class="zabava-results-container" data-cy="zabava-results-container">

	<!-- НАВИГАТОР ПО РЕЗУЛЬТАТАМ -->
	<app-results-navigator
		[service]="gameResultsService"
		[gameCode]="LotteryGameCode.Zabava"
		[gameName]="'lottery.zabava.loto_zabava'"
		[printData]="printData"
		[viewResults]="viewData"
		(resultSelected)="onSelectedResultsHandler($event)"
		>
		<!-- ДЖЕКПОТ -->
		<div class="extra-info"
			 data-cy="extra-info"
			 *ngIf="viewData?.extraInfo"
		>{{ viewData.extraInfo }}</div>

		<div class="zrc-wrapper" data-cy="zrc-wrapper">
			<div class="zrc-drawing-item" data-cy="zrc-drawing-item"
				 *ngIf="viewData?.drawing[0].win_cat"
			>
				<!-- ОСНОВНОЙ РОЗЫГРАШ (ШАРЫ) -->
				<div class="zrc-win-comb" data-cy="zrc-win-comb">
					<ng-container *ngFor="let win of viewData?.drawing[0].winComb; trackBy: trackByWinCombFn">
						<div class="zrc-win-comb-item" data-cy="zrc-win-comb-item">{{ win }}</div>
					</ng-container>
				</div>
			</div>

			<!-- СПИСОК ВЫИГРЫШНЫХ КАТЕГОРИЙ -->
			<app-win-category-table
				*ngIf="viewData?.drawing[0].win_cat?.length"
				class="win-table"
				data-cy="win-table"
				[winCategoryList]="viewData?.drawing[0].win_cat"
			></app-win-category-table>

			<!-- КОНТЕНТ РЕЗУЛЬТАТОВ ПО ЗАБАВЕ -->
			<ng-container *ngFor="let drawing of viewData?.drawing | slice:1; trackBy: trackByWinDrawingFn">
				<div
					class="zrc-drawing-item"
					data-cy="zrc-drawing-item"
					*ngIf="drawing?.win_cat"
					>
					<!-- КАТЕГОРИЯ -->
					<label class="zrc-drawing-name"
						   data-cy="zrc-drawing-name"
					>
						{{ drawing?.name }}
					</label>

					<!-- ВЫИГРЫШНАЯ КОМБИНАЦИЯ (ШАРЫ) -->
					<div class="zrc-win-comb"
						 data-cy="zrc-win-comb"
					>
						<ng-container *ngFor="let win of drawing?.winComb; trackBy: trackByWinCombFn">
							<div class="zrc-win-comb-item"
								 data-cy="zrc-win-comb-item"
							>{{ win }}</div>
						</ng-container>
					</div>

					<!-- СПИСОК ВЫИГРЫШНЫХ КАТЕГОРИЙ -->
					<app-win-category-table [winCategoryList]="drawing.win_cat"></app-win-category-table>
				</div>
			</ng-container>
		</div>
	</app-results-navigator>

</div>
