@import '../../../../../sass/variables';

.win-cat-table {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	height: inherit;
	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		padding: 5px 0;
		&:nth-child(even) {
			background: $msl_light_yellow;
			border-radius: 40px;
		}
	}
	&__cell {
		color: $msl_main_text_color;
		font-family: $roboto_regular;
		font-size: 36px;
		&_header {
			font-family: $roboto_medium;
		}
	}
}

@media screen and (max-width: 1919px) {
	.win-cat-table {
		&__cell {
			font-size: 24px;
		}
	}
}

@media screen and (max-width: 1365px) {
	.win-cat-table {
		&__cell {
			font-size: 20px;
		}
	}
}

@media screen and (max-width: 1139px) {
	.win-cat-table {
		&__row {
			padding: 3px 0;
		}
		&__cell {
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 853px) {
	.win-cat-table__cell {
		font-size: 24px;
	}
}

@media screen and (max-width: 839px) {
	.win-cat-table__cell {
		font-size: 18px;
	}
}

@media screen and (max-width: 479px) {
	.win-cat-table {
		&__cell {
			font-size: 14px;
		}
	}
}
