@import 'variables';

.dlc-title__text, .dlc-item {
	font-family: $roboto_medium;
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
}

.dlc-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	height: 50px;

	&__text {
		color: $msl_base_green;
		pointer-events: none;
	}

	&__icon {
		position: absolute;
		right: 24px;

		color: $msl_base_green;

		pointer-events: none;
	}
}

.dlc-list {
	display: flex;
	flex-direction: column;
}

.dropdown-list-component {
	position: relative;
	width: 100%;
	height: 50px;
}

.dlc-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;

	background-color: #fff;
	border-radius: 8px;
	box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.08), 0 0 0 2px $msl_placeholder_text_color;
	box-sizing: border-box;
}

.dlc-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	height: 50px;
	margin: 6px 20px;

	color: $msl_main_text_color;

	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 0 2px $msl_placeholder_text_color;
	box-sizing: border-box;

	&_first {
		margin-top: 15px;
	}

	&_last {
		margin-bottom: 20px;
	}

	&_selected {
		color: $msl_base_green;
	}
}

@media screen and (max-width: 854px) {

	.dropdown-list-component {
		height: 40px;
	}
	.dlc-title {
		height: 40px;
	}
	.dlc-title__text, .dlc-item {
		font-size: 18px;
		padding: 0 15px;
		line-height: 100%;
	}

	.dlc-item {
		margin: 6px 10px;
		height: 40px;
		&_first {
			margin-top: 10px;
		}

		&_last {
			margin-bottom: 10px;
		}
	}
}

@media screen and (max-width: 480px) {
	.dlc-item {
		padding: 0;
		line-height: 100%;
		font-size: 16px;
		font-family: $roboto_regular;
		box-shadow: none;
		border: 1px solid $msl_placeholder_text_color;
	}
	.dropdown-list-component {
		height: 44px;
	}
	.dlc-wrapper {
		box-shadow: none;
		border: 1px solid $msl_main_text_color;
	}
	.dlc-title {
		height: 44px;
		padding: 0 40px;
		&__text {
			padding: 0;
			line-height: 100%;
			font-size: 16px;
			font-family: $roboto_regular;
		}
		&__icon {
			right: 12px;
		}
	}
}


@media screen and (max-width: 360px) {
	.dlc-item {
		padding: 0;
		line-height: 100%;
		font-size: 16px;
		font-family: $roboto_regular;
		box-shadow: none;
		border: 1px solid $msl_placeholder_text_color;
	}
	.dropdown-list-component {
		height: 44px;
	}
	.dlc-wrapper {
		box-shadow: none;
		border: 1px solid $msl_main_text_color;
	}
	.dlc-title {
		height: 44px;
		padding: 0 40px;
		&__text {
			padding: 0;
			line-height: 100%;
			font-size: 16px;
			font-family: $roboto_regular;
		}
		&__icon {
			right: 12px;
		}
	}
}
