@import 'variables';
@import 'mixins';

.op-field-title {
	margin-bottom: 8px;
	font-family: $roboto_regular;
	font-size: 24px;
	color: $msl_main_text_color;
}

.input-operation-field-container {
	display: flex;
	flex-direction: column;

	margin-bottom: 30px;

	&.lineedit {
		width: 100%;
	}

	&.dateedit {
		width: 350px;
		margin: 0 auto;
	}

	app-input-barcode {
		width: 300px;
		height: 370px;

		position: absolute;

		&.expanded {
			width: 700px;
			height: 490px;
		}

		::ng-deep {
			.ibc-list {
				background: linear-gradient(90deg, white, #ddd);
				border-radius: 6px;

				height: auto;
				bottom: 600px;

				.ibcl-header {
					border-bottom: 1px solid #fff;
					padding-bottom: 5px;
				}

				li > div {
					padding-right: 5px;
				}
			}

			.input-barcode-container {
				height: 100%;
				border: 1px solid #999;

				app-buttons-group.ibc-bg-input-mode {
					.buttons-group-container {
						margin-top: 20px;

						.bgc-button-container {
							.bgc-button {
								width: 280px;
								height: 90px;
								margin-bottom: 10px;
								padding-top: 26px;

								text-align: center;
							}
						}
					}
				}

				app-buttons-group.ibc-bg-manual-input {
					.buttons-group-container {
						margin-top: 20px;

						.bgc-button-container {
							.bgc-button {
								width: 280px;
								height: 90px;
								padding-top: 26px;

								text-align: center;
							}
						}
					}
				}
			}
		}
	}

	app-input-barcode.bc-list-expanded {
		::ng-deep {
			.ibc-list {
				bottom: 390px;
			}
		}
	}

	app-calendar-date-input {
		::ng-deep {
			.cdi-input {
				@include radial_bg($color: #d8f4f4);
			}
			.cdi-input-title, .prompt-title {
				font-family: $roboto_regular;
			}
		}
	}

	.field-wrp {
		display: flex;
		align-items: center;
		&__input {
			margin-right: 5px;
			/* на всякий случай поддержка не webkit-браузеров  */
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				@include msl_placeholder();
			}
			&::-moz-placeholder { /* Firefox 19+ */
				@include msl_placeholder();
			}
			&:-ms-input-placeholder { /* IE 10+ */
				@include msl_placeholder();
			}
			&:-moz-placeholder { /* Firefox 18- */
				@include msl_placeholder();
			}
			&::placeholder {
				@include msl_placeholder();
			}
		}
	}

	.mib-keyboard-icon {
		width: 53px;
		height: 44px;
		background: url('/assets/img/svg/numbers_icon.svg') no-repeat;
		background-size: auto 100%;
	}
}

.field-wrp {
	&__input {
		width: 100%;
		padding: 4px;

		color: #666;
		font-size: 30px;

		background: transparent;
		border: 1px solid #999;
		border-radius: 5px;
	}
}

.reports-cdi {
	height: 66px;
	display: block;
}


@media screen and (max-width: 1365px) {
	.input-operation-field-container.lineedit {
		width: 300px;
		margin-left: 20px;
	}
}


@media screen and (max-width: 1139px) {
	.reports-cdi {
		height: 40px;
	}
	//.input-operation-field-container label {
	//	font-size: 14px;
	//	font-family: $roboto_regular;
	//	margin-bottom: 4px;
	//}
	.op-field-title {
		font-size: 14px;
		font-family: $roboto_regular;
		margin-bottom: 4px;
	}
	.input-operation-field-container.dateedit {
		width: 230px;
	}
	.input-operation-field-container {
		app-calendar-date-input {
			::ng-deep {
				.select-date {
					font-size: 24px;
					top: 8px;
				}
				.cdi-input-title {
					font-size: 30px;
				}
			}
		}
	}
}

@media screen and (max-width: 853px) {
	.reports-cdi {
		height: 66px;
	}

	.input-operation-field-container {
		app-calendar-date-input {
			::ng-deep {
				.select-date {
					font-size: 42px;
					top: 13px;
				}
			}
		}
	}
}

@media screen and (max-width: 839px) {
	.input-operation-field-container label {
		font-size: 14px;
	}
	.input-operation-field-container.dateedit {
		width: 240px;
	}
	.input-operation-field-container {
		&.lineedit {
			width: 100%;
			max-width: 420px;
			margin-left: auto;
			margin-right: auto;
			label {
				font-size: 14px;
			}
			input {
				font-size: 18px;
			}
		}
		app-calendar-date-input {
			::ng-deep {
				.select-date {
					font-size: 24px;
					top: 10px;
				}
				.cdi-input-title {
					font-size: 24px;
				}
				.cdi-input {
					border-width: 2px;
					border-radius: 4px;
				}
			}
		}
	}
	.reports-cdi {
		height: 44px;
	}
	.field-wrp {
		&__input {
			height: 36px;
		}
	}
}

@media screen and (max-width: 639px) {
	.input-operation-field-container label {
		font-size: 14px;
	}
	.input-operation-field-container.dateedit {
		width: 240px;
	}
	.input-operation-field-container {
		&.lineedit {
			width: 100%;
			max-width: 420px;
			margin-left: auto;
			margin-right: auto;
			label {
				font-size: 14px;
			}
			input {
				font-size: 18px;
			}
		}
		app-calendar-date-input {
			::ng-deep {
				.select-date {
					font-size: 24px;
					top: 10px;
				}
				.cdi-input-title {
					font-size: 24px;
				}
				.cdi-input {
					border-width: 1px;
					border-radius: 4px;
				}
			}
		}
	}
	.reports-cdi {
		height: 44px;
	}
	.field-wrp {
		&__input {
			height: 36px;
		}
	}
}


@media screen and (max-width: 479px) {
	.input-operation-field-container label {
		font-size: 18px;
	}
	.input-operation-field-container.dateedit {
		width: 240px;
	}
	.input-operation-field-container {
		margin-bottom: 12px;
		&.iticketlist {
			margin-bottom: 8px;
		}
		&.lineedit {
			width: calc(100% - 44px);
			margin-left: 22px;
			margin-right: 22px;
			label {
				font-size: 14px;
			}
			input {
				font-size: 18px;
			}
		}
		app-calendar-date-input {
			::ng-deep {
				.select-date {
					font-size: 24px;
					top: 10px;
				}
				.cdi-input-title {
					font-size: 24px;
				}
				.cdi-input {
					border-width: 1px;
					border-radius: 4px;
				}
			}
		}
	}

	.field-wrp {
		&__input {
			height: 36px;
		}
	}
	.reports-cdi {
		height: 44px;
	}

}

