<div class="input-operation-field-container"
	 [ngClass]="field.fieldTag.type"
	 data-cy="input-operation-field-container"
>

	<label *ngIf="field.labelTag.caption.text"
		   class="op-field-title"
		   data-cy="op-field-title"
	>{{ field.labelTag.caption.text | translate }}</label>

	<div class="op-field-wrapper"
		 [ngSwitch]="field.fieldTag.type"
		 data-cy="op-field-wrapper"
		>
		<!-- ТИП ПОЛЯ - ТЕКСТ -->
		<div class="field-wrp"
			 *ngSwitchCase="FIELD.LINE_EDIT"
			 data-cy="field-wrp"
		>
			<input
				class="field-wrp__input"
				title="{{ field.labelTag.caption.text }}"
				placeholder="{{ placeholder | translate }}"
				pattern="\d*"
				inputmode="numeric"
				[attr.maxlength]="maxlength"
				[value]="value"
				data-cy="field-wrp-input"
				(input)="onInputHandler($event)"
				(focus)="onFocusHandler($event)"
				(blur)="onBlurHandler($event)"
			/>
		</div>

		<!-- ТИПА ПОЛЯ - ДАТА -->
		<div *ngSwitchCase="FIELD.DATE_EDIT">
			<app-calendar-date-input
				class="reports-cdi"
				[title]="field.labelTag.caption.text"
				[value]="value"
				[absolutePaddings]="true"
				[leftPadding]="773"
				[topPadding]="144"
				[canClearDate]="false"
				data-cy="reports-cdi"
				(dateChanged)="onInputHandler($event)"
				>
			</app-calendar-date-input>
		</div>

		<!-- ТИПА ПОЛЯ - СПИСОК БАРКОДОВ -->
		<app-input-tmlbml class="input-tmlbml"
			*ngSwitchCase="FIELD.TICKET_LIST"
			[draws]="draws"
			data-cy="input-tmlbml"
			(inputListChanged)="onInputHandler($event)"
			>
		</app-input-tmlbml>

	</div>
</div>
