@import 'variables';
@import 'mixins';
@import 'lotteries-common';

.logo-in-lottery {
	::ng-deep {
		.game-logo__title {
			font-size: 24px;
		}
	}
}

.lott-grid {
	grid-template: auto 1fr / auto 1fr;
	margin-left: 190px;
}

.close-button {
	position: absolute;
	right: 15px;
	top: 10px;
}

.spc-goto-results {
	@include radial_bg($color: #FAEFC4);
	text-transform: uppercase;
	font-size: 24px;
	color: $msl_main_text_color;
	height: 66px;
	border: 2px solid $msl_base_yellow;
	font-family: $roboto_bold;
	border-radius: 8px;
	width: 468px;
	justify-self: end;
}

// -----------------------------------------
//  Название игры
// -----------------------------------------
.spc-temp-text {
	-webkit-animation: blinker 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;
	animation: blinker 2.2s cubic-bezier(0, 0, 0.35, 0.47) infinite;
	font-size: 36px;
	text-align: center;
	color: #009788;
	display: flex;
	justify-self: center;
	margin-top: 130px;
}

.spc-dp {
	font-family: $roboto_medium;
	font-size: 24px;
	text-align: right;
	width: 468px;
	color: $msl_main_text_color;
	padding-top: 8px;
	&__lbl, &__val {
		font-family: $roboto_medium;
	}
	&__lbl {
		text-transform: uppercase;
		color: $msl_main_text_color;
	}
	&__val {
		color: $msl_base_green;
	}
}

.spc-show-program {
	width: 100%;
	height: 70px;

	font-size: 24px;
	color: $msl_base_green;
	border-radius: 8px;
	border: 2px solid $msl_base_green;
	font-family: $roboto_bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 68px;

	@include radial_bg($color: #d8f4f4);

	&.is-visible-program {
		color: #fff;
		border: solid 2px #fff;
	}

	i {
		position: absolute;
		left: 10px;
		top: 17px;

		font-size: 40px;
	}

	&__drawnum {
		font-size: 36px;
		font-family: $roboto_bold;
	}
}

// -----------------------------------------
//  Ближайший тираж
// -----------------------------------------

.spc-nearest-draw {
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	font-family: $roboto_medium;
	margin-bottom: 10px;
	color: $msl_main_text_color;
}


.sportprognoz-container {

	position: relative;

	// -----------------------------------------
	//  Кнопка "Показать программу"
	// -----------------------------------------

	i.material-icons.arrow {
		position: absolute;
		bottom: 20px;
		left: 320px;

		font-size: 61px;
		color: $msl_base_green;

		z-index: 1;

		&.is-visible-program {
			color: #fff;
			transform: rotate(180deg);
		}
	}
}


// -----------------------------------------
//  Контейнер с программой (на весь экран)
// -----------------------------------------

.program-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: rgba(0, 0, 0, 0.24);
	z-index: $layer_sportprognoz_dialog;
}

.program {
	position: absolute;
	top: 10px;
	left: 80px;
	bottom: 10px;
	right: 80px;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 3px 6px #00000029;
	padding: 20px;
	box-sizing: border-box;
	height: calc(100% - 20px);
	display: flex;
	flex-direction: column;
	width: calc(100% - 160px);

	&__header {
		text-align: center;
		font-size: 24px;
		font-family: $roboto_medium;
		color: $msl_main_text_color;
		font-weight: normal;
		margin: 15px 0;
	}

	&__drawnum {
		font-size: 36px;
		color: $msl_base_green;
		font-family: $roboto_medium;
	}
	&__date {
		font-size: 24px;
		color: $msl_base_green;
		font-family: $roboto_medium;
	}
	&__table {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		margin-bottom: 20px;
	}
}

.program-table {
	font-size: 24px;
	overflow: hidden;
	&__body {
		overflow-y: auto;
		flex-grow: 1;
	}
	&__row {
		display: grid;
		grid-column-gap: 30px;
		column-gap: 30px;
		align-items: center;

		&_outer {
			grid-template-columns: 100px 1fr;
		}

		&_inner {
			grid-template-columns: 1fr 60px 60px 60px 1fr 1fr;
		}

		&_filled {
			background: #ffffcc;
			border-radius: 100px;
		}

		&_header {
			.program-table {
				&__cell {
					height: 40px;
					&_forecast-1 {
						background: url(/assets/img/svg/win1.svg) no-repeat center center / contain;
					}
					&_forecast-x {
						position: relative;
						@include cross_mark($msl_main_text_color);
					}
					&_forecast-2 {
						background: url(/assets/img/svg/win2.svg) no-repeat center center / contain;
					}
				}
			}
		}
	}
	&__cell {
		color: $msl_main_text_color;
		text-align: center;
		padding: 5px;
		&_num {
			color: #a1a1a1;
		}
	}
	&__label {
		display: none;
	}
}

.spcpc-print {
	width: 100%;

	::ng-deep {
		.print-button-container {
			justify-content: center;
		}
	}
}

.spcpc-img-win1 {
	width: 23px;
	height: 26px;

	background-image: url(/assets/img/svg/win1.svg);
}
.spcpc-img-winX {
	margin-left: 45px;
	margin-right: 35px;
	color: $msl_placeholder_text_color;
	font-size: 28px;
}
.spcpc-img-win2 {
	width: 23px;
	height: 26px;
	margin-left: 10px;

	background-image: url(/assets/img/svg/win2.svg);
}

app-draws-buttons.spc-draws {
	display: block;
	margin-bottom: 30px;
	::ng-deep {
		.dbc-number {
			width: 100px;
			text-align: left;
		}
		.dbc-data {
			flex-grow: 1;
			width: auto;
		}
	}
}

.spcpc-program > :nth-child(even) > .spcpc-row-teams-group {
	border-radius: 24px;
	background-color: #ffffcc;
	padding: 6px 0;
}

.scan-bc {
	font-size: 24px;
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
}

.scanner-input {
	display: block;
}

.scanner-block {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	&__inner {
		max-width: 500px;
		width: 100%;
	}
}

.pay-button {
	height: 70px;
	cursor: pointer;
	width: 100%;
}

.receipt {
	position: absolute;
	left: -10000px;
	width: 200px;
}

.ticket {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}

.ticket__header {
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 14px;
}

.ticket__matches-grid {
	display: grid;
	grid-template-columns: auto 1fr 1fr;
	justify-items: start;
	align-items: start;
}

.ticket__row {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 100%;
	font-size: 12px;
	align-items: flex-start;
}

.ticket__team {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 100%;
	font-size: 12px;
	align-items: flex-start;
	&_home {
		border-right: 1px solid #000000;
		padding-right: 5px;
	}
	&_away {
		padding-left: 5px;
	}
}

.ticket__footer {
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
}


@media screen and (max-width: 1365px) {
	.spc-temp-text {
		font-size: 24px;
	}
	.spc-goto-results {
		font-size: 18px;
		height: 60px;
		width: 320px;
	}
	.program {
		left: 10px;
		right: 10px;
		width: calc(100% - 20px);
	}
	.program-table {
		font-size: 18px;
		&__row {
			grid-column-gap: 15px;
			column-gap: 15px;
			&_outer {
				grid-template-columns: 50px 1fr;
			}
		}
	}

	.lott-grid {
		margin-left: 150px;
	}

	.spc-dp {
		padding-top: 50px;
	}
}

@media screen and (max-width: 1279px) {
	.lott-grid {
		margin-left: 50px;
	}
}

@media screen and (max-width: 1139px) {
	.left-panel {
		width: 400px;
	}

	.spc-draws {
		margin-bottom: 20px;
		display: block;
	}

	.spc-goto-results {
		width: 300px;
		font-size: 18px;
		height: 60px;
	}

	.spc-dp {
		width: 100%;
		text-align: center;
		padding-top: 60px;
	}

	.spc-temp-text {
		font-size: 24px;
	}
	.lott-grid {
		margin-left: 0;
	}
}

@media screen and (max-width: 1023px) {
	.spc-temp-text {
		width: 100%;
		display: block;
		margin-top: 100px;
	}
}

@media screen and (max-width: 959px) {
	.spc-temp-text {
		font-size: 18px;
	}
	app-draws-buttons.spc-draws {
		margin-bottom: 10px;
	}
	.spc-show-program {
		font-size: 18px;
		height: 60px;
		line-height: 60px;
		&__drawnum {
			font-size: 24px;
		}
	}
	.spoiler {
		height: 150px;
	}
}

@media screen and (max-width: 853px) {
	.lott-grid {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 1fr 1fr;
	}
	.spc-goto-results {
		order: 1;
	}
	.spc-dp {
		order: 2;
		padding-top: 0;
	}
	.left-panel {
		width: 100%;
		order: 3;
		overflow: hidden;
		flex-flow: row wrap;
		display: flex;
		align-items: center;
		align-content: center;
	}

	.spc-temp-text {
		font-size: 24px;
		padding: 50px 0;
		order: 4;
		margin-top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.spc-nearest-draw {
		width: 100%;
		text-align: center;
	}

	app-draws-buttons.spc-draws {
		overflow: hidden;
		height: 70px;
		margin-bottom: 20px;
		::ng-deep {
			.dbc-draws {
				padding: 0;
			}
			.dbc-draw {
				margin-left: 0;
				margin-right: 0;
			}
			.dbc-draw + .dbc-draw {
				margin-left: 20px;
			}
		}
	}
	.scanner-block {
		order: 4;
	}

	.program-table {
		&__row {
			display: block;
			&_header {
				display: none;
			}
			&_filled {
				background: none;
			}
			//&_inner {
			//	display: grid;
			//	grid-template-columns: 1fr;
			//	grid-auto-rows: 1fr;
			//	.program-table__cell:nth-of-type(even) {
			//		background-color: #ffffcc;
			//	}
			//}
		}
		&__cell {
			text-align: left;
			&_num {
				color: $msl_main_text_color;
				font-family: $roboto_bold;
				border-bottom: 1px solid #cbcbcb;
				.program-table__label {
					font-family: $roboto_bold;
				}
			}
		}
		&__label {
			display: inline;
			font-family: $roboto_medium;
		}
	}
}

@media screen and (max-width: 839px) {
	app-draws-buttons.spc-draws {
		height: 60px;
	}
}

@media screen and (max-width: 639px) {
	.spc-goto-results {
		width: 100%;
	}
	app-draws-buttons.spc-draws {
		::ng-deep {
			.dbc-number {
				width: 60px;
			}
		}
	}
	.lottery-container {
		padding-top: 50px;
	}
}

@media screen and (max-width: 479px) {
	.spc-temp-text {
		font-size: 18px;
		padding: 0;
		margin-top: 0;
	}

	app-draws-buttons.spc-draws {
		height: 45px;
		margin-bottom: 10px;
		::ng-deep {
			.dbc-draw + .dbc-draw {
				margin-left: 10px;
			}
		}
	}
	.spc-goto-results {
		height: 44px;
		border-width: 1px;
	}
	.spc-show-program {
		border-width: 1px;
		height: 44px;
		line-height: 44px;
	}
	.scan-bc {
		font-size: 18px;
	}

	.spc-dp, .spc-nearest-draw {
		font-size: 18px;
	}

	.spcpc-print {
		--button-size: 16px;
	}

	.scanner-input {
		--input-font-size: 18px;
		--scanner-height: 120px;
		--codes-input-height: 44px;
	}

	.pay-button {
		height: 44px;
		font-size: 18px;
		align-self: end;
	}

	.scanner-block {
		&__inner {
			display: grid;
			grid-template-rows: auto 1fr auto;
		}
	}

	.program {
		&__drawnum {
			font-size: 24px;
		}
	}

}
