<div class="lottery-container"
	 data-cy="lottery-container"
>

	<app-msl-game-logo class="logo-in-lottery"
					   [gameCode]="LotteryGameCode.Sportprognoz"
					   data-cy="logo-in-lottery"
	></app-msl-game-logo>

	<div class="lott-grid"
		 data-cy="lott-grid"
	>

		<!-- ВЕРХНЯЯ ЧАСТЬ -->
		<div class="spc-dp"
			 data-cy="spc-dp"
		>
			<ng-container *ngIf="sportprognozLotteryService?.betData?.selectedDraw?.draw?.jackpot">
				<span class="spc-dp__lbl"
					  data-cy="spc-dp-lbl"
				>{{ 'lottery.jackpot' | translate }}:</span>
				<span class="spc-dp__val"
					  data-cy="spc-dp-val"
				>
					{{ sportprognozLotteryService.betData.selectedDraw.draw.jackpot }} {{ 'lottery.uah' | translate }}
				</span>
			</ng-container>
		</div>


		<button class="button button_theme_gold goto-results spc-goto-results"
				data-cy="spc-goto-results"
				routerLink="../results"
		>
			{{ 'lottery.results' | translate }} "{{ 'lottery.sportprognoz.game_name' | translate }}"
		</button>

		<!-- ЛЕВАЯ ПАНЕЛЬ С ТИРАЖАМИ И КНОПКОЙ ПРОСМОТРА ПРОГРАММЫ -->
		<div class="left-panel"
			 data-cy="left-panel"
		>
			<div class="spc-nearest-draw"
				 data-cy="spc-nearest-draw"
			>{{ 'lottery.sportprognoz.nearest_draw' | translate }}</div>

			<!-- ТИРАЖИ -->
			<app-draws-buttons
				class="spc-draws"
				data-cy="spc-draws"
				[draws]="sportprognozLotteryService.activeDraws"
				[drawsToShow]="4"
				[alwaysShowTimeLeft]="true"
				[remainingString]="'draws-buttons.register_end'"
				[activeDraw]="sportprognozLotteryService?.betData?.selectedDraw"
				(noActiveDraws)="onNoActiveDrawsHandler()"
				(newSelectedDraw)="onSelectedDrawHandler($event)"
				(action)="onSelectedDrawHandler($event)"
			>
			</app-draws-buttons>

			<!-- КНОПКА ДЛЯ ПРОГРАММЫ ТИРАЖА -->
			<div
				*ngIf="sportprognozLotteryService?.betData?.selectedDraw"
				class="spc-show-program"
				[ngClass]="isVisibleProgram ? 'is-visible-program' : ''"
				data-cy="spc-show-program"
				(click)="onClickShowProgramHandler()"
			>
				{{ 'lottery.sportprognoz.draw_program' | translate }}:
				<span class="spc-show-program__drawnum"
					  data-cy="spc-show-program-drawnum"
				>
				{{ sportprognozLotteryService?.betData?.selectedDraw?.draw.num }}
			</span>
			</div>
		</div>

		<!-- ВРЕМЕННЫЙ ТЕКСТ -->
		<div class="scanner-block">
			<div class="scanner-block__inner">
				<div class="scan-bc">{{ 'lottery.enter-barcode' | translate }}</div>

				<form [formGroup]="scannerForm" (ngSubmit)="goToRegistryPage()">
					<app-scanner-input #scannerInput
									   class="scanner-input"
									   formControlName="spBarcode"
									   [minLength]="25"
									   [maxLength]="25"
									   [enabledCamera]="appStoreService.showCameraComponent$$.value"
									   [expanded]="isCameraShown"
									   (barcodeChange)="onChangeValue($event)"
									   (stateChanged)="onStateChanged($event)"
					></app-scanner-input>

					<button class="button button_theme_green pay-button"
							data-cy="pay-button"
							type="submit"
							[attr.disabled]="scannerForm.invalid || null"
					>{{ 'dialog.to_sell' | translate }}</button>
				</form>
			</div>
		</div>
	</div>



	<div class="receipt" id="receipt">
		<div class="ticket">
			<div class="ticket__header">
				Програма {{ currentDrawNum }} тиражу<br>лотереї Спортпрогноз
				<div *ngIf="sportprognozLotteryService.programData?.jackpot">
					Джекпот: {{ sportprognozLotteryService.programData.jackpot }}
				</div>
			</div>
			<div class="ticket__matches">
				<div class="ticket__matches-grid">
					<ng-container *ngFor="let program of sportprognozLotteryService.programData?.teams; let i = index; trackBy: trackByProgram">
						<span class="ticket__row">{{ i + 1 }}.</span>
						<span class="ticket__team ticket__team_home">{{ program.teamName1 }}</span>
						<span class="ticket__team ticket__team_away">{{ program.teamName2 }}</span>
					</ng-container>
				</div>
			</div>
			<div class="ticket__footer">
				Ставки приймаються до<br>{{ currentDrawDate | date:(shortDate) }}
			</div>
		</div>
	</div>

	<!-- КОНТЕЙНЕР С ПРОГРАММОЙ -->
	<div *ngIf="isVisibleProgram"
		 class="program-overlay"
		 id="spc-program-container"
		 data-cy="program-overlay"
		(click)="onClickOutsideProgramHandler($event)"
		>
		<div class="program"
			 data-cy="program"
		>
			<!-- ЗАГОЛОВОК ДИАЛОГОВОГО ОКНА -->
			<h3 class="program__header"
				data-cy="program-header"
			>
				{{ 'lottery.sportprognoz.draw_program' | translate }}:
				<span class="program__drawnum"
					  data-cy="program-drawnum"
				>
					{{ currentDrawNum }}
				</span>
				<span class="program__date"
					  data-cy="program-date"
				>({{ currentDrawDate | date:(shortDate) }})</span>
			</h3>

			<div *ngIf="sportprognozLotteryService.programData"
				 class="program__table program-table"
				 data-cy="program-table"
			>
				<div class="program-table__row program-table__row_header program-table__row_outer"
					 data-cy="program-table-row"
				>
					<div class="program-table__cell program-table__cell_num"
						 data-cy="program-table-cell"
					></div>
					<div class="program-table__row program-table__row_inner"
						 data-cy="program-table-row"
					>
						<div class="program-table__cell program-table__cell_team1"
							 data-cy="program-table-cell"
						></div>
						<div class="program-table__cell program-table__cell_forecast-1"
							 data-cy="program-table-cell"
						></div>
						<div class="program-table__cell program-table__cell_forecast-x"
							 data-cy="program-table-cell"
						></div>
						<div class="program-table__cell program-table__cell_forecast-2"
							 data-cy="program-table-cell"
						></div>
						<div class="program-table__cell program-table__cell_team-2"
							 data-cy="program-table-cell"
						></div>
						<div class="program-table__cell program-table__cell_tournament"
							 data-cy="program-table-cell"
						></div>
					</div>
				</div>

				<div class="program-table__body"
					 data-cy="program-table-body"
				>
					<div class="program-table__row program-table__row_outer"
						 data-cy="program-table-row"
						 *ngFor="let program of sportprognozLotteryService.programData?.teams; let i = index; trackBy: trackByProgram">
						<div class="program-table__cell program-table__cell_num"
							 data-cy="program-table-cell"
						><span class="program-table__label">{{ 'lottery.sportprognoz.event-no' | translate }}</span>{{ program.position }}</div>
						<div class="program-table__row program-table__row_inner"
							 [class.program-table__row_filled]="i % 2"
							 data-cy="program-table-row"
						>
							<div class="program-table__cell program-table__cell_team-1"
								 data-cy="program-table-cell"
							><span class="program-table__label">{{ 'lottery.sportprognoz.first-command' | translate }}:</span> {{ program.teamName1 }}</div>
							<div class="program-table__cell program-table__cell_forecast-1"
								 data-cy="program-table-cell"
							><span class="program-table__label">{{ 'lottery.sportprognoz.coef-win-1' | translate }}:</span> {{ program.outcome_forecast_1 }}%</div>
							<div class="program-table__cell program-table__cell_forecast-x"
								 data-cy="program-table-cell"
							><span class="program-table__label">{{ 'lottery.sportprognoz.coef-draw' | translate }}:</span> {{ program.outcome_forecast_X }}%</div>
							<div class="program-table__cell program-table__cell_forecast-2"
								 data-cy="program-table-cell"
							><span class="program-table__label">{{ 'lottery.sportprognoz.coef-win-2' | translate }}:</span> {{ program.outcome_forecast_2 }}%</div>
							<div class="program-table__cell program-table__cell_team-2"
								 data-cy="program-table-cell"
							><span class="program-table__label">{{ 'lottery.sportprognoz.second-command' | translate }}:</span> {{ program.teamName2 }}</div>
							<div class="program-table__cell program-table__cell_tournament"
								 data-cy="program-table-cell"
							><span class="program-table__label">{{ 'lottery.sportprognoz.event-type' | translate }}:</span> {{ program.tournament }}</div>
						</div>
					</div>
				</div>
			</div>

			<!-- ПЕЧАТЬ ПРОГРАММЫ -->
			<app-print-button
				class="spcpc-print"
				data-cy="spcpc-print"
				[showCopiesCounter]="true"
				(printAction)="onClickPrintProgramHandler($event)"
				>
			</app-print-button>

			<!-- КНОПКА ЗАКРЫТИЯ ОКНА С ПРОГРАММОЙ -->
			<app-close-button class="close-button"
							  data-cy="close-button"
							  (action)="onClickShowProgramHandler()"
			></app-close-button>
		</div>
	</div>

</div>
