@import "variables";
@import "mixins";

@keyframes loaderAnimation {
	from {
		background-position-x: 0;
	}
	to {
		background-position-x: 60px;
	}
}

:host {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr) auto;
	grid-row-gap: 15px;
	height: 100%;
}

.top-panel {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	&__left {
		display: flex;
	}
	&__right {
		display: grid;
		flex-flow: row wrap;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10px;
		column-gap: 10px;
	}
}

.codes-input-wrapper {
	flex-grow: 1;
	margin-right: 10px;
	width: auto;
	position: relative;
	&__loader {
		position: absolute;
		z-index: 80;
		//left: 50%;
		//top: 50%;
		//transform: translate(-50%, -50%);
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.5;
		background-image: url('/assets/img/loader.svg');
		background-repeat: repeat-x;
		background-size: 60px auto;
		background-position: 0 center;
		animation: loaderAnimation 1s linear infinite;
	}
}

.codes-input {
	width: 100%;
	height: 100%;
	::ng-deep {
		.input-field {
			border-top: none;
			border-left: none;
			border-right: none;
			border-radius: 0;
		}
		.input-label {
			height: 100%;
		}
	}
}

.switch-camera {
	width: 54px;
	border-radius: 5px;
	&__pic {
		display: block;
	}
	path {
		fill: #009788;
	}
	&_opened {
		background: $msl_base_green;
		path {
			fill: #FFFFFF;
		}
	}
}

.zc-summary {
	font-size: 30px;
	color: $msl_main_text_color;
	white-space: nowrap;

	&__value {
		font-family: $roboto_medium;
	}
}

.main-area {
	position: relative;
	&__inner {
		border: 2px solid #009788;
		border-radius: 8px;
		overflow-y: auto;
		position: relative;
		height: 100%;
	}
}

.bc-list {
	position: absolute;
	padding: 10px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	&__header, &__body {
		display: grid;
		grid-template-columns: 1fr 1fr auto;
		grid-gap: 10px 10px;
		gap: 10px 10px;
		align-content: start;
		padding-right: 5px;
	}
	&__header {
		padding-right: 25px;
	}
	&__cell {
		color: $msl_main_text_color;
		font-weight: 400;
		font-size: 24px;
		&_header {
			font-family: $roboto_medium;
			color: #009788;
			text-transform: uppercase;
		}
		&_actions {
			width: 30px;
		}
	}
}

.bottom-panel {
	display: grid;
	grid-template: auto / auto auto 1fr;
	align-items: center;
	align-content: center;
	grid-column-gap: 15px;
}

.back-button, .clear-button, .register-bet-button {
	width: auto;
	height: 80px;
	display: block;
}

.back-button {
	justify-self: start;
	padding-left: 15px;
	padding-right: 15px;
	width: 230px;
}

.clear-button {
	justify-self: start;
	padding-left: 15px;
	padding-right: 15px;
	width: 230px;
}

.register-bet-button {
	justify-self: end;
	::ng-deep {
		.button {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.delete-item {
	width: 30px;
	height: 30px;
	background: #df5050;
	border-radius: 50%;
	display: block;
	position: relative;
	cursor: pointer;
	&:before, &:after {
		position: absolute;
		width: 15px;
		height: 2px;
		left: 50%;
		content: '';
		display: block;
		background: #FFFFFF;
	}
	&:before {
		transform: translate(-50%, -50%) rotate(45deg);
	}
	&:after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

.camera-block {
	position: absolute;
	bottom: 15px;
	display: block;
	height: calc(100% - 30px);
	max-height: 200px;
	width: calc(100% - 20px);
	max-width: 480px;
	left: 50%;
	transform: translate(-50%);
	&_hidden {
		display: none;
	}
}

.camera-spoiler {
	background: #FFFFFF;
	overflow: hidden;
}

.scanner-input {
	--scanner-height: 150px;
}

@media screen and (max-width: 1919px) {
	.back-button, .clear-button, .register-bet-button {
		height: 66px;
		font-size: 24px;
	}
	.register-bet-button {
		::ng-deep {
			.button {
				font-size: 24px;
			}
		}
	}
	.zc-summary {
		font-size: 24px;
	}
	.delete-item {
		width: 26px;
		height: 26px;
	}
	.bc-list {
		&__cell {
			font-size: 20px;
		}
	}
}

@media screen and (max-width: 1365px) {
	.blanks-scroll::-webkit-scrollbar {
		width: 12px;
	}
	.zc-summary {
		font-size: 20px;
	}

	.bc-list {
		&__header {
			padding-right: 17px;
		}
		&__cell {
			&_actions {
				width: 24px;
			}
		}
	}
}

@media screen and (max-width: 1139px) {
	.zc-summary {
		font-size: 18px;
	}
}

@media screen and (max-width: 1023px) {
	:host {
		grid-row-gap: 10px;
		row-gap: 10px;
	}

	.zc-summary {
		font-size: 18px;
	}
	.codes-input {
		::ng-deep {
			.input-title {
				font-size: 18px;
			}
			.input-field {
				font-size: 24px;
				height: 100%;
			}
		}
	}
	.switch-camera {
		width: 44px;
	}
	.back-button, .clear-button, .register-bet-button {
		height: 44px;
		font-size: 18px;
	}

	.back-button, .clear-button {
		width: 160px;
	}

	.register-bet-button {
		::ng-deep {
			.button {
				font-size: 18px;
			}
		}
	}

	.bc-list {
		grid-gap: 5px 5px;
		gap: 5px 5px;
		padding: 5px;

		&__header {
			padding-right: 17px;
		}
		&__cell {
			font-size: 16px;
			&_actions {
				width: 20px;
			}
		}
	}

	.delete-item {
		width: 20px;
		height: 20px;
	}
	.bottom-panel {
		grid-column-gap: 10px;
		column-gap: 10px;
	}
	.camera-block {
		bottom: 10px;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
	}
	.camera-spoiler {
		font-size: 18px;
		::ng-deep {
			.close-button {
				top: 8px;
			}
		}
	}
}

@media screen and (max-width: 959px) {
	.zc-summary {
		font-size: 15px;
	}
}

@media screen and (max-width: 853px) {
	:host {
		height: 100%;
	}

	.top-panel {
		align-items: center;
		flex-flow: row wrap;
		&__left {
			width: 100%;
			margin: 10px 0;
		}
		&__right {
			width: 100%;
			justify-content: center;
			grid-template-columns: auto auto;
		}
	}


}

@media screen and (max-width: 839px) {

}

@media screen and (max-width: 639px) {
	.codes-input-wrapper {
		margin: 0 10px 0 0;
	}
	.codes-input {
		::ng-deep {
			.input-field {
				font-size: 18px;
				height: 100%;
			}
			.input-title {
				font-size: 16px;
				top: 3px;
			}
			.input-field:not(:placeholder-shown) + .input-title,
			.input-field:focus + .input-title {
				margin-top: 0;
			}
		}
	}

	.switch-camera {
		width: 39px;
		height: 39px;
	}

	.back-button, .clear-button {
		width: 110px;
		font-size: 16px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.register-bet-button {
		::ng-deep {
			.button {
				font-size: 16px;
			}
		}
	}
	.zc-summary {
		font-size: 14px;
	}
}

@media screen and (max-width: 479px) {
	:host {
		grid-row-gap: 8px;
		row-gap: 8px;
	}

	.back-button, .clear-button {
		width: 80px;
		height: 32px;
		font-size: 11px;
		border-radius: 4px;
		border-width: 1px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.register-bet-button {
		height: 32px;
		font-size: 11px;
		border-radius: 4px;
		::ng-deep {
			.button {
				border-radius: 4px;
				font-size: 11px;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}

	.top-panel {
		&__left {
			margin: 0 0 5px 0;
		}
	}

	.zc-summary {
		font-size: 12px;
	}

	app-msl-input-with-keyboard.codes-input {
		::ng-deep {
			.input-field {
				font-size: 18px;
				height: 100%;
			}
			.input-title {
				font-size: 14px;
				top: 3px;
			}
			.input-field:not(:placeholder-shown) + .input-title,
			.input-field:focus + .input-title {
				top: -15px;
				font-size: 12px;
			}
		}
	}
	.switch-camera {
		width: 35px;
		height: 35px;
		border-width: 1px;
	}

	.main-area {
		&__inner {
			border: 1px solid #009788;
			border-radius: 4px;
		}
	}

	.bc-list {
		grid-gap: 5px 5px;
		gap: 5px 5px;
		padding: 5px;

		&__header {
			padding-right: 14px;
		}
		&__body {
			padding-right: 2px;
		}
		&__cell {
			font-size: 12px;
			&_actions {
				width: 16px;
			}
		}
	}

	.delete-item {
		width: 16px;
		height: 16px;
		&:before, &:after {
			width: 10px;
			height: 1px;
		}
	}

	.camera-block {
		bottom: 8px;
		width: calc(100% - 16px);
		height: calc(100% - 16px);
	}
	.camera-spoiler {
		font-size: 14px;
		border-width: 1px;
		border-radius: 6px;
		::ng-deep {
			.close-button {
				top: 8px;
				width: 12px;
				height: 12px;
			}
			.spoiler-header {
				font-family: $roboto_regular;
			}
			.spoiler-body {
				&_opened {
					padding: 0 8px 8px;
				}
			}
		}
	}
	.bottom-panel {
		grid-column-gap: 8px;
		column-gap: 8px;
	}
}

@media screen and (max-width: 419px) {
	.zc-summary {
		font-size: 11px;
	}
}
