<div class="top-panel" data-cy="top-panel">
	<form class="top-panel__left"
		  [formGroup]="userForm" (ngSubmit)="onSubmit()"
		  data-cy="top-panel-left"
	>
		<!-- ОСНОВНОЙ БАРКОД -->
		<div class="codes-input-wrapper" data-cy="codes-input-wrapper">
			<div *ngIf="isFormBusy"
				 class="codes-input-wrapper__loader"
				 data-cy="codes-input-wrapper-loader"
			></div>
			<app-msl-input-with-keyboard
				#barcodeInput
				appMslComponent
				class="codes-input"
				data-cy="codes-input"
				formControlName="barcodeInput"
				[label]="'lottery.enter_blank_maccode' | translate"
				[minLength]="18"
				[maxLength]="18"
				[isDisabled]="isFormBusy"
				[errorState]="showErrorState"
				(valueChanged)="onInputChangeHandler($event)"
				(focused)="onInputFieldFocus()">
			</app-msl-input-with-keyboard>
		</div>
		<button *ngIf="appStoreService.showCameraComponent$$.value" type="button"
				class="button button_theme_light-green switch-camera"
				[class.switch-camera_opened]="isCameraShown"
				data-cy="switch-camera"
				(click)="onSwitchCamera()"
		>
			<svg id="Icon"
				 class="switch-camera__pic"
				 data-cy="switch-camera-pic"
				 xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="25 25 200 200" xml:space="preserve"
			>
						<g>
							<path d="M125,106.2c-15.4,0-27.9,12.5-27.9,27.8s12.5,27.8,27.9,27.8s27.9-12.5,27.9-27.8S140.4,106.2,125,106.2z M125,153.1
								c-10.6,0-19.2-8.6-19.2-19.1s8.6-19.1,19.2-19.1c10.6,0,19.2,8.6,19.2,19.1S135.6,153.1,125,153.1z"/>
							<path d="M176.8,91.1h-26.6c-0.9,0-1.8-0.7-2-1.6l-1.6-7.8c-1-4.9-5.4-8.5-10.4-8.5h-22.5c-5.1,0-9.4,3.6-10.4,8.5l-1.6,7.8
								c-0.2,0.9-1,1.6-2,1.6H73.2c-5.9,0-10.7,4.8-10.7,10.6v64.5c0,5.9,4.8,10.6,10.7,10.6h103.7c5.9,0,10.7-4.8,10.7-10.6v-64.5
								C187.5,95.9,182.7,91.1,176.8,91.1z M178.8,166.2c0,1.1-0.9,2-2,2H73.2c-1.1,0-2-0.9-2-2v-64.5c0-1.1,0.9-2,2-2h26.6
								c5.1,0,9.4-3.6,10.4-8.5l1.6-7.8c0.2-0.9,1-1.6,2-1.6h22.5c0.9,0,1.8,0.7,1.9,1.6l1.6,7.8c1,4.9,5.4,8.5,10.4,8.5h26.6
								c1.1,0,2,0.9,2,2V166.2z"/>
							<path d="M98.9,110.5c0-2.4-1.9-4.3-4.3-4.3h-13c-2.4,0-4.3,1.9-4.3,4.3c0,2.4,1.9,4.3,4.3,4.3h13C97,114.8,98.9,112.9,98.9,110.5z"
							/>
						</g>
					</svg>
		</button>
	</form>

	<div class="top-panel__right" data-cy="top-panel-right">
		<div class="zc-summary zc-summary_c-draw" data-cy="zc-summary">
			{{ 'lottery.selected_draw' | translate }}:
			<span class="zc-summary__value"
				  data-cy="zc-summary-value"
			>{{ zabavaLotteryService.currentDraw?.draw?.num || '-' }}</span>
		</div>

		<div class="zc-summary zc-summary_win-date" data-cy="zc-summary">
			{{ 'lottery.drawDate' | translate }}:
			<span class="zc-summary__value"
				  data-cy="zc-summary-value"
			>{{ zabavaLotteryService.currentDraw?.draw?.win_bdate | date:'dd.MM.yyyy' || '-' }}</span>
		</div>

		<div class="zc-summary" data-cy="zc-summary">
			{{ 'lottery.blanks_scanned' | translate }}:
			<span class="zc-summary__value"
				  data-cy="zc-summary-value"
			>{{ zabavaLotteryService.blanksList.length }} {{ 'lottery.things' | translate }}.</span>
		</div>

		<div class="zc-summary" data-cy="zc-summary">
			{{ 'lottery.total_sum' | translate }}:
			<span class="zc-summary__value"
				  data-cy="zc-summary-value"
			>{{ totalSum | number:'1.2-2' }} {{ 'lottery.uah' | translate | lowercase }}.</span>
		</div>

	</div>

</div>

<div class="main-area" data-cy="main-area">
	<div class="main-area__inner" data-cy="main-area-inner">
		<div class="bc-list" data-cy="bc-list">

			<div class="bc-list__header" data-cy="bc-list-header">
				<div class="bc-list__cell bc-list__cell_header bc-list__cell_bc"
					 data-cy="bc-list-cell-bc"
				>{{ 'lottery.blank_maccode' | translate }}</div>
				<div class="bc-list__cell bc-list__cell_header bc-list__cell_cost"
					 data-cy="bc-list-cell-cost"
				>{{ 'lottery.blank_cost' | translate }}</div>
				<div class="bc-list__cell bc-list__cell_header bc-list__cell_actions"
					 data-cy="bc-list-cell-actions"
				></div>
			</div>

			<div class="bc-list__body webalt-scroll blanks-scroll"
				 data-cy="blanks-scroll"
			>
				<ng-container *ngFor="let blankItem of zabavaLotteryService.blanksList; let i = index">
					<div class="bc-list__cell bc-list__cell_bc"
						 data-cy="bc-list-cell-bc"
					>{{ blankItem.bc }}</div>
					<div class="bc-list__cell bc-list__cell_cost"
						 data-cy="bc-list-cell-cost"
					>{{ blankItem.cost }}</div>
					<div class="bc-list__cell bc-list__cell_actions"
						 data-cy="bc-list-cell-actions"
					>
						<button type="button"
								class="delete-item"
								data-cy="delete-item"
								(click)="onRemoveItem(i)"
						></button>
					</div>
				</ng-container>
			</div>
		</div>
	</div>

	<div class="camera-block"
		 [class.camera-block_hidden]="!isCameraShown || !appStoreService.showCameraComponent$$.value"
		 data-cy="camera-block"
	>
		<app-spoiler id="camera-spoiler"
			class="camera-spoiler"
			data-cy="camera-spoiler"
			[title]="'tickets.scan' | translate"
			[opened]="isCameraShown"
			[crossMark]="true"
			(closed)="onCameraClose()"
		>
			<app-scanner-input #scannerInput class="scanner-input"
				[expanded]="isCameraShown"
				[enabledCamera]="appStoreService.showCameraComponent$$.value"
				[showBarcodeField]="false"
				[showScannerButton]="false"
				(barcodeChange)="onBarcodeChangeHandler($event)"
			></app-scanner-input>
		</app-spoiler>
	</div>

</div>

<div class="bottom-panel" data-cy="bottom-panel">
	<button class="button button_theme_light-green back-button"
			type="button"
			routerLink="/lotteries/zabava-lottery/init"
			data-cy="back-button"
	>{{ 'lottery.go-back' | translate }}</button>

	<button class="button button_theme_light-green clear-button"
			data-cy="clear-button"
			type="button"
			[attr.disabled]="zabavaLotteryService.blanksList.length === 0 || null"
			(click)="onClearList()"
	>{{ 'lottery.clear' | translate }}</button>

	<!-- КНОПКА РЕГИСТРАЦИИ СТАВКИ -->
	<app-register-bet-button
		class="register-bet-button"
		data-cy="register-bet-button"
		[amount]="totalSum"
		(action)="zabavaLotteryService.goToRegistryPage({source: BetDataSource.Scanner})"
		[isDisabled]="!totalSum"
	>
	</app-register-bet-button>
</div>
