@import 'variables';

.aic-logo {
	::ng-deep {
		.game-logo {
			&__left {
				border: 1px solid $msl_placeholder_text_color;
				border-radius: 8px;
				width: 100px;
				height: 54px;
				padding: 5px;
			}
			&__image {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;
			}
			&__title {
				font-size: 24px;
			}
		}
	}
}

.action-item-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.aic-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 72%;
}

.ac-button {
	width: calc(50% - 18px);
}

.ac-button + .ac-button {
	margin-left: 36px;
}
