<div class="action-item-container">

	<!-- ЛОГОТИП -->
	<app-msl-game-logo
		class="aic-logo"
		[gameCode]="gameCode"
		[groupCode]="groupCode"
		[logoViewStyle]="LogoViewStyle.ActionsList"
		(click)="actionsService.navigateByLottery(action?.buttons[0])"
		>
	</app-msl-game-logo>

	<!-- СПИСОК КНОПОК -->
	<div class="aic-buttons">
		<ng-container *ngFor="let button of action?.buttons; trackBy: trackByFn">
			<app-action-button
				class="ac-button"
				[action]="action"
				[button]="button"
				>
			</app-action-button>
		</ng-container>
	</div>

</div>
