@import "variables";
@import "mixins";

.preloader-wrapper {
	overflow: hidden;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&.hidden {
		display: none;
	}
}

.preloader {
	@include circle_arc(150px, 10px);
}

.ci-phone-number {
	margin-block-end: 30px;
	display: block;
	max-width: 310px;
	margin-inline: auto;
	--masked-title-size: 16px;
	--masked-width: 300px;
	--masked-height: 50px;
	--masked-font-size: 24px;
	--masked-padding: 0 10px;
}

.bottom-button, .ci-button {
	max-width: 250px;
	font-size: 24px;
	min-height: 50px;
	display: block;
}

.bottom-button {
	width: auto;
	padding: 0 15px;
	&_back, &_forward {
		width: 140px;
	}

	&_to-start {
		width: 200px;
	}
}

.pin-title {
	margin-bottom: 8px;
	text-align: center;
	font-size: 16px;
	font-family: $roboto_regular;
	color: #5a5a5a;
}

.sms-code {
	font-size: 24px;
	max-width: 300px;
	height: 50px;
	margin-block-end: 30px;
	letter-spacing: 40px;
	margin-inline: auto;
}

.bottom-buttons {
	display: flex;
	column-gap: 10px;
	justify-content: center;
	align-items: center;
}

.scan-new-card {
	margin-block-end: 10px;
	--codes-input-height: 50px;
	--scanner-height: 120px;
	display: block;
}

.account-data {
	margin-bottom: 20px;
	&__item {
		margin-bottom: 10px;
	}
	&__key {
		margin-right: 5px;
		color: $msl_main_text_color;
	}
	&__link {
		text-decoration: underline;
		color: $msl_main_text_color;
	}
}

.service-message, .success-message {
	font-size: 16px;
	margin-block: 20px;
	font-family: $roboto_bold;
	color: $msl_main_text_color;
}

.success-message {
	text-align: center;
}

.service-message {
	text-align: left;
	p {
		margin-block-end: 10px;
	}
}

.add-lc-header {
	font-size: 24px;
	color: #5a5a5a;
	margin-block-end: 15px;
	font-family: $roboto_bold;
	text-align: center;
}

.inner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;

	&_3 {
		display: block;
	}
}

.switch-camera {
	width: 40px;
	height: auto;
	aspect-ratio: 1 / 1;
	border-radius: 5px;
	path {
		fill: $msl_base_green;
	}
	&_opened {
		background: $msl_base_green;
		path {
			fill: #FFFFFF;
		}
	}
	&__pic {
		display: block;
	}
}

.tc-input-container {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	grid-row-gap: 10px;
	row-gap: 10px;
	width: 100%;
}

.codes-input-outer {
	display: flex;
}

.codes-input {
	flex-grow: 1;
	width: auto;
	height: 40px;
	--input-height: 40px;
	--input-font-size: 18px;
}

.scanner-cell {
	width: 100%;
	height: 100%;
	grid-template-rows: minmax(0, 1fr) auto;
}

.spoiler {
	font-size: 24px;
	display: none;
	border: 1px solid $msl_inactive_color;
	border-radius: 5px;
	padding: 5px;
	--wrapper-radius: 5px;
	&.opened {
		display: block;
		height: 200px;
		margin-bottom: 10px;
	}
}


.check-button {
	height: 80px;
	font-size: 36px;
	margin-top: 10px;
}

.ticket-check {
	margin-bottom: 20px;
}

.user-loyalty-auth {
	width: 100%;
}

.to-start {
	font-size: 28px;
	padding: 5px 0;
}

@media screen and (max-width: 1139px) {
	.bottom-button {
		font-size: 16px;
		min-height: 40px;
		&_back, &_forward {
			width: 100px;
		}
	}

	.user-loyalty-auth {
		width: calc(100% - 15px);
		display: block;
		--masked-width: 100%;
	}
}

@media screen and (max-width: 479px) {
	.ci-phone-number {
		margin-block-end: 30px;
		display: block;
		max-width: 310px;
		margin-inline: auto;
		--masked-width: 200px;
		--masked-height: 40px;
		--masked-font-size: 18px;
		--masked-padding: 0 10px;
		--masked-spacing: 1px;
		--checkmark-margin: -10px;
	}

	.bottom-buttons {
		flex-wrap: wrap;
		.bottom-button {
			max-width: none;
			margin-bottom: 10px;
			&_back, &_forward, &_repeat-sms {
				width: 100%;
			}

			&_forward {
				order: 1;
			}

			&_repeat-sms {
				order: 2;
			}

			&_back {
				order: 3;
			}

		}
	}

	.inner {
		&_4 {
			align-items: flex-start;
		}
	}

	.add-lc-header {
		font-size: 18px;
	}

	.user-loyalty-auth {
		width: calc(100% - 28px);
	}
}
