<div class="preloader-wrapper" [class.hidden]="!userLoyaltyAuthService.isLoading">
	<div class="preloader"></div>
</div>

<div class="inner inner_{{ step }}" [class.hidden]="userLoyaltyAuthService.isLoading">

	<app-user-loyalty-auth [class.hidden]="step > 2"
		class="user-loyalty-auth"
		[showScanVariant]="false"
		[playerMustExists]="false"
		[showValidMark]="false"
		(authResult)="onAuthResult($event)"
	></app-user-loyalty-auth>

	<ng-container *ngIf="step === 3">
		<h2 class="add-lc-header">{{ 'other.your-account' | translate }}</h2>
		<ul class="account-data">
<!--			<li class="account-data__item">
				<b class="account-data__key">{{ 'other.id' | translate }}:</b>
				{{ userInfo.user_id }}
			</li>-->
			<li class="account-data__item">
				<b class="account-data__key">{{ 'other.phone' | translate }}:</b>
				<a class="account-data__link" href="tel:+{{ userLoyaltyAuthService.lastEnteredPhone }}">+{{ userLoyaltyAuthService.lastEnteredPhone }}</a>
			</li>
			<li *ngIf="userInfo.cardNum" class="account-data__item">
				<b class="account-data__key">{{ 'other.card-num' | translate }}:</b> {{ userInfo.cardNum }}
			</li>
		</ul>

		<div class="service-message" [innerHTML]="'other.card-exists' | translate | safeHtml"></div>

		<div class="bottom-buttons">
			<button type="button"
					class="button button_theme_white bottom-button bottom-button_back"
					data-cy="bottom-button-back"
					(click)="onGoToStart()"
			>
				{{ 'common.cancel' | translate }}
			</button>
			<button type="button"
					class="button button_theme_green bottom-button bottom-button_forward"
					data-cy="bottom-button-forward"
					(click)="onGoForward()"
			>
				{{ 'lottery.change-card' | translate }}
			</button>
		</div>
	</ng-container>

	<form *ngIf="step === 4"
		  [formGroup]="form"
		  (ngSubmit)="onSubmitCardBarcode()"
	>

		<h2 class="add-lc-header">{{ 'other.scan-card' | translate }}</h2>

		<app-scanner-input
			class="scan-new-card"
			#scannerInput
			formControlName="cardNum"
			[minLength]="8"
			[maxLength]="8"
			[enabledCamera]="appStoreService.showCameraComponent$$.value"
		></app-scanner-input>

		<div class="bottom-buttons">
			<button type="button"
					class="button button_theme_white bottom-button bottom-button_back"
					data-cy="bottom-button-back"
					[attr.disabled]="isCameraShowing || null"
					(click)="onGoToStart()"
			>
				{{ 'common.cancel' | translate }}
			</button>
			<button type="submit"
					[attr.disabled]="!form.controls['cardNum'].value || null"
					class="button button_theme_green bottom-button bottom-button_forward"
					data-cy="bottom-button-forward"
			>
				{{ 'other.next' | translate }}
			</button>
		</div>
	</form>

	<ng-container *ngIf="step === 5">
		<div class="success">
			<div class="success-message">{{ 'other.card-bind-success' | translate }}</div>
			<div class="bottom-buttons">
				<button type="button"
						class="button button_theme_light-green to-start"
						data-cy="bottom-button-to-start"
						(click)="onGoToStart()"
				>
					{{ 'common.to-start' | translate }}
				</button>
			</div>
		</div>
	</ng-container>
</div>
