@import "../../../../../sass/variables";

:host {
	display: block;
	letter-spacing: 50px;
	font-size: 30px;
	height: 56px;
}

.pin {
	letter-spacing: inherit;
	font-size: inherit;
	display: block;
	height: 100%;

	&__wrapper {
		letter-spacing: inherit;
		font-size: inherit;
		display: block;
		height: 100%;
	}

	&__title {
		text-align: center;
		font-size: var(--title-font-size, 24px);
		color: $msl_main_text_color;
		margin-bottom: 5px;
		display: block;
		&_error {
			color: $msl_error;
		}
	}

	&__inner {
		display: block;
		position: relative;
		letter-spacing: inherit;
		font-size: inherit;
		height: 100%;
	}

	&__input {
		font-family: $roboto_medium;
		font-size: inherit;
		color: $msl_base_green;
		letter-spacing: inherit;
		padding-left: calc(30px + 12.5% - 0.333333em);
		padding-right: 0;
		padding-bottom: 5px;
		border-radius: 6px;
		border: 1px solid $msl_inactive_color;
		width: 100%;
		height: var(--pin-input-height, 100%);

		&_error {
			color: $msl_error;
		}
	}

	&__padding {
		background: #FFFFFF;
		width: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 1px;
		bottom: 1px;
		&_left {
			left: 1px;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
		}
		&_right {
			right: 1px;
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
		}
	}

	&__spacers {
		position: absolute;
		left: 30px;
		right: 30px;
		bottom: 10px;

		display: flex;
		justify-content: space-around;
		padding-left: 10px;
		padding-right: 10px;
		height: 2px;
	}

	&__spacer {
		width: 15%;
		height: 2px;
		background: $msl_base_green;
		&_error {
			background: $msl_error;
		}
	}

	&__clear {
		position: absolute;
		background: none;
		width: 24px;
		height: 24px;
		right: 10px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		z-index: 10;
	}

	&__clear-icon {
		color: $msl_red;
	}

	&__k-icon {
		background: url('/assets/img/svg/numbers_icon.svg') no-repeat;
		background-size: contain;
	}
}

@media screen and (max-width: 360px) {
	.pin {
		&__spacer {
			height: 1px;
		}
	}
}
