@import 'variables';
@import 'mixins';

.cards-table {
	&__row {
		display: flex;
		align-items: center;
		&_header {
			.cards-row__cell_first {
				color: $msl_inactive_color;
				font-family: $roboto_regular;
			}
		}
	}
}

.cards-row {
	&__cell {
		width: 16%;
		margin: 5px;
		text-align: center;

		&_first {
			width: calc(50% - 50px);
			margin-right: 50px;

			text-align: center;
			color: $msl_main_text_color;
			font-family: $roboto_medium;
			font-size: 24px;
		}
	}
	&__btn {
		width: 50px;
		height: 30px;

		@include radial_bg($color: #F8EBB8);
		border: 1px solid $msl_base_yellow;
		border-radius: 4px;

		margin: 0 auto;
		display: block;

		&_selected {
			pointer-events: auto;
			background: $msl_base_yellow;
			position: relative;
			@include cross_mark();
		}
	}
}

@media screen and (max-width: 1024px) {
	.cards-row {
		&__cell {
			width: 16%;
			margin: 5px 2px;
			text-align: center;

			&_first {
				width: calc(36% - 50px);
				margin-right: 30px;

				text-align: center;
				color: $msl_main_text_color;
				font-family: $roboto_medium;
				font-size: 18px;
			}
		}

		&__btn {
			display: block;

			width: 50px;
			height: 20px;
		}
	}
}

@media screen and (max-width: 853px) {
	.cards-row__cell_first {
		width: 200px;
	}
}

@media screen and (max-width: 839px) {

}

@media screen and (max-width: 639px) {
	.cards-row {
		&__cell {
			font-size: 14px;
			width: 50px;
			&_first {
				width: 130px;
				margin: 5px 30px 5px 5px;
			}
		}
		&__btn {
			height: 16px;
		}
	}
}

@media screen and (max-width: 479px) {
	.cards-row {
		&__btn {
			width: 100%;
		}
	}
}
