<div class="kare-bet-type-two-container" data-cy="kare-bet-type-two-container">
	<div class="cards-table" data-cy="cards-table">

		<!-- ЗАГОЛОВОК -->
		<div class="cards-table__row cards-table__row_header cards-row"
			 data-cy="cards-table-row"
		>
			<div class="cards-row__cell cards-row__cell_first"
				 data-cy="cards-table-cell"
			>
				{{ KARE_COMBINATION_NAMES[0] | translate }}
			</div>
		</div>

		<!-- СПИСОК КОМБИНАЦИЙ -->
		<div class="cards-table__row cards-row"
			 *ngFor="let comb of entityItemsList; let i = index; trackBy: trackByKareEntityItemFn"
			 data-cy="cards-table-row"
			>
			<div class="cards-row__cell cards-row__cell_first"
				 data-cy="cards-row-cell"
			>
				{{ KARE_COMBINATION_NAMES[i + 1] | translate }}
			</div>

			<div class="cards-row__cell" data-cy="cards-row-cell">
				<button
					class="cards-row__btn"
					[class.cards-row__btn_selected]="comb.selected"
					data-cy="cards-row-btn"
					(click)="onSelectButtonHandler(i)"
				></button>
			</div>
		</div>
	</div>
</div>
