<div class="upo-withdrawal-container">

	<div class="reporting-right-section">

		<div class="withdrawal-status"
			[ngClass]="userPaymentOperationsService.currentWithdrawalStatus$$.value"
			[ngSwitch]="userPaymentOperationsService.currentWithdrawalStatus$$.value"
			>

			<!-- ВВОД КОДА -->
			<app-request-code-page
				*ngSwitchCase="WithdrawalStatus.RequestCode"
				[withdrawForm]="withdrawForm"
			></app-request-code-page>

			<!-- ВЫВОД ДЕНЕГ НЕ РАЗРЕШЕН -->
			<app-not-allowed-page *ngSwitchCase="WithdrawalStatus.NoWithdrawalAllowed"></app-not-allowed-page>

			<!-- ВВОД СМС -->
			<app-enter-sms-page
				*ngSwitchCase="WithdrawalStatus.WithdrawalAllowedEnterSMS"
				[pinCodeLength]="PinCodeLength"
				[sendSMSButtonText]="sendSMSButtonText"
				[smsForm]="smsForm"
				(clickSendSMSButton)="onClickSendSMSButtonHandler()"
			></app-enter-sms-page>

			<ng-container *ngSwitchCase="WithdrawalStatus.WithdrawalFinal">
				{{ 'reporting.payment_made' | translate }}
			</ng-container>

		</div>
	</div>

	<div class="check-sms-buttons"
		 *ngIf="userPaymentOperationsService.currentWithdrawalStatus$$.value === WithdrawalStatus.WithdrawalAllowedEnterSMS">
		<button type="button" class="button button_theme_green upo-go-back" (click)="onGoBack()">
			{{ 'reporting.back' | translate }}
		</button>

		<button *ngIf="isVisiblePaymentButton$ | async"
			type="button"
			class="button button_theme_green upo-wc-payment"
			[attr.disabled]="smsForm.invalid || (userPaymentOperationsService.isLoadingData$$ | async) || null"
			(click)="onClickPaymentButtonHandler()"
			>
			{{ 'reporting.payment' | translate }}
		</button>
	</div>

	<button *ngIf="isVisibleRequestButton$ | async"
		type="button"
		class="button button_theme_green upo-wc-request"
		[attr.disabled]="withdrawForm.invalid || (userPaymentOperationsService.isLoadingData$$ | async) || null"
		(click)="onClickRequestButtonHandler()"
		>
		{{ 'reports.request' | translate }}
	</button>

	<button *ngIf="isVisibleContinueButton$ | async"
		type="button"
		class="button button_theme_green upo-wc-continue"
		(click)="onClickContinueButtonHandler()"
	>
		{{ 'reporting.continue' | translate }}
	</button>
</div>
