@import 'variables';
@import 'mixins';


.reporting-right-section {
	padding: 0 15px;
}

.withdrawal_final {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	color: $msl_base_green;
	font-family: $roboto_medium;
}


.check-sms-buttons {
	display: flex;
	justify-content: space-between;
}

.upo-wc-request,
.upo-wc-continue {
	display: block;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	height: 44px;
	font-size: 18px;
}

.upo-wc-payment, .upo-go-back {
	display: block;
	max-width: 300px;
	width: 100%;
	height: 44px;
	font-size: 18px;
}

.send-sms-btn {
	max-width: 400px;
	width: 100%;
	margin: 100px auto 0 auto;
	height: 44px;
	font-size: 18px;
}

.green-gradient-btn {
	display: block;
	@include radial_bg($color: #D8F3F3);
	text-transform: uppercase;
	color: $msl_base_green;
	font-size: 36px;
	font-family: $roboto_medium;
	border: 2px solid $msl_base_green;
	height: 80px;
}

.repeat-sms-btn {
	width: 240px;
	height: 54px;
	font-size: 24px;
	text-transform: uppercase;
	font-family: $roboto_medium;
}
