<select class="cameras-list" name="cameras" id="cameras" (change)="onCameraChange($event)">
	<ng-container *ngFor="let camera of cameras; let i = index; trackBy: trackByFn">
		<option [attr.selected]="(camera.id === selectedCameraId) || null"
				[value]="camera.id">{{ camera.label || ('Камера ' + (i + 1)) }}</option>
	</ng-container>
</select>
