@import "variables";

@media screen and (max-width: 1919px) {
	.modal-dialog-container {
		padding: 30px;
		max-width: 890px;
	}
	.modal-alt-title {
		margin-bottom: 30px;
	}
	.modal-alt-message, .modal-alt-code {
		margin-bottom: 25px;
	}
	.modal-button {
		max-width: 820px;
		width: 100%;
		height: 80px;
		margin: 0 auto;
		font-size: 36px;
	}
}

@media screen and (max-width: 1365px) {
	.modal-dialog-container {
		padding: 8px;
		max-width: 540px;
	}
	.modal-button {
		max-width: 440px;
		width: 100%;
		height: 44px;
		margin: 0 auto;
		font-size: 18px;
	}
	.modal-alt-title, .modal-alt-message, .modal-alt-code {
		margin: 8px 8px 16px 8px;
	}
	.modal-buttons-container {
		margin: 8px 0;
	}
	.modal-alt-title {
		font-size: 30px;
	}

	.modal-alt-message {
		font-size: 18px;
		font-weight: normal;
		font-family: $roboto_medium;
	}

	.modal-alt-code {
		font-size: 24px;
	}
}

@media screen and (max-width: 853px) {
	.modal-buttons-container {
		margin: 8px 0 27px 0;
	}
}

@media screen and (max-width: 639px) {
	.modal-alt-title {
		font-size: 24px;
		font-family: $roboto_bold;
		margin: 8px 0;
	}
	.modal-alt-message {
		font-size: 14px;
		font-family: $roboto_regular;
		margin: 8px 0;
	}
	.modal-alt-code {
		font-size: 18px;
		margin: 8px 0;
	}
	.modal-dialog-container {
		padding: 4px;
		max-width: 352px;
		width: 100%;
	}
	.modal-buttons-container {
		margin: 12px 0 8px 0;
	}
}


@media screen and (max-width: 497px) {
	.modal-alt-title {
		font-size: 24px;
		font-family: $roboto_bold;
		margin: 8px 0;
	}
	.modal-alt-message {
		font-size: 14px;
		font-family: $roboto_regular;
		margin: 8px 0;
	}
	.modal-alt-code {
		font-size: 18px;
		margin: 8px 0;
	}
	.modal-dialog-container {
		padding: 4px;
	}
	.modal-buttons-container {
		margin: 12px 0 8px 0;
	}
}
