@import "variables";

.field {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border: 1px solid #808080;
	border-radius: 6px;
	height: var(--field-height, 50px);
	padding: 0 10px;

	&__prefix {
		margin-inline-end: 5px;
	}

	&__value {
		width: 130px;
	}

	&__prefix, &__value {
		font-size: var(--font-size, 24px);
		color: #666;
	}
}

.errors {
	text-align: center;
	color: $msl_error;
}
