@import "variables";

.calendar-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.24);
}

.calendar-date-selector-container {
	max-width: 480px;
	width: 100%;
	max-height: 500px;
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 0;

	position: absolute;
	z-index: $layer_calendar;

	border-radius: 8px;
	box-shadow: inset 0 0 0 5px #d4d4d4;
	background: #fff;

	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-row-gap: 10px;
	row-gap: 10px;

	&.yellow {
		.calendar-title {
			label {
				color: $msl_base_yellow;
			}
		}

		.select-button {
			button:enabled {
				color: #fff;
				background-color: $msl_base_yellow;
			}
		}
	}
}

.calendar-title {
	position: absolute;
	top: -56px;
	left: 0;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 54px;

	border-radius: 8px;
	background-color: #fff;

	label {
		font-family: $roboto_regular;
		font-size: 32px;
		font-weight: bold;
		color: $msl_base_green;
	}
}

.cds-month {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	i {
		position: absolute;

		font-size: 84px;
		line-height: 0;
		color: $msl_base_green;

		&:first-child {
			left: 0;
		}

		&:last-child {
			right: 0;
		}
	}

	label {
		width: 100%;

		pointer-events: none;

		font-family: $roboto_regular;
		font-size: 46px;
		font-weight: bold;
		color: $msl_main_text_color;
		text-align: center;
	}
}

.cds-week {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding: 0 22px;
	label {
		text-transform: lowercase;
		font-family: $roboto_regular;
		font-size: 36px;
		color: $msl_main_text_color;
	}
}

.cds-days {
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;

	display: grid;
	grid-template-columns:  repeat(7, 1fr);

	border-top: 1px solid #d4d4d4;

	label {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		margin-left: 4px;
		margin-right: 4px;
		padding-right: 1px;

		font-family: $roboto_regular;
		font-size: 36px;
		color: $msl_placeholder_text_color;

		text-align: center;

		&.activeMonth {
			color: $msl_base_green;
		}

		&.currentDate {
			font-weight: bold;
			background: radial-gradient(white, rgba($msl_base_green, 0.2)) no-repeat;
			border-radius: 4px;
		}

		&.selectedDate {
			color: #fff;
			background: $msl_base_green;
			border-radius: 4px;
		}

		&.disabledDay {
			color: $msl_placeholder_text_color;
		}
	}
}

.select-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0 20px;

	button {
		width: 100%;
		height: 80px;

		background-color: $msl_base_green;
		border-radius: 8px;

		font-family: $roboto_medium;
		font-size: 36px;
		font-weight: 500;
		color: #fff;

		&:disabled {
			background-color: $msl_inactive_color;
			color: $msl_placeholder_text_color;
		}
	}
}

@media screen and (max-width: 854px) {
	.calendar-date-selector-container {
		grid-row-gap: 6px;
		row-gap: 6px;
		max-width: 400px;
		max-height: 360px;
	}

	.cds-week label,
	.cds-days label {
		font-size: 24px;
	}

	.select-button {
		button {
			height: 44px;
			font-size: 24px;
		}
	}
	.cds-month label {
		font-size: 36px;
	}

	.calendar-title {
		display: none;
	}
}

@media screen and (max-width: 360px) {
	.calendar-date-selector-container {
		grid-row-gap: 4px;
		row-gap: 4px;
		max-height: 360px;
	}

	.cds-week label,
	.cds-days label {
		font-size: 18px;
	}

	.select-button {
		button {
			height: 44px;
			font-size: 18px;
		}
	}

	.cds-month label {
		font-size: 30px;
	}
}
