<div class="inner inner_{{ step }}"
	 [class.inner_noscanner]="!showScanVariant"
	 [class.inner_nophone]="!showPhoneVariant"
>

	<div class="auth-steps" [class.hidden]="userLoyaltyAuthService.isLoading">
		<div class="variants" [class.hidden]="step !== 1">

			<form [formGroup]="form" (ngSubmit)="onSubmitForm1()">

				<div class="variants__inner"
					 [class.variants__inner_1]="!showScanVariant"
					 [class.variants__inner_2]="!showPhoneVariant"
				>

					<div class="line line_1" *ngIf="showScanVariant">

						<div *ngIf="showScanVariant && showPhoneVariant" class="c-fake"></div>

						<div class="add-lc-header">{{ 'other.scan-card-bc' | translate }}</div>

						<input *ngIf="showScanVariant && showPhoneVariant"
							class="radio-button"
							type="radio"
							id="variant_scan"
							formControlName="variant"
							[value]="'variant_scan'"
							(change)="onVariantChange($event)"
						>

						<div class="bc-block">
							<app-scanner-input
								#scannerInput
								formControlName="cardBarcode"
								[minLength]="8"
								[maxLength]="8"
								[enabledCamera]="appStoreService.showCameraComponent$$.value"
								(inputFieldFocus)="onTextFieldFocused('variant_scan')"
							></app-scanner-input>
						</div>
					</div>

					<ng-container *ngIf="showScanVariant && showPhoneVariant">
						<div class="c-fake"></div>
						<div class="c-or">{{ 'other.or' | translate }}</div>
					</ng-container>

					<div class="line" *ngIf="showPhoneVariant">

						<div *ngIf="showScanVariant && showPhoneVariant" class="c-fake"></div>

						<div class="phone-title">{{ 'lottery.enter_player_phone' | translate }}</div>

						<input *ngIf="showScanVariant && showPhoneVariant"
							class="radio-button"
							type="radio"
							id="variant_phone"
							formControlName="variant"
							[value]="'variant_phone'"
							(change)="onVariantChange($event)"
						>

						<app-phone-number
							#phoneNumber
							id="phone_number"
							class="ci-phone-number"
							formControlName="playerPhone"
							(focused)="onTextFieldFocused('variant_phone')"
						></app-phone-number>

					</div>

					<div class="bottom-buttons">
						<div *ngIf="!!userLoyaltyAuthService.errorText" class="error">{{ userLoyaltyAuthService.errorText | translate }}</div>
						<button *ngIf="showSubmitButtons" type="submit"
								class="button ci-button ci-button_sms ci-button_under"
								[attr.disabled]="form.invalid || null"
								[ngClass]="GreenButtonStyle.light_green_fill"
						>{{ buttonText | translate }}
						</button>
					</div>

				</div>

			</form>

		</div>

		<form [formGroup]="form2"
			  (ngSubmit)="onSubmitForm2()"
			  class="verify-form"
			  [class.verify-form_hidden]="step !== 2"
		>
			<!-- СМС-код -->
			<div class="pin-title" data-cy="pin-title">{{ 'common.sms_code' | translate }}</div>
			<app-msl-input-pin
				#smsControl
				formControlName="pinCode"
				class="sms-code"
				data-cy="sms-code"
				[showClearBtn]="true"
				[alwaysShowClearBtn]="true"
			>
			</app-msl-input-pin>

			<div *ngIf="userLoyaltyAuthService.errorText" class="error">{{ userLoyaltyAuthService.errorText | translate }}</div>

			<div class="bottom-buttons">
				<button *ngIf="showSubmitButtons" type="button"
						class="button button_theme_white bottom-button bottom-button_back"
						data-cy="bottom-button-back"
						(click)="goBack()"
				>
					{{ 'reporting.back' | translate }}
				</button>
				<button type="button"
						class="button button_theme_light-green bottom-button bottom-button_repeat-sms"
						data-cy="bottom-button-sms"
						(click)="onRepeatSMS()"
				>
					{{ 'common.repeat_sms' | translate }}
				</button>
				<button *ngIf="showSubmitButtons" type="submit"
						class="button button_theme_green bottom-button bottom-button_forward"
						data-cy="bottom-button-forward"
						[attr.disabled]="(smsControl?.value?.length !== 4) || null"
				>
					{{ 'other.next' | translate }}
				</button>
			</div>



		</form>
	</div>


</div>
