@import "variables";
@import "mixins";

:host {
	--text-fields-font-size: 24px;
}

.ci-phone-number {
	display: block;
	margin-inline: auto;
	--masked-title-size: 16px;
	--masked-height: 50px;
	--font-size: var(--text-fields-font-size);
	--masked-padding: 0 10px;
	--masked-align: center;
	--masked-width: 100%;
	grid-column-start: 2;
	grid-column-end: 3;
	width: 100%;
}

.bottom-button, .ci-button {
	max-width: 250px;
	font-size: 24px;
	min-height: 50px;
	display: block;
}

.ci-button {
	&_under {
		width: calc(100% - 34px);
	}
 }

.bottom-button {
	width: auto;
	padding: 0 15px;
	&_back, &_forward {
		width: 140px;
	}

	&_to-start {
		width: 180px;
	}
}

.phone-title {
	display: block;
	text-align: center;
	font-size: 16px;
	// white-space: var(--masked-ws, normal);
	font-family: $roboto_regular;
	margin-block-end: 8px;
	color: $msl_main_text_color;
}

.pin-title {
	margin-bottom: 8px;
	text-align: center;
	font-size: 16px;
	font-family: $roboto_regular;
	color: #5a5a5a;
	&_error {
		color: $msl_error;
	}
}

.sms-code {
	font-size: 24px;
	max-width: 300px;
	height: 50px;
	margin-block-end: 10px;
	letter-spacing: 40px;
	margin-inline: auto;
}

.bottom-buttons {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	justify-content: flex-end;
	align-items: center;
	container-type: inline-size;
	margin-block-start: 10px;
}

.account-data {
	margin-bottom: 20px;
	&__item {
		margin-bottom: 10px;
	}
	&__key {
		margin-right: 5px;
		color: $msl_main_text_color;
	}
	&__link {
		text-decoration: underline;
		color: $msl_main_text_color;
	}
}

.service-message, .success-message {
	text-align: center;
	font-size: 16px;
	margin-block: 20px;
	font-family: $roboto_bold;
}

.success-message {
	color: $msl_main_text_color;
}

.service-message {
	color: $msl_error;
}

.add-lc-header {
	font-size: 16px;
	color: #5a5a5a;
	margin-block-end: 15px;
	font-family: $roboto_regular;
	text-align: center;
	display: block;
	margin-bottom: 8px;
}

.inner {
	display: var(--inner-display, flex);
	visibility: var(--inner-visibility, visible);
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;

	&_3 {
		display: block;
	}
}

.variants {
	&__inner {
		&_1 {
			.line {
				display: block;
			}
			.ci-button {
				width: 100%;
			}
		}
		&_2 {
			.line {
				display: block;
			}
			.ci-button {
				width: 100%;
			}
		}
	}
}

.line {
	display: grid;
	grid-template: auto auto / auto 1fr;
	align-items: center;
	grid-column-gap: 10px;
	column-gap: 10px;
	&_1 {
		margin-block-end: 10px;
	}
}


.c-or {
	text-align: center;
	justify-content: center;
	text-transform: uppercase;
	font-family: $roboto_bold;
	padding-block-end: 10px;
	font-size: 20px;
	color: $msl_main_text_color;
}

.auth-steps {
	width: 100%;
	max-width: 380px;
}

.verify-form {
	container-type: inline-size;
	display: block;
	width: 100%;
	&_hidden {
		display: none;
	}
}

.error {
	text-align: center;
	color: $msl_error;
	font-size: 14px;
	margin-bottom: 10px;
	width: 100%;
}

.bc-block {
	grid-column-start: 2;
	grid-column-end: 3;
	--codes-input-height: 50px;
	--scanner-height: 120px;
	--input-font-size: var(--text-fields-font-size);
}

.switch-camera {
	width: 50px;
	border-radius: 5px;
	aspect-ratio: 1 / 1;
	path {
		fill: $msl_base_green;
	}
	&_opened {
		background: $msl_base_green;
		path {
			fill: #FFFFFF;
		}
	}
	&__pic {
		display: block;
	}
}

@media screen and (max-width: 1365px) {
	.ci-button {
		&_under {
			width: calc(100% - 28px);
		}
	}
}

@container (max-width: 600px) {
	.bottom-buttons {
		flex-wrap: wrap;
		width: 100%;
		max-width: none;

		.bottom-button, .ci-button {
			max-width: none;
		}

		.bottom-button {
			width: 100%;
			padding: 0 15px;
			margin-bottom: 10px;
			font-size: 18px;
			min-height: 44px;

			&_back, &_forward {
				width: 100%;
			}

			&_forward {
				order: 1;
			}

			&_repeat-sms {
				order: 2;
			}
			&_back {
				order: 3;
			}

		}
	}
}

@media screen and (max-width: 479px) {
	:host {
		--text-fields-font-size: 18px;
	}
	.ci-phone-number {
		// --masked-font-size: 18px;
		--masked-spacing: 2px;
		--masked-width: 100%;
	}
	.variants {
		width: 100%;
		&__inner {
			grid-column-gap: 10px;
			column-gap: 10px;
		}
	}

	.sms-code {
		letter-spacing: 26px;
		max-width: 240px;
	}

	.inner {
		padding: 10px 0;
		&_1 {
			width: 100%;
		}
		&_noscanner {
			width: 100%;
		}
	}
}

@media screen and (max-width: 379px) {
	.add-lc-header {
		white-space: nowrap;
	}

	.ci-phone-number {
		--masked-ws: nowrap;
	}

	.variants {
		&__inner {
			grid-column-gap: 10px;
			column-gap: 10px;
			--checkmark-margin: -28px;
		}
	}
}
