@import 'variables';
@import 'mixins';

.cards-table {
	&__row {
		display: flex;
		align-items: center;

		&_header {
			.cards-row__cell_first {
				color: $msl_inactive_color;
				font-family: $roboto_regular;
			}
		}
	}
}

.cards-row {
	&__cell {
		width: 16%;
		margin: 5px;
		text-align: center;
		&_first {
			width: calc(36% - 50px);
			margin-right: 50px;

			text-align: center;
			color: $msl_main_text_color;
			font-family: $roboto_medium;
			font-size: 30px;
		}
	}
	&__btn {
		display: block;

		width: 66px;
		height: 44px;
		margin: 3px auto;

		@include radial_bg($color: #F8EBB8);
		border: 1px solid $msl_base_yellow;
		border-radius: 4px;

		&_disabled {
			background: $msl_non_active_block;
			border: 1px solid $msl_non_active_block;
			pointer-events: none;
		}

		&_selected {
			position: relative;

			pointer-events: auto;
			background: $msl_base_yellow;
			@include cross_mark();
		}
	}
}

@media screen and (max-width: 1919px) {
	.cards-row {
		&__cell {
			margin: 2px;
			&_first {
				font-size: 24px;
			}
		}
		&__btn {
			width: 50px;
			height: 30px;
		}
	}
}

@media screen and (max-width: 1139px) {
	.cards-row {
		&__cell {
			width: 16%;
			margin: 0 2px;
			text-align: center;

			&_first {
				width: calc(36% - 50px);
				margin-right: 30px;

				text-align: center;
				color: $msl_main_text_color;
				font-family: $roboto_medium;
				font-size: 18px;
			}
		}

		&__btn {
			display: block;

			width: 50px;
			height: 16px;
			margin: 5px auto;
		}
	}

	.card-icon-0, .card-icon-1, .card-icon-2, .card-icon-3 {
		width: 16px;
		height: 16px;
	}
}

@media screen and (max-width: 853px) {
	.cards-row {
		&__cell {
			margin: 0 5px;
		}
	}
}


@media screen and (max-width: 639px) {
	.cards-row {
		&__cell {
			font-size: 14px;
			margin: 0 5px;
			&_first {
				width: 60px;
				margin: 5px;
			}
		}
		&__btn {
			height: 16px;
		}
	}
}

@media screen and (max-width: 479px) {
	.cards-row {
		&__btn {
			width: 100%;
		}
	}
}
