<div class="kare-bet-type-one-container" data-cy="kare-bet-type-one-container">
	<div class="cards-table" data-cy="cards-table">

		<!-- ЗАГОЛОВОК -->
		<div class="cards-table__row cards-table__row_header cards-row" data-cy="cards-table-row">
			<div class="cards-row__cell cards-row__cell_first" data-cy="cards-row-cell">
				{{ CARD_LABELS[0] | translate }}
			</div>

			<div *ngFor="let suite of KARE_CARDS_SUIT_VALUES; trackBy: trackByNumberFn"
				 class="cards-row__cell"
				 data-cy="cards-row-cell"
			>
				<span class="card-icon-{{ suite }}" data-cy="card-icon"></span>
			</div>
		</div>

		<!-- СПИСОК КАРТ -->
		<div
			class="cards-table__row cards-row"
			*ngFor="let card of KARE_CARDS_VALUES; let i = index; trackBy: trackByNumberFn"
			data-cy="cards-table-row"
			>
			<div class="cards-row__cell cards-row__cell_first" data-cy="cards-row-cell">
				{{ CARD_LABELS[i + 1] | translate }}
			</div>

			<div
				class="cards-row__cell"
				*ngFor="let suite of KARE_CARDS_SUIT_VALUES; trackBy: trackByNumberFn"
				data-cy="cards-row-cell"
				>
				<button
					class="cards-row__btn"
					[class.cards-row__btn_disabled]="countSelected >= 5"
					[class.cards-row__btn_selected]="!!entityItemsList && entityItemsList[suite * KARE_CARDS_VALUES.length + card]?.selected"
					(click)="onSelectButtonHandler(card, suite)"
					data-cy="cards-row-btn"
				>
				</button>
			</div>
		</div>

	</div>
</div>
