<div class="barcode-input"
	 [ngClass]="status | async"
	 [class.barcode-input_disabled]="(step !== (service.currentStep$$ | async)) || null"
	 data-cy="barcode-input"
>

	<!-- ТЕКСТОВОЕ ПОЛЕ -->
	<input
		#inputElement
		pattern="\d*"
		inputmode="numeric"
		class="barcode-input__input"
		data-cy="barcode-input-input"
		[ngClass]="'barcode-input__input_state_' + status.value"
		[placeholder]="'lottery.tmlbml.enter_bc' | translate"
		[attr.minlength]="MinLength"
		[attr.maxlength]="MaxLength"
		[attr.disabled]="(step !== (service.currentStep$$ | async)) || null"
		[attr.readonly]="inputReadonly || null"
		(input)="onInputHandler($event)"
		(focus)="onChangeFocus(true)"
		(blur)="onChangeFocus(false)"
	/>

	<!-- СЧЕТЧИК (XX/YY) -->
	<div class="mib-score" data-cy="mib-score">
		({{ inputElement.value.length }}/{{ MaxLength }})
	</div>

	<!-- ПИКТОГРАММА С ХОРОШИМ ВВОДОМ -->
	<span
		class="status-icon"
		[ngClass]="'status-icon_' + TmlBmlInputFieldStates.OkInput"
		data-cy="status-icon"
		*ngIf="(status | async) === TmlBmlInputFieldStates.OkInput"
	>
		<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0)">
				<path d="M7.99983 0C3.60523 0 0.00964355 3.59998 0.00964355 8.00006C0.00964355 12.4001 3.60523 16.0001 7.99983 16.0001C12.3944 16.0001 15.99 12.4001 15.99 8.00006C15.99 3.59998 12.3944 0 7.99983 0ZM7.99983 15C4.15455 15 1.00842 11.85 1.00842 8.00006C1.00842 4.15014 4.15455 0.999963 7.99983 0.999963C11.8451 0.999963 14.9913 4.15002 14.9913 7.99994C14.9913 11.8499 11.8451 15 7.99983 15Z" fill="#808080"/>
				<path d="M11.1457 5.64998L7.00083 9.8L4.9034 7.70008C4.70365 7.50009 4.40401 7.50009 4.20426 7.70008C4.0045 7.90007 4.0045 8.20006 4.20426 8.40006L6.65126 10.85C6.75113 10.95 6.85101 11.0001 7.00083 11.0001C7.15064 11.0001 7.25052 10.95 7.3504 10.85L11.8449 6.35007C12.0446 6.15008 12.0446 5.85009 11.8449 5.6501C11.6451 5.44999 11.3455 5.44999 11.1457 5.64998Z" fill="#808080"/>
			</g>
		<defs>
			<clipPath id="clip0">
				<rect width="16" height="16" fill="white"/>
			</clipPath>
		</defs>
		</svg>
	</span>

	<!-- ПИКТОГРАММА С ПЛОХИМ ВВОДОМ -->
	<i
		class="material-icons status-icon"
		[ngClass]="'status-icon_' + TmlBmlInputFieldStates.BadInput"
		*ngIf="(status | async) === TmlBmlInputFieldStates.BadInput"
		(click)="onClearClickHandler()"
	>
		cancel
	</i>
</div>
