@import 'variables';

:host {
	display: flex;
	align-items: center;
	width: 100%;
	height: 54px;
}

.barcode-input {
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	display: flex;
	align-items: center;
	border: 1px solid $msl_inactive_color;
	border-radius: 4px;
	position: relative;

	&_disabled {
		background: #E5E5E5;
	}

	&_state {
		&_bad-input {
			border: 1px solid $msl_error;
		}
	}

	&__input {
		flex-grow: 1;
		width: 100%;
		height: 100%;
		font-family: $roboto_regular;
		font-size: 24px;
		font-weight: normal;
		color: $msl_main_text_color;
		border-radius: 4px;

		&_state {
			&_bad-input {
				color: $msl_error;
			}
		}

		&::placeholder {
			font-size: 18px;
			color: $msl_inactive_color;
		}
		&:focus {
			padding-left: 12px;
			&::placeholder {
				opacity: 0;
			}
		}
		&[disabled] {
			background: #EBEBE4;
			&::placeholder {
				opacity: 0;
			}
		}
	}
}

.status-icon {
	width: 28px;
	height: 28px;

	font-size: 28px;

	&_ok-input {
		color: $msl_inactive_color;
	}

	&_bad-input {
		color: $msl_error;
	}
}

.mib-score {
	font-family: $roboto_regular;
	font-size: 18px;
	font-weight: normal;
	color: $msl_main_text_color;
	display: none;
}

.barcode-input__input:focus + .mib-score {
	display: block;
}

.barcode-input__input_state_bad-input:focus + .mib-score {
	display: none;
}

.keyboard-icon {
	height: 100%;
	width: auto;
	margin-left: 5px;
	&__image {
		height: 100%;
		width: auto;
	}
	&.inactive {
		display: none;
	}
}

@media screen and (max-width: 853px) {
	.mib-score {
		font-size: 14px;
		padding-right: 5px;
	}
	.status-icon {
		margin-right: 0;
		display: flex;
		align-items: center;
		overflow: hidden;
		width: 16px;
		height: 16px;
		font-size: 16px;
		&_bad-input {
			width: 18px;
		}
	}

	.barcode-input {
		&__input {
			&:focus {
				padding-left: 0;
			}
		}
	}
	.barcode-input__input:focus + .mib-score {
		display: none;
	}
}

@media screen and (max-width: 479px) {

	.barcode-input__input {
		&::placeholder {
			font-size: 14px;
		}
	}

	.barcode-input__input:focus + .mib-score {
		display: none;
	}
	.status-icon {
		margin-right: 0;
		width: 16px;
		height: 16px;
		font-size: 16px;
	}
}
