@import 'variables';

.central-menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	max-width: 344px;
	width: 100%;
	border-radius: 4px;
	border-color: $msl_base_green;
	border-style: solid;
	border-width: 1px;
	&__item {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		align-items: center;
		justify-content: center;

		font-family: $roboto_medium;
		font-weight: 500;
		font-size: 14px;

		text-transform: uppercase;
		text-align: center;
		color: $msl_main_text_color;
		cursor: pointer;

		min-height: 40px;

		padding-left: 5px;
		padding-right: 5px;

		border-width: 1px;
		&_active {
			color: #fff;
			background-color: $msl_base_green;
		}
		&_no2, &_no3, &_no4 {
			display: none;
		}
		&_role {
			&_4 {
				display: flex;
			}
		}
	}
	&__item + &__item {
		border-left: 1px solid $msl_base_green;
	}
}

@media screen and (min-width: 480px) {
	.central-menu {
		max-width: 464px;
		&__item {
			font-size: 18px;
			min-height: 44px;
		}
	}
}

@media screen and (min-width: 640px) {
	.central-menu {
		max-width: 616px;
		border-width: 2px;
		border-radius: 8px;
		&__item {
			font-size: 14px;
			&_no2, &_no3, &_no4 {
				display: flex;
			}
		}
		&__item + &__item {
			border-width: 2px;
		}
	}
}

@media screen and (min-width: 840px) {
	.central-menu {
		max-width: 816px;
		&__item {
			font-size: 18px;
			min-height: 57px;
		}
	}
}

@media screen and (min-width: 854px) {
	.central-menu {
		max-width: 830px;
		&__item {
			min-height: 41px;
		}
	}
}

@media screen and (min-width: 1140px) {
	.central-menu {
		max-width: 1110px;
		&__item {
			min-height: 60px;
			font-size: 30px;
		}
	}
}
