@import 'variables';

.help-dialog {
	&__header {
		font-size: 36px;
		font-family: $roboto_medium;
		color: $msl_main_text_color;
		text-align: center;
		margin-bottom: 20px;
	}
	&__wrapper {
		display: grid;
		grid-template: auto minmax(0, 1fr) / minmax(0, 1fr);
		height: 100%;
	}
	::ng-deep {
		.modal-dialog-background {
			padding: 16px;
		}
		.modal-dialog-container {
			max-width: 960px;
			width: 100%;
			max-height: 653px;
			padding: 30px 5px;
			height: 100%;
		}
	}
}

.spoilers {
	padding-left: 65px;
	padding-right: 40px;
}

.spoiler {
	max-height: 50px;
	overflow: hidden;
	border: 2px solid $msl_inactive_color;
	border-radius: 8px;
	box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.08);

	& + .spoiler {
		margin-top: 10px;
	}

	&__header {
		text-align: center;
		font-size: 24px;
		font-family: $roboto_medium;
		color: $msl_main_text_color;

		padding: 8px;
		min-height: 50px;
		border-bottom: 1px solid $msl_inactive_color;

		position: relative;

		transition: color 0.4s ease 0s;

		&_up {
			&:after {
				content: '';
				display: block;
				position: absolute;
				right: 25px;
				top: 16px;
				transform: rotate(45deg);

				width: 7px;
				height: 7px;

				border-right: 2px solid $msl_base_green;
				border-bottom: 2px solid $msl_base_green;

				transition: transform 0.4s ease 0.2s, top 0.4s ease 0.2s;
			}
		}

		&_down {
			color: $msl_base_green;
			&:after {
				content: '';
				display: block;
				position: absolute;
				right: 25px;
				top: 21px;
				transform: rotate(225deg);

				width: 7px;
				height: 7px;

				border-right: 2px solid $msl_base_green;
				border-bottom: 2px solid $msl_base_green;

				transition: transform 0.4s ease 0s, top 0.4s ease 0s;
			}
		}
	}

	&__body {
		padding: 20px;
		font-size: 18px;
		color: $msl_main_text_color;

		overflow-x: auto;
		width: 100%;

		line-height: 1.15; /* 1 */
		-webkit-text-size-adjust: 100%; /* 2 */

		::ng-deep {

			b, strong {
				font-family: $roboto_bold;
			}

			p {
				margin: 1em 0;
			}

			ul {
				display: block;
				margin: 1em 0;
				padding-left: 40px;
				list-style-type: circle;
			}

			ol {
			    display: block;
				list-style-type: decimal;
				margin: 1em 0;
				padding-left: 40px;
			}

			li {
				display: list-item;
				text-align: -webkit-match-parent;
			}

			ul ul, ol ul {
				list-style-type: circle;
			}

			ol ol ul, ol ul ul, ul ol ul, ul ul ul {
				list-style-type: square;
			}

			ol ul, ul ol, ul ul, ol ol {
				margin: 0;
			}

			.center-block {
				max-width: 100%;
				display: block;
				margin: 10px auto;
			}

			table {
				border: 1px solid #000000;
				width: 100%;
				text-align: center;
				border-collapse: collapse;
				td {
					border: 1px solid #000000;
					border-collapse: collapse;
				}
			}
		}
	}
}

@media screen and (max-width: 1139px) {
	.spoiler {
		&__header {
			font-size: 18px;
			padding: 12px;
		}
	}
}

@media screen and (max-width: 767px) {
	.spoilers {
		padding-left: 5px;
		padding-right: 10px;
	}
	.spoiler {
		&__header {
			font-size: 18px;
			padding: 12px;
		}
	}
}

@media screen and (max-width: 639px) {
	.spoiler {
		&__header {
			font-size: 14px;
			padding: 5px 60px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.help-dialog {
		::ng-deep {
			.modal-dialog-container {
				left: 0;
			}
		}
	}
}

@media screen and (max-width: 479px) {
	.spoiler {
		&__header {
			font-size: 14px;
			padding: 5px 30px;
			&:after {
				right: 10px;
			}
		}
	}
	.help-dialog {
		&__header {
			font-size: 24px;
		}
		&__wrapper {
			grid-template: auto minmax(0, 1fr) / minmax(0, 1fr);
		}
		::ng-deep {
			.modal-dialog-background {
				padding: 8px;
			}
			.modal-dialog-container {
				left: 0;
				padding: 8px 0 8px 8px;
			}
			.close-button {
				right: 10px;
				top: 5px;
				width: 16px;
				height: 16px;
			}
		}
	}
	.spoilers {
		padding: 0;
	}
	.content-scroller {
		padding-right: 4px;
		::ng-deep {
			.custom-scrollbar {
				padding-right: 8px;
				&::-webkit-scrollbar {
					width: 10px;
				}
			}
		}
	}
}
