<div class="preloader-wrapper" [class.hidden]="!userLoyaltyAuthService.isLoading">
	<div class="preloader"></div>
</div>

<div class="wrapper" [class.hidden]="userLoyaltyAuthService.isLoading">
	<app-user-loyalty-auth #loyalty1 class="user-loyalty-auth"
						   [class.hidden]="step >= 3"
						   (authResult)="onAuthResult($event)"
						   [showValidMark]="false"
	></app-user-loyalty-auth>

	<div class="inner" [class.hidden]="step !== 3">
		<ng-container *ngIf="maxValue === 0">
			<div class="line">
				{{ 'lottery.no-bonuses' | translate }}
			</div>
		</ng-container>

		<ng-container *ngIf="maxValue > 0">
			<div class="line">
				<b>{{ 'other.min-withdrawal-sum' | translate }}:</b> {{ minValue | number:'1.2-2' }} {{ 'lottery.uah' | translate | lowercase }}
			</div>

			<div class="line">
				<b>{{ 'other.max-withdrawal-sum' | translate }}:</b> {{ maxValue | number:'1.2-2' }} {{ 'lottery.uah' | translate | lowercase }}
			</div>
		</ng-container>

		<ng-container *ngIf="maxValue === 0">
			<div class="v-buttons">
				<button type="button"
						class="button button_theme_white b-cancel"
						(click)="onCancel()"
				>{{ 'reporting.back' | translate }}</button>
			</div>
		</ng-container>

		<ng-container *ngIf="maxValue > 0">
			<div class="withdrawal-sum-block">
				<div class="title">{{ 'other.enter-withdrawal-sum' | translate }}</div>
				<!-- ВВОД СУММЫ ВРУЧНУЮ -->
				<app-msl-input-with-keyboard
					[onlyNumbers]="false"
					[textAlign]="'center'"
					class="withdraw-sum"
					(valueChanged)="onInputChange($event)"
					[errorState]="errorState"
					[(ngModel)]="withdrawalSum"
				>
				</app-msl-input-with-keyboard>

				<div *ngIf="errorState" class="error">{{ 'other.incorrect-sum-value' | translate }}</div>
			</div>

			<div class="v-buttons">
				<button type="button"
						class="button button_theme_white b-cancel"
						(click)="onCancel()"
				>{{ 'common.cancel' | translate }}</button>

				<button type="button"
						class="button button_theme_light-green b-apply"
						[attr.disabled]="!withdrawalSum || !!errorState || null"
						(click)="onGoNext()"
				>
					{{ 'other.next' | translate }}
				</button>
			</div>
		</ng-container>
	</div>


	<div class="inner-2" [class.hidden]="step !== 4">
		<h3 class="verify-title">{{ 'other.verify-title' | translate }}</h3>
		<app-user-loyalty-auth #loyalty2 [showScanVariant]="false"
							   [showValidMark]="false"
							   class="user-loyalty-auth"
							   (authResult)="onFinish()"
		></app-user-loyalty-auth>
	</div>

	<ng-container *ngIf="step === 5">
		<div class="success">
			<div class="success-message">{{ 'other.bonuses-withdrawn' | translate }}</div>
			<div class="bottom-buttons">
				<button type="button"
						class="button button_theme_light-green to-start"
						data-cy="bottom-button-to-start"
						(click)="onCancel()"
				>
					{{ 'common.to-start' | translate }}
				</button>
			</div>
		</div>
	</ng-container>

</div>
