@import "variables";
@import "mixins";

.preloader-wrapper {
	overflow: hidden;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&.hidden {
		display: none;
	}
}

.preloader {
	@include circle_arc(150px, 10px);
}


.wrapper {
	padding: 10px;
	box-sizing: border-box;
	height: 100%;
}

.withdrawal-sum-block {
	max-width: 300px;
	text-align: center;
}

.line {
	margin-block-end: 10px;
	text-align: center;
	width: 100%;
}

.title, .error {
	margin-block: 10px;
}

.error {
	color: $msl_error;
}

.inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.v-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.b-cancel, .b-apply {
	max-width: 160px;
	font-size: 24px;
	height: 40px;
	margin: 10px 5px;
}

.pin-title {
	font-size: 24px;
	color: $msl_main_text_color;
	text-align: center;
	margin-bottom: 10px;
	&_error {
		color: $msl_error;
	}
}
.sms-code {
	width: 380px;
	height: 56px;
	display: block;
	letter-spacing: 58px;
	margin: 0 auto;
}

.ci-phone-number {
	display: block;
	margin-inline: auto;
	--masked-title-size: 16px;
	--masked-height: 50px;
	--masked-font-size: 24px;
	--masked-padding: 0 10px;
	--masked-align: center;
	--masked-width: 320px;
	width: max-content;
}

.inner-2, .inner-3 {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.msl-input-pin {
	max-width: 280px;
	width: 100%;
	margin-inline: auto;
	height: auto;
	margin-block-end: 20px;
	letter-spacing: 36px;
	font-size: 24px;
	--title-font-size: 18px;
	--pin-input-height: 40px;
}

.bottom-buttons {
	display: flex;
	column-gap: 10px;
	justify-content: center;
	align-items: center;
}

.service-message, .success-message {
	text-align: center;
	font-size: 16px;
	margin-block: 20px;
	font-family: $roboto_bold;
}

.success-message {
	color: $msl_main_text_color;
}

.service-message {
	color: $msl_error;
}

.success {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.to-start {
	font-size: 28px;
	padding: 5px 10px;
	width: max-content;
}

.verify-title {
	text-align: center;
	color: $msl_main_text_color;
}

.hidden {
	display: none;
}
