<label class="bet-combs" data-cy="bet-combs">{{ combinations }}</label>
<div class="bet-price" data-cy="bet-price">
	{{ bet?.s / 100 }} {{ 'lottery.uah' | translate | lowercase }}
	x {{ bet?.p.length }} = {{ bet?.s * bet?.p.length / 100 }}
	{{ 'lottery.uah' | translate | lowercase }}
</div>
