@import 'variables';

:host {
	text-align: center;
}

.bet-combs {
	font-size: 24px;
	font-family: $roboto_regular;
	text-transform: lowercase;
	color: $msl_main_text_color;
}

.bet-price {
	font-size: 24px;
	font-family: $roboto_medium;
	color: $msl_main_text_color;
}

@media screen and (max-width: 1365px) {
	.bet-combs {
		font-size: 18px;
	}

	.bet-price {
		font-size: 18px;
	}
}

@media screen and (max-width: 853px) {
	.bet-combs {
		font-size: 24px;
	}

	.bet-price {
		font-size: 24px;
	}
}

@media screen and (max-width: 639px) {
	.bet-combs {
		font-size: 18px;
	}

	.bet-price {
		font-size: 18px;
	}
}

@media screen and (max-width: 479px) {

}
