<!-- ВВОД КОДА -->
	<form
		[formGroup]="withdrawForm"
	>
		<div class="request-code-wrp">
			<label
				*ngIf="userPaymentOperationsService.isValidCodeInput"
				class="request-code-lbl" for="request_code"
			>
				{{ 'reporting.scan_barcode_withdrawal' | translate }}
			</label>
			<label
				*ngIf="!userPaymentOperationsService.isValidCodeInput"
				class="request-code-lbl request-code-lbl_error" for="request_code"
			>
				{{ 'reporting.invalid_request_code' | translate }}
			</label>

			<div class="rc-input-row"
				[class.request-code-error]="!userPaymentOperationsService.isValidCodeInput">
				<app-msl-input-with-keyboard
					id="request_code"
					class="request-code-txt"
					formControlName="rcptBarcode"
					(ngModelChange)="onReqCodeChange($event)"
					[placeholder]="'reporting.scan_barcode' | translate">
				</app-msl-input-with-keyboard>
				<button type="button" class="clear-btn" (click)="clearReqCodeInput()">&times;</button>
			</div>
		</div>
	</form>
