@import 'variables';

//------------------------------------
// Ввести штрих-код квитанции
//------------------------------------

.request-code-wrp {
	width: auto;

	.request-code-lbl {
		text-align: center;
		color: $msl_main_text_color;
		font-size: 16px;
		font-family: $roboto_medium;
		max-width: 500px;
		width: 100%;
		margin: 16px auto;
		display: block;

		&_error {
			color: $msl_error;
		}
	}

	.clear-btn {
		display: none;
		background: $msl_error;
		width: 20px;
		height: 20px;
		background: #df5050;
		border-radius: 50%;
		color: #fff;
		text-align: center;
		font-size: 30px;
		font-family: serif;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 8px;
		right: 10px;
		line-height: 20px;
	}

	app-msl-input-with-keyboard.request-code-txt {
		max-width: 360px;
		width: 100%;
		font-size: 18px;
		height: 36px;
		margin: 0 auto;

		display: block;

		::ng-deep {
			input {
				height: 36px;
				font-size: 18px;

				padding-left: 12px;
				padding-right: 12px;

				color: $msl_inactive_color;
				&::placeholder {
					font-size: 14px;
				}
			}
		}
	}

	.request-code-error {
		position: relative;
		max-width: 360px;
		width: 100%;

		app-msl-input-with-keyboard.request-code-txt {
			::ng-deep {
				input {
					color: $msl_error;
					border-color: $msl_error;
				}
			}
		}

		.clear-btn {
			display: block;
		}
	}
}

.rc-input-row {
	margin: 8px 0;
}
