@import "mixins";

.wrapper {
	display: flex;
	flex-flow: row wrap;
}

.codes-input, .switch-camera-button {
	margin-block-end: 10px;
}

.codes-input {
	width: auto;
	--input-height: var(--codes-input-height, 54px);
	flex-grow: 1;
	&_hidden {
		display: none;
	}
}

.switch-camera-button {
	height: var(--codes-input-height, 54px);
	width: var(--codes-input-height, 54px);
	cursor: pointer;
	padding: 0;
	margin: 0;
	background: radial-gradient(ellipse at center, #ffffff 0%, #D8F4F4 100%);
	color: #009788;
	border: 2px solid #009788;
	position: relative;
	border-radius: 5px;
	margin-inline-start: 10px;
	&.expanded {
		background: #009788;
	}
}

.switch-camera-icon {
	path {
		fill: #009788;
	}
	&.expanded {
		path {
			fill: #FFFFFF;
		}
	}
}

.embedded-content {
	width: 100%;
	height: 100%;
	margin-block-end: 10px;
}

.scanner {
	width: 100%;
	border-radius: 5px;
	display: none;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	grid-column-start: 1;
	grid-column-end: 3;
	height: 0;
	border: none;
	transition: height 0.3s linear;

	&.expanded {
		border: 1px solid #999999;
		height: var(--scanner-height, 200px);
		margin-block-end: 10px;
	}

	&.enable-camera {
		display: flex;
	}
}

.preloader {
	@include circle_arc(70px, 5px);
}
