<div class="wrapper" [class.expanded]="expanded" [class.with-button]="enabledCamera">
	<app-msl-input-with-keyboard
		appMslComponent
		#codesInput
		class="codes-input"
		[class.codes-input_hidden]="!showBarcodeField"
		data-cy="codes-input"
		[textAlign]="'center'"
		[minLength]="minLength"
		[maxLength]="maxLength"
		[value]="currentBarcode"
		(valueChanged)="onValueChanged($event)"
		(focused)="inputFieldFocus.emit()"
	>
	</app-msl-input-with-keyboard>

	<button *ngIf="enabledCamera && showScannerButton" type="button" class="switch-camera-button" [class.expanded]="expanded" (click)="changeState()">
		<svg class="switch-camera-icon"
			 [class.expanded]="expanded"
			 data-cy="switch-camera-icon"
			 xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="25 25 200 200" xml:space="preserve"
		>
						<g>
							<path d="M125,106.2c-15.4,0-27.9,12.5-27.9,27.8s12.5,27.8,27.9,27.8s27.9-12.5,27.9-27.8S140.4,106.2,125,106.2z M125,153.1
								c-10.6,0-19.2-8.6-19.2-19.1s8.6-19.1,19.2-19.1c10.6,0,19.2,8.6,19.2,19.1S135.6,153.1,125,153.1z"/>
							<path d="M176.8,91.1h-26.6c-0.9,0-1.8-0.7-2-1.6l-1.6-7.8c-1-4.9-5.4-8.5-10.4-8.5h-22.5c-5.1,0-9.4,3.6-10.4,8.5l-1.6,7.8
								c-0.2,0.9-1,1.6-2,1.6H73.2c-5.9,0-10.7,4.8-10.7,10.6v64.5c0,5.9,4.8,10.6,10.7,10.6h103.7c5.9,0,10.7-4.8,10.7-10.6v-64.5
								C187.5,95.9,182.7,91.1,176.8,91.1z M178.8,166.2c0,1.1-0.9,2-2,2H73.2c-1.1,0-2-0.9-2-2v-64.5c0-1.1,0.9-2,2-2h26.6
								c5.1,0,9.4-3.6,10.4-8.5l1.6-7.8c0.2-0.9,1-1.6,2-1.6h22.5c0.9,0,1.8,0.7,1.9,1.6l1.6,7.8c1,4.9,5.4,8.5,10.4,8.5h26.6
								c1.1,0,2,0.9,2,2V166.2z"/>
							<path d="M98.9,110.5c0-2.4-1.9-4.3-4.3-4.3h-13c-2.4,0-4.3,1.9-4.3,4.3c0,2.4,1.9,4.3,4.3,4.3h13C97,114.8,98.9,112.9,98.9,110.5z"
							/>
						</g>
					</svg>
	</button>

	<div class="scanner" [class.expanded]="expanded" [class.enable-camera]="enabledCamera" id="scanner">
		<!--<div class="preloader"></div>-->
	</div>
</div>
