.not-found-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	app-green-button {
		width: 200px;
		margin-top: 20px;
	}
}
