<div
	class="alert-icon-container"
	[class.alert]="alertState"
	>

	<!--(click)="onClickIconHandler()"-->

	<!-- КОНТЕНТ ИКОНКИ -->
	<div class="aic-content">
		<ng-content></ng-content>
	</div>

	<!-- СТАТУСЫ -->
	<div class="aic-normal" *ngIf="!alertState; else alertIcon"></div>
	<ng-template #alertIcon>
		<svg xmlns="http://www.w3.org/2000/svg" class="aic-alert" viewBox="0 0 24 24" width="24" height="24">
			<circle fill="#df5050" cx="12" cy="12" r="12"></circle>
			<path fill="#fff" d="M13.5,18.7c0,0.4-0.2,0.8-0.5,1.1c-0.3,0.3-0.7,0.4-1.1,0.4s-0.8-0.1-1.1-0.4c-0.3-0.3-0.5-0.6-0.5-1.1s
				0.2-0.8,0.5-1.1c0.3-0.3,0.7-0.5,1.1-0.5s0.8,0.2,1.1,0.5C13.4,18,13.5,18.3,13.5,18.7z M13.4,5.3c0,0.4-0.1,1.6-0.4,
				3.8c-0.2,2.1-0.5,4.2-0.6,6.2h-0.9c-0.2-2-0.4-4-0.6-6.2c-0.2-2.1-0.4-3.4-0.4-3.8c0-0.4,0.1-0.8,0.4-1.1c0.3-0.3,0.6-0.4,
				1-0.4s0.8,0.1,1,0.4C13.3,4.5,13.4,4.8,13.4,5.3z"
				>
			</path>
		</svg>
	</ng-template>

	<!--<div
		class="aic-status-panel"
		*ngIf="showInfoPanel"
		>
		<label>{{ deviceStatus }}</label>
	</div>-->

</div>
