<app-game-list
	class="game-list"
	data-cy="game-list"
	[gameList]="gameList$$ | async"
	[isLottery]="isLottery"
	(gameSelected)="onClickLotteryHandler($event)"
	>
</app-game-list>

<app-total-check-info-panel
	class="panel"
	data-cy="panel"
></app-total-check-info-panel>

<app-one-button-custom
	#jackpotinfo
	[zIndex]="75"
	[buttonText]="'dialog.dialog_button_continue'"
	[buttonWidth]="undefined"
	class="jackpots-dialog"
	data-cy="jackpots-dialog"
>
	<h3 class="jackpots-title"
		data-cy="jackpots-title"
	>
		{{ 'lottery.actual_jackpots' | translate }}
		<span class="jackpots-title__sub"
			  data-cy="jackpots-title-sub"
		>({{ currentDateStr }})</span>
	</h3>

	<div
		*ngFor="let jackpotInfo of jackpotsInfo; trackBy: trackByFn"
		class="jackpot-block"
		data-cy="jackpot-block"
	>
		<div class="jackpot-lott-logos"
			 data-cy="jackpot-lott-logos"
			 (click)="goToLottery(jackpotInfo.lottery.route)"
		>
			<app-msl-game-logo
				class="jackpot-logo"
				data-cy="jackpot-logo"
				[gameCode]="jackpotInfo.lottery.gameCode"
				[logoViewStyle]="LogoViewStyle.ActionsList"
			></app-msl-game-logo>
		</div>

		<div class="jackpot-sums"
			 data-cy="jackpot-sums"
		>
			<div *ngIf="jackpotInfo.jackpot"
				 class="jackpot-sum"
				 data-cy="jackpot-sum"
			>
				{{ jackpotInfo.jackpot | mslCurrency:0 }} {{ 'lottery.uah' | translate | lowercase }}
			</div>
			<div *ngIf="jackpotInfo.megaprize"
				 class="jackpot-megaprize"
				 data-cy="jackpot-megaprize"
			>
				<span class="jackpot-megaprize__label"
					  data-cy="jackpot-megaprize-label"
				>{{ 'lottery.megalot.mega_prize' | translate }}: </span>
				<span class="jackpot-megaprize__sum"
					  data-cy="jackpot-megaprize-sum"
				>
					{{ jackpotInfo.megaprize | mslCurrency:0 }} {{ 'lottery.uah' | translate }}
				</span>
			</div>
		</div>
	</div>

</app-one-button-custom>
