@import 'variables';

:host {
	display: grid;
	grid-template-rows: minmax(0, 1fr) minmax(0, max-content);
	height: 100%;
}

.jackpots-title {
	font-size: 24px;
	text-align: center;
	margin-bottom: 50px;
	font-family: $roboto_regular;
	font-weight: normal;
	color: $msl_main_text_color;
	&__sub {
		font-family: $roboto_medium;
	}
}

.jackpots-dialog {
	::ng-deep {
		.modal-dialog-background {
			padding: 15px;
		}
		.modal-dialog-container {
			max-width: 960px;
			width: 100%;
			padding: 30px 76px;
		}
	}
}

.jackpot-block {
	width: 100%;
	max-width: 580px;
	margin: 30px auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.jackpot-sum {
	color: $msl_base_green;
	font-size: 24px;
	font-family: $roboto_medium;
	text-align: right;
}

.jackpot-megaprize {
	text-align: right;

	&_label, &_sum {
		font-size: 18px;
		font-family: $roboto_medium;
	}

	&__label {
		color: $msl_main_text_color;
	}
	&__sum {
		color: $msl_base_green;
	}
}


.jackpot-logo {
	::ng-deep {
		.game-logo {
			&__left {
				width: 140px;
				height: 70px;
				border: 1px solid #e5e5e5;
				border-radius: 8px;
				margin-right: 14px;
				padding: 5px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: #fff;
			}
			&__image {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
			&__title {
				font-size: 24px;
			}
		}
	}
}

.game-list {
	overflow-y: auto;
}

.panel {
	margin-bottom: 20px;
}

@media screen and (max-width: 1919px) {
	.panel {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 1365px) {

}

@media screen and (max-width: 1139px) {
	.jackpots-dialog {
		::ng-deep {
			.modal-dialog-container {
				padding: 10px;
				max-width: 644px;
			}
			.game-logo {
				&__left {
					width: 100px;
					height: 54px;
					padding: 3px 5px;
				}
				&__image {
					max-height: none;
				}
				&__title {
					font-size: 18px;
				}
			}
			.modal-button {
				width: 100%;
				max-width: 440px;
				height: 44px;
				margin: 0 auto;
				font-size: 18px;
			}
			.modal-dialog-close {
				display: none;
			}
		}
	}

	.jackpots-title {
		margin: 10px 0;
		font-size: 18px;
	}

	.jackpot-block {
		margin: 24px auto;
	}

	.modal-buttons-container {
		margin-top: 10px;
	}

	.jackpot-sum, .jackpot-megaprize {
		font-size: 18px;
	}

	.jackpot-megaprize {
		&__label, &__sum {
			font-family: $roboto_medium;
		}
	}
}

@media screen and (max-width: 853px) {
	.panel {
		margin-left: 12px;
		margin-right: 12px;
	}
}

@media screen and (max-width: 639px) {
	:host {
		grid-template-rows: minmax(0, 1fr) auto;
	}

	.panel {
		margin-bottom: 0;
	}

	.jackpots-dialog {
		::ng-deep {
			.modal-dialog-close {
				display: none;
			}
			.modal-dialog-background {
				padding: 4px;
			}
			.modal-dialog-container {
				left: 0;
				padding: 10px 4px;
				max-width: 352px;
			}
			.modal-button {
				font-size: 18px;
			}
		}
	}

	.jackpot-block {
		display: block;
		margin-bottom: 24px;
	}
	.jackpots-title {
		margin-top: 0;
		margin-bottom: 10px;
		padding: 0 10px;
		font-size: 18px;
		&__sub {
			display: block;
		}
	}
	.jackpot-logo {
		::ng-deep {
			.game-logo {
				display: block;
				&__title {
					font-size: 14px;
				}
				&__left {
					width: 100px;
					height: 54px;
					margin: 0 auto 6px auto;
				}
				&__right {
					text-align: center;
				}
			}
		}
	}
	.jackpot-sum {
		text-align: center;
		font-size: 16px;
	}

	.jackpot-megaprize {
		text-align: center;
		font-size: 14px;
		&__label,  &__sum {
			font-size: 14px;
			font-family: $roboto_medium;
		}
	}
}

@media screen and (max-width: 479px) {
	:host {
		grid-template-rows: minmax(0, 1fr) auto;
	}
	.jackpots-dialog {
		::ng-deep {
			.modal-dialog-close {
				display: none;
			}
			.modal-dialog-background {
				padding: 4px;
			}
			.modal-dialog-container {
				left: 0;
				padding: 10px 4px;
				max-width: none;
			}
			.modal-button {
				font-size: 18px;
			}
		}
	}

	.jackpot-block {
		display: block;
		margin-bottom: 24px;
	}
	.jackpots-title {
		margin-top: 0;
		margin-bottom: 10px;
		padding: 0 10px;
		font-size: 18px;
		&__sub {
			display: block;
		}
	}
	.jackpot-logo {
		::ng-deep {
			.game-logo {
				display: block;
				&__title {
					font-size: 14px;
				}
				&__left {
					width: 100px;
					height: 54px;
					margin: 0 auto 6px auto;
				}
				&__right {
					text-align: center;
				}
			}
		}
	}
	.jackpot-sum {
		text-align: center;
		font-size: 16px;
	}

	.jackpot-megaprize {
		text-align: center;
		font-size: 14px;
		&__label,  &__sum {
			font-size: 14px;
			font-family: $roboto_medium;
		}
	}
	.panel {
		margin-left: 8px;
		margin-right: 8px;
	}
}





