@import 'variables';
@import 'mixins';

//------------------------------------
// Выплата разрешена, послать SMS
//------------------------------------

.withdrawal-allowed {
	text-align: center;
	font-size: 24px;
	margin-top: 40px;
	margin-bottom: 15px;
	color: $msl_main_text_color;

	&_green {
		color: $msl_base_green;
		font-family: $roboto_medium;
	}
}

.withdrawal-pay-sum {
	text-align: center;
	font-size: 36px;
	color: $msl_main_text_color;

	&_green {
		color: $msl_base_green;
		font-family: $roboto_medium;
	}
}

app-input-operation-field.confirm-code {
	margin-top: 24px;
	display: block;

	::ng-deep {
		.input-operation-field-container.lineedit {
			margin: 0 auto;
			width: 436px;

			.field-wrp {
				width: 300px;
				margin-bottom: 10px;

				&__input {
					height: 54px;
					font-size: 24px;
					letter-spacing: 36px;
					text-align: center;
					text-indent: 36px;
					color: $msl_base_green;
					width: 240px;
					font-family: $roboto_medium;
				}

				.mib-keyboard-icon {
					width: 70px;
					height: 54px;
				}
			}
		}
	}
}


.withdrawal-code {
	margin-top: 60px;
	font-size: 24px;
	text-align: center;
	color: $msl_main_text_color;

	&__num {
		font-family: $roboto_medium;
	}
}

.withdrawal-reason {
	text-align: center;
	color: $msl_error;
	font-size: 36px;
	font-family: $roboto_medium;
}

.sms-confirm-area {
	width: 432px;
	margin: 24px auto 0 auto;

	&__inner {
		width: 299px;
	}
}

.confirm-code-lbl {
	margin-bottom: 10px;
	font-size: 24px;
	color: $msl_main_text_color;
	display: block;
}


app-msl-input-pin.confirm-code-txt {
	display: block;
	margin-bottom: 10px;

	::ng-deep {
		.msl-input-pin-container {
			.mip-inputs {
				label {
					span {
						width: 60%;
						margin-left: 20%;
					}
				}
			}
		}
	}

	&_error {
		::ng-deep {
			.msl-input-pin-container {
				.mip-inputs {
					label {
						input {
							color: $msl_error;
						}

						span {
							background: $msl_error;
						}
					}
				}
			}
		}
	}
}

.sms-error {
	font-size: 18px;
	color: $msl_error;
	text-align: center;
	width: 240px;
	margin-bottom: 20px;
}

app-green-button {

	&.upo-wc-payment, &.upo-go-back {
		display: block;
		width: 300px;
	}

	&.send-sms-btn {
		width: 400px;
		margin: 100px auto 0 auto;
	}

	&.green-gradient-btn {
		display: block;

		::ng-deep {
			button {
				@include radial_bg($color: #D8F3F3);
				text-transform: uppercase;
				color: $msl_base_green;
				font-size: 36px;
				font-family: $roboto_medium;
				border: 2px solid $msl_base_green;
			}
		}
	}

	&.repeat-sms-btn {
		width: 240px;

		::ng-deep {
			button {
				height: 54px;

				font-size: 24px;
				text-transform: uppercase;
				font-family: $roboto_medium;
			}
		}
	}
}
