<!-- ВВОД СМС -->
	<div class="withdrawal-allowed">
		<span class="withdrawal-allowed_green">{{ 'reporting.withdrawal_allowed' | translate }}</span>
		({{ 'reporting.pay_to' | translate }} {{ userPaymentOperationsService.payDateTime }})
	</div>

	<div class="withdrawal-pay-sum">
		{{ 'reporting.payment_sum' | translate }}:
		<span class="withdrawal-pay-sum_green">
						{{ userPaymentOperationsService.paySum }} {{ 'lottery.uah' | translate | lowercase }}
					</span>
	</div>

	<form
		[formGroup]="smsForm"
	>
		<div class="sms-confirm-area">
			<div class="sms-confirm-area__inner">
				<label class="confirm-code-lbl" for="confirm_code">
					{{ 'reporting.confirm_code' | translate }}
				</label>
				<app-msl-input-pin
					id="confirm_code"
					class="confirm-code-txt"
					[class.confirm-code-txt_error]="!!userPaymentOperationsService.smsError"
					[pinCodeLength]="pinCodeLength"
					formControlName="confirmCode"
				>
				</app-msl-input-pin>
				<div
					*ngIf="userPaymentOperationsService.smsError"
					class="sms-error">
					{{ userPaymentOperationsService.smsError?.message }}
				</div>

				<button type="button"
					class="button button_theme_green repeat-sms-btn green-gradient-btn"
					(click)="onClickSendSMSButtonHandler()"
				>
					{{ sendSMSButtonText | translate }}
				</button>
			</div>
		</div>
	</form>
