@import "../../../../../sass/variables";

.msl-input-container {
	margin-top: 30px;
	width: 100%;

	input, label, span {
		display: block;
		margin: 10px;
		padding: 5px;

		border: none;

		//font-size: 36px;
		//color: $msl_placeholder_text_color;

		///////////
		font-family: $roboto_regular;
		font-size: 36px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: $msl_placeholder_text_color;
	}

	input {
		width: 100%;
		margin: 0;

		border-radius: 2px;
		border: none;

		color: $msl_main_text_color;
		font-weight: bold;

		background: rgba(0, 0, 0, 0);
		transition: padding-top 0.2s ease, margin-top 0.2s ease;

		overflow-x: hidden;

		&:focus {
			outline: 0;
			//color: $msl_base_green;
		}

		&:invalid {
			box-shadow: none;
		}

		&:valid {
			//color: $msl_base_green;
		}

		// hide/show date input
		&.empty-value {
			filter: alpha(opacity=0);
		}
		&:focus.empty-value {
			filter: alpha(opacity=1);
		}
	}

	input:focus + label > span,
	input:valid + label > span {
		top: -70px;
		color: $msl_base_green;
		font-size: 14px;
	}

	input:valid + label {
		border-color: $msl_base_green;
	}

	label {
		display: block;
		position: relative;

		height: 2px;
		padding: 0;
		margin: 0;

		white-space: nowrap;

		border-top: 1px solid $msl_placeholder_text_color;

		-webkit-transition: width 0.4s ease;
		transition: width 0.4s ease;
	}

	span {
		margin: 0;
		position: absolute;
		top: -50px;
		left: 0;

		z-index: -1;

		-webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
		transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
	}

	&_inactive {
		span {
			color: $msl_inactive_color;
		}

		input, input:focus + label > span, input:valid + label > span	 {
			pointer-events: none;
			color: $msl_inactive_color;
		}

		label {
			border-top: 1px solid $msl_inactive_color;
		}

		label, input:valid + label {
			border-color: $msl_inactive_color;
		}
	}

	/*input[type="submit"] {
		display: block;

		margin: 10px 0 0 0;
		padding: 10px;

		cursor: pointer;

		opacity: 0;

		-webkit-transition: opacity 0.2s ease, background 0.2s ease;
		transition: opacity 0.2s ease, background 0.2s ease;

	}

	input[type="submit"]:hover {
		background: red;
	}

	input[type="submit"]:active {
		background: blue;
	}

	input:valid ~ input[type="submit"] {
		-webkit-animation: appear 1s forwards;
		animation: appear 1s forwards;
	}

	input:invalid ~ input[type="submit"] {
		display: none;
	}*/

	//@-webkit-keyframes appear {
	//	100% {
	//		opacity: 1;
	//	}
	//}
    //
	//@keyframes appear {
	//	100% {
	//		opacity: 1;
	//	}
	//}
}
