<div class="two-step-panel-container"
	 data-cy="two-step-panel-container"
>
	<div class="bottom-block"
		 data-cy="bottom-block"
	>
		<div class="camera-block"
			 [class.camera-block_hidden]="manualEnter || !appStoreService.showCameraComponent$$.value"
			 data-cy="camera-block"
		>
			<app-spoiler
				class="camera-spoiler"
				data-cy="camera-spoiler"
				[title]="'tickets.scan' | translate"
				[opened]="!manualEnter"
				[crossMark]="true"
				(closed)="onCameraClose()"
			>
				<app-scanner-input
					#scannerInput
					class="scanner-input"
					[expanded]="!this.manualEnter"
					[enabledCamera]="appStoreService.showCameraComponent$$.value"
					[showBarcodeField]="false"
					[showScannerButton]="false"
					(barcodeChange)="onValueChanges($event)"></app-scanner-input>
			</app-spoiler>
		</div>
		<div class="tsp-panel"
			 data-cy="tsp-panel"
		>

			<!-- ШАГ 1 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - -->
			<div
				class="tsp-row step-one"
				[class.tsp-row_2stepmode]="(service.currentRangeMode$$ | async) === TwoStepInputMode.TwoStep"
				[class.tsp-row_error]="service.inputStatusForStep1$$.value === TmlBmlInputFieldStates.BadInput"
				[class.active]="(service.currentStep$$ | async) === StepNumber.One"
				data-cy="tsp-row"
			>

				<div class="barcode-col"
					 [class.barcode-col_two]="(service.currentRangeMode$$ | async) === TwoStepInputMode.TwoStep"
					 [class.barcode-col_wide]="service.currentStep$$.value === StepNumber.Two"
					 data-cy="barcode-col"
				>
<!--
					<div class="dummy" *ngIf="(service.currentStep$$ | async) === StepNumber.Two && !manualEnter">
						<div class="dummy__text"></div>
						<div class="dummy__button"></div>
					</div>
-->
					<!-- НАДПИСЬ ДЛЯ ШАГА 1 -->
					<div *ngIf="(service.currentRangeMode$$ | async) === TwoStepInputMode.TwoStep; else labelForOneStepMode"
						  class="step-title"
						  [class.step-title_two]="(service.currentRangeMode$$ | async) === TwoStepInputMode.TwoStep"
						  [class.step-title_manual]="manualEnter"
						  [class.step-title_active]="service.currentStep$$.value === StepNumber.One"
						  data-cy="step-title"
					>
						<span class="step-no" data-cy="step-no">Шаг 1.</span>
						{{ 'lottery.tmlbml.bc_first_ticket' | translate }}:
					</div>
					<ng-template #labelForOneStepMode>
						<div class="step-title" data-cy="step-title" [class.step-title_manual]="manualEnter"
							 [class.step-title_two]="(service.currentRangeMode$$ | async) === TwoStepInputMode.TwoStep"
						>
							{{ 'lottery.tmlbml.bc_ticket' | translate }}:
						</div>
					</ng-template>


<!--					<button *ngIf="service.currentStep$$.value === StepNumber.One"
							type="button"
							class="button scan-barcode-btn"
							[class.scan-barcode-btn_hidden]="manualEnter"
							[ngClass]="cameraHidden ? 'button_theme_light-green' : 'button_theme_green'"
							(click)="onChangeCameraState()"
					>{{ 'lottery.tmlbml.to_scan_barcode' | translate }}</button>-->

					<div class="input-block" data-cy="input-block"
						 [class.input-block_wide]="service.currentStep$$.value === StepNumber.Two"
					>
						<!-- ПОЛЕ ВВОДА ДЛЯ ШАГА 1 -->
						<app-msl-input-barcode
							#bc1
							class="msl-input-barcode input-block__field"
							data-cy="msl-input-barcode"
							[class.msl-input-barcode_wide]="service.currentStep$$.value === StepNumber.Two"
							[step]="StepNumber.One"
							[status]="service.inputStatusForStep1$$"
							(barcodeEntered)="onBarcodeStep1Entered($event)"
							(focused)="onBC1Focus()"
						>
						</app-msl-input-barcode>
						<div *ngIf="service.inputStatusForStep1$$.value === TmlBmlInputFieldStates.BadInput"
							class="input-block__hint"
							data-cy="input-block-hint"
						>{{ 'lottery.tmlbml.error_bc_ticket' | translate }}</div>
					</div>
					<button
						*ngIf="((service.currentStep$$ | async) === StepNumber.One) && appStoreService.showCameraComponent$$.value"
						type="button"
						class="manual-enter"
						data-cy="manual-enter"
						[class.manual-enter_active]="manualEnter"
						(click)="onManualEnterMode()"
					></button>
				</div>

				<!-- КНОПКИ ДЛЯ ШАГА 1 -->
				<button
					*ngIf="(service.currentRangeMode$$ | async) === TwoStepInputMode.OneStep; else buttonForTwoStepMode"
					type="button"
					class="button button_theme_light-green by-range"
					data-cy="by-range"
					(click)="onRangeClickHandler()"
				>
					{{ 'lottery.tmlbml.by_range' | translate | uppercase }}
				</button>

				<ng-template #buttonForTwoStepMode>
					<button type="button"
							class="button button_theme_green tsp-clear"
							data-cy="tsp-clear"
							[attr.disabled]="((service.currentStep$$ | async) === StepNumber.One) || null"
							(click)="onClearClickHandler()"
					>
						{{ 'lottery.tmlbml.clear' | translate | uppercase }}
					</button>
				</ng-template>
			</div>
<!--			<div-->
<!--				class="step-title error-label"-->
<!--				[class.step-title_two]="(service.currentRangeMode$$ | async) === TwoStepInputMode.TwoStep"-->
<!--				*ngIf="(service.currentErrorForStep1$$ | async) !== undefined && manualEnter"-->
<!--			>-->
<!--				{{ (service.currentErrorForStep1$$ | async).errorText | translate }}-->
<!--			</div>-->

			<!-- ШАГ 2 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - -->
			<div
				class="tsp-row step-two"
				[class.active]="(service.currentStep$$ | async) === StepNumber.Two"
				[class.tsp-row_2stepmode]="(service.currentRangeMode$$ | async) === TwoStepInputMode.TwoStep"
				data-cy="tsp-row"
				*ngIf="(service.currentRangeMode$$ | async) === TwoStepInputMode.TwoStep"
			>

				<div class="barcode-col"
					 [class.barcode-col_two-step]="(service.currentRangeMode$$ | async) === TwoStepInputMode.TwoStep"
					 data-cy="barcode-col"
				>

					<div class="step-title"
						 [class.step-title_manual]="manualEnter"
						 [class.step-title_two]="(service.currentRangeMode$$ | async) === TwoStepInputMode.TwoStep"
						 [class.step-title_active]="service.currentStep$$.value === StepNumber.Two"
						 data-cy="step-title"
					>
						<span class="step-no" data-cy="step-no">Шаг 2.</span>
						{{ 'lottery.tmlbml.bc_second_ticket' | translate }}:
					</div>

					<div class="dummy"
						 [class.dummy_hidden]="manualEnter"
						 data-cy="dummy"
						 *ngIf="(service.currentStep$$ | async) === StepNumber.One"
					>
						<div class="dummy__text" data-cy="dummy-text"></div>
						<div *ngIf="appStoreService.showCameraComponent$$.value" class="dummy__button" data-cy="dummy-button"></div>
					</div>

					<button
							type="button"
							class="button scan-barcode-btn"
							[class.scan-barcode-btn_hidden]="(service.currentStep$$.value === StepNumber.Two) && manualEnter"
							data-cy="scan-barcode-btn"
							[ngClass]="manualEnter ? 'button_theme_light-green' : 'button_theme_green'"
							(click)="onChangeCameraState()"
					>{{ 'lottery.tmlbml.to_scan_barcode' | translate }}</button>

					<!-- ПОЛЕ ВВОДА ДЛЯ ШАГА 2 -->
					<app-msl-input-barcode
						#bc2
						class="msl-input-barcode"
						data-cy="msl-input-barcode"
						[class.msl-input-barcode_hidden]="!manualEnter || (service.currentStep$$.value === StepNumber.One)"
						[step]="StepNumber.Two"
						[status]="service.inputStatusForStep2$$"
						(barcodeEntered)="barcodeEntered.emit($event)"
					>
					</app-msl-input-barcode>
					<button
						*ngIf="(service.currentStep$$ | async) === StepNumber.Two"
						type="button"
						class="manual-enter"
						[class.manual-enter_active]="manualEnter"
						data-cy="manual-enter"
						(click)="onManualEnterMode()"
					></button>
				</div>

				<!-- КНОПКИ ДЛЯ ШАГА 2 -->
				<button type="button"
						class="button button_theme_green by-range"
						data-cy="by-range"
						(click)="onRangeClickHandler()"
				>
					{{ 'lottery.tmlbml.by_range' | translate | uppercase }}
				</button>
			</div>
			<!-- НАДПИСЬ ДЛЯ ШАГА 2 -->
			<div
				class="step-title error-label"
				[class.step-title_two]="(service.currentRangeMode$$ | async) === TwoStepInputMode.TwoStep"
				data-cy="step-title"
				*ngIf="(service.currentErrorForStep2$$ | async) !== undefined && manualEnter && (service.currentRangeMode$$ | async) === TwoStepInputMode.TwoStep"
			>
				{{ (service.currentErrorForStep2$$ | async).errorText | translate }}
			</div>
		</div>
	</div>
</div>
