@import 'variables';
@import 'mixins';

:host {
	position: relative;
}

.total-check-component {
	background: #fff;
	display: grid;
	align-items: end;
	grid-template-rows: minmax(0, 1fr) auto;
}

// -----------------------------------------
//  Основная панель
// -----------------------------------------

.tcc-main {
	display: flex;
	flex-direction: row;
}

.tc-up-down {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	font-size: 36px;

	i {
		font-size: 42px;
	}
}

.tc-amount {
	height: 80px;

	font-family: $roboto_medium;
	font-size: 36px;

	color: $msl_main_text_color;
	text-align: center;
	text-transform: uppercase;

	cursor: pointer;

	border-radius: 8px;

	margin-right: 12px;
	margin-left: 12px;

	flex-grow: 1;
	@include radial_bg($color: #D8F4F4);

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	span {
		font-family: $roboto_medium;
		color: $msl_base_green;
		margin-left: 5px;
	}


	&.zero {
		color: $msl_placeholder_text_color;
		span {
			color: $msl_placeholder_text_color;
		}
	}
}

.tc-clear {
	width: 350px;
	height: 80px;
	font-size: 36px;
}

// -----------------------------------------
//  Список операций
// -----------------------------------------

.tcc-list {
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	// height: 100%;
	border-radius: 8px;
	border: 1px solid $msl_inactive_color;
	background-color: #fff;
	position: relative;
	overflow: hidden;

	max-height: 0;
	opacity: 0;

	transition: max-height 0.3s ease 0s, opacity 0.3s ease 0s, margin-bottom 0.3s ease 0s;
	&_expanded {
		max-height: 272px;
		opacity: 1;
		margin-bottom: 12px;
	}

	&__row {
		display: flex;
		flex-direction: row;
		align-items: center;
		min-height: 67px;
		padding-left: 8px;
		padding-right: 8px;
		position: relative;
		&_header {
			border-bottom: 1px solid $msl_inactive_color;
			order: 1;
		}
	}

	&__label {
		display: none;
		font-family: $roboto_medium;
	}

	&__cell {
		font-size: 36px;
		font-family: $roboto_regular;
		color: $msl_main_text_color;
		text-align: center;

		&_header {
			font-family: $roboto_medium;
		}

		&_col {
			&_date {
				width: 11%;
			}
			&_lottery {
				width: 21%;
			}
			&_action {
				width: 24%;
			}
			&_count {
				width: 13%;
			}
			&_amount {
				width: 16%;
			}
			&_result {
				width: 15%;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
			}
		}
		&_cancelled {
			color: $msl_placeholder_text_color;
		}
	}
	&__actions {
		margin-left: 5px;
		margin-right: 5px;
		order: 2;
	}
	&__icon {
		width: auto;
		height: 50px;
		&_cancel-auto {
			height: 35px;
		}
	}
}

.tco-header-row {
	padding-left: 5px;
	padding-right: 5px;
}

.tco-actions {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	&.content-scrolled + .tco-header-row {
		padding-right: 33px;
	}
}

//.align-positive {
//	padding-left: 8px;
//}

.lock-2-rows {
	position: absolute;

	top: -50%;
	width: 1%;
	height: 100%;

	border-top: 2px solid $msl_placeholder_text_color;
	border-left: 2px solid $msl_placeholder_text_color;
	border-bottom: 2px solid $msl_placeholder_text_color;

	&:before, &:after {
		display: block;

		position: absolute;
		right: 0;

		width: 8px;
		height: 8px;

		content: '';
		background: $msl_error;
		border-radius: 50%;
	}
	&:before {
		top: -5px;
	}
	&:after {
		bottom: -5px;
	}
}

@media screen and (max-width: 1919px) {
	.tcc-list {
		&_expanded {
			max-height: 187px;
			margin-bottom: 10px;
		}
		&__row {
			padding-left: 6px;
			padding-right: 6px;
			min-height: 45px;
			&_header {
				min-height: 50px;
			}
		}
		&__cell {
			font-size: 24px;
			&_col {
				&_date {
					width: 12%;
				}
				&_lottery {
					width: 19%;
				}
				&_action {
					width: 24%;
				}
				&_count {
					width: 10%;
				}
				&_amount {
					width: 14%;
				}
				&_result {
					width: 17%;
				}
			}
		}
		&__icon {
			height: 36px;
			&_cancel-auto {
				height: 24px;
			}
			&_register-partial {
				height: 30px;
			}
		}
	}
}

@media screen and (max-width: 1365px) {
	.tcc-list {
		&_expanded {
			max-height: 135px;
			opacity: 1;
			margin-bottom: 12px;
		}
		&__row {
			padding-left: 4px;
			padding-right: 4px;
			min-height: 32px;
		}

		&__cell {
			font-size: 18px;
		}
		&__icon {
			height: 30px;
			&_cancel-auto {
				height: 20px;
			}
			&_register-partial {
				height: 25px;
			}
		}
	}
	.tc-up-down {
		width: 60px;
		i {
			font-size: 50px;
		}
	}
	.tc-clear, .tc-amount {
		font-size: 24px;
	}
	.tc-clear {
		width: 220px;
	}

	.tc-up-down, .tc-amount, .tc-clear {
		height: 60px;
	}
	.tc-amount {
		margin-right: 8px;
		margin-left: 8px;
	}

	.tco-actions {
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 10px;
		}
		&.content-scrolled + .tco-header-row {
			padding-right: 23px;
		}
	}
}

@media screen and (max-width: 1139px) {
	.tcc-list {
		// max-height: 105px;
		&_expanded {
			margin-bottom: 8px;
		}
		&__row {
			min-height: 33px;
			&_header {
				min-height: 36px;
			}
		}
		&__cell {
			&_col {
				&_date {
					width: 17%;
				}
				&_lottery {
					width: 21%;
				}
				&_action {
					width: 24%;
				}
				&_count {
					width: 12%;
				}
				&_amount {
					width: 17%;
				}
				&_result {
					width: 15%;
				}
			}
		}
	}


	.tc-up-down {
		width: 44px;

		i {
			font-size: 42px;
		}

	}
	.tc-amount, .tc-clear {
		font-size: 18px;
	}

	.tc-up-down, .tc-amount, .tc-clear {
		height: 44px;
	}
	.tcc-list__cell_col {
		&_action {
			width: 22%;
		}
		&_amount {
			width: 13%;
		}
	}

	.tc-clear {
		width: 188px;
	}

	.lock-2-rows {
		width: 2%;
	}
}

@media screen and (max-width: 853px) {
	.lock-2-rows {
		display: none;
	}

	.tc-up-down {
		display: none;
	}
	.tc-amount, .tc-clear {
		font-size: 24px;
		height: 60px;
	}
	.tc-amount {
		margin-left: 0;
	}

	.tcc-list {
		display: grid;
		grid-template-rows: minmax(0, 1fr);
		grid-template-columns: auto;
		max-height: 0;
		border: none;
		&__row {
			display: grid;
			grid-template-columns: auto 1fr;
			grid-gap: 8px 16px;
			gap: 8px 16px;
			padding: 4px 4px 4px 16px;
			justify-items: start;

			&_header {
				display: none;
			}
		}
		&__row + &__row {
			border-top: 1px solid #C4C4C4;
		}

		&__cell {
			text-align: left;
			font-size: 22px;
			font-family: $roboto_regular;
			&_header {
				font-family: $roboto_medium;
			}
			&_col {
				&_date {
					width: 100%;
					grid-column-start: 1;
					grid-column-end: 3;
					display: flex;
					text-align: center;
					justify-content: center;
					align-items: center;
					font-size: 24px;
				}
				&_lottery, &_action, &_count, &_amount, &_result {
					width: auto;
				}
			}
		}
		&_expanded {
			max-height: 213px;
			border: 1px solid #C4C4C4;
		}
		&__label {
			display: block;
			font-size: 22px;
			&_col {
				&_date {
					font-size: 24px;
					margin-right: 5px;
					color: $msl_main_text_color;
				}
			}
		}
		&__actions {
			margin: 0;
			display: block;
		}
		&__icon {
			height: 24px;
			&_cancel-auto {
				height: 16px;
			}
		}
	}
	.mob-button {
		width: 100%;
		height: 25px;
		margin: 0 auto;
		position: absolute;
		top: -10px;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		background: none;
		z-index: 15;
		transition: top 0.3s ease 0s;
		&:before {
			content: "";
			width: 10px;
			height: 10px;
			border-left: 3px solid $msl_base_green;
			border-bottom: 3px solid $msl_base_green;
			transform: translateX(-50%) rotate(135deg);
			display: block;
			left: 50%;
			position: absolute;
			bottom: 15px;
			transition: transform 0.3s ease 0s;
		}
		&_expanded {
			top: -25px;
			&:before {
				transform: translateX(-50%) rotate(-45deg);
				bottom: 10px;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.tc-amount, .tc-clear {
		font-size: 20px;
	}
}

@media screen and (max-width: 639px) {
	//.win-payment {
	//	font-size: 18px;
	//	height: 44px;
	//}
	.tcc-main, .tc-clear {
		display: block;
	}
	.tc-amount, .tc-clear {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		height: 44px;
		font-size: 18px;
	}

	.mob-button {
		width: 24px;
		height: 12px;
		margin: 0 auto;
		position: absolute;
		top: -10px;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		background: none;
		z-index: 15;
		transition: top 0.3s ease 0s;
		&:before {
			content: "";
			width: 8px;
			height: 8px;
			border-left: 2px solid $msl_base_green;
			border-bottom: 2px solid $msl_base_green;
			transform: translateX(-50%) rotate(135deg);
			display: block;
			left: 50%;
			position: absolute;
			bottom: 2px;
			transition: transform 0.3s ease 0s;
		}
		&_expanded {
			top: -2px;
			&:before {
				transform: translateX(-50%) rotate(-45deg);
			}
		}
	}

	.tc-clear {
		margin-bottom: 10px;
	}

	.tc-amount {
		font-size: 18px;
		margin-bottom: 8px;
	}

	.tcc-list {
		display: grid;
		grid-template-rows: minmax(0, 1fr);
		grid-template-columns: auto;
		max-height: 0;
		border: none;
		&__row {
			display: grid;
			grid-template-columns: auto 1fr;
			grid-gap: 8px 16px;
			gap: 8px 16px;
			padding: 4px;
			&_header {
				display: none;
			}
		}
		&__row + &__row {
			border-top: 1px solid #C4C4C4;
		}

		&__cell {
			text-align: left;
			font-size: 16px;
			&_header {
				font-family: $roboto_medium;
			}
			&_col {
				&_date {
					width: 100%;
					grid-column-start: 1;
					grid-column-end: 3;
					display: flex;
					text-align: center;
					justify-content: center;
				}
				&_lottery, &_action, &_count, &_amount, &_result {
					width: auto;
				}
			}
		}
		&_expanded {
			max-height: 184px;
			border: 1px solid #C4C4C4;
		}
		&__label {
			display: block;
			font-size: 18px;
			&_col {
				&_date {
					margin-right: 5px;
					color: $msl_main_text_color;
				}
			}
		}
		&__actions {
			margin: 0;
		}
	}

	.total-check-component {
		grid-template-rows: auto minmax(0, 1fr) auto;
		position: static;
		&_expanded {
			padding-top: 20px;
		}
	}

	.tco-header-row_scrolled + .tcc-list__actions {
		padding-right: 3px;
		::ng-deep {
			.custom-scrollbar {
				&::-webkit-scrollbar-track {
					margin: 10px 0;
				}
			}
		}
	}
}

@media screen and (max-width: 479px) {
	.mob-button {
		width: 24px;
		height: 12px;
		margin: 0 auto;
		position: absolute;
		top: -10px;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		background: none;
		z-index: 15;
		transition: top 0.3s ease 0s;
		&:before {
			content: "";
			width: 8px;
			height: 8px;
			border-left: 2px solid #009788;
			border-bottom: 2px solid #009788;
			transform: translateX(-50%) rotate(135deg);
			display: block;
			left: 50%;
			position: absolute;
			bottom: 2px;
			transition: transform 0.3s ease 0s;
		}
		&_expanded {
			top: 0;
			&:before {
				transform: translateX(-50%) rotate(-45deg);
			}
		}
	}

	.tc-clear {
		margin-bottom: 10px;
	}

	.tc-amount {
		font-size: 14px;
		margin-bottom: 8px;
	}

	.tcc-list {
		grid-template-rows: minmax(0, 1fr);
		max-height: 0;
		border: none;
		&__cell {
			font-size: 16px;
			color: $msl_placeholder_text_color;
			&_header {
				font-family: $roboto_medium;
			}
			&_col {
				&_date {
					font-size: 18px;
				}
			}
		}
		&_expanded {
			max-height: 184px;
			border: 1px solid #C4C4C4;
		}
	}

	.total-check-component {
		grid-template-rows: auto minmax(0, 1fr) auto;
		position: static;
		&_expanded {
			padding-top: 20px;
		}
	}

	.tco-header-row_scrolled + .tcc-list__actions {
		padding-right: 3px;
		::ng-deep {
			.custom-scrollbar {
				&::-webkit-scrollbar-track {
					margin: 10px 0;
				}
			}
		}
	}
}
