<div class="total-check-component"
	 [class.total-check-component_expanded]="isExpanded"
	 data-cy="total-check-component"
>
	<!-- СПИСОК ОПЕРАЦИЙ -->
	<div class="tcc-list"
		 [class.tcc-list_expanded]="isExpanded"
		 data-cy="tcc-list"
	>
		<!-- ПРОКРУЧИВАЕМЫЙ КОНТЕНТ (СТРОКИ) -->
		<div appContentScrolled
			 class="tcc-list__actions tco-actions webalt-scroll"
			 data-cy="tco-actions"
		>
			<ng-container
				*ngFor="let action of tcsService.operationsList$$ | async;
				trackBy: trackByOperationFn;
				let i = index">

				<!-- СТРОКА ОПЕРАЦИИ -->
				<div
					class="tcc-list__row tco-action-row"
					[attr.data-maccode]="action.response?.ticket[0]?.mac_code"
					data-cy="tco-action-row"
				>
					<!-- ЗАМОК -->
					<div
						class="lock-2-rows"
						*ngIf="!!action.showLocker"
					>
					</div>
					<!-- КОЛОНКА "ВРЕМЯ" -->
					<div class="tcc-list__cell tcc-list__cell_col_date"
						 [class.tcc-list__cell_cancelled]="!!action.showLocker"
						 [ngClass]="'tcc-list__cell_action_' + action.operationType"
						 data-cy="tcc-list-cell-col-date"
					>
						<div class="tcc-list__label tcc-list__label_col_date"
							 data-cy="tcc-list-label"
						>{{ 'action_log.date' | translate }}:</div>{{ action.timestamp | date:OPERATION_DATE }}</div>

					<!-- КОЛОНКА "ЛОТЕРЕЯ" -->
					<div class="tcc-list__label tcc-list__label_col_lottery"
						 data-cy="tcc-list-label"
					>{{ 'lottery.lottery' | translate }}</div>
					<div class="tcc-list__cell tcc-list__cell_col_lottery"
						 [class.tcc-list__cell_cancelled]="!!action.showLocker"
						 [ngClass]="'tcc-list__cell_action_' + action.operationType"
						 data-cy="tcc-list-cell-col-lottery"
					>{{ action.gameName | translate }}</div>
					<!-- КОЛОНКА "ДЕЙСТВИЕ" -->
					<div class="tcc-list__label tcc-list__label_col_action"
						 data-cy="tcc-list__label"
					>{{ 'action_log.action' | translate }}</div>
					<div class="tcc-list__cell tcc-list__cell_col_action"
						 [class.tcc-list__cell_cancelled]="!!action.showLocker"
						 [ngClass]="'tcc-list__cell_action_' + action.operationType"
						 data-cy="tcc-list-cell-col-action"
					>{{ action.operationTypeLabel | translate }}</div>
					<!-- КОЛОНКА "КОЛИЧЕСТВО" -->
					<div class="tcc-list__label tcc-list__label_col_count"
						 data-cy="tcc-list-label"
					>{{ 'lottery.count' | translate }}</div>
					<div class="tcc-list__cell tcc-list__cell_col_count"
						 [class.tcc-list__cell_cancelled]="!!action.showLocker"
						 [ngClass]="'tcc-list__cell_action_' + action.operationType"
						 data-cy="tcc-list-cell-col-count"
					>{{
						action.totalCount
							? ('lottery.count-from' | translate:{v1: action.count, v2:action.totalCount})
							: action.count
						}}
					</div>
					<!-- КОЛОНКА "СУММА" -->
					<div class="tcc-list__label tcc-list__label_col_amount"
						 data-cy="tcc-list-label-col-amount"
					>{{ 'action_log.amount' | translate }}</div>
					<div class="tcc-list__cell tcc-list__cell_col_amount"
						 [class.align-positive]="action.summa >= 0"
						 [class.tcc-list__cell_cancelled]="!!action.showLocker"
						 [ngClass]="'tcc-list__cell_action_' + action.operationType"
						 data-cy="tcc-list-cell-col-amount"
					>{{ action.summa | mslCurrency }}&nbsp;{{ 'lottery.uah' | translate | lowercase }}
					</div>
					<!-- КОЛОНКА "РЕЗУЛЬТАТ" -->
					<div class="tcc-list__label tcc-list__label_col_result"
					>{{ 'action_log.result' | translate }}</div>
					<div class="tcc-list__cell tcc-list__cell_col_result"
						 [class.tcc-list__cell_cancelled]="!!action.showLocker"
						 data-cy="tcc-list-cell-col-result"
					>
						<svg *ngIf="action.operationType === TransactionAction.CANCEL_AUTO"
							 id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
							 width="612px" height="612px" viewBox="0 0 612 612" xml:space="preserve"
							 class="tcc-list__icon tcc-list__icon_{{ action.operationType }}"
							 data-cy="tcc-list-icon"
						>
								<polygon fill="#df5050" points="612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397 306,341.411 576.521,611.397 612,575.997 341.459,306.011"/>
						</svg>


						<svg *ngIf="action.operationType === TransactionAction.REGISTER_PARTIAL"
							xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
							 class="tcc-list__icon tcc-list__icon_{{ action.operationType }}"
							 data-cy="tcc-list-icon"
						>
							<path fill="#F6D300" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.31 7.526c-.099-.807.528-1.526 1.348-1.526.771 0 1.377.676 1.28 1.451l-.757 6.053c-.035.283-.276.496-.561.496s-.526-.213-.562-.496l-.748-5.978zm1.31 10.724c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z"/>
						</svg>

						<svg *ngIf="(action.operationType !== TransactionAction.CANCEL_AUTO) && (action.operationType !== TransactionAction.REGISTER_PARTIAL)"
							 xmlns="http://www.w3.org/2000/svg"
							 viewBox="0 0 48 48"
							 enable-background="new 0 0 48 48"
							 class="tcc-list__icon tcc-list__icon_{{ action.operationType }}"
							 data-cy="tcc-list-icon"
						>
							<polygon fill="#009788" points="40.6,12.1 17,35.7 7.4,26.1 4.6,29 17,41.3 43.4,14.9"/>
						</svg>
					</div>
				</div>
			</ng-container>
		</div>
		<!-- ЗАГОЛОВОК -->
		<div class="tcc-list__row tcc-list__row_header tco-header-row"
			 data-cy="tco-header-row"
		>
			<div class="tcc-list__cell tcc-list__cell_header tcc-list__cell_col_date"
				 data-cy="tcc-list-cell-col-date"
			>{{ 'action_log.date' | translate }}</div>
			<div class="tcc-list__cell tcc-list__cell_header tcc-list__cell_col_lottery"
				 data-cy="tcc-list-cell-col-lottery"
			>{{ 'lottery.lottery' | translate }}</div>
			<div class="tcc-list__cell tcc-list__cell_header tcc-list__cell_col_action"
				 data-cy="tcc-list-cell-col-action"
			>{{ 'action_log.action' | translate }}</div>
			<div class="tcc-list__cell tcc-list__cell_header tcc-list__cell_col_count"
				 data-cy="tcc-list-cell-col-count"
			>{{ 'lottery.count' | translate }}</div>
			<div class="tcc-list__cell tcc-list__cell_header tcc-list__cell_col_amount"
				 data-cy="tcc-list-cell-col-amount"
			>{{ 'action_log.amount' | translate }}</div>
			<div class="tcc-list__cell tcc-list__cell_header tcc-list__cell_col_result"
				 data-cy="tcc-list-cell-col-result"
			>{{ 'action_log.result' | translate }}</div>
		</div>
	</div>

	<!--suppress AngularUndefinedBinding -->
	<button *ngIf="(tcsService.operationsList$$ | async).length > 0"
			type="button"
			class="mob-button"
			[class.mob-button_expanded]="isExpanded"
			data-cy="mob-button"
			(click)="onClickUpDownHandler()"
			(swipe)="onSwipeHandler($event)"
	></button>

<!--	<button type="button"
			class="button button_theme_light-green win-payment"
			[routerLink]="ticketsCheck"
	>{{ 'lottery.win_payment' | translate }}</button>-->

	<!-- ПАНЕЛЬ С СУММОЙ И КНОПКОЙ -->
	<div class="tcc-main"
		 data-cy="tcc-main"
	>

		<!-- UP/DOWN -->
		<button type="button"
			class="button button_theme_green tc-up-down"
			[attr.disabled]="((tcsService.operationsList$$ | async).length === 0) || null"
			data-cy="tc-up-down"
			(click)="onClickUpDownHandler()"
			>
			<i class="material-icons" data-cy="tc-up-down-icon">
				{{ isExpanded ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
			</i>
		</button>

		<!-- СУММА -->
		<div class="tc-amount"
			 [class.zero]="(tcsService.totalCheckAmount$$ | async) === 0"
			 data-cy="tc-amount"
		>
			{{ 'total-check.total-order-amount' | translate }}
			<span data-cy="total-order-amount">
				{{ tcsService.totalCheckAmount$$ | async | mslCurrency }}
				{{ 'lottery.uah' | translate }}
			</span>
		</div>

		<!-- СБРОС ИТОГОВОЙ СУММЫ -->
		<button type="button"
			class="button button_theme_green tc-clear"
			data-cy="tc-clear"
			[attr.disabled]="((tcsService.operationsList$$ | async).length === 0) || null"
			(click)="onClearAmountHandler()"
			>
			{{ 'total-check.clear' | translate }}
		</button>
	</div>

</div>
